

<style>
    .modal-view-card .ant-card-head {
        min-height: 48px;
        margin-bottom: -1px;
        padding: 0 24px;
        color: rgba(0, 0, 0, 0.85);
        font-weight: 500;
        font-size: 16px;
        background: #EAE8EC !important;
        border-bottom: 1px solid #f0f0f0;
        border-radius: 2px 2px 0 0;
    }
</style>

<Modal Title="@title"
       Visible="@_visible"
       OnOk="@HandleOk"
       OnCancel="@HandleCancel"
       Footer="@footer"
       Width="1000">
    <div class="container py-4">
        <div class="d-flex">
            <div class="text-title pe-2">
                โรงพยาบาล :
            </div>
            <div class="text-title pe-2">
                โรงพยาบาลลานนา1
            </div>
            <div class="text-title pe-2">
                วันที่เข้ารับบริการ :
            </div>
            <div class="text-title">
                13  ม.ค  66
            </div>
        </div>
    </div>

    <Card Class="modal-view-card" Bordered="false" Title=@("การรักษา")>
        <Body>
            <div class="d-flex flex-column">

                <div class="d-flex">
                    <div class="text-title pe-2">
                        การรักษา :
                    </div>
                    <div class="">
                        โรคเส้นเลือดสมองแตก
                    </div>
                </div>
                <div class="d-flex">
                    <div class="text-title pe-2">
                        ยาที่ได้รับ :
                    </div>
                    <div class="">
                        apixaban , dadigatran
                    </div>
                </div>

                <hr>

                <div class="d-flex">
                    <div class="text-title pe-2">
                        การรักษา :
                    </div>
                    <div class="">
                        ความดันโลหิตสูง
                    </div>
                </div>

                <div class="d-flex">
                    <div class="text-title pe-2">
                        ยาที่ได้รับ :
                    </div>
                    <div class="">
                        aliskiren , bisoprolol ,nebivolol
                    </div>
                </div>
            </div>
        </Body>
    </Card>
</Modal>

@code {
    string title = "รายละเอียดการรักษาและยาที่ได้รับล่าสุด (ผู้ป่วยใน)";
    RenderFragment footer =
    @<div></div>;

    [Parameter]
    public EventCallback<bool> OnClose { get; set; }

    [Parameter]
    public bool _visible { get; set; }

    private async void HandleOk(MouseEventArgs e)
    {
        _visible = false;
    }

    private void HandleCancel(MouseEventArgs e)
    {
        Console.WriteLine(e);
        _visible = false;
    }
}
