@using AntDesign.TableModels
@using System.ComponentModel

<div class="site-layout-background" style="padding: 24px;">
    <div class="mms-nav-title">
        <div class="mms-text-title px-4 py-3">ส่งเสริมสุขภาพและป้องกันโรคกรณีวัคซีน</div>
    </div>

    <div class="p-sm-2 p-lg-5">
              <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              @*  <li class="breadcrumb-item" aria-current="page">
                    <span class="breadcum-sucress py-2">แสดงรายการงวดที่เลือก</span>
                </li>*@
                <li class="breadcrumb-item" aria-current="page">
                    <span class="breadcum-process py-2">สร้างใบคำสั่งจ่าย</span>
                </li>
            </ol>
        </nav>

        <div class="row py-4">
            <div class="col-md-12 col-lg-6 col-xl-4">
                <div class="mms-media-start">
                    <div class="mms-txt-headdetail col-auto">งวดที่ : &nbsp;</div>
                    <div class="w-100">
                        <Input Placeholder="6603" @bind-Value="@txtValue" />
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-6 col-xl-4">
                <div class="mms-media-start">
                    <div class="mms-txt-headdetail col-auto">วันที่ประมวลผล : &nbsp;</div>
                    <div class="w-100">
                        <Input Placeholder="6603" @bind-Value="@txtValue" />
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-6 col-xl-4">
                <div class="mms-media-start">
                    <div class="mms-txt-headdetail col-auto">ประมวลผลโดย :  &nbsp;</div>
                    <div class="w-100">
                        <Input Placeholder="6603" @bind-Value="@txtValue" />
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="row py-4">
            <div class="col-md-12 col-lg-8">
                <div class="mms-media-end">
                     @if (selectedRows != null && selectedRows.Any())
                    {
                    <Button Style="width:250px" Type="@ButtonType.Primary" @onclick="@(() => CPOCheckPassword(true))"><i class="fa-solid fa-file-circle-check"></i>&nbsp; อนุมัติคำสังจ่าย</Button>
                    }
                    else
                    {
                    <div style="width:250px">
                    <Button Class="mms-btn-type-gray" Disabled><i class="fa-solid fa-file-circle-check"></i>&nbsp; อนุมัติคำสังจ่าย</Button>
                    </div>
                    }
                </div>
            </div>
            <div class="col-md-12 col-lg-4 float-end">
                <Space Direction="@DirectionVHType.Vertical" Class="mms-btn-serch w-100">
                    <SpaceItem>
                        <Search Placeholder="ระบุชื่อโรงพยาบาล." EnterButton="true" />
                    </SpaceItem>
                </Space>
            </div>
        </div>


        <Table OnChange="OnChange" @bind-SelectedRows="selectedRows" TItem="ItemData" DataSource="listOfData" Bordered ScrollX="1350">
            <ColumnDefinitions>
                <Selection Key="@(context.Id.ToString())" />
                <PropertyColumn Property="c=>c.Id" />
                <PropertyColumn Property="c=>c.installment" />
                 <PropertyColumn Property="c=>c.paymentNumber" />
                 <PropertyColumn Property="c=>c.hospitalNo" />
                 <PropertyColumn Property="c=>c.withdrawType1" Align="ColumnAlign.Center" />
                 <PropertyColumn Property="c=>c.withdrawType2" Align="ColumnAlign.Center" />
                <PropertyColumn Property="c=>c.withdrawType2" Align="ColumnAlign.Center" />
                 <PropertyColumn Property="c=>c.amount" />
                 <PropertyColumn Property="c=>c.status" >
                     @if(context.status == true)
                    {
                        <p style="color:green">
                            ลงลายมือชื่อสำเร็จ
                        </p>
                    }
                    else
                    {
                        <p style="color:red">
                            รอลงลายมือชื่อ
                        </p>
                    }
                </PropertyColumn>
                 <PropertyColumn Property="c=>c.createDate" />
                <PropertyColumn Property="c=>c.installment" Align="ColumnAlign.Center" Width="5%">
                    <img class="mx-2" title="แก้ไข" src="helper_shared/PortalAdminImage/eye.png"
                             style="width:24px;height:24px; cursor:pointer;" @onclick="@(() => Indexpage(2))" />
                </PropertyColumn>
            </ColumnDefinitions>
            <HeaderTemplate>
                <TableRow>
                     <Selection Key="@(context.Id.ToString())" />
                    <TableHeader @bind-Field="context.installment" RowSpan="2" Title="ลำดับ" />
                    <TableHeader @bind-Field="context.installment" RowSpan="2" Title="งวด" />
                    <TableHeader @bind-Field="context.installment" RowSpan="2" Title="เลขที่ชุดคำสั่งจ่าย" />
                    <TableHeader @bind-Field="context.installment" RowSpan="2" Title="จำนวนสถานพยาบาล" />
                    <TableHeader @bind-Field="context.installment" ColSpan="3" Title="จำนวนรายการเบิก" />
                    <TableHeader @bind-Field="context.installment" RowSpan="2" Title="ยอดเงินรวม (บาท)" />
                    <TableHeader @bind-Field="context.installment" RowSpan="2" Title="วันที่อนุมัติ" />
                    <TableHeader @bind-Field="context.installment" RowSpan="2" Title="สถานะ" />
                    <TableHeader @bind-Field="context.installment" RowSpan="2" Title="" />
                </TableRow>
                <TableRow>
                     <SimpleTableHeader></SimpleTableHeader>
                    <SimpleTableHeader>3 สายพันธุ์</SimpleTableHeader>
                    <SimpleTableHeader>4 สายพันธุ์</SimpleTableHeader>
                    <SimpleTableHeader>รวม</SimpleTableHeader>
                </TableRow>
            </HeaderTemplate>

                </Table>
            </div>
        </div>

        @using sso.mms.fees.admin.Shared.HealthPromoVaccination.HPVCreatePaymentOrderrlist.Modals
        <CPOModals_Checkpassword _visible=@CPOCheckpassword OnClose="@CPOCheckPassword" IndexPage="@Indexpage" />

        @code {
    /*-- CallbackModel --*/
    bool CPOCheckpassword { get; set; }
    public int page;
    public void CPOCheckPassword(bool value)
    {
        CPOCheckpassword = value;
    }
    public async Task Indexpage(int usepage)
    {
        this.page = usepage;
        if (this.page == 2)
        {
            IndexPage.InvokeAsync(2);
        }
    }

    /*-- CallbackModel --*/
    [Parameter]
    public EventCallback<int> IndexPage { get; set; }

    private int Table;

    string? txtValue { get; set; }

    public async Task goEdit(int item)
    {
        await IndexPage.InvokeAsync(item);
    }

    RenderFragment _audioIcon =@<Icon Type="audio" Theme="outline" Style="color: #1890ff" />;

    public class ItemData
    {
        public int Id { get; set; }
        public string? installment { get; set; }
        public string? paymentNumber { get; set; }
        public int hospitalNo { get; set; }
        public int withdrawType1 { get; set; }
        public int withdrawType2 { get; set; }
        public string? amount { get; set; }
        public Boolean? status { get; set; }
        public DateTime createDate { get; set; } 


    };
    IEnumerable<ItemData>? selectedRows;
    List<ItemData> listOfData = new List<ItemData>();
    private int total => listOfData.Count();
    private int pageSize = 5;
    void OnChange(QueryModel<ItemData> query)
    {
        Console.WriteLine(JsonSerializer.Serialize(query));
    }
    protected override void OnInitialized()
    {
        listOfData.Add(new ItemData
            {
                Id = 1,
                installment = $"6704",
                paymentNumber = $"1001",
                hospitalNo = 2,

                withdrawType1 = 10,
                withdrawType2 = 20,

                amount = "400,000",
                status = true,

                createDate = DateTime.Now
            });

        listOfData.Add(new ItemData
            {
                Id = 1,
                installment = $"6703",
                paymentNumber = $"1002",
                hospitalNo = 3,

                withdrawType1 = 10,
                withdrawType2 = 20,

                amount = "400,000",
                status = false,

                createDate = DateTime.Now
            });
    }

}
