@using System.Text;

<div class="site-layout-background" style="padding: 24px;">
    <div class="mms-nav-title">
        <div class="mms-text-title px-4 py-3">ส่งเสริมสุขภาพและป้องกันโรคกรณีวัคซีน</div>
    </div>
    <div class="container py-4">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                @*                <li class="breadcrumb-item" aria-current="page">
                <span class="breadcum-sucress py-2">บันทึกรายการตรวจ</span>
                </li>*@
                <li class="breadcrumb-item" aria-current="page">
                    <span class="breadcum-process py-2">รายการใช้สิทธิ์วัคซีนเชิงรุก</span>
                </li>
            </ol>
        </nav>
        <div class="row py-4">
            <div class="col-sm-12 col-md-6 mms-media-start">
                <Button Type="@ButtonType.Primary" @onclick=@(() => goEdit(2))><i class="fa-solid fa-circle-plus"></i> &nbsp; เพิ่ม</Button>&nbsp;
                <Button Type="@(selectedRows?.Count() == 0 || selectedRows == null ? ButtonType.Dashed : ButtonType.Primary )"
                        disabled="@(selectedRows?.Count() == 0 || selectedRows == null)">
                    <i class="fa-solid fa-right-to-bracket"></i> &nbsp; ส่งรายการที่เลือกเพื่อส่งเบิก
                </Button>
            </div>
            <div class="col-sm-12 col-md-6 d-flex align-items-md-end py-2">
                <Space Direction="@DirectionVHType.Vertical" Style="width:100%">
                    <SpaceItem>
                        <Search Placeholder="ข้อมูลที่ต้องการค้นหา.." EnterButton="true" />
                    </SpaceItem>
                </Space>
            </div>
        </div>
        <Table DataSource="listOfData" TItem="ItemData" RowClassName="@(_=>"editable-row")" @bind-PageSize="pageSize" Bordered  @bind-SelectedRows="selectedRows" ScrollX="1000">
            <ChildContent Context="data">
                <Selection Width="3%" Key="@data.Id.ToString()" />
                <Column TData="string" Title="ลำดับ" Style="text-align:center;" Width="6%">
                    @String.Format("{0:d}", listOfData.IndexOf(data) + 1)
                </Column>
                <Column TData="string" Title="เลขนิติบุคคล" Style="text-align:center;">
                    @data.fullName
                </Column>
                <Column TData="string" Title="ชื่อสถานประกอบการ" Style="text-align:center;">
                    @data.identificationNumber
                </Column>
                <Column TData="string" Title="วันที่จอง" Style="text-align:center;">
                    @data.surgeryDate
                </Column>
                <Column TData="string" Title="จำนวนคนผู้มีสิทธิ์" Style="text-align:center;">
                    @data.idDonor
                </Column>
                <Column TData="string" Title="สถานะ" Style="text-align:center;">
                    @if (data.status == true)
                    {
                        <div style="color:green;">เสร็จสิ้น</div>
                    }
                    else
                    {
                        <div style="color:red;">รอบันทึกผล</div>
                    }
                </Column>
                <Column TData="string" Style="text-align:center;">
                    <img class="mx-1" title="เรียกดู" src="helper_shared/PortalAdminImage/eye.png" style="width:24px;height:24px; cursor:pointer;" @onclick="(() => Callmodal(true))" />
                    <img class="mx-1" title="แก้ไข" src="helper_shared/PortalAdminImage/edit.png" style="width:24px;height:24px; cursor:pointer;" @onclick=@(() => goEdit(3)) />
                    <img class="mx-1" title="เพิ่ม" src="helper_shared/PortalAdminImage/plus.png" style="width:24px;height:24px; cursor:pointer;" @onclick=@(() => goEdit(2)) />
                    <img class="mx-1" title="ลบ" src="helper_shared/icon_sso/delete.png" style="width:24px;height:24px; cursor:pointer;" @onclick=@(() => goEdit(1)) />
                </Column>
            </ChildContent>

            <PaginationTemplate>
                <Pagination 
                            Total="context.Total"
                            PageSize="context.PageSize"
                            Current="context.PageIndex"
                                        ShowSizeChanger
                            OnChange="context.HandlePageChange" />
            </PaginationTemplate>
            </Table>

            <div class="pt-4 mms-media-start">
                <span class="mms-txt-require">หมายเหตุ: กรุณาเลือกรายการบันทึกที่สำเร็จเพื่อส่งเบิก</span>
            </div>
        </div>
    </div>


    @using sso.mms.fees.ext.Shared.HealthPromoVaccinationExt.ProactiveVaccinationList.Modals
    <ModalViewDetail _visible=@callmodal OnClose="@Callmodal" />

    @code {
    /*-- CallbackModel --*/
    bool callmodal { get; set; }
    public int page;
    public void Callmodal(bool value)
    {
        callmodal = value;
    }
    [Parameter]
    public EventCallback<int> IndexPage { get; set; }

    string phoder = "วว/ดด/ปป";

    IEnumerable<ItemData> selectedRows;
    List<ItemData> listOfData = new List<ItemData>();
    public async Task goEdit(int item)
    {
        await IndexPage.InvokeAsync(item);

    }
    private int total => listOfData.Count();
    private int pageSize = 3;

    RenderFragment _audioIcon =@<Icon Type="audio" Theme="outline" Style="color: #1890ff" />;

    public class ItemData
    {
        public int Id { get; set; }
        public string identificationNumber { get; set; }
        public string fullName { get; set; }
        public string surgeryDate { get; set; }
        public string idDonor { get; set; }
        public string hospitalAccept { get; set; }
        public string serviceType { get; set; }
        public string createdDate { get; set; }
        public string amount { get; set; }
        public bool status { get; set; }

    };

    protected override void OnInitialized()
    {
        listOfData = Enumerable.Range(0, 19).Select(i => new ItemData
            {
                Id = i,
                identificationNumber = $"xxxxxxx{i}",
                fullName = $"Test Ter{i}",
                surgeryDate = "29 มี.ค. 2566",
                idDonor = "12345678",
                hospitalAccept = "โรงพยาบาล 1",
                serviceType = "กระจกตา",
                createdDate = "29 มี.ค. 2566",
                amount = "111111",
                status = false
            }).ToList();
        listOfData.Add(new ItemData
            {
                Id = 20,
                identificationNumber = $"xxxxxxx{20}",
                fullName = $"Test Ter{20}",
                surgeryDate = "299 มี.ค. 2566",
                idDonor = "999999999",
                hospitalAccept = "โรงพยาบาล 2",
                serviceType = "5555",
                createdDate = "29 มี.ค. 2566",
                amount = "111111",
                status = true
            });

    }


    private void OnBlur()
    {
        Console.WriteLine("blur");
    }

    private void OnFocus()
    {
        Console.WriteLine("focus");
    }

    private void OnSearch(string value)
    {
        Console.WriteLine($"search: {value}");
    }
}