@using System.ComponentModel;
@using sso.mms.fees.admin.Shared.Disability.Diagnosis.Modals

<style>
    .danger-button {
        background: #F56C6C;
        color: white;
        border: white;
    }

    .ant-btn-dangerous:hover, .ant-btn-dangerous:focus {
        color: white;
        border-color: #fff;
        background: #ff7875;
    }

    .text-label {
        color: #334396 !important;
        text-align: start !important;
        font-family: Noto Sans Thai;
        font-size: 18px !important;
        font-style: normal;
        font-weight: 600;
    }
</style>

<div class="site-layout-background" style="padding: 24px;">
    <div class="mms-nav-title">
        <div class="mms-text-title px-4 py-3">ค่าบริการทางการแพทย์กรณีทุพพลภาพ >> งานวินิจฉัย >> รายละเอียดการประมวลผล</div>
    </div>
    <div class="container py-4">
        <Table DataSource="data" OnChange="OnChange" TItem="Data">
            <Column Title="งวดที่" DataIndex="ID" TData="int" Align="ColumnAlign.Center" />
            <Column Title="ประมวลผลทั้งหมด" DataIndex="allProcess" TData="int" Align="ColumnAlign.Center" />
            <Column Title="ผ่านการประมวลผล" DataIndex="passProcess" TData="int" Align="ColumnAlign.Center" />
            <Column Title="ไม่ผ่านการประมวลผล" DataIndex="nonPassProcess" TData="int" Align="ColumnAlign.Center" />
            <Column Title="AI พบความผิดปรกติ" DataIndex="abnormalAI" TData="int" Align="ColumnAlign.Center" />
        </Table>
        <Form Model="@model" Class="d-flex">
            <FormItem Label="จำนวนรายการที่มีค่า RW >3 เป็น" style="width:50%; padding-right:5px">
                <Input @bind-Value="@context.installment" />
            </FormItem>
            <div class="text-label">เปอร์เซ็น ของรายการเบิกทั้งหมด</div>

        </Form>
        <hr />
        <div class="row pb-3">
            <div class="col-xl-10 mms-media-center">
                <Button Class="me-2 danger-button" Danger OnClick=@(() => goEdit(3))>เลือก 10% ค่า RW สูงสุด</Button>
             </div>
         </div>
     </div>
     <div class="row pb-3" style="padding: 24px;">
         <div class="col-xl-3 mms-media-start">
             <div class="mms-txt-headdetail w-50">งวดที่</div>&nbsp;
             <Input Placeholder="Basic usage" @bind-Value="@txtValue" />
         </div>
         <div class="col-xl-4 mms-media-center">
             <div class="mms-txt-headdetail w-50">รหัสสถานพยาบาล</div>&nbsp;
             <Input Placeholder="Basic usage" @bind-Value="@txtValue" />
         </div>
         <div class="col-xl-4 mms-media-end">
             <Space Direction="@DirectionVHType.Horizontal">
                 <SpaceItem>
                     <Search Placeholder="เลขที่บัตรประจำตัวประชาชน" EnterButton="true" AllowClear />
                 </SpaceItem>
             </Space>
         </div>
     </div>
     <hr />
     <div class="mms-txt-header py-2" style="padding: 24px;">ตารางแสดงรายการที่ผ่านการประมวลผล</div>
     <hr />
     <div class="mt-3" style="padding: 24px;">
         <Table DataSource="data2" OnChange="OnChange" TItem="Data2">
             <Column Title="ลำดับ" DataIndex="ID" TData="int" Align="ColumnAlign.Center" />
             <Column Title="งวด" DataIndex="Installment" TData="int" Align="ColumnAlign.Center" />
             <Column Title="เลขที่ประจำตัวประชาชน" DataIndex="IDCard" TData="int" Align="ColumnAlign.Center" />
             <Column Title="ชื่อนามสกุล" DataIndex="Name" TData="string" Align="ColumnAlign.Center" />
             <Column Title="วันที่เข้ารักษา" DataIndex="DateOfTreatment" TData="string" Align="ColumnAlign.Center" />
             <Column Title="วันที่สิ้นสุดการรักษา" DataIndex="EndDateOfTreatMent" TData="string" Align="ColumnAlign.Center" />
             <Column Title="ชื่อ รพ" DataIndex="HospitalName" TData="string" Align="ColumnAlign.Center" />
             <Column Title="ค่า RW" DataIndex="ValueRW" TData="int" Align="ColumnAlign.Center" Sortable />
             <Column Title="เงินค่ารักษา" DataIndex="MoneyOfTreament" TData="double" Align="ColumnAlign.Center" />
             <Column Title="เงินที่คำนวณได้" DataIndex="MoneyCalculate" TData="double" Align="ColumnAlign.Center" Sortable />
             <Column Title="" Width="100px" TData="string" Align="ColumnAlign.Center">
                <img class="mx-2" src="helper_shared/PortalAdminImage/eye.png"
                     style="width:24px;height:24px; cursor:pointer;" @onclick=@(()=>{ }) />
             </Column>
         </Table>
     </div>
     <hr />
     <div class="row pb-3" style="padding: 24px;">
         <div class="col-xl-3 mms-media-start">
             <div class="mms-txt-headdetail w-50">งวดที่</div>&nbsp;
             <Input Placeholder="Basic usage" @bind-Value="@txtValue" />
         </div>
         <div class="col-xl-4 mms-media-center">
             <div class="mms-txt-headdetail w-50">รหัสสถานพยาบาล</div>&nbsp;
             <Input Placeholder="Basic usage" @bind-Value="@txtValue" />
         </div>
         <div class="col-xl-4 mms-media-end">
             <Space Direction="@DirectionVHType.Horizontal">
                 <SpaceItem>
                     <Search Placeholder="เลขที่บัตรประจำตัวประชาชน" EnterButton="true" AllowClear />
                 </SpaceItem>
             </Space>
         </div>
     </div>
     <hr />
     <div class="mms-txt-header py-2" style="padding: 24px;">รายการเบิกที่ไม่ผ่านการประมวลผล</div>
     <div class="mt-3" style="padding: 24px;">
         <Table DataSource="data2" OnChange="OnChange" TItem="Data2">
             <Column Title="ลำดับ" DataIndex="ID" TData="int" Align="ColumnAlign.Center" />
             <Column Title="งวด" DataIndex="Installment" TData="int" Align="ColumnAlign.Center" />
             <Column Title="เลขที่ประจำตัวประชาชน" DataIndex="IDCard" TData="int" Align="ColumnAlign.Center" />
             <Column Title="ชื่อนามสกุล" DataIndex="Name" TData="string" Align="ColumnAlign.Center" />
             <Column Title="วันที่เข้ารักษา" DataIndex="DateOfTreatment" TData="string" Align="ColumnAlign.Center" />
             <Column Title="วันที่สิ้นสุดการรักษา" DataIndex="EndDateOfTreatMent" TData="string" Align="ColumnAlign.Center" />
             <Column Title="ชื่อ รพ" DataIndex="HospitalName" TData="string" Align="ColumnAlign.Center" />
             <Column Title="ค่า RW" DataIndex="ValueRW" TData="int" Align="ColumnAlign.Center" Sortable />
             <Column Title="เงินค่ารักษา" DataIndex="MoneyOfTreament" TData="double" Align="ColumnAlign.Center" />
             <Column Title="เงินที่คำนวณได้" DataIndex="MoneyCalculate" TData="double" Align="ColumnAlign.Center" Sortable />
             <Column Title="" Width="100px" TData="string" Align="ColumnAlign.Center">
                 <img class="mx-2" src="helper_shared/PortalAdminImage/eye.png"
                      style="width:24px;height:24px; cursor:pointer;" @onclick=@(()=>{ }) />
                 <img class="mx-2" src="helper_shared/PortalAdminImage/alert.png"
                      style="width:24px;height:24px; cursor:pointer;" @onclick="@(()=> OpenModalAlertDiagnosisModal(true))" />
             </Column>
         </Table>
     </div>
 </div>
 <ModalChooseTenPercent _visible=@openTenPercentModal OnClose="@OpenTenPercentModal" />

 <ModalAlertDiagnosis _visible=@openModalAlertDiagnosisModal OnClose="@OpenModalAlertDiagnosisModal" />

 @inject IMessageService message;

 @code {
    bool openTenPercentModal { get; set; }

    bool openModalAlertDiagnosisModal { get; set; }

    [Parameter]
    public EventCallback<int> IndexPage { get; set; }

    public record Data(int ID, int allProcess, int passProcess, int nonPassProcess, int abnormalAI);

    public Data[] data =
    {
        new(6701,100,98,1,1)
    };

    public record Data2(
        int ID, 
        int Installment, 
        int IDCard, 
        string Name, 
        string DateOfTreatment, 
        string EndDateOfTreatMent, 
        string HospitalName, 
        int ValueRW, 
        double MoneyOfTreament, 
        double MoneyCalculate

    );

    public Data2[] data2 =
    {
        new(1,6701,12467890,"ดวงดี วิชัยวรศ์", "23 มิย 67","23 มิย 67","พญาไท",12,55000,45000 ),
    };

    void OnChange(QueryModel<Data> query)
    {
        Console.WriteLine(JsonSerializer.Serialize(query));
    }

    void OnChange(QueryModel<Data2> query)
    {
        Console.WriteLine(JsonSerializer.Serialize(query));
    }


    private string? txtValue { get; set; }
    private bool loading;

    private void Handle(string value)
    {
        Console.WriteLine(value);
    }

    public async Task goEdit(int item)
    {
        await IndexPage.InvokeAsync(item);
    }

    public async Task OnSearch()
    {
        await message.Loading($"searching {txtValue}", 2);
    }

    public class Model
    {
        public string? installment { get; set; }

        public string? hospitalID { get; set; }

    }
    private Model model = new Model();

    public void OpenTenPercentModal(bool value)
    {
        openTenPercentModal = value;
    }

    public void OpenModalAlertDiagnosisModal(bool value)
    {
        openModalAlertDiagnosisModal = value;
    }


}
