<div class="site-layout-background" style="padding: 24px;">
    <div class="mms-nav-title">
        <div class="mms-text-title px-4 py-3">ประสบอันตรายหรือเจ็บป่วยฉุกเฉิน 72 ชั่วโมง</div>
    </div>
    <div class="container py-4">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page" style="cursor:pointer;">
                    <span class="breadcum-title py-2">ค้นหารายการตามงวด</span>
                </li>
                <li class="breadcrumb-item" aria-current="page">
                    <span class="breadcum-process py-2">แสดงรายการงวดที่เลือก</span>
                </li>
            </ol>
        </nav>
        <hr />
        <div class="row py-4">
            <div class="col-sm-12 col-md-6 mms-media-start align-items-end">
                <div class="mms-txt-headdetail">รายการที่สถานพยาบาลส่งเบิก</div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="row">
                    <div class="col-sm-12 col-md-5 mms-media-end">
                        <Button Type="@ButtonType.Primary" OnClick="(() => GetIndexPage(2))"><i class="fa-solid fa-circle-play"></i> &nbsp; ประมวลผลรายการเบิก</Button>
                    </div>
                    <div class="col-sm-12 col-md-7">
                        <Space Direction="@DirectionVHType.Vertical" Class="mms-btn-serch w-100">
                            <SpaceItem>
                                <Search Placeholder="ค้นหารายละเอียดผู้ประกันตน" EnterButton="true" />
                            </SpaceItem>
                        </Space>
                    </div>
                </div>
            </div>
        </div>
        <Table DataSource="listOfData" TItem="Data" RowClassName="@(_=>"editable-row")" Bordered>
            <ChildContent Context="data">
                <Column TData="string" Title="ลำดับ" Align="ColumnAlign.Center">@(String.Format("{0:d}", listOfData.IndexOf(data) + 1)) </Column>
                <Column TData="string" Title="เลขประจำตัวประชาชน /หมายเลข Passport" Align="ColumnAlign.Center">@data.Key</Column>
                <Column TData="string" Title="ชื่อ-นามสกุล" Align="ColumnAlign.Center">@data.Name</Column>
                <Column TData="string" Title="ชื่อสถานพยาบาล" Align="ColumnAlign.Center">@data.Name</Column>
                <Column TData="string" Title="Admit Date" Align="ColumnAlign.Center">@data.Date</Column>
                <Column TData="string" Title="Discharge Date" Align="ColumnAlign.Center">@data.Address</Column>
                <Column TData="string" Title="จำนวนชั่วโมงรวม" Align="ColumnAlign.Center">@data.Hour<span class="ps-3">ชั่วโมง</span></Column>
                <Column TData="string" Title="จำนานเงิน(บาท)" Align="ColumnAlign.Center">@data.Price</Column>
            </ChildContent>
            <PaginationTemplate>
                <Pagination Class="pt-2"
                            Total="context.Total"
                            PageSize="context.PageSize"
                            Current="context.PageIndex"
                                        ShowSizeChanger
                            OnChange="context.HandlePageChange" />
            </PaginationTemplate>
            </Table>
            <dl class="py-4 mms-media-start flex-column align-items-start">
                <dt class="py-2 mms-txt-default">วันที่ :<span class="mms-text-gray ps-2">1 เม.ย 2566</span></dt>
                <dt class="py-2 mms-txt-default">จำนวนสถานพยาบาลทั้งหมด :<span class="mms-text-gray ps-2">สถานพยาบาล</span></dt>
                <dt class="py-2 mms-txt-default">เจ้าหน้าที่ผู้ประมวลผล :<span class="mms-text-gray ps-2">นายวงศ์   สว่าง</span></dt>
            </dl>
        </div>
    </div>
    @code {
    [Parameter]
    public EventCallback<int> IndexPage { get; set; }
    List<Data> listOfData;
    bool _visible = false;
    public class Data
    {
        public bool HosStatus { get; set; }
        public string Id { get; set; }
        public string Key { get; set; }
        public string CardId { get; set; }
        public string Name { get; set; }
        public int Hour { get; set; }
        public int Price { get; set; }
        public string NotiId { get; set; }
        public string Date { get; set; }
        public string Address { get; set; }
        public bool Status { get; set; }
        public List<Data> Children { get; set; }
    }
    protected override void OnInitialized()
    {
        listOfData = Enumerable.Range(0, 10).Select(i => new Data
            {
                Id = $"{i}",
                Key = $"1110214{i}",
                CardId = $"123467890xx{i}",
                Name = $"นายอภิรักษ์ สำรวม",
                Date = $"23 มิ.ย 67",
                Hour = 10,
                Price = 900,

                Address = $"โรงพยาบาลลานนา1",
                Status = true,
            }).ToList();
    }
    public async Task GetIndexPage(int page)
    {
        await IndexPage.InvokeAsync(page);

    }

}
