@using AntDesign.TableModels
@using System.ComponentModel

<div class="site-layout-background" style="padding: 24px;">
    <div class="mms-nav-title">
        <div class="mms-text-title px-4 py-3">ส่งเสริมสุขภาพและป้องกันโรคกรณีวัคซีน</div>
    </div>

    <div class="container py-4">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page">
                    <span class="@(selectedRows != null && selectedRows.Any() ?"breadcum-sucress" : "breadcum-process" ) py-2">ประวัติรายการเบิกจ่ายที่ไม่อนุมัติ</span>
                </li>
                @if (selectedRows != null && selectedRows.Any())
                {
                    <li class="breadcrumb-item" aria-current="page">
                        <span class="breadcum-process py-2">เลือกรายการเพื่อทำใบคำสั่งจ่าย</span>
                    </li>
                }
            </ol>
        </nav>
        <hr />

        <div class="mms-media-end">
            @if (selectedRows != null && selectedRows.Any())
            {
                <div class="col-sm-12 col-md-4 mms-media-end">
                    <Button Type="@ButtonType.Primary" Style="width:250px" @onclick=@Getpackage>
                        <i class="fa-solid fa-pen-to-square"></i>&nbsp; ส่งไปทำใบคำสั่งจ่าย
                    </Button>
                </div>
                @*@foreach (var item in selectedRows)
            {
            <div>
            @item.Id : @item.Chinese
            </div>
            }*@
            }
            <div class="col-sm-12 col-md-4 py-4">
                <Space Direction="@DirectionVHType.Vertical" Class="mms-btn-serch w-100">
                    <SpaceItem>
                        <Search Placeholder="ข้อมูลที่ต้องการค้นหา..." EnterButton="true" />
                    </SpaceItem>
                </Space>
            </div>
        </div>
        <Table Class="zebra-striped-table" Bordered DataSource="data" OnChange="OnChange" TItem="Data" @bind-SelectedRows="selectedRows">
            <ColumnDefinitions>
                <Selection Key="@(context.Id.ToString())" />
                <PropertyColumn Property="c=>c.Chinese" Align="ColumnAlign.Center" Title="ลำดับ" />
                <PropertyColumn Property="c=>c.English" Align="ColumnAlign.Center" Title="งวด" />
                <PropertyColumn Property="c=>c.English" Align="ColumnAlign.Center" Title="เลขประจำตัวประชาชน" />
                <PropertyColumn Property="c=>c.English" Align="ColumnAlign.Center" Title="ชื่อ-นามสกุล" />
                <PropertyColumn Property="c=>c.English" Align="ColumnAlign.Center" Title="ชื่อสถานพยาบาล" />
                <PropertyColumn Property="c=>c.English" Align="ColumnAlign.Center" Title="วันที่ใช้สิทธิ" />
                <PropertyColumn Property="c=>c.English" Align="ColumnAlign.Center" Title="จำนวนเงิน" />
                <PropertyColumn Property="c=>c.English" Align="ColumnAlign.Center" Title="สถานะ" />
                <PropertyColumn Property="c=>c.English" Align="ColumnAlign.Center" Title="">
                    <div class="mms-media-center">
                        <div class="m-1">
                            <img class="mx-2" title="แก้ไข" src="helper_shared/PortalAdminImage/edit.png" @onclick="@(()=> DISCallmodal(true))"
                                 style="width:24px;height:24px; cursor:pointer;" />
                        </div>
                        <div class="m-1">
                            <img class="mx-2" title="แก้ไข" src="helper_shared/PortalAdminImage/eye.png"
                                 style="width:24px;height:24px; cursor:pointer;" />
                        </div>
                        <div class="m-1">
                            @if (context.status == true)
                            {
                                <img class="mx-2" title="แก้ไข" src="helper_shared/PortalAdminImage/alert.png"
                                     style="width:24px;height:24px; cursor:pointer;" />
                            }
                            else
                            {
                                <img class="mx-2" title="แก้ไข" src="helper_shared/PortalAdminImage/robot.png"
                                     style="width:24px;height:24px; cursor:pointer;" />
                            }
                        </div>
                    </div>
                </PropertyColumn>
            </ColumnDefinitions>
            <PaginationTemplate>
                <Pagination Class="pt-2"
                            Total="context.Total"
                            PageSize="context.PageSize"
                            Current="context.PageIndex"
                                        ShowSizeChanger
                            OnChange="context.HandlePageChange" />
            </PaginationTemplate>
            </Table>
        </div>
    </div>

    @using sso.mms.fees.admin.Shared.HealthPromoVaccination.HPVDisapprovedTransactionHistory.Modals
    <DIS_ModalDetail _visible=@disCallmodal OnClose="@DISCallmodal" />
    @code {
    /*-- CallbackModel --*/

    bool disCallmodal { get; set; }

    public void DISCallmodal(bool value)
    {
        disCallmodal = value;
    }
    public async Task GoBack(int usepage)
    {
        IndexPage.InvokeAsync(1);
    }

    /*-- ---------- --*/
    [Parameter]
    public EventCallback<int> IndexPage { get; set; }
    IEnumerable<Data> selectedRows;

    private int Table;

    string? txtValue { get; set; }

    public async Task goEdit(int item)
    {
        await IndexPage.InvokeAsync(item);
    }

    /*-- Data --*/
    public record Data(int Id, string Name, int Chinese, int Math, int English, bool status);

    public Data[] data =
    {
        new(1,"John Brown",98,60,70 ,true),
        new(2,"Jim Green",98,66,89 ,true),
        new(3,"Joe Black",98,90,70 ,true),
        new(4,"Jim Red",88,99,89 ,false),
    };

    void OnChange(QueryModel<Data> query)
    {
        Console.WriteLine(JsonSerializer.Serialize(query));
    }
    public void Getpackage()
    {
        //selectedRows
    }
}
