@using Blazored.LocalStorage;
@using sso.mms.helper.Configs;
@using sso.mms.helper.PortalModel;
@using sso.mms.portal.admin.Services
@inject SettingOpendataService SettingOpenDataService
@inject ILocalStorageService _localstorage;
<div class="max-w">
    <div class="">
        <div align="center" class="text-header-m pt-5">
            <p class="">OPEN DATA</p>
        </div>

        <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                @if (SettingOpendata != null)
                {
                    @if (SettingOpendata.Where(w => w.ShowStatus == true && w.IsActive == true).Count() > 3)
                    {
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    }
                    @if (SettingOpendata.Where(w => w.ShowStatus == true && w.IsActive == true).Count() > 6)
                    {
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    }
                }

            </div>
            <div class="container">
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="5000">
                        <div class="row row-cols-1 row-cols-md-3 g-4">
                            @if (SettingOpendata != null)
                            {
                                @foreach (var item in SettingOpendata.Where(w => w.ShowStatus == true && w.IsActive == true).OrderByDescending(o => o.CreateDate).Take(3))
                                {
                                    <div class="col">
                                        <div class="card-1 mb-2">
                                            @if (item.UploadImagePath != null)
                                            {
                                                <img src="@item.UploadImagePath" class="card-img-top" alt="...">
                                            }
                                            else
                                            {
                                                <img src="Data/Assets/Images/defalseimg.png" class="card-img-top" alt="...">
                                            }
                                            <div class="card-body p-3">
                                                <p class="text-card">@ThaiDateFormat.FormattedDate(@item.CreateDate)</p>
                                                <p class="text-card-title">@item.Title</p>
                                                <p class="text-card-detail text-truncate">@item.Detail</p>
                                                <div align="center">
                                                    <a class="btn  btn-primary btn-theme-blue" href="@item.Url" target="_blank">
                                                        อ่านต่อ
                                                        <img src="Data/Assets/Images/next-btn.png" style="height:21px;width:21px" />
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                    @if (SettingOpendata?.Where(w => w.ShowStatus == true && w.IsActive == true).Count() > 3)
                    {
                        <div class="carousel-item" data-bs-interval="5000">
                            <div class="row row-cols-1 row-cols-md-3 g-4">
                                @if (SettingOpendata != null)
                                {
                                    @foreach (var item in SettingOpendata.Where(w => w.ShowStatus == true && w.IsActive == true).OrderByDescending(o => o.CreateDate).Skip(3).Take(3))
                                    {
                                        <div class="col">
                                            <div class="card-1 mb-2">
                                                @if (item.UploadImagePath != null)
                                                {
                                                    <img src="@item.UploadImagePath" class="card-img-top" alt="...">
                                                }
                                                else
                                                {
                                                    <img src="Data/Assets/Images/defalseimg.png" class="card-img-top" alt="...">
                                                }
                                                <div class="card-body p-3">
                                                    <p class="text-card">@ThaiDateFormat.FormattedDate(@item.CreateDate)</p>
                                                    <p class="text-card-title">@item.Title</p>
                                                    <p class="text-card-detail text-truncate">@item.Detail</p>
                                                    <div align="center">
                                                        <a class="btn  btn-primary btn-theme-blue" href="@item.Url" target="_blank">
                                                            อ่านต่อ
                                                            <img src="Data/Assets/Images/next-btn.png" style="height:21px;width:21px" />
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    }
                     @if (SettingOpendata?.Where(w => w.ShowStatus == true && w.IsActive == true).Count() > 6)
                    {
                        <div class="carousel-item" data-bs-interval="5000">
                            <div class="row row-cols-1 row-cols-md-3 g-4">
                                @if (SettingOpendata != null)
                                {
                                    @foreach (var item in SettingOpendata.Where(w => w.ShowStatus == true && w.IsActive == true).OrderByDescending(o => o.CreateDate).Skip(6).Take(3))
                                    {
                                        <div class="col">
                                            <div class="card-1 mb-2">
                                                @if (item.UploadImagePath != null)
                                                {
                                                    <img src="@item.UploadImagePath" class="card-img-top" alt="...">
                                                }
                                                else
                                                {
                                                    <img src="Data/Assets/Images/defalseimg.png" class="card-img-top" alt="...">
                                                }
                                                <div class="card-body p-3">
                                                    <p class="text-card">@ThaiDateFormat.FormattedDate(@item.CreateDate)</p>
                                                    <p class="text-card-title">@item.Title</p>
                                                    <p class="text-card-detail text-truncate">@item.Detail</p>
                                                    <div align="center">
                                                        <a class="btn  btn-primary btn-theme-blue" href="@item.Url" target="_blank">
                                                            อ่านต่อ
                                                            <img src="Data/Assets/Images/next-btn.png" style="height:21px;width:21px" />
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }

                            </div>
                        </div>
                    }
                    
                </div>
            </div>

            @if (SettingOpendata?.Where(w => w.ShowStatus == true && w.IsActive == true).Count() > 3)
            {
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            }
            


            <div class="container" style="padding-top:5%">
            </div>

        </div>
        <div class="d-flex justify-content-end align-items-center p-event " style="padding-right: 18%; padding-bottom: 1.5rem;">
            <a class="text-card-title" style="font-size:18px" href="@url" target="_blank">ดูทั้งหมด</a>
            <img src="data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 24.3893C19.799 24.3893 24.5 19.8298 24.5 14.2054C24.5 8.58097 19.799 4.02148 14 4.02148C8.20101 4.02148 3.5 8.58097 3.5 14.2054C3.5 19.8298 8.20101 24.3893 14 24.3893Z' stroke='%23334396' stroke-width='1.5' stroke-miterlimit='10'/%3E%3Cpath d='M12.6875 10.3867L17.0625 14.2057L12.6875 18.0246' stroke='%23334396' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A"
                 style="height:21px;width:21px" />
        </div>
    </div>
</div>


@code {

    [Parameter]
    public List<SettingOpendataT> SettingOpendata { get; set; }
    private string? token;
    private string? url;

    protected override async Task OnInitializedAsync()
    {
        token = await _localstorage.GetItemAsync<string>("shortToken");
        //if (token != null)
        //{

        //}
        url = $"{ConfigureCore.redirectCkanOpenD}";

    }


}
