@using System.ComponentModel

<Table DataSource="@data" Bordered Size="TableSize.Default">
        <ColumnDefinitions>
            <ColumnDefinition />
            <ColumnDefinition />
            <ColumnDefinition />
            <ColumnDefinition />
            <ColumnDefinition />
            <ColumnDefinition />
            <ColumnDefinition />
            <ColumnDefinition />
          
        </ColumnDefinitions>
        <HeaderTemplate>
            <TableRow>
                <SimpleTableHeader RowSpan="3">ลำดับ</SimpleTableHeader>
                <SimpleTableHeader RowSpan="3">รหัสถานพยาบาล</SimpleTableHeader>
                <SimpleTableHeader RowSpan="3">
                    สถานพยาบาล
                </SimpleTableHeader>
                <SimpleTableHeader ColSpan="4">
                    โรคเรื้อรัง
                </SimpleTableHeader>
                <SimpleTableHeader RowSpan="3">
                    รวมคะแนนรายโรงพยาบาล
                </SimpleTableHeader>
            </TableRow>
            <TableRow>
                <SimpleTableHeader ColSpan="2">
                    <div class="d-flex justify-content-between">
                        <div>โรคเบาหวาน</div>
                        <div>4.86</div>
                    </div>
                </SimpleTableHeader>
                <SimpleTableHeader ColSpan="2">
                    <div class="d-flex justify-content-between">
                        <div>โรคเบาหวาน</div>
                        <div>0.86</div>
                    </div>
                </SimpleTableHeader>
            </TableRow>
            <TableRow>
                <SimpleTableHeader>จำนวนคน</SimpleTableHeader>
                <SimpleTableHeader>คะแนนรวม</SimpleTableHeader>
                <SimpleTableHeader>จำนวนคน</SimpleTableHeader>
                <SimpleTableHeader>คะแนนรวม</SimpleTableHeader>
            </TableRow>
        </HeaderTemplate>
        <RowTemplate>
            <TableRow>

                <TableCell>@context.Data.Id</TableCell>
                <TableCell>@context.Data.HospitalCode</TableCell>
                <TableCell>@context.Data.HospitalName</TableCell>
                <TableCell>@context.Data.AmoutPerson1</TableCell>
                <TableCell>@context.Data.TotalScore1</TableCell>
                <TableCell>@context.Data.AmoutPerson2</TableCell>
                <TableCell>@context.Data.TotalScore2</TableCell>
                <TableCell>@context.Data.Total</TableCell>
             
            </TableRow>
        </RowTemplate>
    </Table>

    @code {
    Data[] data;

    TableFilter<string>[] filters;

    bool isChecked = true;
    bool disabled = false;

    void ToggleDisable()
    {
        disabled = !disabled;
    }

    public class Data
    {
        public int Id { get; set; }

        public string HospitalCode { get; set; }

        public string HospitalName { get; set; }

        public string AmoutPerson1 { get; set; }

        public string TotalScore1 { get; set; }

        public string AmoutPerson2 { get; set; }

        public string TotalScore2 { get; set; }

        public string Total{ get; set; }

    }

    protected override void OnInitialized()
    {
        data = Enumerable.Range(0, 20).Select(x => new Data
            {
                Id = x,
                HospitalCode = "5.1",
                HospitalName = "โรงพยาบาลบางนา1",
                AmoutPerson1 = "10",
                TotalScore1 = "656",
                AmoutPerson2 = "15",
                TotalScore2 = "656",
                Total = "",
            }).ToArray();
    }
}