<div class="site-layout-background" style="padding: 24px;">
    <div class="mms-nav-title">
        <div class="mms-text-title px-4 py-3">การรักษาโดยแพทย์ผู้เชี่ยวชาญพิเศษเฉพาะทางและการทำหมัน</div>
    </div>
    <div class="p-2 p-md-5 ">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page">
                    <span class="breadcum-sucress py-2">สืบค้นข้อมูลผู้ประกันตน</span>
                </li>
                <li class="breadcrumb-item" aria-current="page">
                    <span class="breadcum-sucress py-2">ค้นหาข้อมูลผู้ประกันตน</span>
                </li>
                @*                <li class="breadcrumb-item" aria-current="page">
                <span class="breadcum-process py-2">แสดงรายการงวดที่เลือก</span>
                </li>*@
            </ol>
        </nav>
        <div class="container py-4" style="margin-left:7%;">


            <div class="mms-media-start pb-4">
                <div class="col-3">
                    <div class="mms-txt-headdetail" style=" padding-left: 12%;">
                        เลขประจำตัวประชาชน:
                        <span class="mms-txt-headdetail" style="color: red">*</span>
                    </div>&nbsp;
                </div>
                <div class="col">
                    <Input @bind-Value="@txtValue" Style="width: 60%;" />
                </div>


            </div>

            <div class="mms-media-start pb-3">
                <div class="col-3">
                    <div class="mms-txt-headdetail" style=" padding-left: 12%;">
                        รหัส / ชื่อสถานพยาบาล:
                    </div>&nbsp;
                </div>
                <div class="col">
                    <Select TItem="DropdownData"
                            TItemValue="string"
                            DataSource="@dropdownlist"
                            @*@bind-Value="@reson" *@
                            ValueName="@nameof(DropdownData.name)"
                            LabelName="@nameof(DropdownData.name)"
                            Style="width: 60%;"
                            Placeholder="-- ระบุสาสถานพยาบาล --"
                                            AllowClear>
                    </Select>
                </div>


            </div>
            <div class="mms-media-start pb-3">
                <div class="col-3">
                    <div class="mms-txt-headdetail" style=" padding-left: 12%;">
                        ประเภทการรักษา:
                    </div>&nbsp;
                </div>
                <div class="col">
                    <Select TItem="DropdownData"
                            TItemValue="string"
                            DataSource="@dropdownlist"
                            @*@bind-Value="@reson" *@
                            ValueName="@nameof(DropdownData.name)"
                            LabelName="@nameof(DropdownData.name)"
                            Style="width: 60%; "
                            Placeholder="-- ระบุประเภท --"
                                            AllowClear>
                    </Select>
                </div>


            </div>
            <div class="mms-media-start pb-5">
                <div class="col-3">
                    <div class="mms-txt-headdetail" style=" padding-left: 12%;">
                        งวดที่:
                    </div>&nbsp;
                </div>
                <div class="col">
                    <Input @bind-Value="@txtValue" Style="width: 60%; " />
                </div>


            </div>
            <div class="mms-media-start pb-5">
                <div class="col-5">
                    <div class="row">
                        <div class="col-7" style="width:57%;">
                            <div class="mms-txt-headdetail" style=" padding-left: 14%;">
                                ช่วงเวลาใช้สิทธิ:
                            </div>&nbsp;
                        </div>
                        <div class="col">
                            <DatePicker TValue="DateTime?" Picker="@DatePickerType.Date" />
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="row">
                        <div class="col-3">
                            <div class="mms-txt-headdetail" style=" padding-left: 12%; margin-left:10%;">
                                ถึง:
                            </div>&nbsp;
                        </div>
                        <div class="col">
                            <DatePicker TValue="DateTime?" Picker="@DatePickerType.Date" Style="width: 65%; " />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4"></div>
                <div class="col-4">
                    <Button Type="@ButtonType.Primary" Style="width: 60%; " @onclick="() => goDetail()"><i class="fa-solid fa-magnifying-glass"></i> &nbsp; ค้นหาข้อมูล</Button>
                </div>
                <div class="col-4"></div>

            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public EventCallback<int> IndexPage { get; set; }



    string? txtValue = "dsad";

    public async Task goEdit(int item)
    {
        await IndexPage.InvokeAsync(item);
    }


    RenderFragment _audioIcon =@<Icon Type="audio" Theme="outline" Style="color: #1890ff" />;


    public class ItemData
    {
        public int Id { get; set; }
        public string? date { get; set; }

    };
    public class DropdownData
    {
        public string name { get; set; }
        public string? date { get; set; }

    };

    List<DropdownData> dropdownlist = new List<DropdownData>();
    List<ItemData> listOfData = new List<ItemData>();
    private int total => listOfData.Count();
    private int pageSize = 3;

    public async Task goDetail()
    {
        await IndexPage.InvokeAsync(2);
    }


    protected override void OnInitialized()
    {
        listOfData = new List<ItemData>
        {
            new ItemData
            {
                Id = 1 ,
                date = $"660801",


            },
            new ItemData
            {
               Id = 2 ,
                date = $"COVID2566-G120123",

            },
            new ItemData
            {
                Id =3 ,
                date = $"20230601",

            }
        };

        dropdownlist = new List<DropdownData>
        {
            new DropdownData
            {
                name = "รพ 1"



            },
            new DropdownData
            {
                 name = "รพ 2"

            },
            new DropdownData
            {
                 name = "รพ 3"

            }
        };
    }

}
