@using sso.mms.fees.admin.Shared.MedicalSpeciaList.SearchInformation.Modals
<div class="site-layout-background" style="padding: 24px;">
    <div class="mms-nav-title">
        <div class="mms-text-title px-4 py-3">การรักษาโดยแพทย์ผู้เชี่ยวชาญพิเศษเฉพาะทางและการทำหมัน</div>
    </div>
    <div class="p-2 p-md-5 ">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page">
                    <span class="breadcum-sucress py-2">สืบค้นข้อมูลผู้ประกันตน</span>
                </li>
                <li class="breadcrumb-item" aria-current="page">
                    <span class="breadcum-sucress py-2">ค้นหา</span>
                </li>
                <li class="breadcrumb-item" aria-current="page">
                    <span class="breadcum-process py-2">แสดงรายละเอียดการค้นหา</span>
                </li>
            </ol>
        </nav>
        <div class="container">
            <div class="mms-media-start">
                <Button Class="ant-btn-distable" @onclick=@(() => goBack(1)) Style="width:15%;"><i class="fa-solid fa-circle-chevron-left"></i> &nbsp; ย้อนกลับ</Button>
            </div>
            <hr />
            <div class="mms-media-start pb-4">
                <div class="col-3">
                    <div class="mms-txt-headdetail" style=" padding-left: 12%; text-align:right;">
                        เลขประจำตัวประชาชน:
                    </div>&nbsp;
                </div>
                <div class="col" style="padding-left: 3%;">
                    1323132156
                </div>
            </div>
            <div class="mms-media-start pb-4">
                <div class="col-3">
                    <div class="mms-txt-headdetail" style=" padding-left: 12%; text-align:right;">
                        รหัส / ชื่อสถานพยาบาล:
                    </div>&nbsp;
                </div>
                <div class="col" style="padding-left: 3%;">
                    โรงบาลลำพูน
                </div>
            </div>
            <div class="mms-media-start pb-4">
                <div class="col-3">
                    <div class="mms-txt-headdetail" style=" padding-left: 12%; text-align:right;">
                        งวดที่:
                    </div>&nbsp;
                </div>
                <div class="col" style="padding-left: 3%;">
                    2566/09
                </div>
            </div>
            <div class="mms-media-start pb-4">
                <div class="col-3">
                    <div class="mms-txt-headdetail" style=" padding-left: 12%; text-align:right;">
                        ช่วงเวลาใช้สิทธิ:
                    </div>&nbsp;
                </div>
                <div class="col" style="padding-left: 3%;">
                    01/09/2566
                </div>
                <div class="col-1" style="margin-left:-45%;">
                    <div class="mms-txt-headdetail">
                        ถึง:
                    </div>&nbsp;
                </div>
                <div class="col" style="margin-left:-3%;">
                    01/09/2566
                </div>
            </div>

            <Table DataSource="listOfData" TItem="Data" RowClassName="@(_=>"editable-row")" Bordered>
                <ChildContent Context="data">
                    <Column TData="string" Title="ลำดับ" Align="ColumnAlign.Center" Style="width:4%;">@(String.Format("{0:d}", listOfData.IndexOf(data) + 1)) </Column>
                    <Column TData="string" Title="งวด" Align="ColumnAlign.Center" Style="width:6%;">@data.Key</Column>
                    <Column TData="string" Title="เลขประจำตัวประชาชน" Align="ColumnAlign.Center">@data.CardId</Column>
                    <Column TData="string" Title="ชื่อ-นามสกุล" Align="ColumnAlign.Center">@data.Name</Column>
                    <Column TData="string" Title="สถานพยาบาล" Align="ColumnAlign.Center">@data.Address</Column>
                    <Column TData="string" Title="สิทธิ" Align="ColumnAlign.Center" Style="width:10%;">@data.Date</Column>
                    <Column TData="string" Title="วันที่บันทึกเบิก" Align="ColumnAlign.Center" Style="width:12%;">@data.Date</Column>
                    <Column TData="string" Title="จำนวนเงิน" Align="ColumnAlign.Center" Style="width:12%;">@data.Price</Column>
                    <Column TData="string" Title="สถานะ" Align="ColumnAlign.Center" Style="width:5%;">
                        @if (data.Status)
                        {
                            <div style="color:#67C23A">อนุมัติ</div>
                        }
                        else
                        {
                            <div style="color:red">ไม่อนุมัติ</div>
                        }

                    </Column>
                    <ActionColumn Title="" Align="ColumnAlign.Center" Style="width:4%;">

                        @*<a @onclick="() => startEdit(data.Id)">Edit</a>*@
                        <img src="helper_shared/PortalAdminImage/eye.png" style="width:24px;height:24px; cursor:pointer;"
                             @onclick=@(()=>OpenViewDataModal(true)) />


                    </ActionColumn>
                </ChildContent>
            </Table>

        </div>
    </div>
</div>

<ViewDataModal _visible=@openViewDataModal OnClose="@OpenViewDataModal"></ViewDataModal>
@code {
    [Parameter]
    public EventCallback<int> IndexPage { get; set; }


    bool openViewDataModal { get; set; }
    string? txtValue = "dsad";

    public async Task goEdit(int item)
    {
        await IndexPage.InvokeAsync(item);
    }


    RenderFragment _audioIcon =@<Icon Type="audio" Theme="outline" Style="color: #1890ff" />;

    public void OpenViewDataModal(bool value)
    {
        openViewDataModal = value;
    }

    public class ItemData
    {
        public int Id { get; set; }
        public string? date { get; set; }

    };
    public class Data
    {
        public bool HosStatus { get; set; }

        public string Id { get; set; }

        public string Key { get; set; }
        public string CardId { get; set; }

        public string Name { get; set; }

        public int Price { get; set; }
        public string NotiId { get; set; }
        public string Date { get; set; }

        public string Address { get; set; }
        public bool Status { get; set; }

        public List<Data> Children { get; set; }
    }

    public class DropdownData
    {
        public string name { get; set; }
        public string? date { get; set; }

    };

    List<DropdownData> dropdownlist = new List<DropdownData>();
    List<Data> listOfData = new List<Data>();
    private int total => listOfData.Count();
    private int pageSize = 3;

    public async Task goDetail()
    {
        await IndexPage.InvokeAsync(2);
    }

    public async Task goBack(int item)
    {
        await IndexPage.InvokeAsync(item);
    }

    protected override void OnInitialized()
    {
        listOfData = Enumerable.Range(0, 10).Select(i => new Data
            {
                Id = $"{i}",
                Key = $"1110214{i}",
                CardId = $"123467890xx{i}",
                Name = $"นายอภิรักษ์ สำรวม",
                Date = $"23 มิ.ย 67",
                Price = 900,

                Address = $"โรงพยาบาลลานนา1",
                Status = true,
            }).ToList();

        dropdownlist = new List<DropdownData>
        {
            new DropdownData
            {
                name = "รพ 1"



            },
            new DropdownData
            {
                 name = "รพ 2"

            },
            new DropdownData
            {
                 name = "รพ 3"

            }
        };
    }

}
