

<style>
    .modal-view-card .ant-card-head {
        min-height: 48px;
        margin-bottom: -1px;
        padding: 0 24px;
        color: rgba(0, 0, 0, 0.85);
        font-weight: 500;
        font-size: 16px;
        background: #EAE8EC !important;
        border-bottom: 1px solid #f0f0f0;
        border-radius: 2px 2px 0 0;
    }

    .button-export {
        border-radius: 4px;
        border: 2px solid var(--h, #334396);
        background: var(--background, #FFF);
    }
</style>

<Modal Title="@title"
       Visible="@_visible"
       OnOk="@HandleOk"
       OnCancel="@HandleCancel"
       Footer="@footer"
       Width="1300">


    <div class="search-bar mb-2">
        <div class="d-flex align-content-center">
            <div class="input-form">รหัสสถานพยาบาล</div>
            <Input Style="width: 80px;" Placeholder="45600" @bind-Value="@hospitalCode" Disabled />
         </div>
         <div class="d-flex align-content-center">
             <div class="input-form">ชื่อสถานพยาบาล</div>
             <Input Style="width: 150px;" Placeholder="โรงพยาบาลบางนา1" @bind-Value="@hospitalName" Disabled />
         </div>
         <div class="d-flex align-content-center">
             <div class="input-form">จำนวนผู้เป่วยทั้งหมด</div>
             <Input Style="width: 80px;" Placeholder="10" @bind-Value="@amountPatient" Disabled />
         </div>
     </div>
     <InputGroup Compact Class="d-flex justify-content-end">
        <SimpleSelect DefaultValue="@("ทั้งหมด")" Style="width: auto;">
            <SelectOptions>
                <SimpleSelectOption Value="ทั้งหมด" Label="ทั้งหมด"></SimpleSelectOption>
                 <SimpleSelectOption Value="GROUP 1" Label="GROUP 1"></SimpleSelectOption>
                 <SimpleSelectOption Value="GROUP 2" Label="GROUP 2"></SimpleSelectOption>
            </SelectOptions>
        </SimpleSelect><Button Class="button-export">Export to Excel</Button>
    </InputGroup>

    <Table Bordered ScrollX="1500"  DataSource="@data" OnChange="OnChange" TItem="MockUpData" @ref="Table" @bind-PageSize="pageSize" Class="pb-5">
         <ChildContent>
             <PropertyColumn Title="ลำดับ" Property="c=>c!.Id" Align="ColumnAlign.Center" />
             <PropertyColumn Title="รายชื่อผู้ประกันตน" Property="c=>c!.InsuredPersonName" Align="ColumnAlign.Center" />
             <PropertyColumn Title="รหัสบัตรประชาชน" Property="c=>c!.IdCard" Align="ColumnAlign.Center" />
             <PropertyColumn Title="โรคเรื้อรังที่เป็น" Property="c=>c!.DicreaseName" Align="ColumnAlign.Center" />
             <PropertyColumn Title="ได้ยามากี่ชนิด" Property="c=>c!.ManyMedicineReceive" Align="ColumnAlign.Center" />
             <PropertyColumn Title="โรคเรื้อรังอื่นที่ตีความจากยาที่ได้รับ" Property="c=>c!.ChronicDiseaseFromMedicine" Align="ColumnAlign.Center" />
             <PropertyColumn Title="จำนวนครั้งที่ไป รพ" Property="c=>c!.AmountGoToHospital" Align="ColumnAlign.Center" />
             <PropertyColumn Title="จำนวน transaction" Property="c=>c!.AmountTransaction" Align="ColumnAlign.Center" />
             <PropertyColumn Title="ได้ยาที่ควรจะได้" Property="c=>c!.ShouldMedicine" Align="ColumnAlign.Center" />
             <PropertyColumn Title="ควรได้ยาไม่เกิน X ชนิด" Property="c=>c!.ShouldMedicineXtype" Align="ColumnAlign.Center" />
             <PropertyColumn Title="จำนวน ไม่เกิน y" Property="c=>c!.NotMoreThanY" Align="ColumnAlign.Center" />
             <PropertyColumn Title="GROUP" Property="c=>c!.Group" Align="ColumnAlign.Center" />
         </ChildContent>
         <PaginationTemplate>
            <Pagination Class="pt-2" Total="context.Total"
                         PageSize="context.PageSize"
                         Current="context.PageIndex"
                            ShowSizeChanger
                         OnChange="context.HandlePageChange" />
         </PaginationTemplate>
     </Table>
 </Modal>

 @code {

    public string hospitalCode { get; set; }
    public string hospitalName { get; set; }
    public string amountPatient { get; set; }

    string title = "รายละเอียดการรักษาและยาที่ได้รับล่าสุด (ผู้ป่วยใน)";
    RenderFragment footer =
    @<div></div>;

    [Parameter]
    public EventCallback<bool> OnClose { get; set; }

    [Parameter]
    public bool _visible { get; set; }

    Table<MockUpData> Table;

    int pageSize = 5;

    private async void CloseModal(bool onClose)
    {
        await OnClose.InvokeAsync(onClose);
    }

    private async void HandleOk(MouseEventArgs e)
    {
        _visible = false;
    }

    private void HandleCancel(MouseEventArgs e)
    {
        Console.WriteLine(e);
        _visible = false;
    }


    class MockUpData
    {
        public MockUpData(
            int id,
            string insuredPersonName,
            string idCard,
            string dicreaseName,
            string manyMedicineReceive,
            string chronicDiseaseFromMedicine,
            string amountGoToHospital,
            string amountTransaction,
            string shouldMedicine,
            string shouldMedicineXtype,
            string notMoreThanY,
            string group

        )
        {
            Id = id;
            InsuredPersonName = insuredPersonName;
            IdCard = idCard;
            DicreaseName = dicreaseName;
            ManyMedicineReceive = manyMedicineReceive;
            ChronicDiseaseFromMedicine = chronicDiseaseFromMedicine;
            AmountGoToHospital = amountGoToHospital;
            AmountTransaction = amountTransaction;
            ShouldMedicine = shouldMedicine;
            ShouldMedicineXtype = shouldMedicine;
            NotMoreThanY = notMoreThanY;
            Group = group;

        }
        public int Id { get; set; }
        public string InsuredPersonName { get; set; }
        public string IdCard { get; set; }
        public string DicreaseName { get; set; }
        public string ManyMedicineReceive { get; set; }
        public string ChronicDiseaseFromMedicine { get; set; }
        public string AmountGoToHospital { get; set; }
        public string AmountTransaction { get; set; }
        public string ShouldMedicine { get; set; }
        public string ShouldMedicineXtype { get; set; }
        public string NotMoreThanY { get; set; }
        public string Group { get; set; }
    }

    MockUpData[] data =
    {
            new(1, "นายวิเวก การสกุล","7916277725547","โรคความดันโลหิตสูง","20","โรคเบาหวาน","1","15","","ไม่ควร","ไม่ควร","2"),
            new(1, "นายวิเวก การสกุล","7916277725547","โรคความดันโลหิตสูง","20","โรคเบาหวาน","1","15","","ไม่ควร","ไม่ควร","2"),
            new(1, "นายวิเวก การสกุล","7916277725547","โรคความดันโลหิตสูง","20","โรคเบาหวาน","1","15","","ไม่ควร","ไม่ควร","2"),
    };

    void OnChange(QueryModel<MockUpData> query)
    {
        Console.WriteLine(JsonSerializer.Serialize(query));
    }
}
