<style>
    .ant-card-c {
        background: #fff;
        border-radius: 6px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        font-size: 18px;
    }
    .ant-card-c > .ant-card-head {
    width: 100%;
    background: #ffcc41 !important;
    border-radius: 6px 6px 0px 0px !important;
    }

    .ant-card-c > .ant-card-head > .ant-card-head-wrapper > .ant-card-head-title {
        font-size: 20px !important;
        text-align: center !important;
        color: #334396 !important;
    }
</style>
<div class="site-layout-background" style="padding: 24px;">
    <div class="mms-nav-title">
        <div class="mms-text-title px-4 py-3" >ค่าบริการทางการแพทย์กรณีการผ่าตัดแบบวันเดียวกลับ (ODS) </div>
    </div>
    <div class="container py-4">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page">
                    <span class="breadcum-success py-2">กำหนดอัตราค่าบริการ</span>
                </li>
                <li class="breadcrumb-item" aria-current="page">
                    <span class="breadcum-success py-2">@year</span>
                </li>
                <li class="breadcrumb-item" aria-current="page">
                    <span class="breadcum-process py-2">@Name</span>
                </li>
            </ol>
        </nav>
        <hr />
        <div class="row container">
            <div class="col-4">
                <div class="row">
                    <div class="col-6 d-flex align-content-center justify-content-end">
                        <div class="mms-media-start mms-txt-headdetail d-flex align-content-end">วันที่สร้าง </div>
                    </div>
                    <div class="col-6 d-flex align-content-center justify-content-start">
                        <Input TValue="string" Value="@(DateTime.Now.ToString())" ReadOnly />
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="row">
                    <div class="col-6 d-flex align-content-center justify-content-end">
                        <div class="mms-media-start mms-txt-headdetail d-flex align-content-center">วันที่แก้ไขล่าสุด </div>
                    </div>
                    <div class="col-6 d-flex align-content-center justify-content-start">
                        <Input TValue="string" Value="@("36")" ReadOnly />
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="row">
                    <div class="col-6 d-flex align-content-center justify-content-end">
                        <div class="mms-media-start mms-txt-headdetail d-flex align-content-center">แก้ไขล่าสุดโดย </div>
                    </div>
                    <div class="col-6 d-flex align-content-center justify-content-start">
                        <Input TValue="string" Value="@("3")" ReadOnly />
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row container">
            <div class="col-4">
                <div class="row">
                    <div class="col-6 d-flex align-content-center justify-content-end">
                        <div class="mms-media-start mms-txt-headdetail d-flex align-content-end">เลขประจำตัวประชาชน </div>
                    </div>
                    <div class="col-6 d-flex align-content-center justify-content-start">
                        <Input TValue="string" Value="@(DateTime.Now.ToString())" ReadOnly />
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="row">
                    <div class="col-6 d-flex align-content-center justify-content-end">
                        <div class="mms-media-start mms-txt-headdetail d-flex align-content-center">ชื่อ-นามสกุล </div>
                    </div>
                    <div class="col-6 d-flex align-content-center justify-content-start">
                        <Input TValue="string" Value="@("36")" ReadOnly />
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="row">
                    <div class="col-6 d-flex align-content-center justify-content-end">
                        <div class="mms-media-start mms-txt-headdetail d-flex align-content-center">วันที่รักษา </div>
                    </div>
                    <div class="col-6 d-flex align-content-center justify-content-start">
                        <Input TValue="string" Value="@("3")" ReadOnly />
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row container">
            <div class="col-4">
                <div class="row">
                    <div class="col-6 d-flex align-content-center justify-content-end">
                        <div class="mms-media-start mms-txt-headdetail d-flex align-content-end">เพศ  </div>
                    </div>
                    <div class="col-6 d-flex align-content-center justify-content-start">
                        <Input TValue="string" Value="@(DateTime.Now.ToString())" ReadOnly />
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="row">
                    <div class="col-6 d-flex align-content-center justify-content-end">
                        <div class="mms-media-start mms-txt-headdetail d-flex align-content-center">อายุ </div>
                    </div>
                    <div class="col-6 d-flex align-content-center justify-content-start">
                        <Input TValue="string" Value="@("36")" ReadOnly />
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="row">
                    <div class="col-6 d-flex align-content-center justify-content-end">
                        <div class="mms-media-start mms-txt-headdetail d-flex align-content-center">สถานพยาบาลหลัก </div>
                    </div>
                    <div class="col-6 d-flex align-content-center justify-content-start">
                        <Input TValue="string" Value="@("3")" ReadOnly />
                    </div>
                </div>
            </div>
        </div>

        <br />
        <div class="row container">
            <div class="col-6">
                <div class="row">
                    <div class="col-6 d-flex align-content-center justify-content-end">
                        <div class="mms-media-start mms-txt-headdetail d-flex align-content-end">สถานพยาบาลบันทึก  </div>
                    </div>
                    <div class="col-6 d-flex align-content-center justify-content-start">
                        <Input TValue="string" Value="@(DateTime.Now.ToString())" ReadOnly />
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col-6 d-flex align-content-center justify-content-end">
                        <div class="mms-media-start mms-txt-headdetail d-flex align-content-center">สถานพยาบาลที่รักษา </div>
                    </div>
                    <div class="col-6 d-flex align-content-center justify-content-start">
                        <Input TValue="string" Value="@("36")" ReadOnly />
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row container">
            <div class="col-3">
                <div class="row">
                    <div class="col-6 d-flex align-content-center justify-content-end">
                        <div class="mms-media-start mms-txt-headdetail d-flex align-content-end">น้ำหนัก  </div>
                    </div>
                    <div class="col-6 d-flex align-content-center justify-content-start">
                        <Input TValue="string" Value="@(DateTime.Now.ToString())" ReadOnly />
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="row">
                    <div class="col-6 d-flex align-content-center justify-content-end">
                        <div class="mms-media-start mms-txt-headdetail d-flex align-content-center">ส่วนสูง </div>
                    </div>
                    <div class="col-6 d-flex align-content-center justify-content-start">
                        <Input TValue="string" Value="@("36")" ReadOnly />
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="row">
                    <div class="col-6 d-flex align-content-center justify-content-end">
                        <div class="mms-media-start mms-txt-headdetail d-flex align-content-center">DRG</div>
                    </div>
                    <div class="col-6 d-flex align-content-center justify-content-start">
                        <Input TValue="string" Value="@("36")" ReadOnly />
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="row">
                    <div class="col-6 d-flex align-content-center justify-content-end">
                        <div class="mms-media-start mms-txt-headdetail d-flex align-content-center">ความดัน </div>
                    </div>
                    <div class="col-6 d-flex align-content-center justify-content-start">
                        <Input TValue="string" Value="@("36")" ReadOnly />
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row container">
            <div class="col-3">
                <div class="row">
                    <div class="col-6 d-flex align-content-center justify-content-end">
                        <div class="mms-media-start mms-txt-headdetail d-flex align-content-end">HN  </div>
                    </div>
                    <div class="col-6 d-flex align-content-center justify-content-start">
                        <Input TValue="string" Value="@(DateTime.Now.ToString())" ReadOnly />
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="row">
                    <div class="col-6 d-flex align-content-center justify-content-end">
                        <div class="mms-media-start mms-txt-headdetail d-flex align-content-center">AN </div>
                    </div>
                    <div class="col-6 d-flex align-content-center justify-content-start">
                        <Input TValue="string" Value="@("36")" ReadOnly />
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="row">
                    <div class="col-6 d-flex align-content-center justify-content-end">
                        <div class="mms-media-start mms-txt-headdetail d-flex align-content-center">RW</div>
                    </div>
                    <div class="col-6 d-flex align-content-center justify-content-start">
                        <Input TValue="string" Value="@("36")" ReadOnly />
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="row">
                    <div class="col-6 d-flex align-content-center justify-content-end">
                        <div class="mms-media-start mms-txt-headdetail d-flex align-content-center">ADJRW </div>
                    </div>
                    <div class="col-6 d-flex align-content-center justify-content-start">
                        <Input TValue="string" Value="@("36")" ReadOnly />
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row container">
            <div class="col-4">
                <div class="row">
                    <div class="col-6 d-flex align-content-center justify-content-end">
                        <div class="mms-media-start mms-txt-headdetail d-flex align-content-end">Discharge Status  </div>
                    </div>
                    <div class="col-6 d-flex align-content-center justify-content-start">
                        <Input TValue="string" Value="@(DateTime.Now.ToString())" ReadOnly />
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="row">
                    <div class="col-6 d-flex align-content-center justify-content-end">
                        <div class="mms-media-start mms-txt-headdetail d-flex align-content-center">Discharge Type </div>
                    </div>
                    <div class="col-6 d-flex align-content-center justify-content-start">
                        <Input TValue="string" Value="@("36")" ReadOnly />
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row container">
            <div class="col-12">
                <div class="row">
                    <div class="d-flex align-content-center justify-content-start">
                        <div class="mms-media-start mms-txt-headdetail d-flex align-content-center justify-content-start">โรคประจำตัว </div>
                        <RadioGroup @bind-Value="@_value" Class="d-flex flex-wrap align-content-center justify-content-start">
                            <Radio Value="1">ไม่มี</Radio>
                            <Radio Value="2">มี</Radio>
                        </RadioGroup>
                        &nbsp;
                        <div class="col-5 w-50">
                            <Input TValue="string" Value="@("โรคหัวใจและหลอดเลือด")" ReadOnly />
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <br />


        <div class="row container mms-txt-headdetail">
            โรคที่รักษา
        </div>
        <div class="row container mms-txt-headdetail">
            <div class="col-lg-12">
                <Card Bordered="false" Title=@("โรคไส้เลื่อนขาหนีบ (Inguinal hernia)") Class="ant-card-c">
                    <Body>
                        <Table DefaultExpandAllRows DataSource="data" DefaultExpandMaxLevel="1" Bordered ScrollX="1000">
                                <PropertyColumn Property="c=>c.Id" Title="ลำดับ" Align="ColumnAlign.Center" Width="10%">
                                    @String.Format("{0:d}",data.IndexOf(context)+1)
                                </PropertyColumn>
                                <PropertyColumn Property="c=>c.Name" Title="รายการ" Align="ColumnAlign.Center" Width="50%" />
                                <PropertyColumn Property="c=>c.ICD10" Title="รหัส ICD10" Align="ColumnAlign.Center" Width="10%" />
                                <PropertyColumn Property="c=>c.Amount" Title="ยอดเงิน(บาท)" Align="ColumnAlign.Center" Width="30%">
                                    @String.Format("{0:n}",context.Amount)
                                </PropertyColumn>

                            </Table>
                        </Body>
                    </Card>
                </div>
            </div>

            <div class="row container">
                <div class="mms-media-end">
                    <div>
                        <Button Class="ant-btn-distable" @onclick=@(() => Indexpage(2,@year,""))><i class="fa-solid fa-circle-chevron-left"></i> &nbsp; ย้อนกลับ</Button>
                    </div>
                </div>

            </div>
        </div>
    </div>

    @code {
    [Parameter]
    public string year { get; set; }
    [Parameter]
    public string Name { get; set; }
    [Parameter]
    public EventCallback<(int, string, string)> IndexPage { get; set; }

    int _value = 1;
    List<Data> data = new List<Data>();
    public class Data
    {
        public string Id { get; set; }
        public string Key { get; set; }
        public string Name { get; set; }
        public string ICD10 { get; set; }
        public int Amount { get; set; }
    }
    protected override async Task OnInitializedAsync()
    {
        data = new List<Data>
    {
            new Data {

            Id = "1",
            Key = "1",
            Name = "Other and open repair of direct inguinal hernia",
            ICD10 = "53.01",
            Amount = 10000,

        },

    };
    }
    public async Task Indexpage(int usepage, string year, string? name)
    {

        await IndexPage.InvokeAsync((usepage, year, name));

    }


}
