<div class="site-layout-background" style="padding: 24px;">
    <div class="mms-nav-title">
        <div class="mms-text-title px-4 py-3">ค่าบริการทางการแพทย์ AdjRW</div>
    </div>
    <div class="container py-4">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page" @onclick=@(() => goEdit(1))>
                    <span class="breadcum-sucress py-2">ช้อมูลสถานพยาบาลรายปี</span>
                </li>
                <li class="breadcrumb-item" aria-current="page">
                    <span class="breadcum-process py-2">กำหนดประเภทสถานพยาบาล</span>
                </li>
            </ol>
        </nav>
        <hr />
        <div class="row py-4">
            <div class="col-xl-2 mms-media-start">
                <div class="mms-txt-headdetail pe-2">ปี</div>&nbsp;
                <Input Placeholder="Basic usage" @bind-Value="@txtValue" Disabled />
            </div>
            <div class="col-xl-5 mms-media-center">
                <div class="mms-txt-headdetail pe-2 w-50 text-end">วันที่แก้ไขล่าสุด</div>&nbsp;
                <Input Placeholder="Basic usage" @bind-Value="@txtValue" Disabled />
            </div>
            <div class="col-xl-5 mms-media-end">
                <div class="mms-txt-headdetail pe-2 w-50 text-end">แก้ไขล่าสุดโดย</div>&nbsp;
                <Input Placeholder="Basic usage" @bind-Value="@txtValue" Disabled />
            </div>
        </div>
        <div class="mms-media-start">
            <div class="mms-txt-headdetail pe-4">สถานะการใช้งาน <span class="star-comment">*</span></div>
            <RadioGroup @bind-Value="@SelectStatusCheck">
                <Radio Value="1">ใช้</Radio>
                <Radio Value="2">ไม่ใช้</Radio>
            </RadioGroup>
        </div>
        <div class="row py-4">
            <div class="col-sm-12 col-md-8 mms-media-start">
                <Button Type="@ButtonType.Primary"><i class="fa-solid fa-circle-plus"></i> &nbsp; เพิ่ม</Button>
            </div>
            <div class="col-sm-12 col-md-4">
                <Space Direction="@DirectionVHType.Vertical" Class="mms-btn-serch w-100">
                    <SpaceItem>
                        <Search Placeholder="ข้อมูลที่ต้องการค้นหา.." EnterButton="true" />
                    </SpaceItem>
                </Space>
            </div>
        </div>
        <Table DataSource="listOfData" RowClassName="@(_=>"editable-row")" Bordered ScrollX="1000">
            <PropertyColumn Property="c=>c.Id" Title="ลำดับ" Width="5%" Align="ColumnAlign.Center" />
            <PropertyColumn Property="c=>c.HosName" Width="20%" Title="ประเภทสถานพยาบาล" Align="ColumnAlign.Center" />
            <PropertyColumn Property="c=>c.Frees" Title="อัตราค่าบริการ" Width="20%" Align="ColumnAlign.Center" />
            <PropertyColumn Property="c=>c.switchValue" Title="สถานะการใช้งาน" Width="15%" Align="ColumnAlign.Center">
                @if (context.switchValue == true)
                {
                    <span style="color:green">ใช้งาน</span>
                }
                else
                {
                    <span style="color:red">ปิดการใช้งาน</span>
                }
            </PropertyColumn>
            <PropertyColumn Property="c=>c.Id" Width="7%" Align="ColumnAlign.Center">
                <img class="mx-2" title="แก้ไข" src="helper_shared/PortalAdminImage/edit.png" style="width:24px;height:24px; cursor:pointer;" @onclick=@(() => goEdit(3)) />
            </PropertyColumn>
        </Table>
    </div>
</div>

@code {
    [Parameter]
    public EventCallback<int> IndexPage { get; set; }

    public async Task goEdit(int item)
    {
        await IndexPage.InvokeAsync(item);
    }
    public string txtValue { get; set; }
    public int SelectStatusCheck = 1;
    public class ItemData
    {
        public string Id { get; set; }
        public string HosName { get; set; }
        public int Frees { get; set; }
        public bool switchValue { get; set; }
    };
    List<ItemData> listOfData = new List<ItemData>
        {
            new ItemData
            {
                Id = "1",
                HosName = "EXHRT โรงพยาบาลตติยภูมิเฉพาะทางโรคหัว",
                Frees = 15000,
                switchValue = true
            },
            new ItemData
            {
                Id = "2",
                HosName = "EXHGH โรงพยาบาลตติยภูมิระดับสูง",
                Frees = 15000,
                switchValue = false
            },
             new ItemData
            {
                Id = "3",
                HosName = "EXHRT โรงพยาบาลตติยภูมิเฉพาะทางโรคหัว",
                Frees = 15000,
                switchValue = true
            },
            new ItemData
            {
                Id = "4",
                HosName = "EXHGH โรงพยาบาลตติยภูมิระดับสูง",
                Frees = 15000,
                switchValue = false
            },
        };

}
