@using System.ComponentModel.DataAnnotations;

@{
    RenderFragment okbutton =@<div style="color:#fff;">
        <Icon Type="save" Theme="outline" />
        บันทึก
    </div>;
    RenderFragment canclebutton =@<div>
        <Icon Type="close-circle" Theme="outline" />
        ยกเลิก
    </div>;
}
<Modal Title="@title"
       Visible="@_visible"
       OnOk="@HandleOk"
       OnCancel="@HandleCancel"
       OkText="@okbutton"
       CancelText="@canclebutton"
       Class="mms-media-center mms-text-title">
    <div class=" d-flex justify-content-center">
        <div class="bg-user-icon mms-text-center">
            <i class="fa-solid fa-user fa-4x" style="color: #1f3251;"></i>
        </div>
    </div>
    <div class="mms-txt-header mms-text-center" style="padding-bottom:10%;padding-top:10%;">กรุณาใส่รหัสผ่านเพื่อดำเนินการ</div>
    <Form Loading="loading" Model="@model"
          WrapperColSpan="24"
          OnFinish="OnFinish"
          OnFinishFailed="OnFinishFailed"
    @ref="@_form">

        <FormItem WrapperColSpan="24">
            <InputPassword @bind-Value="@context.Password" />
        </FormItem>
    </Form>
</Modal>

@code {
    string title = "อนุมัติคำสั่งจ่าย";
    private Model model = new Model();
    private Form<Model> _form;
    bool loading = false;

    [Parameter]
    public bool _visible { get; set; }
    [Parameter]
    public EventCallback<bool> OnClose { get; set; }

    private void OnFinish(EditContext editContext)
    {
        Console.WriteLine("e");
        _visible = false;
    }
    private void OnFinishFailed(EditContext editContext)
    {
        Console.WriteLine($"Failed:{JsonSerializer.Serialize(model)}");
    }
    private void HandleCancel(MouseEventArgs e)
    {
        Console.WriteLine(e);
        OnClose.InvokeAsync(false);
    }
    private void HandleOk(MouseEventArgs e)
    {
        _form.Submit();
    }



    public class Model
    {
        [Required]
        public string Username { get; set; }
        [Required]
        public string Password { get; set; }
        public bool RememberMe { get; set; } = true;
    }
}
