<style>
    .text-modal {
        color: #009934;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
    }
</style>

<Modal Title="@title"
       Visible="@_visible"
       OnCancel="@HandleCancel"
       Class="mms-media-center mms-text-title"
       Width="1300"
       Footer="null">
    <div class="mms-media-end">
        <div Class="col-3">
            <div class="d-flex">
                <div class="col-6 text-modal" style="color: #000 ; text-align :end">สถานะจ่าย :</div>
                <div class="col-6 text-modal">ลงลายมือชื่อสำเร็จ</div>

            </div>
        </div>
    </div>
    <Table DefaultExpandAllRows DataSource="listOfData" TreeChildren="item=>item.Children" Bordered ScrollY="800px">
            @{


            var SumPrice = listOfData
            .SelectMany(item => item.Children)
            .Sum(child => child.childPrice);
                
            

        }
        @if (context.Status == false)
        {
            <PropertyColumn Width="10%" Title="ลำดับ" Property="c => c.childId" ColSpan="@GetColSpan(context.Status)" Align="@columnAlign" Style="@GetColColor(context.Status)"></PropertyColumn>
            <PropertyColumn Width="20%" Title="เลขประจำตัวประชาชน" Property="c => c.childIden" ColSpan="@GetColSpan(context.Status)" Align="@columnAlign" Style="@GetColColor(context.Status)"></PropertyColumn>
        }
        <PropertyColumn Width="10%" Title="ชื่อ-นามสกุล" Property="c => c.Name" ColSpan="@GetColSpan(context.Status,"Name")" Align="@columnAlign" Style="@GetColColor(context.Status,"Name")"></PropertyColumn>
        @if (context.Status == false)
        {

            <PropertyColumn Width="20%" Title="เลขที่รับเเจ้ง" Property="c => c.childNumber" ColSpan="@GetColSpan(context.Status)" Align="@columnAlign" Style="@GetColColor(context.Status)"> </PropertyColumn>
            <PropertyColumn Width="15%" Title="วันที่ใช้สิทธิ" Property="c => c.childDate" ColSpan="@GetColSpan(context.Status)" Align="@columnAlign" Style="@GetColColor(context.Status)"> </PropertyColumn>
            <PropertyColumn Width="15%" Title="จำนวนเงิน" Property="c => c.childPrice" ColSpan="@GetColSpan(context.Status)" Align="@columnAlign" Style="@GetColColor(context.Status)"> </PropertyColumn>
            <PropertyColumn Width="10%" Title="วินิจฉัย" Property="c => c.childstatus" ColSpan="@GetColSpan(context.Status)" Align="@columnAlign" Style="color :#67C23A"> </PropertyColumn>
            <PropertyColumn Width="5%" Align="ColumnAlign.Center" Property="c => c.childId" Title="">
                @if (context.Status == false)
                {
                  
                    <img class="mx-2" title="ดู" src="helper_shared/PortalAdminImage/eye.png"
                         style="width:24px;height:24px; cursor:pointer;" />

                }
            </PropertyColumn>

            <SummaryRow>
                <SummaryCell Align=ColumnAlign.Right ColSpan="5">รวมทั้งหมด</SummaryCell>
                <SummaryCell Align=ColumnAlign.Center ColSpan="3">
                    <Text>@SumPrice</Text>
                </SummaryCell>
            </SummaryRow>
        }
    </Table>
</Modal>

@code {

    ColumnAlign columnAlign = ColumnAlign.Center;
    string title = "แสดงข้อมูลรายการเบิก";
    [Parameter]
    public bool _visible { get; set; }
    [Parameter]
    public EventCallback<bool> OnClose { get; set; }

    //public List<sso.mms.fees.admin.Shared.Dental.DentalCentralPublic.PaymentOrder.PaymentOrderWait.ItemData> listOfData { get; set; }
    List<sso.mms.fees.admin.Shared.Dental.DentalProvincial.PaymentOrder.PaymentOrderWait.ItemData> listOfData = new List<sso.mms.fees.admin.Shared.Dental.DentalProvincial.PaymentOrder.PaymentOrderWait.ItemData>
    {
        new sso.mms.fees.admin.Shared.Dental.DentalProvincial.PaymentOrder.PaymentOrderWait.ItemData
        {
            Id = "1",
            Code = "667834",
            Name = "โรงพยาบาลลานนา 1",
            Count = 2 ,
            Price = 111,
            Status  =true,
            Children = new List<sso.mms.fees.admin.Shared.Dental.DentalProvincial.PaymentOrder.PaymentOrderWait.ItemData>{
                new sso.mms.fees.admin.Shared.Dental.DentalProvincial.PaymentOrder.PaymentOrderWait.ItemData {
                    childId= "1",
                    childIden = "545454545",
                    Name = "ตลก",
                    childNumber = "123",
                    childDate = "1กค64",
                    childPrice = 2005,
                    childstatus = "อนุมัติ",
                    Status = false

                },
                new  sso.mms.fees.admin.Shared.Dental.DentalProvincial.PaymentOrder.PaymentOrderWait.ItemData{
                    childId= "2",
                    childIden = "99999",
                    childNumber = "9999",
                     Name = "ตลก",
                    childDate = "1กค64",
                    childPrice = 999999,
                    childstatus = "อนุมัติ",
                   Status = false
                }
            }

        },
        new sso.mms.fees.admin.Shared.Dental.DentalProvincial.PaymentOrder.PaymentOrderWait.ItemData
        {
            Id = "2",
            Code = "1212",
            Name = "โรงพยาบาลลานนา 2",
            Count = 2 ,
            Price = 2222,
            Status  =true,
            Children = new List<sso.mms.fees.admin.Shared.Dental.DentalProvincial.PaymentOrder.PaymentOrderWait.ItemData>{
                new sso.mms.fees.admin.Shared.Dental.DentalProvincial.PaymentOrder.PaymentOrderWait.ItemData {
                    childId= "1",
                    childIden = "545454545",
                    Name = "ตลก",
                    childNumber = "123",
                    childDate = "1กค64",
                    childPrice = 2005,
                    childstatus = "อนุมัติ",
                    Status = false

                },
                new sso.mms.fees.admin.Shared.Dental.DentalProvincial.PaymentOrder.PaymentOrderWait.ItemData{
                    childId= "2",
                    childIden = "99999",
                    childNumber = "9999",
                     Name = "ตลก",
                    childDate = "1กค64",
                    childPrice = 999999,
                    childstatus = "อนุมัติ",
                   Status = false
                }
            }

        },
        new sso.mms.fees.admin.Shared.Dental.DentalProvincial.PaymentOrder.PaymentOrderWait.ItemData
        {
            Id = "3",
            Code = "3232323",
            Name = "โรงพยาบาลลานนา 3",
            Count = 2 ,
            Price = 1111,
            Status  =true,
            Children = new List<sso.mms.fees.admin.Shared.Dental.DentalProvincial.PaymentOrder.PaymentOrderWait.ItemData>{
                new sso.mms.fees.admin.Shared.Dental.DentalProvincial.PaymentOrder.PaymentOrderWait.ItemData {
                    childId= "1",
                    childIden = "545454545",
                    Name = "ตลก",
                    childNumber = "123",
                    childDate = "1กค64",
                    childPrice = 2005,
                    childstatus = "อนุมัติ",
                    Status = false

                },
                new sso.mms.fees.admin.Shared.Dental.DentalProvincial.PaymentOrder.PaymentOrderWait.ItemData{
                    childId= "2",
                    childIden = "99999",
                    childNumber = "9999",
                     Name = "ตลก",
                    childDate = "1กค64",
                    childPrice = 999999,
                    childstatus = "อนุมัติ",
                   Status = false
                }
            }

        }

     };

    private void OnFinish(EditContext editContext)
    {
        Console.WriteLine("e");
        _visible = false;
    }
    private void OnFinishFailed(EditContext editContext)
    {
        //Console.WriteLine($"Failed:{JsonSerializer.Serialize(model)}");
    }
    private void HandleCancel(MouseEventArgs e)
    {
        Console.WriteLine(e);
        OnClose.InvokeAsync(false);
    }
    protected override void OnInitialized()
    {

    }

    private int GetColSpan(bool HosStatus, string columnTitle = "")
    {

        if (HosStatus == true)
        {
            if (columnTitle == "Name")
            {
                columnAlign = ColumnAlign.Left;
                return 8;
            }
            else
            {
                return 0;
            }
        }
        else
        {
            columnAlign = ColumnAlign.Center;
            return 1;
        }

    }
    private string GetColColor(bool HosStauts, string columnTitle = "")
    {
        if (HosStauts == true)
            if (columnTitle == "Name")
                return "background-color:#D8D6D6;";
            else
                return "";
        else
            return "";
    }

}