

<div class="site-layout-background" style="padding: 24px;">
    <div class="mms-nav-title">
        <div class="mms-text-title px-4 py-3">กรณีฟอกเลือดด้วยเครื่องไตเทียม และกรณีการให้ยา Erythropoietin</div>
    </div>

    <div class="container py-4">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">

                <li class="breadcrumb-item" aria-current="page" @onclick=@(()=>GoPage(1))>
                    <span class="breadcum-process py-2">รายการที่รอใบขอเบิก</span>
                </li>
                <li class="breadcrumb-item" aria-current="page">
                    <span class="breadcum-process py-2"> งวด 660802</span>
                </li>

            </ol>
        </nav>
        <div style="padding-top:15px;">



            <div class="d-flex">
                <div class="col-4"></div>
                <div class="col-4 mms-media-center">
                    <Button Type="@ButtonType.Primary" style="padding :4px 30px" @onclick=@(()=>GoPage(4))>ประมวลผลรายการเบิก</Button>
                </div>

                <div class="col-4 mms-media-end">
                    <Space Direction="@DirectionVHType.Vertical" Class="mms-btn-serch  col-12">
                        <SpaceItem>
                            <Search Placeholder="ชื่อสถานพยาบาล" EnterButton="true" />
                        </SpaceItem>
                    </Space>
                </div>

            </div>

            <div class="d-flex mms-media-start mms-txt-headdetail">
                รายการที่สถานพยาบาลส่งเบิก : งวดที่
                <Button Type="@ButtonType.Primary" Disabled style="margin-left: 10px">Text 555</Button>
            </div>



            <hr />
            <div class="d-flex ">
                <div class="col-xl-3 mms-media-start">
                    <div class="mms-txt-headdetail" style="width:55%;">น้ำหนัก</div>&nbsp;
                    <Input @bind-Value="@x" Disabled="true" />
                </div>
                <div class="col-xl-4 mms-media-center">
                    <div class="mms-txt-headdetail" style="width:55%;">ส่วนสูง</div>&nbsp;
                    <Input @bind-Value="@x" Disabled="true" />
                </div>
                <div class="col-xl-5 mms-media-end">
                    <div class="mms-txt-headdetail" style="width:55%;">ความดัน</div>&nbsp;
                    <Input @bind-Value="@x" Disabled="true" />
                </div>
            </div>

            <hr />
            <Table DataSource="data" TItem="Data" RowClassName="@(_=>"editable-row")" Bordered>
                <ChildContent Context="data">

                    <Column Width="15%" Align="ColumnAlign.Center" TData="string" Title="ลำดับ">@data.id</Column>
                    <Column Width="10%" Align="ColumnAlign.Center" Title="รหัสสถานพยาบาล" TData="string">@data.code</Column>
                    <Column Width="10%" Align="ColumnAlign.Center" Title="ชื่อสถานพยาบาล" TData="string">@data.name</Column>
                    <Column Width="10%" Align="ColumnAlign.Center" Title="จำนวนรายผู้ประกันตน" TData="string">@data.count</Column>
                    <Column Width="10%" Align="ColumnAlign.Center" Title="จำนวนเงิน" TData="string">@data.price</Column>
                    <Column Width="5%" Align="ColumnAlign.Center" TData="string" Title="">
                        <img title="ดู" src="helper_shared/PortalAdminImage/eye.png" @onclick=@(() => OpenModal(true))
                             style="width:24px;height:24px; cursor:pointer;" />
                    </Column>
                </ChildContent>
            </Table>

        </div>
    </div>
</div>
<ViewModal OnClose="OpenModal" _visible=openModal/>

@using sso.mms.fees.admin.Shared.Hemodialysis.RequestingWithdrawal.Modal;
@code {

    [Parameter]
    public EventCallback<int> IndexPage { get; set; }
    [Parameter]
    public int Page { get; set; }
    [Parameter]
    public int Id { get; set; }
    List<Data> data = new List<Data>();
    string select;
    string x = "2";
    bool openModal ;

    public async Task Indexpage(int usepage)
    {
        IndexPage.InvokeAsync(usepage);
    }
    public void GoPage(int page)
    {
        Indexpage(page);
    }

    public class Data
    {
        public int id { get; set; }

        public string code { get; set; }

        public string name { get; set; }

        public int count { get; set; }
        public string price { get; set; }
    }
    protected override void OnInitialized()
    {
        data = new List<Data>
        {
            new Data
            {
                id = 1,
                code = "1001",
                name = "โรงพยาบาลสระบุรี",
                count = 1,
                price = "1900"
            },
            new Data
            {
                id = 1,
                code = "1001",
                name = "โรงพยาบาลสระบุรี",
                count = 1,
                price = "1900"
            }
        };
    }
    public void OpenModal(bool value){
        openModal = value;
    }
}
