@inject IConfirmService _confirmService
@inject ModalService _modalService
@inject IMessageService _message


<Modal Title="@title"
       Visible="@_visible"
       OnOk="@HandleOk"
       OnCancel="@HandleCancel"
       Width = "1500"
       Footer="@(new RenderFragment((builder) => { builder.OpenElement(0, "div"); builder.AddAttribute(1, "style", "text-align: right;"); builder.AddMarkupContent(2, @"<Button OnClick='@HandleCustomButton'>ย้อนกลับ</Button>"); builder.CloseElement(); }))">
    >
    <div class="mt-3">
        <Table DataSource="data" ScrollX="1500" OnChange="OnChange" TItem="Data">
            <Column Title="ลำดับ" DataIndex="No" TData="int" Align="ColumnAlign.Center" Style="background: #EAE8EC;" />
            <Column Title="งวดการจ่าย" DataIndex="Year" TData="string" Align="ColumnAlign.Center" Style="background: #EAE8EC;" />
            <Column Title="ยอดเงินรวม (บาท)" DataIndex="SumAmount" TData="string" Align="ColumnAlign.Center" Style="background: #EAE8EC;" />
            <Column Title="ลำดับ" DataIndex="No" TData="int" Align="ColumnAlign.Center" Style="background: #EAE8EC;" />
            <Column Title="งวดการจ่าย" DataIndex="Year" TData="string" Align="ColumnAlign.Center" Style="background: #EAE8EC;" />
            <Column Title="ยอดเงินรวม (บาท)" DataIndex="SumAmount" TData="string" Align="ColumnAlign.Center" Style="background: #EAE8EC;" />
            <Column Title="ลำดับ" DataIndex="No" TData="int" Align="ColumnAlign.Center" Style="background: #EAE8EC;" />
            <Column Title="งวดการจ่าย" DataIndex="Year" TData="string" Align="ColumnAlign.Center" Style="background: #EAE8EC;" />
            <Column Title="ยอดเงินรวม (บาท)" DataIndex="SumAmount" TData="string" Align="ColumnAlign.Center" Style="background: #EAE8EC;" />
            <Column Title="งวดการจ่าย" DataIndex="Year" TData="string" Align="ColumnAlign.Center" Style="background: #EAE8EC;" />
            <Column Title="ยอดเงินรวม (บาท)" DataIndex="SumAmount" TData="string" Align="ColumnAlign.Center" Style="background: #EAE8EC;" />
            <Column Title="" DataIndex="Detail" TData="string" Align="ColumnAlign.Center" Style="background: #EAE8EC;" >
            <img class="mx-2" src="helper_shared/PortalAdminImage/eye.png" /></Column>
        </Table>
    </div>

</Modal>
@code {
    string title = "45650 โรงพยาบาล1 รายละเอียดการเบิกจ่าย";
    [Parameter]
    public bool _visible { get; set; }

    [Parameter]
    public EventCallback<bool> OnOpen { get; set; }

    public record Data(int No, string Year, string SumAmount, string Detail);

    public Data[] data =
    {
        new(1,"2566/3","128,000.00",""),
        new(2,"2566/2","128,000.00",""),
        new(3,"2566/1","128,000.00",""),
    };

    void OnChange(QueryModel<Data> query)
    {
        Console.WriteLine(JsonSerializer.Serialize(query));
    }


    /// <inheritdoc />
    protected override void OnInitialized()
    {
        base.OnInitialized();
    }



    private void HandleOk(MouseEventArgs e)
    {
        Console.WriteLine(e);
        _visible = false;
    }

    private void HandleCancel(MouseEventArgs e)
    {
        Console.WriteLine(e);
        _visible = false;
    }

    private void ShowModal()
    {
        _visible = true;
    }

    private void HandleCustomButton()
    {
        // Handle the custom button action
        _visible = false; // You can close the modal or perform other actions
    }
}