@using sso.mms.fees.admin.Shared.RiskExposure.ChoronicDisease.Components.FormulaList


<style>
    .text-lable {
        color: #334396;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Noto Sans Thai;
        font-size: 19px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%; /* 28.5px */
    }
</style>

<div class="site-layout-background" style="padding: 24px;">
    <div class="mms-nav-title">
        <div class="mms-text-title px-4 py-3">ค่าบริการทางการแพทย์ตามภาระเสี่ยง</div>
    </div>
    <div class="container py-4">
        <div class="mms-txt-header py-2">กำหนดสูตรการคำนวณ</div>
        <hr />
        <div class="p-2 py-4">
            <div class="row w-100">
                <div class="col-1" style="width:141px">
                    <span class="text-lable">วันที่แก้ไขล่าสุด</span> &nbsp;
                </div>
                <div class="col">
                    <DatePicker TValue="DateTime?" Picker="@DatePickerType.Date" Format="dd/MM/yyyy" />
                </div>
                <div class="col-1" style="width:141px">
                    <span class="text-lable">แก้ไขล่าสุดโดย</span> &nbsp;
                </div>
                <div class="col">
                    <Input Placeholder="Basic usage" @bind-Value="@txtValue1" />
                </div>
            </div>
            <div class="row w-100">
                <div class="col-1" style="width:141px">
                    <span class="text-lable">ปีงบประมาณ</span> &nbsp;
                </div>
                <div class="col" style="margin-bottom: 0px;">
                    <Input Placeholder="Basic usage" @bind-Value="@txtValue2" />
                </div>
                <div class="col-1" style="width:141px">
                    <span class="text-lable">อัตราค่าบริการ</span> &nbsp;
                </div>
                <div class="col" style="margin-bottom: 0px;">
                    <Input Placeholder="Basic usage" @bind-Value="@txtValue3" />&nbsp;
                </div>
                <div class="col-1" style="width:141px">
                    <span class="text-lable" style="color:gray;font-size:14px">บาท/ราย/ปี</span>
                </div>
            </div>
            <div class="row w-100">
                <div class=" col-1" style="width:177px">
                    <span class="text-lable">อัตราฐานผู้ป่วยนอก</span> &nbsp;
                </div>
                <div class="col">
                    <Input Placeholder="Basic usage" @bind-Value="@txtValue4" />
                </div>
                <div class="col-1" style="width:177px">
                    <span class="text-lable">อัตราฐานผู้ป่วยใน</span>&nbsp;
                </div>
                <div class="col">
                    <Input Placeholder="Basic usage" @bind-Value="@txtValue5" />
                </div>
            </div>
        </div>
        <div class="p-1">
            <div class="mms-media-between">
                <div class="mms-txt-header">
                    สัดส่วนระยะเวลาการดูแลผู้ป่วยโรคเรื้อรัง
                </div>
                <div>
                    <Button Type="@ButtonType.Primary" OnClick="@(()=>{ _visible1 = true; })">
                        <i class="fa-solid fa-circle-plus"></i> &nbsp; เพิ่ม
                    </Button>
                </div>
            </div>
            <ChoronicDiseasePeriodTable></ChoronicDiseasePeriodTable>
        </div>

        <div class="p-1 pt-5">
            <div class="mms-media-between">
                <div class="mms-txt-header">
                    สัดส่วนวงเงินงบประมาณ
                </div>
                <div>
                    <Button Type="@ButtonType.Primary" OnClick="@(()=>{ _visible2 = true; })">
                        <i class="fa-solid fa-circle-plus"></i> &nbsp; เพิ่ม
                    </Button>
                </div>
            </div>
            <PeriodBudgetTable></PeriodBudgetTable>
        </div>
        <div class="mms-media-end py-2">
            <Button Type="@ButtonType.Primary" @onclick=@(() => goEdit(3))>
                <i class="fa-solid fa-floppy-disk"></i> &nbsp; บันทึก
            </Button>
        </div>
    </div>
</div>

<Modal Visible="@_visible1"
       OnOk="@HandleOk"
       OnCancel="@HandleCancel"
       OkText="@_okText"
       CancelText="@_cancelText">
    <div class="mms-media-center flex-column p-2">
        <h6>ค้นหา ICD10 โรคเรื้อรัง</h6>
        <Space Direction="@DirectionVHType.Vertical" Class="mms-btn-serch w-50">
            <SpaceItem>
                <Search Placeholder="ข้อมูลที่ต้องการค้นหา.." EnterButton="true" />
            </SpaceItem>
        </Space>
    </div>

</Modal>

<Modal Visible="@_visible2"
       OnOk="@HandleOk"
       OnCancel="@HandleCancel"
       OkText="@_okText"
       CancelText="@_cancelText">
    <div class="mms-media-center flex-column p-2">
        <h6>ค้นหา ICD10 โรคแทรกซ้อน</h6>
        <Space Direction="@DirectionVHType.Vertical" Class="mms-btn-serch w-50">
            <SpaceItem>
                <Search Placeholder="ข้อมูลที่ต้องการค้นหา.." EnterButton="true" />
            </SpaceItem>
        </Space>
    </div>

</Modal>

@code {
    string txtValue1 { get; set; }
    string txtValue2 { get; set; }
    string txtValue3 { get; set; }
    string txtValue4 { get; set; }
    string txtValue5 { get; set; }

    bool switchValue { get; set; }

    string _okText = "ยืนยัน";
    string _cancelText = "ยกเลิก";
    bool _visible1 = false;
    bool _visible2 = false;

    private void HandleOk(MouseEventArgs e)
    {
        Console.WriteLine(e);
        _visible1 = false;
        _visible2 = false;
    }

    private void HandleCancel(MouseEventArgs e)
    {
        Console.WriteLine(e);
        _visible1 = false;
        _visible2 = false;
    }

    [Parameter]
    public EventCallback<int> IndexPage { get; set; }


    public async Task goEdit(int item)
    {
        await IndexPage.InvokeAsync(item);
    }

    RenderFragment _audioIcon =@<Icon Type="audio" Theme="outline" Style="color: #1890ff" />;

    public class Todo
    {
        public int UserId { get; set; }
        public int Id { get; set; }
        public string Title { get; set; }
        public bool Completed { get; set; }

        public Todo()
        {
        }
    }

    Todo[] todos;

}
