<Modal Title="@title"
       Visible="@_visible"
       OnOk="@HandleOk"
       OnCancel="@HandleCancel"
       
       CancelText="@canclebutton"
       Width="1300"
       WrapClassName="modalstyle"
Footer=null>
    <span style="padding-left: 10%;" class="mms-txt-header">ชื่อสถานพยาบาล : โรงพยาบาล1</span>
    <br />
    <Form Loading="loading" Model="@model"
          
          OnFinish="OnFinish"
          OnFinishFailed="OnFinishFailed"
         
    @ref="@_form">
    <div class="d-flex my-3 mx-2">

        <div class="col-8">

            <div class="col-12 my-3">
                <div class="d-flex">
                     <div class="col-4 mx-2">
                            <div class="mms-txt-headdetail mms-media-end">
                             

                        วันที่ออกให้บริการ :
                                
                        </div>
                    </div>
                    <div class="col-3 mms-media-center">
                        <DatePicker @bind-Value="@context.DatePicker2" Picker="@DatePickerType.Date" Format="dd/MM/yyyy" Placeholder="Placeholder" />

                    </div>
                        <div class="mms-txt-headdetail d-flex justify-content-center align-items-center " style="width:60px; ">
                            <div style="text-align:center;">
                        ถึง : 

                            </div>
                        </div>
                    <div class="col-3 mms-media-center">

                        <DatePicker @bind-Value="@context.DatePicker3" Picker="@DatePickerType.Date" Format="dd/MM/yyyy" Placeholder="Placeholder" />
                    </div>

                </div>

            </div>
            <div class="col-12 my-3">
                <div class="d-flex">
                    <div class="col-4 mx-2">
                            <div class="mms-txt-headdetail mms-media-end">
                        สถานที่ออกให้บริการ :

                        </div>
                    </div>
                    <div class="col-6">

                        <input type="text" @bind-value="@context.PlaceOfservice" class="input-c form-control" readonly>
                    </div>
                </div>

            </div>
            <div class="col-12 my-3">
                <div class="d-flex">
                    <div class="col-4 mx-2">
                            <div class="mms-txt-headdetail mms-media-end">

                        รถที่ออกให้บริการ :
                        </div>
                    </div>
                    <div class="col-6">

                        <input type="text" @bind-value="@context.PlaceOfservice" class="input-c form-control" readonly>
                    </div>
                </div>

            </div>
            <div class="col-12 my-3">
                <div class="d-flex">
                    <div class="col-4  mx-2">
                            <div class="mms-txt-headdetail mms-media-end">
                        จังหวัดปลายทาง :

                        </div>
                    </div>
                    <div class="col-6">

                        <input type="text" @bind-value="@context.PlaceOfservice" class="input-c form-control" readonly>
                    </div>
                </div>

            </div>
            <div class="col-12 my-3">
                <div class="d-flex">
                    <div class="col-4 mx-2">
                            <div class="mms-txt-headdetail mms-media-end">

                        แนบไฟล์ใบอนุญาต สธ. :
                        </div>
                    </div>
                    <div class="col-6">

                            <a class="mms-txt-headdetail" href="@context.FileUrl">@context.FileName</a>
                    </div>
                </div>

            </div>
            <div class="col-12 my-3">
                <div class="d-flex">
                    <div class="col-4  mx-2">
                            <div class="mms-txt-headdetail mms-media-end">
                            รายละเอียดการขอเเก้ไข :

                        </div>
                        </div>
                    <div class="col-6">

                        <TextArea @bind-Value="@context.EditDetail" />
                    </div>
                </div>

            </div>



        </div>
            <div class="col-4">
                <div class="col-12 my-3">
                    <div class="d-flex">
                        <div class="col-4 mms-txt-headdetail">
                            <div class="">

                            การอนุญาต :
                        </div>
                        </div>
                        <div class="col-6 mms- ">
                            @if(status == "1")
                            {
                                <div class="mms-txt-headdetail" >
                                    
                            ไม่อนุญาติ
                                </div>
                            }
                            @if(status == "2")
                            {
                                <div class="mms-txt-headdetail" style="color:#67C23A">

                                    อนุญาติ
                                </div>
                            }
                            @if (status == "3")
                            {
                                <div class="mms-txt-headdetail">

                                   -
                                </div>
                            }
                        </div>
                    </div>

                </div>
                @if (status == "1")/*ไม่อนญาติ*/
                {
                    <div class="col-12 my-3">
                        
                            <div class="col-4  mms-txt-headdetail">
                                <div class="">

                                หมายเหตุ<span style = "color :red">*</span>
                                 </div>
                            </div>


                            <TextArea  Rows="5"@bind-Value="@context.EditDetail" />

                       

                    </div>
                }
            </div>
    </div>
    </Form>
    <div class="d-flex justify-content-end my-4 mt-4">
        

        &nbsp;&nbsp;
        <div class="mt-4 pt-2">
            <Button Type="@ButtonType.Primary" ><i class="fa-solid fa-floppy-disk"></i> &nbsp; บันทึก</Button>
        </div>
    </div>
</Modal>
<style >
    .center{
        justify-content:center;
        align-items : center;
    }

    .modalstyle .ant-modal-header {
        padding: 16px 24px;
        color: rgb(255 255 255) !important;
        background: #F56C6C !important;
        border-bottom: 1px solid #ffffff;
        border-radius: 6px 6px 0 0 !important;
    }
</style>
@code {
    [Parameter]
    public bool _visible { get; set; }

    public string status = "1";
    [Parameter]
    public EventCallback<bool> OnClose { get; set; }
    string title = "จัดการคำขอใช้รถทันตกรรม อนุญาต / เเก้ไขข้อมูล";

    string Placeholder = "วว/ดด/ปปปป";
    string style = "height:30px;line-height:30px;";
    bool loading = false;
    RenderFragment _audioIcon =@<Icon Type="audio" Theme="outline" Style="color: #1890ff" />;
  
    RenderFragment canclebutton =@<div style="mms-txt-headdetail">
        <Icon Type="close-circle" Theme="outline" />
        ยกเลิก
    </div>;
    private void HandleCancel(MouseEventArgs e)
    {
        Console.WriteLine(e);
        _visible = false;
    }
    private async void HandleOk(MouseEventArgs e)
    {
        _form.Submit();

    }
    string _selectedValue;
    public class Model
    {

        public string Username { get; set; }

        public string Password { get; set; }
        public string PlaceOfservice { get; set; }

        public string Note { get; set; }

        public bool Permission { get; set; } = false;
        public DateTime? DatePicker2 { get; set; }
        public DateTime? DatePicker3 { get; set; }
        public string Car { get; set; }
        public string DestinationProvince { get; set; }
        public string FileName { get; set; } = "ใบอนุญาต.pdf";
        public string FileUrl { get; set; }
        public string EditDetail { get; set; }
    }

    private Model model = new Model();
    private Form<Model> _form;
    private void OnFinish(EditContext editContext)
    {
        Console.WriteLine($"Success:{JsonSerializer.Serialize(model)}");
    }

    private void OnFinishFailed(EditContext editContext)
    {
        Console.WriteLine($"Failed:{JsonSerializer.Serialize(model)}");
    }
}