@using sso.mms.fees.admin.Shared.Covid19.DisapprovedHistory.Modal
@using sso.mms.fees.admin.Components
@using System.ComponentModel.DataAnnotations;
@using System.Text.Json;
@using System.ComponentModel;
@using Blazored.LocalStorage;
@using sso.mms.fees.admin.Shared.MedicalSpeciaList.DisapprovedHistoryMedic.Modals
@inject ILocalStorageService _localstorage;
@inject SweetAlertService Swal;


<style>
    .bg-color-gray {
        background-color: #D8D6D6;
    }

</style>

@if (_visible1 == true)
{
    <style>
        .ant-modal-header {
            background-color: #F56C6C !important;
        }
    </style>
}
<div class="site-layout-background" style="padding: 24px;">
    <div class="mms-nav-title">
        <div class="mms-text-title px-4 py-3">การรักษาโดยแพทย์ผู้เชี่ยวชาญพิเศษเฉพาะทางและการทำหมัน</div>
    </div>

    <div class="container py-4">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page">
                    <span class="breadcum-success py-2">ประวัติรายการเบิกจ่ายที่ไม่อนุมัติ</span>
                </li>
                <li class="breadcrumb-item" aria-current="page">
                    <span class="breadcum-process py-2">เเสดงรายการประวัติรายการที่ไม่มีสิทธิ</span>
                </li>

            </ol>
        </nav>
        <div style="padding-top:15px;">
            <div class="mms-txt-headdetail">ช่วงเวลา</div>
            <div class="row pt-3">
                
                <div class="col-xl-2">
                    <div class="row">

                        <div class="col-sm-12 col-md-12">
                            <DatePicker @bind-Value="@startDate" Picker="@DatePickerType.Date" Format="dd/MM/yyyy" />

                        </div>
                    </div>
                </div>
                <div class="col-xl-4 px-4">
                    <div class="row pb-2">
                        <div class="col-sm-12 col-md-2">
                            <div class="mms-txt-headdetail">ถึง</div>
                        </div>
                        <div class="col-sm-12 col-md-7">
                            <DatePicker @bind-Value="@endDate" Picker="@DatePickerType.Date" Format="dd/MM/yyyy" />
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 mms-media-end">
                    <Space Direction="@DirectionVHType.Vertical" Class="mms-btn-serch" Style="width: 50%">
                            <SpaceItem>
                                <Search Placeholder="ข้อมูลที่ต้องการค้นหา.." EnterButton="true" />
                            </SpaceItem>
                        </Space>
                    </div>
            </div>


            <hr />
            <Table  DataSource="data"  Bordered>

                    <PropertyColumn Property="c=>c.Id" Title="ลำดับ" Align="ColumnAlign.Center"  Width="10%"  />
                    <PropertyColumn Property="c=>c.Name" Title="รหัส" Align="ColumnAlign.Center" Width="15%"  />


                    <PropertyColumn Property="c=>c.CardId" Title="ชื่อสถานพยาบาล" Align="ColumnAlign.Center"  Width="20%" />
                    <PropertyColumn Property="c=>c.CardId" Title="จำนวนรายการ" Align="ColumnAlign.Center"  Width="15%" />
                    <PropertyColumn Property="c=>c.Date" Title="จำนวนเงิน(บาท)" Align="ColumnAlign.Center"  Width="15%" />

                    <PropertyColumn Property="c=>c.Age" Title="สถานะวินิจฉัย" Align="ColumnAlign.Center"  Width="15%"/>
                    
                    <ActionColumn Width="10%" Align="ColumnAlign.Center">
                        <CellRender Context="cellData">
                            <div class="mms-media-between">
                            <img class="mx-2" title="เรียกดู" src="helper_shared/PortalAdminImage/eye.png" style="width:24px;height:24px; cursor:pointer;" @onclick=@(()=>OpenViewDataModall(true)) />
                                <img class="mx-2" title="เรียกดู" src="helper_shared/FeesAdminImage/AlertNoBg.png" style="width:24px;height:24px; cursor:pointer;" @onclick="(() => opendModal())" />
                            </div>
                        </CellRender>
                    </ActionColumn>

                
            </Table>

        </div>
    </div>
</div>
@{
    RenderFragment footer =@<Template>
        <Button OnClick="@HandleEditCancel" @key="@( "submit" )" style="padding: 4px 30px" Type="@ButtonType.Default">
            <i class="fa-regular fa-circle-xmark"></i>&nbsp; ยกเลิก

        </Button>
        <Button OnClick="@HandleEditOk" @key="@( "back" )" Type="primary" style="padding: 4px 30px"><i class="fa-regular fa-circle-check"></i>&nbsp; ยืนยัน</Button>
    </Template>
    ;
}

<Modal Title="รายการเบิกที่ไม่ผ่านการประมวลผล"
       Visible="@_visible1"
       OnOk="@HandleOk"
       OnCancel="@HandleCancel"
       Width="1200"
       Footer="null">

    <ViewDescription></ViewDescription>


</Modal>

<ViewDataModal _visible=@openViewDataModal OnClose="@OpenViewDataModall"></ViewDataModal>

@if (isloading == true)
{
    <style>
        body {
            overflow: hidden;
        }</style>

    <LoadingPage></LoadingPage>
}
@if (IsOpenModal == true)
{
    <VerifyAdminIdentity Username="@username" OnClose="Onclose"></VerifyAdminIdentity>
}
@code {


    ColumnAlign columnAlign = ColumnAlign.Left;
    [Parameter]
    public EventCallback<int> IndexPage { get; set; }

    IEnumerable<Data> selectedRows;
    public DateTime? startDate;
    public DateTime? endDate;
    public int page;
    bool openConfirmModal { get; set; }
    bool openViewDataModal { get; set; }
    public bool IsOpenModal = false;
    string Placeholder = "วว/ดด/ปปปป";
    bool _visible = false;
    bool isloading = false;
    string select { get; set; }
    List<Data> _data;
    public bool _visible1 = false;
    public bool _visible2 = false;
    public string username { get; set; }
    public class Data
    {
        public bool HosStatus { get; set; }

        public string Id { get; set; }

        public string Key { get; set; }
        public string CardId { get; set; }

        public string Name { get; set; }

        public int Age { get; set; }
        public string NotiId { get; set; }
        public string Date { get; set; }

        public string Address { get; set; }

        public List<Data> Children { get; set; }
    }

    List<Data> data = new List<Data>();

    public async Task Onclose(bool isOk)
    {
        if (isOk)
        {
            isloading = false;
            StateHasChanged();
            await Swal.FireAsync(
                    "ดำเนินการเรียบร้อยแล้ว",
                    null,
                    SweetAlertIcon.Success
                    );
            IsOpenModal = false;
        }
        else
        {
            isloading = false;
            StateHasChanged();
            await Swal.FireAsync(
                    "Username หรือ Password ไม่ถูกต้อง",
                    null,
                    SweetAlertIcon.Error
                    );

        }
    }

    public void OpenViewDataModall(bool value)
    {
        openViewDataModal = value;
    }

    private int CalculateTotalChildrenAge(List<Data> children)
    {
        int totalAge = 0;
        foreach (var child in children)
        {
            totalAge += child.Age;
        }
        return totalAge;
    }



    string _selectedValue;

    private void HandleEditOk(MouseEventArgs e)
    {
        Console.WriteLine(e);
        _visible2 = false;
        IsOpenModal = true;
        StateHasChanged();
    }

    private void HandleEditCancel(MouseEventArgs e)
    {
        Console.WriteLine(e);
        _visible2 = false;
    }
    private void HandleOk(MouseEventArgs e)
    {
        Console.WriteLine(e);
        _visible1 = false;
    }

    private void HandleCancel(MouseEventArgs e)
    {
        Console.WriteLine(e);
        _visible1 = false;
    }
    public async void opendModal()
    {

        _visible1 = true;
    }

    public async void opendEdit()
    {

        _visible2 = true;
    }
    private int GetColSpan(bool HosStatus, string columnTitle = "", string key = "")
    {

        if (HosStatus == true)
        {
            if (columnTitle == "name")
            {

                columnAlign = ColumnAlign.Left;
                return 15;
            }
            else
            {
                return 0;
            }
        }
        else
        {
            columnAlign = ColumnAlign.Center;
            return 1;
        }

    }

    private string GetColColor(bool HosStauts, string columnTitle = "")
    {
        if (HosStauts == true)
            if (columnTitle == "name")
                return "background-color:#D8D6D6;";
            else
                return "";
        else
            return "";
    }
    private string GetRowColor(int index)
    {
        if (index == 1)
            if (index == 1)
                return "background-color:#D8D6D6;";
            else
                return "";
        else
            return "";
    }
    int totalAge;

    protected override async Task OnInitializedAsync()
    {
        isloading = true;
        username = await _localstorage.GetItemAsync<String>("username");
        data = new List<Data>
    {
        new Data {
            HosStatus  = true,
            Id = "1",
            Key = "1",
            Name = "โรงพยาบาลลานนา1",
            Address = "New York No. 1 Lake Park",
            Children = new List<Data> {
                new Data {
                    Id = "1",
                    Key = "sum",
                    CardId="123467890xxx",
                    NotiId="11145678",
                    Date="23 มิ.ย 67",
                    Name = "นายดวงดี  วิชัยวงศ์",
                    Age = 900,
                    Address = "London No. 1 Lake Park",
                    HosStatus  = false
                },
                new Data {
                    Id = "2",
                    Key= "sum",
                     CardId="123467890xxx",
                     NotiId="11145678",
                      Date="23 มิ.ย 67",
                    Name= "นางวันเพ็ญ  เด่นใจ",
                    Age=900,
                    Address= "New York No. 3 Lake Park",
                     HosStatus  = false

                },
                 new Data {
                    Id = "3",
                    Key= "sum",
                     CardId="123467890xxx",
                     NotiId="11145678",
                      Date="23 มิ.ย 67",
                    Name= "นางวันเพ็ญ  เด่นใจ",
                    Age=900,
                    Address= "New York No. 3 Lake Park",
                     HosStatus  = false

                },
                new Data {
                    Id = "4",
                    Key= "sum",
                     CardId="123467890xxx",
                     NotiId="11145678",
                      Date="23 มิ.ย 67",
                    Name= "นางวันเพ็ญ  เด่นใจ",
                    Age=900,
                    Address= "New York No. 3 Lake Park",
                     HosStatus  = false

                },
                 new Data {
                    Id = "5",
                    Key= "sum",
                     CardId="123467890xxx",
                     NotiId="11145678",
                      Date="23 มิ.ย 67",
                    Name= "นางวันเพ็ญ  เด่นใจ",
                    Age=900,
                    Address= "New York No. 3 Lake Park",
                     HosStatus  = false

                },
            }
        },
        new Data {
              HosStatus  = true,
            Id = "1",
            Key = "2",
            Name = "โรงพยาบาลลานนา2",
            Address = "Sidney No. 1 Lake Park",
             Children = new List<Data>  {
                 new Data {
                    Id = "1",
                    Key = "sum",
                    CardId="123467890xxx",
                    NotiId="11145678",
                    Date="23 มิ.ย 67",
                    Name = "นายดวงดี  วิชัยวงศ์",
                    Age = 900,
                    Address = "London No. 1 Lake Park",
                     HosStatus  = false
                },
                new Data {
                    Id = "2",
                    Key= "sum",
                     CardId="123467890xxx",
                     NotiId="11145678",
                      Date="23 มิ.ย 67",
                    Name= "นางวันเพ็ญ  เด่นใจ",
                    Age=900,
                    Address= "New York No. 3 Lake Park",
                     HosStatus  = false

                },
                 new Data {
                    Id = "3",
                    Key= "sum",
                     CardId="123467890xxx",
                     NotiId="11145678",
                      Date="23 มิ.ย 67",
                    Name= "นางวันเพ็ญ  เด่นใจ",
                    Age=900,
                    Address= "New York No. 3 Lake Park",
                     HosStatus  = false

                },
                 new Data {
                    Id = "4",
                    Key= "sum",
                     CardId="123467890xxx",
                     NotiId="11145678",
                      Date="23 มิ.ย 67",
                    Name= "นางวันเพ็ญ  เด่นใจ",
                    Age=900,
                    Address= "New York No. 3 Lake Park",
                     HosStatus  = false

                }

            }
        }
    };
        foreach (var item in data)
        {

            totalAge = CalculateTotalChildrenAge(item.Children.ToList());


        }

        isloading = false;
        StateHasChanged();
    }




    public void OpenConfirmModal(bool value)
    {
        openConfirmModal = value;
    }
    public void OpenViewDataModal(bool value)
    {
        openViewDataModal = value;
    }
    public async Task Indexpage(int usepage)
    {
        this.page = usepage;
        if (this.page == 2)
        {
            IndexPage.InvokeAsync(2);
        }
    }
}
