@using AntDesign.TableModels;
@using System.Text.Json;
@inject NavigationManager Navigation;

<div class="site-layout-background" style="padding: 24px;">
    <div class="mms-nav-title">
        <div class="mms-text-title px-4 py-3">บำรุงรักษาอวัยวะสภากาชาดไทย</div>
    </div>
    <div class="p-2 p-md-5">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page">
                    <span class="breadcum-sucress py-2">บันทึกค่าบำรุงรักษาอวัยวะ</span>
                </li>
                <li class="breadcrumb-item" aria-current="page">
                    <span class="breadcum-process py-2">รายการที่บันทึก</span>
                </li>
            </ol>
        </nav>
        <hr />
        <div class="row py-4">
            <div class="col-sm-12 col-md-6 mms-media-start">
                <Button Type="@ButtonType.Primary" @onclick="(() => OMMCallmodal(true))"><i class="fa-solid fa-circle-plus"></i> &nbsp; เพิ่ม</Button>&nbsp;
                <Button Type="@ButtonType.Primary" disabled="@(selectedRows?.Count() == 0 || selectedRows == null)" @onclick="(() => OMCompleted(true))">
                    <i class="fa-solid fa-right-to-bracket"></i> &nbsp; ส่งรายการที่เลือกเพื่อส่งเบิก
                </Button>
            </div>
            <div class="col-sm-12 col-md-6 mms-media-end">
                <Space Direction="@DirectionVHType.Vertical" Class="mms-btn-serch w-75">
                    <SpaceItem>
                        <Search Placeholder="ข้อมูลที่ต้องการค้นหา.." EnterButton="true" />
                    </SpaceItem>
                </Space>
            </div>
        </div>
        <Table DataSource="listOfData" TItem="ItemData" RowClassName="@(_=>"editable-row")" @bind-PageSize="pageSize" Bordered ScrollX="1000" @bind-SelectedRows="selectedRows">
            <ChildContent Context="data">
                <Selection Width="3%" Key="@data.Id.ToString()" />
                <Column TData="string" Title="ลำดับ" Style="text-align:center;">
                    @String.Format("{0:d}", listOfData.IndexOf(data) + 1)
                </Column>
                <Column TData="string" Title="เลขประจำตัวประชาชน" Style="text-align:center;">
                    @data.identificationNumber
                </Column>
                <Column TData="string" Title="ชื่อ-นามสกุล" Style="text-align:center;">
                    @data.fullName
                </Column>
                <Column TData="string" Title="วันที่ผ่าตัด" Style="text-align:center;">
                    @data.surgeryDate
                </Column>
                <Column TData="string" Title="ID Donor" Style="text-align:center;">
                    @data.idDonor
                </Column>
                <Column TData="string" Width="12%" Title="สถานพยาบาลอนุมัติสิทธิ" Style="text-align:center;">
                    @data.hospitalAccept
                </Column>
                <Column TData="string" Title="ประเภทบริการ" Style="text-align:center;">
                    @data.serviceType
                </Column>
                <Column TData="string" Title="วันที่บันทึก" Style="text-align:center;">
                    @data.createdDate
                </Column>
                <Column TData="string" Title="จำนวนเงิน" Style="text-align:center;">
                    @data.amount
                </Column>
                <Column TData="string" Width="10%" Style="text-align:center;">
                    <img class="mx-1" title="เรียกดู" src="helper_shared/PortalAdminImage/eye.png" style="width:24px;height:24px; cursor:pointer;" @onclick="(() => OMViewDetail(true))" />
                    <img class="mx-1" title="แก้ไข" src="helper_shared/PortalAdminImage/edit.png" style="width:24px;height:24px; cursor:pointer;" @onclick="(() => OMMCallmodal(true))" />
                    <img class="mx-1" title="ลบ" src="helper_shared/icon_sso/delete.png" style="width:24px;height:24px; cursor:pointer;" @onclick="(() => OMDelete(true))" />
                </Column>
            </ChildContent>

            <PaginationTemplate>
                <Pagination Class="pt-2"
                            Total="context.Total"
                            PageSize="context.PageSize"
                            Current="context.PageIndex"
                                        ShowSizeChanger
                            OnChange="context.HandlePageChange" />
            </PaginationTemplate>
            </Table>

            <div class="pt-4 mms-media-start">
                <span class="mms-txt-require">หมายเหตุ: กรุณาเลือกรายการบันทึกที่สำเร็จเพื่อส่งเบิก</span>
            </div>
        </div>
    </div>


    @using sso.mms.fees.admin.Shared.OrganMaintenance.ExpensesRecord.Modals
    <ERAddDetail _visible=@Callmodal OnClose="@OMMCallmodal" />
    <ERViewDetail _visible=@viewdetail OnClose="@OMViewDetail" />
    <ERDelete _visible=@deletemodal OnClose="@OMDelete" />
    <ERCompleted _visible=@completedmodal OnClose="@OMCompleted" />@* NewModal="@newModalPage"  *@

    @code {
    /*-- CallbackModel --*/
    bool Callmodal { get; set; }
    bool viewdetail { get; set; }
    bool deletemodal { get; set; }
    bool completedmodal { get; set; }
    public int page;
    public void OMMCallmodal(bool value)
    {
        Callmodal = value;
    }
    public void OMViewDetail(bool value)
    {
        viewdetail = value;
    }
    public void OMDelete(bool value)
    {
        deletemodal = value;
    }
    public async void OMCompleted(bool value)
    {
        completedmodal = value;
    }
    //public async void newModalPage(bool value)
    //{
    //    if (value)
    //    {
    //        StateHasChanged();
    //        Navigation.NavigateTo("/organMaintenance/Notificationlist?token=");
    //    }
    //}
    [Parameter]
    public EventCallback<int> IndexPage { get; set; }



    IEnumerable<ItemData> selectedRows;
    List<ItemData> listOfData = new List<ItemData>();
    public async Task goEdit(int item)
    {
        await IndexPage.InvokeAsync(item);
    }
    private int total => listOfData.Count();
    private int pageSize = 3;

    RenderFragment _audioIcon =@<Icon Type="audio" Theme="outline" Style="color: #1890ff" />;

    public class ItemData
    {
        public int Id { get; set; }
        public string identificationNumber { get; set; }
        public string fullName { get; set; }
        public string surgeryDate { get; set; }
        public string idDonor { get; set; }
        public string hospitalAccept { get; set; }
        public string serviceType { get; set; }
        public string createdDate { get; set; }
        public string amount { get; set; }

    };

    protected override void OnInitialized()
    {
        listOfData = Enumerable.Range(0, 19).Select(i => new ItemData
            {
                Id = i,
                identificationNumber = $"xxxxxxx{i}",
                fullName = $"Test Ter{i}",
                surgeryDate = "29 มี.ค. 2566",
                idDonor = "12345678",
                hospitalAccept = "โรงพยาบาล 1",
                serviceType = "กระจกตา",
                createdDate = "29 มี.ค. 2566",
                amount = "111111"
            }).ToList();


    }


    private void OnBlur()
    {
        Console.WriteLine("blur");
    }

    private void OnFocus()
    {
        Console.WriteLine("focus");
    }

    private void OnSearch(string value)
    {
        Console.WriteLine($"search: {value}");
    }

}
