@using sso.mms.fees.admin.Shared.OrganTransplantation.CreatePaymentOrder.Modals

<div class="site-layout-background" style="padding: 24px;">
    <div class="mms-nav-title">
        <div class="mms-text-title px-4 py-3">การปลูกถ่ายอวัยวะ >> สร้างใบคำสั่งจ่าย</div>
    </div>
    <div class="container py-4">

        <div class="row">
            <div class="col-md-4">
                <div class="d-flex align-items-baseline">
                    <p class="mms-txt-headdetail " style="width:70px">งวดที่ :</p>
                        <Input Placeholder="6603" @bind-Value="@txtValue" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="d-flex align-items-baseline">
                    <p class="mms-txt-headdetail" style="width:200px">วันที่ประมวลผล :</p>
                        <Input Placeholder="1/05/2567" @bind-Value="@txtValue" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="d-flex align-items-baseline">
                    <p class="mms-txt-headdetail" style="width:200px">ประมวลผลโดย :</p>
                        <Input Placeholder="นายวงศ์ สว่าง" @bind-Value="@txtValue" />
                </div>
            </div>
        </div>
        <hr>
        <div class="row mt-2 align-items-center" style="margin-bottom:38px">
            <div class="col-md-12 col-lg-6 col-xl-6 text-end">
                <Button Style="width:200px;height:45px" Type="@ButtonType.Primary" OnClick=@(() => OpenRetriveInstallMentModal(true))><i class="fa-solid fa-clock-rotate-left"></i>&nbsp; อนุมัติคำสังจ่าย</Button>
            </div>
            <div class="col-md-12 col-lg-6 col-xl-6 text-end">
                <Space Direction="@DirectionVHType.Vertical" Class="text-end" Style="width:370px;height: 48px">
                    <SpaceItem>
                        <Search Placeholder="ข้อมูลที่ต้องการค้นหา" EnterButton="true" AllowClear  />
                    </SpaceItem>
                </Space>
            </div>
        </div>


         <Table Bordered DataSource="@data" OnChange="OnChange" TItem="MockUpData" @ref="Table" @bind-PageSize="pageSize">
             <ChildContent>
                <Selection Key="@(context.No.ToString())" />
                 <PropertyColumn Title="ลำดับ" Property="c=>c!.No" Width="20px" Align="ColumnAlign.Center" />
                 <PropertyColumn Title="งวด" Property="c=>c!.Installment" Width="100px" />
                 <PropertyColumn Title="เลขที่ชุดคำสั่งจ่าย" Property="c=>c!.NoCreatePay" Width="100px" />
                 <PropertyColumn Title="จำนวนสถานพยาบาล" Property="c=>c!.AmountHospital" Width="100px" />
                 <PropertyColumn Title="จำนวนรายการเบิก" Property="c=>c!.AmountDisburseList" Width="100px" />
                 <PropertyColumn Title="ยอดเงินรวม (บาท)" Property="c=>c!.Total" Width="100px" />
                 <PropertyColumn Title="สถานะ" Property="c=>c!.Status" Width="100px" />
                 <PropertyColumn Title="" Property="c=>c!.Detail" Width="20px">
                     <img class="mx-2" src="helper_shared/PortalAdminImage/eye.png" style="width:24px;height:24px;" @onclick=@(() => goEdit(2)) />
                 </PropertyColumn>
             </ChildContent>
             <PaginationTemplate>
                 <Pagination Class="pt-2" Total="context.Total"
                             PageSize="context.PageSize"
                             Current="context.PageIndex"
                                        ShowSizeChanger
                             OnChange="context.HandlePageChange" />
             </PaginationTemplate>
         </Table>
    </div>
</div>
<RetrievingInstallmentModal _visible=@openRetriveInstallmentModal OnOpen="@OpenRetriveInstallMentModal" />


 @code {
    [Parameter]
    public EventCallback<int> IndexPage { get; set; }

    bool openRetriveInstallmentModal { get; set; }

    public async Task OpenRetriveInstallMentModal(bool value)
    {
        openRetriveInstallmentModal = value;
    }

    string txtValue { get; set; }

    int pageSize = 5;

    Table<MockUpData> Table;


    public async Task goEdit(int item)
    {
        await IndexPage.InvokeAsync(item);
    }

    class MockUpData
    {
        public MockUpData(
        int no,
        string installment,
        string noCreatePay,
        string amountHospital,
        string amountDisburseList,
        string total,
        string status,
        string detail
        )
        {
            No = no;
            Installment = installment;
            NoCreatePay = noCreatePay;
            AmountHospital = amountHospital;
            AmountDisburseList = amountDisburseList;
            Total = total;
            Status = status;
            Detail = detail;
        }
        public int No { get; set; }
        public string Installment { get; set; }
        public string NoCreatePay { get; set; }
        public string AmountHospital { get; set; }
        public string AmountDisburseList { get; set; }
        public string Total { get; set; }
        public string Status { get; set; }
        public string Detail { get; set; }
    }

    MockUpData[] data =
    {
           new(1,"6704","10001","3","10","400,000","รอกดส่ง",""),
    };

    void OnChange(QueryModel<MockUpData> query)
    {
        Console.WriteLine(JsonSerializer.Serialize(query));
    }
}
