@using sso.mms.fees.admin.Shared.OrganTransplantation.CreatePaymentOrder.Modals


<div class="site-layout-background" style="padding: 24px;">
    <div class="mms-nav-title">
        <div class="mms-text-title px-4 py-3">การปลูกถ่ายอวัยวะ / สร้างใบคำสั่งจ่าย</div>
    </div>
    <div class="container py-4">

        <div class="row">
            <div class="col-md-4">
                <div class="d-flex align-items-baseline">
                    <p class="mms-txt-headdetail " style="width:70px">งวดที่ :</p>
                    <Input Placeholder="6603" @bind-Value="@txtValue" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="d-flex align-items-baseline">
                    <p class="mms-txt-headdetail" style="width:200px">วันที่ประมวลผล :</p>
                    <Input Placeholder="1/05/2567" @bind-Value="@txtValue" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="d-flex align-items-baseline">
                    <p class="mms-txt-headdetail" style="width:200px">ประมวลผลโดย :</p>
                    <Input Placeholder="นายวงศ์ สว่าง" @bind-Value="@txtValue" />
                </div>
            </div>
        </div>
        <hr>
        <div class="row mt-2 align-items-center" style="margin-bottom:38px">
            <div class="col-md-12 col-lg-6 col-xl-6 text-end">
                <Button Style="width:200px;height:45px" Type="@ButtonType.Primary">
                    <i class="fa-solid fa-clock-rotate-left"></i>&nbsp; อนุมัติคำสังจ่าย
                </Button>
            </div>
            <div class="col-md-12 col-lg-6 col-xl-6 text-end">
                <Space Direction="@DirectionVHType.Vertical" Class="text-end" Style="width:370px;height: 48px">
                    <SpaceItem>
                        <Search Placeholder="ข้อมูลที่ต้องการค้นหา" EnterButton="true" AllowClear />
                     </SpaceItem>
                 </Space>
             </div>
         </div>

         <Table Bordered DataSource="@data" OnChange="OnChange" TItem="MockUpData" @ref="Table" @bind-PageSize="pageSize">
             <ChildContent>
                 <PropertyColumn Title="ลำดับ" Property="c=>c!.No" Width="20px" Align="ColumnAlign.Center" />
                 <PropertyColumn Title="รหัสสถานพยาบาล" Property="c=>c!.HospitalCode" Width="100px" />
                 <PropertyColumn Title="ชื่อสถานพยาบาล" Property="c=>c!.HospitalName" Width="100px" />
                 <PropertyColumn Title="จำนวนรายการเบิก" Property="c=>c!.AmountDisburse" Width="100px" />
                 <PropertyColumn Title="จำนวนเงิน" Property="c=>c!.AmountMonney" Width="100px" />
                 <PropertyColumn Title="วินิจฉัย" Property="c=>c!.Diagnose" Width="70px" />
                 <PropertyColumn Title="" Property="c=>c!.Detail" Width="10px">
                     <img class="mx-2" src="helper_shared/PortalAdminImage/eye.png" style="width:24px;height:24px;"
                     @onclick=@(() => OpenDetailCreatePaymentOrder(true)) />
                 </PropertyColumn>
                 <SummaryRow>
                     <SummaryCell ColSpan="2" Align="ColumnAlign.Right"><div>รวมทั้งหมด</div></SummaryCell>
                     <SummaryCell>
                         3
                     </SummaryCell>
                     <SummaryCell>
                         10
                     </SummaryCell>
                     <SummaryCell ColSpan="3">
                         200,000 บาท
                     </SummaryCell>
                 </SummaryRow>
             </ChildContent>

             <PaginationTemplate>
                 <Pagination Class="pt-2" Total="context.Total"
                             PageSize="context.PageSize"
                             Current="context.PageIndex"
                                        ShowSizeChanger
                             OnChange="context.HandlePageChange" />
             </PaginationTemplate>
         </Table>
     </div>
 </div>

 <DetailCreatePaymentOrder OnOpen="@OpenDetailCreatePaymentOrder" _visible="@openDetailCreatePaymentOrder"></DetailCreatePaymentOrder>

 @code {
    [Parameter]
    public EventCallback<int> IndexPage { get; set; }

    bool openDetailCreatePaymentOrder { get; set; }

    public void OpenDetailCreatePaymentOrder(bool value)
    {
        openDetailCreatePaymentOrder = value;
    }


    string txtValue { get; set; }

    int pageSize = 5;

    Table<MockUpData> Table;


    public async Task goEdit(int item)
    {
        await IndexPage.InvokeAsync(item);
    }

    class MockUpData
    {
        public MockUpData(
        int no,
        string hospitalCode,
        string hospitalName,
        string amountDisburse,
        string amountMonney,
        string diagnose,
        string detail
        )
        {
            No = no;
            HospitalCode = hospitalCode;
            HospitalName = hospitalName;
            AmountDisburse = amountDisburse;
            AmountMonney = amountMonney;
            Diagnose = diagnose;
            Detail = detail;
        }
        public int No { get; set; }
        public string HospitalCode { get; set; }
        public string HospitalName { get; set; }
        public string AmountDisburse { get; set; }
        public string AmountMonney { get; set; }
        public string Diagnose { get; set; }
        public string Detail { get; set; }
    }

    MockUpData[] data =
    {
           new(1,"5489621","โรงพยาบาล 1","4","160,000","อนุมัติ",""),
           new(1,"6987521","โรงพยาบาล 2","3","120,000","อนุมัติ",""),
           new(1,"3654789","โรงพยาบาล 3","3","120,000","อนุมัติ",""),
    };

    void OnChange(QueryModel<MockUpData> query)
    {
        Console.WriteLine(JsonSerializer.Serialize(query));
    }
}
