@using sso.mms.fees.admin.Shared.OrganTransplantation.CreatePaymentOrder.Components

<div class="site-layout-background" style="padding: 24px;">
    <div class="mms-nav-title">
        <div class="mms-text-title px-4 py-3">การปลูกถ่ายอวัยวะ / สร้างใบคำสั่งจ่าย / ส่งลงลายมือชื่อ</div>
    </div>
    <div class="container py-4">

        <div class="row">
            <div class="col-md-4">
                <div class="d-flex align-items-baseline">
                    <p class="mms-txt-headdetail " style="width:70px">งวดที่ :</p>
                    <Input Placeholder="6603" @bind-Value="@txtValue" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="d-flex align-items-baseline">
                    <p class="mms-txt-headdetail" style="width:200px">วันที่ประมวลผล :</p>
                    <Input Placeholder="1/05/2567" @bind-Value="@txtValue" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="d-flex align-items-baseline">
                    <p class="mms-txt-headdetail" style="width:200px">ประมวลผลโดย :</p>
                    <Input Placeholder="นายวงศ์ สว่าง" @bind-Value="@txtValue" />
                </div>
            </div>
        </div>
        <hr>
        <div class="row mt-2 align-items-center" style="margin-bottom:38px">
            <div class="col-md-12 col-lg-6 col-xl-6 text-end">
                <Button Style="width:200px;height:45px" Type="@ButtonType.Primary" OnClick=@(() => goEdit(3))>
                    <i class="fa-solid fa-clock-rotate-left"></i>&nbsp; อนุมัติคำสังจ่าย
                </Button>
            </div>
            <div class="col-md-12 col-lg-6 col-xl-6 text-end">
                <Space Direction="@DirectionVHType.Vertical" Class="text-end" Style="width:370px;height: 48px">
                    <SpaceItem>
                        <Search Placeholder="ข้อมูลที่ต้องการค้นหา" EnterButton="true" AllowClear />
                     </SpaceItem>
                 </Space>
             </div>
         </div>

         <DisburseMentHealthServiceListTable />

         <DisburseMentHospitalListTable />


     </div>
     <div class="container py-4">
         <div class="mms-txt-header p-3">รายการที่ผ่านการอนุมัติทั้งหมด 29 รายการ</div>
     </div>
 </div>

 @code {
    [Parameter]
    public EventCallback<int> IndexPage { get; set; }

    string txtValue { get; set; }

    int pageSize = 5;

    Table<MockUpData> Table;


    public async Task goEdit(int item)
    {
        await IndexPage.InvokeAsync(item);
    }

    class MockUpData
    {
        public MockUpData(
        int no,
        string installment,
        string noCreatePay,
        string amountHospital,
        string amountDisburseList,
        string total,
        string status,
        string detail
        )
        {
            No = no;
            Installment = installment;
            NoCreatePay = noCreatePay;
            AmountHospital = amountHospital;
            AmountDisburseList = amountDisburseList;
            Total = total;
            Status = status;
            Detail = detail;
        }
        public int No { get; set; }
        public string Installment { get; set; }
        public string NoCreatePay { get; set; }
        public string AmountHospital { get; set; }
        public string AmountDisburseList { get; set; }
        public string Total { get; set; }
        public string Status { get; set; }
        public string Detail { get; set; }
    }

    MockUpData[] data =
    {
           new(1,"6704","10001","3","10","400,000","รอกดส่ง",""),
    };

    void OnChange(QueryModel<MockUpData> query)
    {
        Console.WriteLine(JsonSerializer.Serialize(query));
    }
}
