@using System.ComponentModel.DataAnnotations;

@{
    RenderFragment footer = @<Template>
    </Template>;
}
<Modal Title="@title"
       Visible="@_visible"
       OnOk="@HandleOk"
       OnCancel="@HandleCancel"
       Width="1000"
       Footer="footer">

    <div class="p-2">
        <div class="mms-txt">ชนิด 4 สายพันธุิ์</div>
        <hr />
        <div class="row pb-4">
            <div class="col-sm-6 col-md-6">
                ชื่อทางการค้าวัคซีน (Test  Name) :
            </div>
            <div class="col-sm-6 col-md-6">
                <Input Placeholder="Basic usage" @bind-Value="@Value" />
            </div>
        </div>
        <div class="row pb-4">
            <div class="col-sm-6 col-md-6">
                Lot Number ของวัคซีน :
            </div>
            <div class="col-sm-6 col-md-6">
                <Input Placeholder="Basic usage" @bind-Value="@Value" />
            </div>
        </div>
        <div class="mms-media-end pt-4">
            <Button Type="@ButtonType.Primary" Style="width:150px;"><i class="fa-solid fa-floppy-disk"></i>&nbsp; บันทึก</Button>
        </div>
    </div>
</Modal>

@code {
    string title = "เพิ่มข้อมูลวัคซีน";
    bool loading = false;
    string Value = "";
    [Parameter]
    public bool _visible { get; set; }
    [Parameter]
    public EventCallback<bool> OnClose { get; set; }
    [Parameter]
    public EventCallback<int> PageIndex { get; set; }

    private void HandleCancel(MouseEventArgs e)
    {
        Console.WriteLine(e);
        OnClose.InvokeAsync(false);
    }
    private void HandleOk(MouseEventArgs e)
    {
        OnClose.InvokeAsync(false);

    }

}
