
<div class="p-2">
    <div class="row mms-txt-headdetail">
        <div class="col-md-12 col-lg-2">
            <div class="mms-media-start align-items-start">ค้นหาด้วย :</div>
        </div>
        <div class="col-md-12 col-lg-10 mb-2">
            <div class="row align-items-center py-2">
                <div class="col-md-12 col-lg-2">
                    <label class="col-form-label">Statement</label>
                </div>
                <div class="col-md-12 col-lg-8">
                    <Input Placeholder="Basic usage" @bind-Value="@txtValue" />
                </div>
                <div class="col-md-12 col-lg-2">
                    <Button Type="@ButtonType.Primary" Style="width:100%"><i class="fa-solid fa-magnifying-glass"></i>&nbsp;ค้นหา</Button>
                </div>
            </div>
            <div class="row align-items-center py-2">
                <div class="col-md-12 col-lg-2">
                    <label class="col-form-label">วันที่จำหน่าย</label>
                </div>
                <div class="col-md-12 col-lg-8">
                    <div class="row">
                        <div class="col-md-12 col-lg-5"><DatePicker TValue="DateTime?" Picker="@DatePickerType.Date" /></div>
                        <div class="col-md-12 col-lg-2 mms-media-center align-items-center">ถึง</div>
                        <div class="col-md-12 col-lg-5"><DatePicker TValue="DateTime?" Picker="@DatePickerType.Date" /></div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-2">
                    <Button Type="@ButtonType.Dashed" Class="ant-btn-distable" Style="width:100%"><i class="fa-solid fa-trash-can"></i>&nbsp; ล้างการค้นหา</Button>
                </div>
            </div>
            <div class="row align-items-center py-2">
                <div class="row">
                    <div class="col-md-12 col-lg-2">
                        <label class="col-form-label">สถานพยาบาล</label>
                    </div>
                    <div class="col-md-12 col-lg-8">
                        <Input Placeholder="Basic usage" @bind-Value="@txtValue" Disabled />
                    </div>
                </div>
            </div>
        </div>
        <hr class="my-2"/>
        <div class="row align-items-center py-2">
            <div class="col-md-12 col-lg-4">
                <div class="row">
                    <div class="col-md-12 col-lg-6 text-end">
                        <label class="col-form-label">จำนวนผู้ประกันตนทั้งหมด</label>
                    </div>
                    <div class="col-md-12 col-lg-6">
                        <Input Placeholder="Basic usage" @bind-Value="@txtValue" Disabled />
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="row">
                    <div class="col-md-12 col-lg-6 text-end">
                        <label class="col-form-label">จำนวนรายการทั้งหมด</label>
                    </div>
                    <div class="col-md-12 col-lg-6">
                        <Input Placeholder="Basic usage" @bind-Value="@txtValue" Disabled />
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="row">
                    <div class="col-md-12 col-lg-8 text-end">
                        <label class="col-form-label">จำนวนเงินที่หักฉุกเฉิน  72 ชม. ทั้งหมด</label>
                    </div>
                    <div class="col-md-12 col-lg-4">
                        <Input Placeholder="Basic usage" @bind-Value="@txtValue" Disabled />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row py-2">
        <div class="col-sm-12 col-md-8"></div>
        <div class="mms-media-end col-sm-12 col-md-4">
            <Space Direction="@DirectionVHType.Vertical" Class="mms-btn-serch w-100">
                <SpaceItem>
                    <Search Placeholder="ข้อมูลที่ต้องการค้นหา.." EnterButton="true" />
                </SpaceItem>
            </Space>
        </div>
    </div>
    <Table DataSource="listOfData" Bordered ScrollX="1000">
        <ColumnDefinitions>
            <PropertyColumn Align="ColumnAlign.Center" Property="c=>c.Id" Title="ลำดับ" Width="5%">@context.Id</PropertyColumn>
            <PropertyColumn Align="ColumnAlign.Center" Property="c=>c.Number" Title="Statement Number">@context.Number</PropertyColumn>
            <PropertyColumn Align="ColumnAlign.Center" Property="c=>c.Count" Title="เลขประจำตัวประชาชน"> @context.Count</PropertyColumn>
            <PropertyColumn Align="ColumnAlign.Center" Property="c=>c.CountRecord" Title="ชื่อผู้ประกันตน"> @context.CountRecord</PropertyColumn>
            <PropertyColumn Align="ColumnAlign.Center" Property="c=>c.CountRecord" Title="AN"> @context.CountRecord</PropertyColumn>
            <PropertyColumn Align="ColumnAlign.Center" Property="c=>c.CountRecord" Title="วันที่รักษา"> @context.CountRecord</PropertyColumn>
            <PropertyColumn Align="ColumnAlign.Center" Property="c=>c.Price" Title="ค่าAdjRW"> @context.Price</PropertyColumn>
            <PropertyColumn Align="ColumnAlign.Center" Property="c=>c.Price" Title="อัตราที่จ่าย"> @context.Price</PropertyColumn>
            <PropertyColumn Align="ColumnAlign.Center" Property="c=>c.Price" Title="จำนวนเงิน"> @context.Price</PropertyColumn>
            <PropertyColumn Align="ColumnAlign.Center" Property="c=>c.Price" Title="ยอดที่หักฉุกเฉิน 72 ชั่วโมง"> @context.Price</PropertyColumn>
            <PropertyColumn Align="ColumnAlign.Center" Property="c=>c.Price" Title="จำนวนเงินสุทธิ"> @context.Price</PropertyColumn>
            <PropertyColumn Align="ColumnAlign.Center" Property="c=>c.Price" Title="" Width="5%">
                <img class="mx-2" title="เรียกดู" src="helper_shared/PortalAdminImage/eye.png" style="width:24px;height:24px; cursor:pointer;" @onclick=@(() => OpenViewModal(true)) />
            </PropertyColumn>
        </ColumnDefinitions>
@*         <PaginationTemplate>
        <Pagination Class="pt-2"
                        Total="context.Total"
                        PageSize="context.PageSize"
                        Current="context.PageIndex"
                            ShowSizeChanger
                        OnChange="context.HandlePageChange" />
        </PaginationTemplate> *@
            </Table>
            <div class="pt-5 mms-media-end" @onclick="@(() => TabView(1))">
                <Button Type="@ButtonType.Dashed" Class="ant-btn-distable"><i class="fa-solid fa-angle-left"></i>&nbsp; ย้อนกลับ</Button>
            </div>
        </div>

        @using sso.mms.fees.admin.Shared.AdjRW.WithDrawRequestList.Modals
        <ViewModal _visible="@openViewModal" OnClose="@OpenViewModal"></ViewModal>
        @code {

    [Parameter]
    public EventCallback<int> IndexPage { get; set; }
    [Parameter]
    public EventCallback<int> UseTab { get; set; }

    /*---------CallModal */
    bool openViewModal;
    public void OpenViewModal(bool value)
    {
        openViewModal = value;
    }
    /*---------CallModal */
    public async Task TabView(int item)
    {
        await UseTab.InvokeAsync(item);
    }

    string txtValue { get; set; }
    List<ItemData> listOfData = new List<ItemData>
    {
        new ItemData
        {
            Id = 1,
            Number ="10001",
            Count = 3,
            CountRecord = 5,
            Price = 4500,
            Status ="รอส่งลงลายมือชื่อ"

        },
         new ItemData
        {
            Id = 1,
            Number ="10002",
            Count = 3,
            CountRecord = 6,
            Price = 5400,
            Status ="รอลงลายมือชื่อ"

        }, new ItemData
        {
            Id = 1,
            Number ="10003",
            Count = 5,
            CountRecord = 15,
            Price = 13500,
            Status ="ลงลายมือชื่อสำเร็จ"

        },

    };
    string _selectedValue;
    protected override void OnInitialized()
    {


    }
    public class ItemData
    {
        public int Id { get; set; }
        public string Number { get; set; }

        public int Count { get; set; }
        public int CountRecord { get; set; }
        public double Price { get; set; }
        public string Status { get; set; }
    };
}
