<style>
    .ant-card-c {
        background: #fff;
        border-radius: 6px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        font-size: 18px;
        text-align: center;
    }

        .ant-card-c > .ant-card-head {
            width: 100%;
            background: #ffcc41 !important;
            border-radius: 6px 6px 0px 0px !important;
        }

            .ant-card-c > .ant-card-head > .ant-card-head-wrapper > .ant-card-head-title {
                font-size: 20px !important;
                text-align: center !important;
                color: #334396 !important;
            }
</style>

<div class="site-layout-background" style="padding: 24px;">
    <div class="mms-nav-title">
        <div class="mms-text-title px-4 py-3">ค่าบริการทางการแพทย์เมทาโดน</div>
    </div>
    <div class="container py-4">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                @*  <li class="breadcrumb-item" aria-current="page">
                <span class="breadcum-title py-2"></span>
                </li>*@
                <li class="breadcrumb-item" aria-current="page" @onclick="@(() => Indexpage(1,"",""))">
                    <span class="breadcum-sucress py-2">กำหนดอัตราค่าบริการ</span>
                </li>
                <li class="breadcrumb-item" aria-current="page">
                    <span class="breadcum-process py-2">@Year</span>
                </li>
            </ol>
        </nav>
        <hr />
        <div class="row mms-txt-headdetail pb-4">
            <div class="col-sm-12 col-md-6 col-lg-2 py-2">
                <div class="row align-items-center">
                    <div class="col-sm-12 col-md-6 text-md-end">
                        <div class="">งวดที่ </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <Input TValue="string" Value="@Year" Disabled />
                     </div>
                 </div>
             </div>
             <div class="col-sm-12 col-md-6 col-lg-4 py-2">
                 <div class="row align-items-center">
                     <div class="col-sm-12 col-md-8 text-md-end">
                         <div class="">จำนวนโรงพยาบาลทั้งหมด </div>
                     </div>
                     <div class="col-sm-12 col-md-4">
                         <Input TValue="string" Value="@Year" Disabled />
                     </div>
                 </div>
             </div>
             <div class="col-sm-12 col-md-6 col-lg-3 py-2">
                 <div class="row align-items-center">
                     <div class="col-sm-12 col-md-8 text-md-end">
                         <div class="">จำนวนผู้ป่วยทั้งหมด </div>
                     </div>
                     <div class="col-sm-12 col-md-4">
                         <Input TValue="string" Value="@Year" Disabled />
                     </div>
                 </div>
             </div>
             <div class="col-sm-12 col-md-6 col-lg-3 py-2">
                 <div class="row align-items-center">
                     <div class="col-sm-12 col-md-6 text-md-end">
                         <div class="">ยอดเงินรวม </div>
                     </div>
                     <div class="col-sm-12 col-md-6">
                         <Input TValue="string" Value="@Year" Disabled />
                     </div>
                 </div>
             </div>
         </div>
         <div class="row pb-4 align-items-center">
             <div class="col-sm-12 col-md-3">
             </div>
             <div class="col-sm-12 col-md-6 d-flex justify-content-center">
                 <Button Type="@ButtonType.Primary"><i class="fa-solid fa-right-from-bracket"></i>ส่งรายการที่เลือกเพื่อออกใบคำสั่งจ่าย</Button>
             </div>
             <div class="col-sm-12 col-md-3">
                 <Space Direction="@DirectionVHType.Vertical" Class="mms-btn-serch w-100">
                     <SpaceItem>
                         <Search Placeholder="ข้อมูลที่ต้องการค้นหา" EnterButton="true" />
                     </SpaceItem>
                 </Space>
             </div>
         </div>
         <Table DefaultExpandAllRows DataSource="Hos" Bordered ScrollX="1000">
                 <Selection Width="5%" />
                 <PropertyColumn Property="c=>c.Id" Title="ลำดับ" Align="ColumnAlign.Center" Width="7%">@String.Format("{0:d}", Hos.IndexOf(context) + 1)</PropertyColumn>
                <PropertyColumn Property="c=>c.HosCode" Title="เลขสถานพยาบาล" Align="ColumnAlign.Center"></PropertyColumn>
                <PropertyColumn Property="c=>c.HosName" Title="ชื่อสถานพยาบาล" Align="ColumnAlign.Center"></PropertyColumn>
                <PropertyColumn Property="c=>c.Id" Title="" Align="ColumnAlign.Center" Width="5%">
                    <img class="mx-2" title="ดู" src="helper_shared/PortalAdminImage/eye.png" style="width:24px;height:24px; cursor:pointer;" @onclick="@(() => ShowModal(context.HosCode))" />
                </PropertyColumn>
            </Table>
            <div class="mms-media-end">
                <Button Type="@ButtonType.Default" Class="ant-btn-distable"> ยืนยัน</Button>
            </div>
        </div>
    </div>


    @{
    RenderFragment footer = @<Template>
    </Template>;
}
<Modal Title="@("Title")"
       Visible="@_visible"
       OnOk="@HandleOk"
       OnCancel="@HandleCancel"
       Footer="@footer"
       Width="1400">

    <div class="container">
        <div class="row mms-txt-headdetail pb-4">
            <div class="col-sm-12 col-md-6 col-lg-4 py-2">
                <div class="row align-items-center">
                    <div class="col-sm-12 col-md-8 text-md-end">
                        <div class="">จำนวนผู้ป่วยทั้งหมด </div>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <Input TValue="string" Value="@Year" Disabled />
                     </div>
                 </div>
             </div>
             <div class="col-sm-12 col-md-6 col-lg-4 py-2">
                 <div class="row align-items-center">
                     <div class="col-sm-12 col-md-8 text-md-end">
                         <div class="">ยอดเงินรวม</div>
                     </div>
                     <div class="col-sm-12 col-md-4">
                         <Input TValue="string" Value="@Year" Disabled />
                     </div>
                 </div>
             </div>
             <div class="col-sm-12 col-md-6 col-lg-4 py-2 d-flex justify-content-end">
                 <Button Type="@ButtonType.Default" Class="ant-btn-distable"><i class="fa-solid fa-file-arrow-down"></i>&nbsp;ใบขอเบิก</Button>
             </div>
         </div>
         <Table DefaultExpandAllRows DataSource="data" Bordered ScrollX="1000">
                 <PropertyColumn Property="c=>c.Id" Title="ลำดับ" Align="ColumnAlign.Center" Width="7%">@String.Format("{0:d}", data.IndexOf(context) + 1)</PropertyColumn>
                <PropertyColumn Property="c=>c.CitizenId" Title="เลขประจำตัวประชาชน" Align="ColumnAlign.Center"></PropertyColumn>
                <PropertyColumn Property="c=>c.Name" Title="ชื่อ-นามสกุล" Align="ColumnAlign.Center"></PropertyColumn>
                <PropertyColumn Property="c=>c.Disease" Title="จำนวนยา" Align="ColumnAlign.Center"></PropertyColumn>
                <PropertyColumn Property="c=>c.Amount" Title="ยอดเบิก (บาท)" Align="ColumnAlign.Center">
                    @String.Format("{0:n}", context.Amount)
            </PropertyColumn>
            <PropertyColumn Property="c=>c.Id" Title="" Align="ColumnAlign.Center" Width="7%">
                <img class="mx-2" title="ดู" src="helper_shared/PortalAdminImage/eye.png" style="width:24px;height:24px; cursor:pointer;" @onclick="()=>Indexpage(3,Year,context.Name)" />
            </PropertyColumn>
        </Table>
        <div class="mms-media-end">
            <Button OnClick="@HandleOk" @key="@( "submit" )"Type="primary"> ยืนยัน</Button>
        </div>
    </div>
</Modal>
@if (isloading == true)
{
    <style>
        body {
            overflow: hidden;
        }</style>

    <LoadingPage></LoadingPage>
}

@using System.ComponentModel.DataAnnotations;
@using System.Text.Json;
@using System.ComponentModel;
@code {
    [Parameter]
    public EventCallback<(int, string)> IndexPage { get; set; }
    [Parameter]
    public string Year { get; set; }

    bool CheckAllHos = false;

    int page;
    string updatedate = "10/11/2566";
    string updateby = "test admin";
    bool openConfirmModal { get; set; }
    bool openViewDataModal { get; set; }
    bool openAIalertModal { get; set; }
    bool openAlertModal { get; set; }
    bool isloading { get; set; }
    string Placeholder = "วว/ดด/ปปปป";
    bool _visible = false;

    public bool YourCheckBoxProperty { get; set; }
    public class Data
    {
        public string Id { get; set; }
        public string HN { get; set; }
        public string AN { get; set; }
        public string CitizenId { get; set; }
        public string Name { get; set; }
        public string Disease { get; set; }
        public DateTime DateOfTreatment { get; set; }
        public DateTime DateOfDischarge { get; set; }
        public int Amount { get; set; }
        public string Memo { get; set; }
    }
    public class HospitalList
    {
        public string Id { get; set; }
        public string HosCode { get; set; }
        public string HosName { get; set; }
        public List<Data> PerSon { get; set; }
    }
    protected override async Task OnInitializedAsync()
    {

        isloading = true;

        data = new List<Data>
      {
        new Data {
            Id ="1",
            Amount = 10000,
            HN = "650112847",
            AN = "65-04931",
            CitizenId = "1101201267891",
            Name = "นายเมธี ส่องแสง",
            Disease = "โรคไส้เลื่อนขาหนีบ (Inguinal hernia)",
            DateOfTreatment = new DateTime(2022,5,25),
            DateOfDischarge = new DateTime(2022,5,26),

        },
        new Data
        {
             Id ="2",
            Amount = 9000,
            HN = "630182090",
            AN = "65-05227",
            CitizenId = "1102345678925",
            Name = "นายณรง มีศักดิ์",
            Disease = "โรคถุงน้ำอันฑะ (Hydrocele)",
            DateOfTreatment = new DateTime(2022,7,15),
            DateOfDischarge = new DateTime(2022,7,16),
        },
        new Data
        {
             Id ="3",
            Amount = 15000,
            HN = "650328833",
            AN = "65-05737",
            CitizenId = "1108954632579",
            Name = "นายยิ้มแย้ม แจ่มใส",
            Disease = "ภาวะเลือดออกผิดปกติทางช่องคลอด (Vaginal bleeding)",
            DateOfTreatment = new DateTime(2022,1,5),
            DateOfDischarge = new DateTime(2022,1,6),
        },
      };
        Hos = new List<HospitalList>()
        {
            new HospitalList
            {
                 Id = "1",
            HosCode ="45600",
            HosName ="โรงพยาบาลบางประกอก",
            PerSon = data ,
            },
            new HospitalList
            {
                 Id = "2",
            HosCode ="73140",
            HosName ="โรงพยาบาลบางนา",
            PerSon = data ,
            },

        };

        isloading = false;
        StateHasChanged();

    }


    List<Data> data = new List<Data>();
    List<HospitalList> Hos = new List<HospitalList>();

    List<Data> _data;
    string _selectedValue;

    protected override void OnInitialized()
    {

        StateHasChanged();
    }

    public async Task Indexpage(int usepage, string year, string name)
    {
        await IndexPage.InvokeAsync((usepage, year));

    }
    private void ShowModal(string hoscode)
    {
        _visible = true;
    }
    private async Task HandleOk(MouseEventArgs e)
    {
        _visible = false;
    }

    private void HandleCancel(MouseEventArgs e)
    {
        _visible = false;
    }
}
