<div class="site-layout-background" style="padding: 24px;">
    <div class="mms-nav-title">
        <div class="mms-text-title px-4 py-3">ค่าบริการทางการแพทย์ทันตกรรม </div>
    </div>
    <div class="container py-4">
        <div class="px-2 py-3">สืบค้นข้อมูล /<span style="color:#125DFD"> เเสดงรายละเอียดรายการสืบค้น</span></div>


        <div class="row">
            <div class="d-flex  mms-media-end">
                
                <div class="col-4 ">
                    <Space Direction="@DirectionVHType.Vertical" Class="mms-btn-serch  col-12">
                        <SpaceItem>
                            <Search Placeholder="ข้อมูลที่ต้องการค้นหา" EnterButton="true" />
                        </SpaceItem>
                    </Space>
                </div>
            </div>
        </div>
        <hr/>
        <Table DataSource="listOfData" TItem="ItemData" Bordered ScrollX="1000">
            <ChildContent Context="data">
                <Column TData="string" Title="ลำดับ" Width="5%" Align="ColumnAlign.Center">
                    @data.Id
                </Column>
                <Column TData="string" Title="ชื่อสถานที่" Width="10%" Align="ColumnAlign.Center">
                    @data.Number
                </Column>
                <Column TData="string" Title="วันที่ออกให้บริการ" Width="15%" Align="ColumnAlign.Center">
                    @data.Iden
                </Column>
                <Column TData="string" Title="วันที่ทำรายการ" Width="15%" Align="ColumnAlign.Center">
                    @data.Name
                </Column>
                <Column TData="string" Title="จำนวน (คัน)" Width="15%" Align="ColumnAlign.Center">
                    @data.NameHop
                </Column>
                <Column TData="string" Title="ทะเบียนรถ" Width="9%" Align="ColumnAlign.Center">
                    @data.Date
                </Column> 
                <Column TData="string" Title="ทะเบียนรถ" Width="9%" Align="ColumnAlign.Center">
                    @data.Price
                </Column>
                <Column TData="string" Title="สถานะ" Width="9%" Align="ColumnAlign.Center">
                    <div style=" color :#67C23A">

                        @data.Status
                    </div>
                </Column>
                <ActionColumn Title="" Width=8% Align="ColumnAlign.Center">


                    <img class="mx-2" src="helper_shared/PortalAdminImage/eye.png" style="width:24px;height:24px;" @onclick =@(() => OpenModal(true))/>
                   


                </ActionColumn>
            </ChildContent>
        </Table>


    </div>

   
</div>
@if (isloading == true)
{
    <style>
        body {
            overflow: hidden;
        }</style>

    <LoadingPage></LoadingPage>
}

<ViewModal _visible="@openViewModal" OnClose="@OpenModal"></ViewModal>
@using MatBlazor
@using System.ComponentModel.DataAnnotations;
@using System.Text.Json;
@using System.ComponentModel;
@using sso.mms.fees.admin.Shared.Dental.DentalCentralPublic.SearchProvince.Modals;

@inject NavigationManager Navigation
@inject ModalService _modalService
@code {
    List<ItemData> listOfData = new List<ItemData>();
    string txtValue;
    bool openViewModal = false;
    bool isloading = false;



    [Parameter]
    public EventCallback<int> IndexPage { get; set; }
    public async Task goPage(int item)
    {
        await IndexPage.InvokeAsync(item);
    }
    public void OpenModal(bool value)
    {
        openViewModal = value;
    }
    public class ItemData
    {
        public int Id { get; set; }
        public string Number { get; set; }
        public string Iden { get; set; }
        public string Name { get; set; }
        public string NameHop { get; set; }
        public string Date { get; set; }
        public double Price { get; set; }
        public string Status { get; set; }
    };




    protected override void OnInitialized()
    {
        isloading = true;
        listOfData = new List<ItemData>()
        {
        new ItemData() {
                Id = 1,
                Number = "11102141",
                Iden = "123467890xxx",
                Name = "นายอภิรักษ์ สำรวม",
                NameHop = "โรงพยาบาลลานนา1",
                Date = "23 มิ.ย 67",
                Price = 800,
                Status = "อนุมัติ"
            }, new ItemData() {
                Id = 2,
                Number = "11102141",
                Iden = "123467890xxx",
                Name = "นายอภิรักษ์ สำรวม",
                NameHop = "โรงพยาบาลลานนา1",
                Date = "23 มิ.ย 67",
                Price = 800,
                Status = "อนุมัติ"
            }

        };
        isloading = false;
        StateHasChanged();
    }








    private void onChange(string value)
    {
        Console.WriteLine("onChange =>" + value);
    }
    //}




}

