@using System.ComponentModel.DataAnnotations;

@{
    RenderFragment okbutton =@<div style="color:#fff;">
        <Icon Type="save" Theme="outline" />
        บันทึก
    </div>;
    RenderFragment canclebutton =@<div>
        <Icon Type="close-circle" Theme="outline" />
        ยกเลิก
    </div>;
}
<style>
    .text-warming{
        color: #000;
        text-align: center;
        
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        
        letter-spacing: -0.704px;
    }
</style>
<Modal Title="@title"
       Visible="@_visible"
       OnCancel="@HandleCancel"
       OkText="@okbutton"
       CancelText="@canclebutton"
       WrapClassName="modalStyle"
       Class="mms-media-center mms-text-title modalStyle"
       Footer="null"
>
    <div class=" d-flex justify-content-center my-4">
        <div class="bg-user-icon mms-text-center">
            @* <i class="fa-solid fa-user fa-4x" style="color: #1f3251;"></i>*@
            <img src="helper_shared/FeesExtImage/icon3.jpg" style="width : 96px">
        </div>
    </div>



    <div class="mx-2 my-4">
        <div class=" mms-text-center text-warming">
            เบอร์โทรศัพท์ที่ทำการกรอกถูกใช้ไปแล้ว
        </div>
        <div class=" mms-text-center text-warming">
        กรุณาติดต่อเจ้าหน้าที่สปส.ที่รับผิดชอบ!
        </div>

    </div>
   



</Modal>
<style>

    .modalStyle .ant-modal-header {
        background: #F56C6C !important;
    }
</style>
@code {
    string title = "\0";
    private Model model = new Model();
    private Form<Model> _form;
    bool loading = false;

    [Parameter]
    public bool _visible { get; set; }
    [Parameter]
    public EventCallback<bool> OnClose { get; set; }

    private void OnFinish(EditContext editContext)
    {
        Console.WriteLine("e");
        _visible = false;
    }
    private void OnFinishFailed(EditContext editContext)
    {
        //Console.WriteLine($"Failed:{JsonSerializer.Serialize(model)}");
    }
    private void HandleCancel(MouseEventArgs e)
    {
        Console.WriteLine(e);
        OnClose.InvokeAsync(false);
    }




    public class Model
    {
        [Required]
        public string Username { get; set; }
        [Required]
        public string Password { get; set; }
        public bool RememberMe { get; set; } = true;
    }
}
