@using System.ComponentModel.DataAnnotations;

@{

    RenderFragment canclebutton =@<div>
        <Icon Type="close-circle" Theme="outline" />
        ยกเลิก
    </div>;
}
<style>
    .text-confirm{
        color: #000;
        text-align: center;
        
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        
        letter-spacing: -0.456px;
    }
</style>
<Modal Title="@title"
    Visible="@_visible"
       OnCancel="@HandleCancel"
       
       CancelText="@canclebutton"

       Class="mms-media-center mms-text-title"
       Footer="null"
 >
    <div class=" d-flex justify-content-center my-4">
        <div class="bg-user-icon mms-text-center">
            @* <i class="fa-solid fa-user fa-4x" style="color: #1f3251;"></i>*@
            @*<i class="fa-solid fa-circle-exclamation fa-4x" style="color :#909399"></i>*@
            <img src="helper_shared/FeesExtImage/icon4.jpg" style="width : 96px">
        </div>
    </div>

    <div class="mx-2 my-4">

        <div class="text-confirm">
            <div >เมื่อทำการยืนยันการเบิกไปแล้ว</div>
            <div>จะไม่สามารถเเก้ไขข้อมูลการเบิกได้</div>
            <div >ดำเนินการต่อหรือไม่?</div>
        </div>
       
    </div>
    <div class="mx-2 my-4">
        <div class="mms-media-center">

            <Button Type="@ButtonType.Primary" Class="mms-text-header" style="background : #59AD46 !important ; border-color: #59AD46 !important;">
                ยืนยันการเบิก
            </Button>

        </div>
    </div>


</Modal>

@code {
    string title = "\0";
    private Model model = new Model();
    private Form<Model> _form;
    bool loading = false;

    [Parameter]
    public bool _visible { get; set; }
    [Parameter]
    public EventCallback<bool> OnClose { get; set; }

    private void OnFinish(EditContext editContext)
    {
        Console.WriteLine("e");
        _visible = false;
    }
    private void OnFinishFailed(EditContext editContext)
    {
        //Console.WriteLine($"Failed:{JsonSerializer.Serialize(model)}");
    }
    private void HandleCancel(MouseEventArgs e)
    {
        Console.WriteLine(e);
        OnClose.InvokeAsync(false);
    }




    public class Model
    {
        [Required]
        public string Username { get; set; }
        [Required]
        public string Password { get; set; }
        public bool RememberMe { get; set; } = true;
    }
}
