

@{

    RenderFragment canclebutton =@<div>
        <Icon Type="close-circle" Theme="outline" />
        ยกเลิก
    </div>;
}
<style>
    .text-title {
        color: #334396;
        font-feature-settings: 'clig' off, 'liga' off;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
    }
    .btn{
        background-color : none !important
    }
      .check-buttons {
        width: 100%;
        margin: 0 auto;
        text-align: center;
      }

      .custom-check input {
        display: none;
      }

      .check-btn {
        width: 50px;
        height: 105px;
        border: 3px solid transparent;
        display: inline-block;
        border-radius: 10px;
        position: relative;
        text-align: center;
        cursor: pointer;
      }

      .check-btn > i {
        color: #ffffff;
        background-color: #67C23A;
        font-size: 14px;
        position: absolute;
        top: -15px;
        left: 50%;
        transform: translateX(-50%) scale(4);
        border-radius: 50px;
        padding: 3px;
        transition: 0.2s;
        pointer-events: none;
        opacity: 0;
      }

      .check-btn .hobbies-icon {
       
        height: 80px;
        position: absolute;
        top: 40%;
        left : 17%;
        transform: translate(-50%, -50%);
            margin-left: 8px;
      }


      

      .custom-check input:checked + .check-btn {
        border: 3px solid #334396;
      }

      .custom-check input:checked + .check-btn > i {
        opacity: 1;
        transform: translateX(-50%) scale(1);
      }
   
   
</style>
<Modal Title="@title"
       Visible="@_visible"
       OnCancel="@HandleCancel"
       CancelText="@canclebutton"
       Class="mms-media-center mms-text-title"
       Width="1300"
       Footer="null">

    <Body>

        <div class="container my-2">

            <div class="mms-media-center">
                ฟันบน
            </div>
            <div class="d-flex">
                <div class="col-lg-6">

                    <div class="d-flex justify-content-center">

                            @if (LT1.Count != 0)
                            {
                            @foreach (var image in LT1)
                                {
                                    <div class=" col-1 mx-1">
                                        <div class="check-buttons">
                                            <label class="custom-check">
                                            <input type="checkbox"  @bind="image.SelectTooth" />
                                                <span class="check-btn">
                                                <i class="fa-solid fa-check"></i>
                                                    <div class="hobbies-icon">
                                                    <img src="@image.ImagePath" alt="@image.ToothName" style="margin-left: 17px;margin-top: 10px;" />
                                                    </div>
                                                </span>
                                            </label>
                                        </div>
                                        <div class="mms-media-center">@image.ToothNo</div>
                                    <div class="mms-media-center">@image.ToothName</div>
                                    </div>                    
                                }

                            }
                        </div>

                   
                </div>
                <div class="col-lg-6">

                  <div class="d-flex justify-content-center">

                            @if (LT2.Count != 0)
                            {
                            @foreach (var image in LT2)
                                {
                                <div class=" col-1 mx-1">


                                    <div class="check-buttons">
                                        <label class="custom-check">
                                            <input type="checkbox" @bind="image.SelectTooth" />
                                            <span class="check-btn">
                                                <i class="fa-solid fa-check"></i>
                                                <div class="hobbies-icon">
                                                    <img src="@image.ImagePath" alt="@image.ToothName" style="margin-left: 17px;margin-top: 10px;" />
                                                </div>
                                            </span>
                                        </label>
                                        @if (true)
                                        {
                                            <Popover ContentTemplate="@_content"
                                                     OnVisibleChange="OnVisibleChange"
                                                     Trigger="@(new AntDesign.Trigger[] { AntDesign.Trigger.Click})"
                                                     Class="ant-popover-inner-content">
                                                <Button OnClick="@(()=>GetDetail((int)image.ToothTypeId))" Type="@ButtonType.Text">
                                                    <i class="fa-solid fa-user-doctor" style="color:#334396"></i>
                                                </Button>
                                            </Popover>
                                        }

                                    </div>
                                    <div class="mms-media-center">@image.ToothNo</div>
                                    <div class="mms-media-center">@image.ToothName</div>
                                </div>
                                }

                            }
                        </div>
                   
                </div>
            </div>
            <hr />
            <div class="mms-media-center">
                ฟันล่าง
            </div>
            <div class="d-flex ">
                <div class="col-lg-6">

                    
                    <div class="d-flex justify-content-center">

                        @if (LT3.Count != 0)
                        {
                            @foreach (var image in LT3)
                            {
                                <div class=" col-1 mx-1">
                                    <div class="check-buttons">
                                        <label class="custom-check">
                                            <input type="checkbox" @bind="image.SelectTooth" />
                                            <span class="check-btn">
                                                <i class="fa-solid fa-check"></i>
                                                <div class="hobbies-icon">
                                                    <img src="@image.ImagePath" alt="@image.ToothName" style="margin-left: 17px;margin-top: 10px;" />
                                                </div>
                                            </span>
                                        </label>
                                    </div>
                                    <div class="mms-media-center">@image.ToothNo</div>
                                    <div class="mms-media-center">@image.ToothName</div>
                                </div>
                            }

                        }
                        </div>
                   
                </div>
                <div class="col-lg-6">

                  
                   <div class="d-flex justify-content-center">

                        @if (LT4.Count != 0)
                        {
                            @foreach (var image in LT4)
                            {
                                <div class=" col-1 mx-1">
                                    <div class="check-buttons">
                                        <label class="custom-check">
                                            <input type="checkbox" @bind="image.SelectTooth" />
                                            <span class="check-btn">
                                                <i class="fa-solid fa-check"></i>
                                                <div class="hobbies-icon">
                                                    <img src="@image.ImagePath" alt="@image.ToothName" style="margin-left: 17px;margin-top: 10px;" />
                                                </div>
                                            </span>
                                        </label>
                                    </div>
                                    <div class="mms-media-center">@image.ToothNo</div>
                                    <div class="mms-media-center">@image.ToothName</div>
                                </div>
                            }

                        }
                        </div>
                    
                </div>
            </div>

            <hr />
            <div class="mms-media-center">
                อื่นๆ
            </div>
            <div class="d-flex ">
                
                    <div class="col-lg-12">


                   <div class="d-flex justify-content-center">

                        @if (LT5.Count != 0)
                        {
                            @foreach (var image in LT5)
                            {
                                <div class=" col-1 mx-1">
                                    <div class="check-buttons">
                                        <label class="custom-check">
                                            <input type="checkbox" @bind="image.SelectTooth" />
                                            <span class="check-btn">
                                                <i class="fa-solid fa-check"></i>
                                                <div class="hobbies-icon">
                                                    <img src="@image.ImagePath" alt="@image.ToothName" style="margin-left: 17px;margin-top: 10px;" />
                                                </div>
                                            </span>
                                        </label>
                                    </div>
                                    <div class="mms-media-center">@image.ToothNo</div>
                                    <div class="mms-media-center">@image.ToothName</div>
                                </div>
                            }

                        }
                        </div>

                        
                    </div>
    
                
                
            </div>
           
        </div>

        <div class="container py-4">
            <div class="mms-media-center">
                <Button Type="@ButtonType.Primary" Class="mms-text-header" style="background : #59AD46 !important ; border-color: #59AD46 !important;" @onclick=Submit>
                    ยืนยัน
                </Button>
            </div>
        </div>
    </Body>





</Modal>

@using System.ComponentModel.DataAnnotations;
@using sso.mms.fees.api.ViewModels.Responses
@using sso.mms.fees.api.ViewModels.Dental
@using sso.mms.fees.ext.Providers.Dental.TreatmentRecord

@inject TreatmentRecordServices treatmentRecordServices

@code {
    private bool _visiblePop = false;
    string title = "\0";

    bool loading = false;
    string txtValue = "";



    [Parameter]
    public bool _visible { get; set; }
    public int DetailId = 0;
    [Parameter]
    public EventCallback<bool> OnClose { get; set; }



    [Parameter]
    public EventCallback<string> selected { get; set; }
    public string select;

    ResponseList<AaiDentalToothTypeMView> ListTooth = new ResponseList<AaiDentalToothTypeMView>();
    List<AaiDentalToothTypeMView> LT1 = new List<AaiDentalToothTypeMView>();
    List<AaiDentalToothTypeMView> LT2 = new List<AaiDentalToothTypeMView>();
    List<AaiDentalToothTypeMView> LT3 = new List<AaiDentalToothTypeMView>();
    List<AaiDentalToothTypeMView> LT4 = new List<AaiDentalToothTypeMView>();
    List<AaiDentalToothTypeMView> LT5 = new List<AaiDentalToothTypeMView>();


    protected override async void OnInitialized()
    {

        ListTooth = await treatmentRecordServices.ToothList();
        LT1 = ListTooth.ResultList.Where(item => Convert.ToInt32(item.ToothTypeId) >= 1 && Convert.ToInt32(item.ToothTypeId) <= 8).ToList();
        LT2 = ListTooth.ResultList.Where(item => Convert.ToInt32(item.ToothTypeId) >= 9 && Convert.ToInt32(item.ToothTypeId) <= 16).ToList();
        LT3 = ListTooth.ResultList.Where(item => Convert.ToInt32(item.ToothTypeId) >= 17 && Convert.ToInt32(item.ToothTypeId) <= 24).ToList();
        LT4 = ListTooth.ResultList.Where(item => Convert.ToInt32(item.ToothTypeId) >= 25 && Convert.ToInt32(item.ToothTypeId) <= 32).ToList();
        LT5 = ListTooth.ResultList.Where(item => Convert.ToInt32(item.ToothTypeId) >= 33).ToList();

      
    }
    public class ToothData
    {
        public int Id { get; set; }
        public string Name { get; set; }
        public string Number { get; set; }
        public string Path { get; set; }
        public bool Ischeck { get; set; } = false;

    };
    private void OnFinish(EditContext editContext)
    {
        Console.WriteLine("e");
        _visible = false;
    }
    private void OnFinishFailed(EditContext editContext)
    {
        //Console.WriteLine($"Failed:{JsonSerializer.Serialize(model)}");
    }
    private void HandleCancel(MouseEventArgs e)
    {
        Console.WriteLine(e);
        OnClose.InvokeAsync(false);
    }
    private void OnVisibleChange(bool visible)
    {
        _visiblePop = visible;
    }
    private void GetDetail(int detailid)
    {
        DetailId = detailid;
    }
    private void Submit()
    {
        select = string.Join(", ", ListTooth.ResultList.Where(item => item.SelectTooth).Select(item => item.ToothNo));
        selected.InvokeAsync(select);
        OnClose.InvokeAsync(false);
        foreach (var item in ListTooth.ResultList.Where(w => w.SelectTooth).ToList())
        {
            ListTooth.ResultList.FirstOrDefault(f => f.ToothTypeId == item.ToothTypeId).SelectTooth= false;
        }
    }


    private RenderFragment _content =>
    @<div style="width: 340px;  position: relative;" class="container">
        <div class="row ">
            <br />
            <div class="col-4 pt-2" style="color:#fff;background:#334396 ;">วันที่ตรวจ</div><div class="col-8 pt-2">19 ก.ค. 2565</div>
            <div class="col-4 pt-2" style="color:#fff;background:#334396 ;">วินิจฉัย</div><div class="col-8 pt-2">ฟันผุมาก</div>
            <div class="col-4 pt-2" style="color:#fff;background:#334396 ;">ICD10</div><div class="col-8 pt-2">K02.2 Caries of cementum</div>
            <div class="col-4 pt-2" style="color:#fff;background:#334396 ;">ICD9</div><div class="col-8 pt-2">2301 23.01 Extraction of deciduous tooth</div>
            <div class="col-4 pt-2" style="color:#fff;background:#334396 ;">แพทย์ผู้ตรวจ</div><div class="col-8 pt-2">น.ส.กชกร มั่นใจ (แสดงเลข ท. หรือ ตำแหน่ง)</div>
            <div class="col-4 py-2" style="color:#fff;background:#334396 ;">ผู้บันทึก</div><div class="col-8 pt-2">น.ส.กชกร มั่นใจ</div>
        </div>
    </div>
    ;


    
}
