
<Modal Title="@title"
       Visible="@_visible"
       OnOk="@HandleOk"
       OnCancel="@HandleCancel"
       Class="mms-media-center mms-text-title"
       Width="1100">


    <div class="row">
        <div class="col">
            ชื่อสถานพยาบาล : โรงพยาบาล W
        </div>
        <div class="col">
            ผู้วินิจฉัย : นางเเพรวา  ตาสวย
        </div>
        <div class="col">
            <Select @bind-Value="@_selectedValue"
                    DefaultValue="@("--ระบุ--")"
                    TItemValue="string"
                    TItem="string"
                    LabelInValue="true"
                    OnSelectedItemChanged="@(item => _selectedItem = item)"
                    Style="width: 120px;">
                <SelectOptions>
                    <SelectOption TItemValue="string" TItem="string" Value="@("ระบุ")" Label=" --ระบุ--" />
                    <SelectOption TItemValue="string" TItem="string" Value="@("lucy")" Label="Jack (101)" />
                </SelectOptions>
            </Select>
        </div>
        <div class="col">
            สถานะจ่าย : -
        </div>
    </div>
    <div class="row">
        <div class="col">
            รหัสสถานพยาบาล : 1234569
        </div>
        <div class="col">
        </div>
        <div class="col">
            หมายเหตุ : ได้รับเอกสารเพิ่มเติมเเล้ว...
        </div>
        <div class="col">
            วันที่จ่าย : -
        </div>

    </div>
    <div class="d-flex flex-column pb-3">
        <div>
            ชื่อ-นามสกุล : นางวันเพ็ญ  เด่นใจ
        </div>
        <div>
            เลขประจำตัวประชาชน : 1234567890xxx
        </div>
        <div>
            วันเกิด : 12  พฤษภาคม 2530
        </div>
        <div>
            เพศ : ชาย
        </div>
        <div>
            สถานะผู้ประกันตน : ผู้ทุพพลภาพ
        </div>
    </div>

    <div class="d-flex flex-column">
        <div>
            รายละเอียดการรักษา
        </div>
        <div>
            วันที่เข้ารักษา  23 มิ.ย 67 - 25 มิ.ย 67
        </div>
        <div class="d-flex justify-content-between pe-3">
            <div>
                จำนวนวัน : 1 วัน
            </div>
           
        </div>
        <div>
            ค่า RW : 2.9900
        </div>
        <div>
            DRG : 01630
        </div>
        <div class="d-flex justify-content-between">
            <div class="pe-2">
                จำนวนค่ารักษาพยาบาลรวม : 36,000 บาท
            </div>
            <div class="pe-2">
                จำนวนเงินที่คำนวนได้ : 35,880 บาท
            </div>
            <div class="d-flex">
                <div>
                    เงินที่จ่าย :
                </div>
                <div class="d-flex">
                    <Input Type="text" @bind-Value="@money" Placeholder="15,000" Class="pe-2"></Input> <span>บาท</span>
                </div>
            </div>
            <div>
                พิมพ์เอกสาร
            </div>


        </div>
    </div>

</Modal>

@code {
    string title = "รายละเอียดการเบิกจ่าย";

    string _selectedValue ="";
    string _selectedItem = "";
    string money = "";

    [Parameter]
    public bool _visible { get; set; }
    [Parameter]
    public EventCallback<bool> OnClose { get; set; }


    private void HandleCancel(MouseEventArgs e)
    {
        Console.WriteLine(e);
        OnClose.InvokeAsync(false);
    }
    private void HandleOk(MouseEventArgs e)
    {
        OnClose.InvokeAsync(false);
    }

}
