@using AntDesign.TableModels
@using System.ComponentModel

<style>
    .ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
        color: #fff;
        background: #334396;
        border-color: #334396;
        height: 40px;
        padding-top: 5px;
    }

    .ant-radio-button-wrapper:first-child {
        border: 1px solid #334396;
        height: 40px;
        padding-top: 5px;
    }

    .ant-radio-button-wrapper:last-child {
        border: 1px solid #334396;
        height: 40px;
        padding-top: 5px;
    }
</style>

<div class="site-layout-background" style="padding: 24px;">
    <div class="mms-nav-title">
        <div class="mms-text-title px-4 py-3">ส่งเสริมสุขภาพและป้องกันโรคกรณีวัคซีน</div>
    </div>

    <div class="p-sm-2 p-lg-5">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page">
                    <span class="breadcum-sucress py-2">ประวัติการเบิกจ่าย</span>
                </li>
                @if(radioValue4 == data)
                {
                    <li class="breadcrumb-item" aria-current="page">
                        <span class="breadcum-process py-2">3 สายพันธุ์</span>
                    </li>
                }
                else if (radioValue4 == data2)
                {
                    <li class="breadcrumb-item" aria-current="page">
                        <span class="breadcum-process py-2">4 สายพันธุ์</span>
                    </li>
                }
            </ol>
        </nav>
        <hr />
        <div class="row py-4 mms-txt-headdetail">
            <div class="col-md-4 d-flex">
                <span class="w-25 mms-media-center">งวดที่ :</span>
                <Select TItem="Person"
                        TItemValue="string"
                        DataSource="@_persons"
                        @bind-Value="@_selectedValue"
                        LabelName="@nameof(Person.Name)"
                        ValueName="@nameof(Person.Value)"
                        Placeholder="Select a person"
                        DefaultActiveFirstOption="false"
                                    EnableSearch
                        OnBlur="OnBlur"
                        OnFocus="OnFocus"
                        OnSelectedItemChanged="OnSelectedItemChangedHandler"
                        OnSearch="OnSearch">
                </Select>
            </div>
            <div class="col-md-8">
            </div>
        </div>
        <Table @bind-SelectedRows="selectedRows" DataSource="listOfData2" Bordered ScrollX="1350" HidePagination>
            <ColumnDefinitions>
                <PropertyColumn Property="c=>c.Id" Width="15%" RowSpan="@GetRowSpan(context.Id)" />
                <PropertyColumn Property="c=>c.installment" />
                <PropertyColumn Property="c=>c.installment" />
                <PropertyColumn Property="c=>c.installment" />
                <PropertyColumn Property="c=>c.installment" Align="ColumnAlign.Center" />
                <PropertyColumn Property="c=>c.installment" Align="ColumnAlign.Center" />
                <PropertyColumn Property="c=>c.installment" Align="ColumnAlign.Center" />
                <PropertyColumn Property="c=>c.installment" Align="ColumnAlign.Center" />
                @{
                    var totalBorrow = listOfData2.Sum(x => x.withdrawCount);
                    var totalRepayment = listOfData2.Sum(x => x.amount);
                    var count = listOfData2.Count();
                }
                <SummaryRow>
                    <SummaryCell ColSpan="2" Align="ColumnAlign.Right">รวมทั้งหมด</SummaryCell>
                    <SummaryCell>
                        <Text>@count</Text>
                    </SummaryCell>
                    <SummaryCell>
                        <Text>@totalBorrow</Text>
                    </SummaryCell>
                    <SummaryCell>
                        <Text>@totalRepayment</Text>
                    </SummaryCell>
                    <SummaryCell ColSpan="3">
                        <Text>@totalRepayment</Text>
                    </SummaryCell>
                </SummaryRow>
            </ColumnDefinitions>
            <HeaderTemplate>
                <TableRow>
                    <TableHeader @bind-Field="context.Id" RowSpan="2" Title="จำนวนสถานพยาบาล" />
                    <TableHeader @bind-Field="context.installment" RowSpan="2" Title="ประเภทบริการ" />
                    <TableHeader @bind-Field="context.installment" RowSpan="2" Title="จำนวนรายการ" />
                    <TableHeader @bind-Field="context.installment" RowSpan="2" Title="จำนวนเงิน(บาท)" />
                    <TableHeader @bind-Field="context.installment" ColSpan="2" Title="จ่ายเเล้ว" />
                    <TableHeader @bind-Field="context.installment" ColSpan="2" Title="ยังไม่จ่าย" />
                </TableRow>
                <TableRow>
                    <SimpleTableHeader>รายการ</SimpleTableHeader>
                    <SimpleTableHeader>จำนวนเงิน(บาท)</SimpleTableHeader>
                    <SimpleTableHeader>รายการ</SimpleTableHeader>
                    <SimpleTableHeader>จำนวนเงิน(บาท)</SimpleTableHeader>
                </TableRow>
            </HeaderTemplate>
        </Table>

        <div class="row py-4">
            <div class="col-md-12 col-lg-6">
                <div class="mms-media-start">
                    <RadioGroup @bind-Value="radioValue4" ButtonStyle="@RadioButtonStyle.Solid">
                        <Radio RadioButton Value="data">3 สายพันธุ์</Radio>
                        <Radio RadioButton Value="data2">4 สายพันธุ์</Radio>
                            </RadioGroup>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-6">
                        <div class="mms-media-end">
                            <Space Direction="@DirectionVHType.Vertical" Class="mms-btn-serch w-50">
                            <SpaceItem>
                            <Search Placeholder="ระบุชื่อโรงพยาบาล." EnterButton="true" />
                            </SpaceItem>
                            </Space>
                        </div>
                    </div>
                </div>
                <Table DefaultExpandAllRows DataSource="@radioValue4" TreeChildren="item=>item.Children" Bordered ScrollX="1350">
            <ColumnDefinitions>
                <PropertyColumn Property="c=>c.Id" ColSpan="@GetColSpan(context.HosStauts)" Width="7%" Style="@GetColColor(context.HosStauts)" />
                <PropertyColumn Property="c=>c.Name" ColSpan="@GetColSpan(context.HosStauts)" Style="@GetColColor(context.HosStauts)" />
                <PropertyColumn Property="c=>c.Name" ColSpan="@GetColSpan(context.HosStauts)" Style="@GetColColor(context.HosStauts)" />
                <PropertyColumn Property="c=>c.Name" ColSpan="@GetColSpan(context.HosStauts)" Style="@GetColColor(context.HosStauts)" />
                <PropertyColumn Property="c=>c.Name" ColSpan="@GetColSpan(context.HosStauts)" Style="@GetColColor(context.HosStauts)" Width="15%" />
                <PropertyColumn Property="c=>c.Name" ColSpan="@GetColSpan(context.HosStauts)" Style="@GetColColor(context.HosStauts)" Width="15%" />
                @if (context.HosName == null)
                {
                    <PropertyColumn Property="c=>c.Name" ColSpan="@GetColSpan(context.HosStauts , "name")" Style="@GetColColor(context.HosStauts , "name")" />
                }
                else
                {
                    <PropertyColumn Property="c=>c.HosName" ColSpan="@GetColSpan(context.HosStauts , "name")" Style="@GetColColor(context.HosStauts , "name")" />
                }
                <PropertyColumn Property="c=>c.Type" Align="ColumnAlign.Center" ColSpan="@GetColSpan(context.HosStauts)" Style="@GetColColor(context.HosStauts)" />
                <PropertyColumn Property="c=>c.Name" Align="ColumnAlign.Center" ColSpan="@GetColSpan(context.HosStauts)" Style="@GetColColor(context.HosStauts)" />
                <PropertyColumn Property="c=>c.Name" Align="ColumnAlign.Center" ColSpan="@GetColSpan(context.HosStauts)" Style="@GetColColor(context.HosStauts)" />
                <PropertyColumn Property="c=>c.Id" Width="5%" Align="ColumnAlign.Center" ColSpan="@GetColSpan(context.HosStauts)" Style="@GetColColor(context.HosStauts)">
                    <img class="mx-2" title="แก้ไข" src="helper_shared/PortalAdminImage/eye.png"
                         @onclick=@(() => DHCallmodal(true)) style="width:24px;height:24px; cursor:pointer;" />
                </PropertyColumn>
            </ColumnDefinitions>
            <HeaderTemplate>
                <TableRow>
                    <TableHeader @bind-Field="context.Id" Title="ลำดับ" />
                    <TableHeader @bind-Field="context.Name" Title="งวด" />
                    <TableHeader @bind-Field="context.Name" Title="เลขชุดคำสั่งจ่าย" />
                    <TableHeader @bind-Field="context.Name" Title="เลขใบคำสั่งจ่าย" />
                    <TableHeader @bind-Field="context.Name" Title="ชื่อ-นามสกุล" />
                    <TableHeader @bind-Field="context.Name" Title="เลขประจำตัวประชาชน" />
                    <TableHeader @bind-Field="context.Name" Title="วันที่ฉีด" />
                    <TableHeader @bind-Field="context.Name" Title="ชนิดวัคซีน" />
                    <TableHeader @bind-Field="context.Age" Title="จำนวนเงิน" />
                    <TableHeader @bind-Field="context.Age" Title="สถานะ" />
                    <TableHeader @bind-Field="context.Id" Title="" />
                </TableRow>
            </HeaderTemplate>
        </Table>
    </div>
</div>

@using sso.mms.fees.admin.Shared.HealthPromoVaccination.HPVDisbursementHistory.Modals
<DH_ModalDetail _visible=@Callmodal OnClose="@DHCallmodal" />
@code {
    /*-- CallbackModel --*/
    bool Callmodal { get; set; }
    public void DHCallmodal(bool value)
    {
        Callmodal = value;
    }
    public async Task GoBack(int usepage)
    {
        IndexPage.InvokeAsync(1);
    }

    /*-- ---------- --*/
    [Parameter]
    public EventCallback<int> IndexPage { get; set; }

    private int Table;

    string? txtValue { get; set; }

    public async Task goEdit(int item)
    {
        await IndexPage.InvokeAsync(item);
    }

    RenderFragment _audioIcon =@<Icon Type="audio" Theme="outline" Style="color: #1890ff" />;

    public class ItemData
    {
        public int Id { get; set; }
        public string? installment { get; set; }
        public string? paymentNumber { get; set; }
        public int? withdrawCount { get; set; }
        public int? amount { get; set; }
        public string? status { get; set; }


    };
    IEnumerable<ItemData>? selectedRows;
    List<ItemData> listOfData2 = new List<ItemData>();

    protected override void OnInitialized()
    {
        _data = data;
        radioValue4 = data;

        listOfData2 = Enumerable.Range(0, 2).Select(i => new ItemData
            {
                Id = i,
                installment = $"xxxxxxx{i}",
                paymentNumber = $"Test Ter{i}",
                withdrawCount = 10,
                amount = 50,
                status = "ลงลายมือชื่อแล้ว",
            }).ToList();

        _persons = new List<Person>
    {
    new Person { Value = "jack", Name = "Jack" },
    new Person { Value = "lucy", Name = "Lucy" },
    new Person { Value = "tom" , Name = "Tom" }
    };
    }
    /*-- selection and serch --*/
    class Person
    {
        public string Value { get; set; }
        public string Name { get; set; }
    }

    List<Person> _persons;
    string _selectedValue;
    Person _selectedItem;

    private void OnSelectedItemChangedHandler(Person value)
    {
        _selectedItem = value;
        Console.WriteLine($"selected: ${value?.Name}");
    }
    private void OnBlur()
    {
        Console.WriteLine("blur");
    }

    private void OnFocus()
    {
        Console.WriteLine("focus");
    }

    private void OnSearch(string value)
    {
        Console.WriteLine($"search: {value}");
    }

    /*-- get rowspan table 1 --*/
    private int GetRowSpan(int key)
    {
        if (key == 0)
            return 2;
        else if (key == 1)
            return 0;
        else
            return 1;
    }


    /*- _data -*/
    Data[] _data;

    Data[] data =
        {
        new() {
            HosStauts  = true,
            HosName = "โรงพยาบาลลานนา1",
            Id = "1",
            Key = "1",
            Name = "John Brown sr.",
            Age = 60,
            Address = "New York No. 1 Lake Park",
            Children = new Data[] {
                new() {
                    Id = "1",
                    Key = "11",
                    Name = "Jim Green",
                    Age = 42,
                    Type = "3 สายพันธุ์",
                    Address = "London No. 1 Lake Park",
                },
    },
        },
        new() {
            HosStauts  = true,
            HosName = "โรงพยาบาลลานนา2",
            Id = "1",
            Key = "2",
            Name = "Joe Black",
            Age = 32,
            Address = "Sidney No. 1 Lake Park",
                        Children = new Data[] {
                new() {
                    Id = "1",
                    Key = "11",
                    Name = "Jim Green",
                    Age = 42,
                    Type = "3 สายพันธุ์",
                    Address = "London No. 1 Lake Park",
                },

    },
        },

    };

    Data[] data2 =
       {
        new() {
            HosStauts  = true,
            HosName = "โรงพยาบาลลานนา1",
            Id = "1",
            Key = "1",
            Name = "John Brown sr.",
            Age = 60,
            Address = "New York No. 1 Lake Park",
            Children = new Data[] {
                new() {
                    Id = "1",
                    Key = "11",
                    Name = "Jim Green",
                    Age = 42,
                    Type = "4 สายพันธุ์",
                    Address = "London No. 1 Lake Park",
                },
    },
        },
        new() {
            HosStauts  = true,
            HosName = "โรงพยาบาลลานนา2",
            Id = "1",
            Key = "2",
            Name = "Joe Black",
            Age = 32,
            Address = "Sidney No. 1 Lake Park",
                        Children = new Data[] {
                new() {
                    Id = "1",
                    Key = "11",
                    Name = "Jim Green",
                    Age = 42,
                    Type = "4 สายพันธุ์",
                    Address = "London No. 1 Lake Park",
                },

    },
        },

    };

    /*-- Radio group select --*/
    Data[] radioValue4;

    private int GetColSpan(bool HosStauts, string columnTitle = "")
    {
        if (HosStauts == true)
            if (columnTitle == "name")
                return 11;
            else
                return 0;
        else
            return 1;
    }
    private string GetColColor(bool HosStauts, string columnTitle = "")
    {
        if (HosStauts == true)
            if (columnTitle == "name")
                return "background-color:#D8D6D6;";
            else
                return "";
        else
            return "";
    }

    public class Data
    {
        public bool HosStauts { get; set; }

        public string HosName { get; set; }

        public string Id { get; set; }

        public string Key { get; set; }

        public string Type { get; set; }

        public string Name { get; set; }

        public int Age { get; set; }

        public string Address { get; set; }

        public Data[] Children { get; set; }
    }

}
