<style>
    html, body {
        overflow-x: visible;
    }
</style>
<div class="mms-txt-headdetail pb-3">รายการที่กำหนด</div>
<Table DataSource='ChecklistDAndSetRefNickName.Where(x => x.IsOption == false && x.ChecklistDtStatus == "A")' TItem="ChecklistDAndSetRefNickNameView" RowClassName="@(_=>"editable-row")" Bordered ScrollX="1000">
    <ChildContent Context="data">

        <Column TData="string" Title="ลำดับ" Width="8%" Style="text-align:center;">
            @String.Format("{0:d}", ChecklistDAndSetRefNickName.Where(x => x.IsOption == false && x.ChecklistDtStatus == "A").ToList().IndexOf(data) + 1)
        </Column>
            <Column TData="string" Title="ชื่อรายการตั้งต้น" Style="text-align:center;" Width="43%">
                @data.ChecklistDtName

            </Column>
            <Column TData="string" Title="ชื่อรายการภายใน" Style="text-align:center;" Width="43%">
            @if (@data.nickname.Edit)
            {
                <Input Type="text" @bind-Value="@data.nickname.SetRefName" AutoFocus />
            }
            else
            {
                <div class="editable-cell-value-wrap" style="padding-right:24px">
                    @data.nickname.SetRefName
                </div>
                }
            </Column>

 
        <Column TData="string" Style="text-align:center;" Width="6%">
            <img class="mx-2" title="แก้ไข" src="helper_shared/PortalAdminImage/edit.png" style="width:24px;height:24px; cursor:pointer;" @onclick="(() => data.nickname.Edit = true)" />
        </Column>

    </ChildContent>
</Table>

<div class="mms-txt-headdetail pb-3 pt-5">รายการที่สามารถเพิ่มเติมได้</div>
<Table DataSource='ChecklistDAndSetRefNickName.Where(x => x.IsOption == true && x.ChecklistDtStatus == "A")' TItem="ChecklistDAndSetRefNickNameView" RowClassName="@(_=>"editable-row")" Bordered ScrollX="1000">
    <ChildContent Context="data">

        <Column TData="string" Title="ลำดับ" Width="8%" Style="text-align:center;">
            @String.Format("{0:d}", ChecklistDAndSetRefNickName.Where(x => x.IsOption == true && x.ChecklistDtStatus == "A").ToList().IndexOf(data) + 1)
        </Column>
            <Column TData="string" Title="ชื่อรายการตั้งต้น" Style="text-align:center;" Width="43%">
                @data.ChecklistDtName

            </Column>
            <Column TData="string" Title="ชื่อรายการภายใน" Style="text-align:center;" Width="43%">
            @if (@data.nickname.Edit)
                {
                <Input Type="text" @bind-Value="@data.nickname.SetRefName" AutoFocus />
                }
                else
                {
                    <div class="editable-cell-value-wrap" style="padding-right:24px">
                        @data.nickname.SetRefName
                    </div>
                }
            </Column>

        <Column TData="string" Style="text-align:center;" Width="6%">
            <img class="mx-2" title="แก้ไข" src="helper_shared/PortalAdminImage/edit.png" style="width:24px;height:24px; cursor:pointer;" @onclick="(() => data.nickname.Edit = true)"/>
        </Column>

    </ChildContent>
</Table>
@if (isloading == true)
{
    <style>
        body {
            overflow: hidden;
        }</style>

    <LoadingPage></LoadingPage>
}
@code {
    [Parameter]
    public List<ChecklistDAndSetRefNickNameView> ChecklistDAndSetRefNickName { get; set; }
    public bool isloading = false;
    int? editIdname;
    int? editId;
    List<ItemData> listOfData = new List<ItemData>();
    protected override void OnInitialized()
    {
        
    }

    //void startEdit(decimal id)
    //{
    //    editId = id;
    //}

    public class ItemData
    {
        public int Id { get; set; }
        public string list { get; set; }

    };
}
