<div class="site-layout-background" style="padding: 24px;">
    <div class="mms-nav-title">
        <div class="mms-text-title px-4 py-3">ค่าบริการทางการแพทย์ AdjRW</div>
    </div>
    <div class="container py-4">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page">
                    <span class="breadcum-process py-2">จัดการวงเงินงบประมาณ</span>
                </li>
            </ol>
        </nav>
        <hr />
        <div class="row py-4">
            <div class="col-sm-12 col-md-6"></div>
            <div class="mms-media-end col-sm-12 col-md-6">
                <Space Direction="@DirectionVHType.Vertical" Class="mms-btn-serch w-75">
                    <SpaceItem>
                        <Search Placeholder="ข้อมูลที่ต้องการค้นหา.." EnterButton="true" />
                    </SpaceItem>
                </Space>
            </div>
        </div>
        <Table DataSource="@listOfDataDescending" TItem="ItemData" RowClassName="@(_=>"editable-row")" @bind-PageSize="pageSize" Bordered ScrollX="1000">
            <ChildContent Context="data">
                <Column TData="string" Width="6%" Title="ลำดับ" Style="text-align:center;">
                    @String.Format("{0:d}", listOfDataDescending.IndexOf(data) + 1)
                </Column>
                <Column TData="string" Width="7%" Title="ปี" Style="text-align:center;">
                    @data.year
                </Column>
                <Column TData="string" Title="วงงินงบประมาณต่อปี(บาท)" Style="text-align:center;">
                    @data.paymentNumber
                </Column>
                <Column TData="string" Title="เงินที่ใช้ไปแล้ว(บาท)" Style="text-align:center;">
                    @data.withdrawCount
                </Column>
                <Column TData="string" Title="เงินที่เรียกคืน(บาท)" Style="text-align:center;">
                    @data.amount
                </Column>
                <Column TData="string" Title="เงินคงเหลือ(บาท)" Style="text-align:center;">
                    @data.status
                </Column>
                <Column TData="string" Title="วันที่สร้าง" Style="text-align:center;">
                    @data.status
                </Column>
                <Column TData="string" Title="วันที่แก้ไข" Style="text-align:center;">
                    @data.status
                </Column>
                <Column TData="string" Width="7%" Style="text-align:center;">
                    @if ((data.year == DateTime.Now.Year + 543) || (data.year == DateTime.Now.Year + 542))
                    {
                        <img class="mx-2" title="เรียกดู" src="helper_shared/PortalAdminImage/edit.png" style="width:24px;height:24px; cursor:pointer;" @onclick=@(() => goEdit(2)) />
                    }
                    else
                    {
                        <img class="mx-2" title="เรียกดู" src="helper_shared/PortalAdminImage/eye.png" style="width:24px;height:24px; cursor:pointer;" />
                    }
                </Column>
            </ChildContent>

            <PaginationTemplate>
                <Pagination Class="pt-2"
                            Total="context.Total"
                            PageSize="context.PageSize"
                            Current="context.PageIndex"
                                        ShowSizeChanger
                            OnChange="context.HandlePageChange" />
            </PaginationTemplate>
            </Table>
        </div>
    </div>

    @code {
    [Parameter]
    public EventCallback<int> IndexPage { get; set; }

    private int Table;

    public void Addtable()
    {
        Table = 1;
    }

    string? txtValue { get; set; }

    public async Task goEdit(int item)
    {
        await IndexPage.InvokeAsync(item);
    }

    RenderFragment _audioIcon =@<Icon Type="audio" Theme="outline" Style="color: #1890ff" />;

    public class ItemData
    {
        public int Id { get; set; }
        public string installment { get; set; }
        public string paymentNumber { get; set; }
        public string withdrawCount { get; set; }
        public string amount { get; set; }
        public string status { get; set; }
        public int year { get; set; }


    };
    List<ItemData> listOfData = new List<ItemData>();
    List<ItemData> listOfDataDescending = new List<ItemData>();

    private int total => listOfData.Count();
    private int pageSize = 5;

    protected override void OnInitialized()
    {
        listOfData = Enumerable.Range(0, 4).Select(i => new ItemData
            {
                Id = i,
                installment = $"xxxxxxx{i}",
                paymentNumber = $"Test Ter99999999",
                withdrawCount = "10",
                amount = "400,000",
                status = "ลงลายมือชื่อแล้ว",
                year = 2562 + i,
            }).ToList();

        listOfData.Add(new ItemData
            {
                Id = 1,
                installment = $"xxxxxxx",
                paymentNumber = $"Test Ter99999999",
                withdrawCount = "10",
                amount = "400,000",
                status = "ลงลายมือชื่อแล้ว",
                year = 2566,

            });
        listOfDataDescending = listOfData.OrderByDescending(o => o.year).ToList();
    }
}
