@inject NavigationManager NavigationManager
<style>
    .ant-input-affix-wrapper.ant-input-affix-wrapper-textarea-with-clear-btn {
        padding: 0;
        height: 140px !important;
    }

</style>
@{
    RenderFragment footer = @<Template>
        <div class="mms-media-end">
            <div class="p-1">
                <Button Type="@ButtonType.Primary" Style="width:250px" @onclick="(() => DISCallmodalPASS(true))"><i class="fa-solid fa-floppy-disk"></i>&nbsp; บันทึก</Button>
            </div>
            <div class="p-1">
                <Button Class="ant-btn-distable" OnClick="@HandleCancel" @key="@( "back" )">
                    <i class="fa-solid fa-circle-xmark"></i> &nbsp; ยกเลิก
                </Button>
            </div>
        </div>
    </Template>;
}

<Modal Title="รายละเอียดข้อมูลผู้ใช้สิทธิ"
       Visible="@_visible"
       OnCancel="@HandleCancel"
       Footer="@footer"
       Width="1000">

    <div class="">
        <div class="row">
            <div class="col-md-12 col-lg-6">
                <div class="row">
                    <div class="col-6 d-flex flex-column align-items-end">
                        <p>เลขประจำตัวประชาชน :</p>
                        <p>เพศ :</p>
                        <p>สัญชาติ :</p>
                        <p>เบอร์โทรศัพท์ :</p>
                        <p>โรงพยาบาลตามสิทธิ์ :</p>
                    </div>
                    <div class="col-6 ">
                        <p>1234567890xxx</p>
                        <p>1234567890xxx</p>
                        <p>1234567890xxx</p>
                        <p>1234567890xxx</p>
                        <p>1234567890xxx</p>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-6">
                <div class="row">
                    <div class="col-6   d-flex flex-column align-items-end">
                        <p>ชื่อ - นามสกุล :</p>
                        <p>วันเกิด :</p>
                        <p>อายุ :</p>
                        <p>สถานะผู้ประกันตน :</p>
                    </div>
                    <div class="col-6 ">
                        <p>1234567890xxx</p>
                        <p>1234567890xxx</p>
                        <p>1234567890xxx</p>
                        <p>1234567890xxx</p>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-6 col-lg-6">
                <div class="row">
                    <div class="col-6 d-flex flex-column align-items-end">
                        <label class="mms-txt-headdetail mb-2">รายละเอียดการใช้สิทธิ</label>
                    </div>
                    <div class="col-6"></div>

                    <div class="col-6  d-flex flex-column align-items-end">
                        <p>วันที่รับวัคซีน :</p>
                        <p>ชนิดวัคซีน :</p>
                        <p>ชื่อทางการค้าวัคซีน :</p>
                        <p>เลข Lot วัคซีน :</p>
                    </div>
                    <div class="col-6 ">
                        <p>10 มีนาคม 2566</p>
                        <p>3  สายพันธุิ์</p>
                        <p>ABC-TEST01</p>
                        <p>LOT00001</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6">
                <div class="row">
                    <div class="col-6 d-flex flex-column align-items-end">
                        <label class="mms-txt-headdetail mb-2">ความดันโลหิต</label>
                    </div>
                    <div class="col-6"></div>
                    <div class="col-6 d-flex flex-column align-items-end">
                        <p>ค่าบน :</p>
                        <p>ค่าล่าง :</p>
                        <p>จำนวนเงิน :</p>
                    </div>
                    <div class="col-6 ">
                        <p>160</p>
                        <p>90</p>
                        <p>250 บาท</p>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-6 col-lg-6">
                <div class="row">
                    <div class="align-items-start">
                        <label class="mms-txt-headdetail w-25">คำวินิจฉัย : </label>
                        <Select Class="w-50"
                                TItem="Person"
                                TItemValue="string"
                                DataSource="@_persons"
                                @bind-Value="@_selectedValue"
                                LabelName="@nameof(Person.Name)"
                                ValueName="@nameof(Person.Value)"
                                Placeholder="Select a person"
                                DefaultActiveFirstOption="false"
                                                EnableSearch
                                OnSelectedItemChanged="OnSelectedItemChangedHandler"
                                OnSearch="OnSearch">
                        </Select>
                    </div>
                    <div class="col-12 p-2">
                        <span class="mms-txt-headdetail">หมายเหตุ <span style="color:red;">*</span></span>
                        <div class="">
                            <TextArea Rows="5" AllowClear Style="height:100% !important" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6">
                <div class="row">
                    <div class="col-6 d-flex flex-column align-items-end">
                        <label class="mms-txt-headdetail mb-2">รายละเอียดการสั่งจ่าย</label>
                    </div>
                    <div class="col-6"></div>

                    <div class="col-6 d-flex flex-column align-items-end">
                        <p>สถานะ :</p>
                        <p>งวด :</p>
                        <p>เลขใบคำสั่งจ่าย :</p>
                        <p>วันที่จ่าย :</p>
                    </div>
                    <div class="col-6 ">
                        <p style="color:#67C23A;">จ่ายแล้ว</p>
                        <p>6704</p>
                        <p>10001111</p>
                        <p>1  เม.ย. 67</p>
                    </div>
                </div>
            </div>
        </div>
        <hr />
    </div>
    </Modal>

    @using sso.mms.fees.admin.Shared.HealthPromoVaccination.HPVDisapprovedTransactionHistory.Modals
    <DISModals_Checkpassword _visible=@Callmodal OnClose="@DISCallmodalPASS" />

    @code {
    [Parameter]
    public EventCallback<int> IndexPage { get; set; }

    [Parameter]
    public bool _visible { get; set; }

    [Parameter]
    public EventCallback<bool> OnClose { get; set; }

    string txtValue { get; set; }

    public async Task Edit(int item)
    {
        await IndexPage.InvokeAsync(item);
    }
    /* modal */
    bool _loading = false;

    private void ShowModal()
    {
        _visible = true;
    }

    private void HandleOk(MouseEventArgs e)
    {
        _loading = false;
        OnClose.InvokeAsync(false);
    }

    private void HandleCancel(MouseEventArgs e)
    {
        _loading = false;
        OnClose.InvokeAsync(false);
    }

    /*-- modal password --*/

    bool Callmodal { get; set; }
    public void DISCallmodalPASS(bool value)
    {
        Callmodal = value;
    }

    /*-- table --*/
    record Data(string key, string name, int borrow, int repayment);

    Data[] data = new Data[]
    {
        new("1","John Brown",10,33),
        new("2","Jim Green",100,0),
        new("3","Joe Black",10,10),
        new("4","Jim Red",75,45),
    };

    record FixedData(string name, string description);

    FixedData[] fixedData = Enumerable.Range(0, 6)
        .Select(i => new FixedData(
               name: (i % 2) > 0 ? "Light" : "Bamboo",
               description: "Everything that has a beginning, has an end.")
        ).ToArray();

    /*-- select -- */
    class Person
    {
        public string Value { get; set; }
        public string Name { get; set; }
    }

    List<Person> _persons;
    string _selectedValue;
    Person _selectedItem;

    protected override void OnInitialized()
    {
        _persons = new List<Person>
        {
            new Person { Value = "jack", Name = "Jack" },
            new Person { Value = "lucy", Name = "Lucy" },
            new Person { Value = "tom" , Name = "Tom" }
        };
    }

    private void OnSelectedItemChangedHandler(Person value)
    {
        _selectedItem = value;
        Console.WriteLine($"selected: ${value?.Name}");
    }
    private void OnSearch(string value)
    {
        Console.WriteLine($"search: {value}");
    }


}
