@using MatBlazor
@using sso.mms.fees.admin.Providers.PromoteHealth.AssignHealthChecklist;
@using sso.mms.fees.api.ViewModels.Responses;
@inject WithdrawalRequestListServices withdrawalRequestListServices;
<style>
    .ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
        display: inline-block;
        margin-right: 12px;
        font-size: 19px;
        vertical-align: -1px;
        color: #334396;
    }

    .ant-collapse-header-text {
        font-size: 19px;
        color: #334396;
        font-style: normal;
        font-weight: 600;
        line-height: 150%;
    }

    .hover-custom:hover, .hover-custom:hover > td {
        background-color: #EAE8EC !important;
    }
</style>

<div class="site-layout-background" style="padding: 24px;">
    <div class="mms-nav-title">
        <div class="mms-text-title px-4 py-3">ค่าบริการทางการแพทย์ส่งเสริมสุขภาพและป้องกันโรค</div>
    </div>
    @if (recordChecklist != null)
    {
        <div class="container py-4">

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item " style="cursor: pointer;" aria-current="page" @onclick="()=> goBack(0,0)">
                        <span class="breadcum-sucress py-2">รายละเอียด</span>
                    </li>
                    <li class="breadcrumb-item" aria-current="page">
                        <span class="breadcum-process py-2">@Year/@Month/@Fullname</span>
                    </li>
                </ol>
            </nav>
            <hr />
            <div class="row pb-3">
                <div class="col-xl-3 mms-media-start">
                    <div class="mms-txt-headdetail w-50">วันที่สร้าง</div>&nbsp;
                    <DatePicker TValue="DateTime" @bind-Value="@recordChecklist.RecordCheckupHView.CreateDate" Picker="@DatePickerType.Date" Format="dd/MM/yyyy" Disabled="true" />

                </div>
                <div class="col-xl-4 mms-media-center">
                    <div class="mms-txt-headdetail w-50">วันที่แก้ไขล่าสุด</div>&nbsp;
                    <DatePicker TValue="DateTime?" @bind-Value="@recordChecklist.RecordCheckupHView.UpdateDate" Picker="@DatePickerType.Date" Format="dd/MM/yyyy" Disabled="true" />
                </div>
                <div class="col-xl-5 mms-media-end">
                    <div class="mms-txt-headdetail w-50">แก้ไขล่าสุดโดย</div>&nbsp;
                    <Input Placeholder="Basic usage" @bind-Value="@recordChecklist.RecordCheckupHView.UpdateBy" Disabled="true" />
                </div>
            </div>
            <div class="row pb-3">
                <div class="col-xl-4 mms-media-start">
                    <div class="mms-txt-headdetail" style="width:100%;">เลขประจำตัวประชาชน</div>&nbsp;
                    <Input Placeholder="Basic usage" @bind-Value="@recordChecklist.RecordCheckupHView.PersonalId" Disabled="true" />
                </div>
                <div class="col-xl-4 mms-media-center">
                    <div class="mms-txt-headdetail" style="width:40%;">ชื่อ-นามสกุล</div>&nbsp;
                    <Input Placeholder="Basic usage" @bind-Value="@Fullname" Disabled="true" />
                </div>
                <div class="col-xl-4 mms-media-end">
                    <div class="mms-txt-headdetail w-50">วันที่ตรวจ</div>&nbsp;
                    <DatePicker TValue="DateTime?" @bind-Value="@recordChecklist.RecordCheckupHView.CheckupDate" Picker="@DatePickerType.Date" Format="dd/MM/yyyy" Disabled="true" />
                </div>
            </div>
            <div class="row pb-3">
                <div class="col-xl-3 mms-media-start">
                    <div class="mms-txt-headdetail" style="width:55%;">น้ำหนัก</div>&nbsp;
                    <Input @bind-Value="@recordChecklist.RecordCheckupHView.PatientWeight" Disabled="true" />
                </div>
                <div class="col-xl-3 mms-media-center">
                    <div class="mms-txt-headdetail" style="width:55%;">ส่วนสูง</div>&nbsp;
                    <Input @bind-Value="@recordChecklist.RecordCheckupHView.PatientHeight" Disabled="true" />
                </div>
                <div class="col-xl-3 mms-media-end">
                    <div class="mms-txt-headdetail" style="width:55%;">ความดัน</div>&nbsp;
                    <Input @bind-Value="@recordChecklist.RecordCheckupHView.PatientPressure" Disabled="true" />
                </div>
            </div>
            <div class="row pb-3">
                <div class="col-xl-3 mms-media-start">
                    <div class="mms-txt-headdetail" style="width:40%;">โรคประจำตัว</div>&nbsp;
                    <RadioGroup @bind-Value="@recordChecklist.RecordCheckupHView.IsUd" Disabled="true">
                        <Radio Value="@(false)" TValue="bool?">ไม่เป็น</Radio>
                        <Radio Value="@(true)" TValue="bool?">เป็น</Radio>
                    </RadioGroup>
                    @*
                @if (recordChecklist.RecordCheckupHView.IsUd == true)
                {
                <Select Style="width: 30%; margin-left: 2%" Placeholder="เลิอก" TItemValue="string" TItem="string">
                <SelectOptions>
                <SelectOption TItemValue="string" TItem="string" Style="background-color:white; font-weight:600; color:#334396; text-align:start; line-height:20px; letter-spacing:0.2px; font-size: 18px;" />
                @foreach (var item in dropdownlist)
                {
                <div>
                <div class="row p-2">
                <div class="col-1" style="text-align:center;"><span><Checkbox Style="border-block-color:#334396;"  @bind-Checked="@item.active"></Checkbox></span></div>
                <div class="col"><div class="mms-txt-headdetail">@item.value</div></div>
                </div>
                </div>
                }
                </SelectOptions>
                </Select>
                }

                @if (dropdownlist.Where(x => x.value == "เป็นอื่นๆ").FirstOrDefault().active && recordChecklist.RecordCheckupHView.IsUd == true)
                {
                <Input @bind-Value="@remarkdisease" Style="width: 20%; margin-left: 2%" Placeholder="ระบุ" ReadOnly />
                }*@
                </div>
            </div>
            @if (recordChecklist.RecordCheckupHView.IsUd == true)
            {
                <div class="row">

                    @foreach (var item in dropdownlist)
                    {

                        <div style="display:flex;" class="col-4">
                            <div class="col-1" style="text-align:center;"><span><Checkbox Style="border-block-color:#334396;" @bind-Checked="@item.active" Disabled></Checkbox></span></div>
                            <div class="col"><div class="mms-txt-headdetail">@item.value</div></div>
                            @if ((item.value == "เป็นอื่นๆ" && item.active) && recordChecklist.RecordCheckupHView.IsUd == true)
                            {
                                <Input @bind-Value="@remarkdisease" Style="width: 70%; margin-left: 2%" Placeholder="ระบุ" ReadOnly />
                            }
                        </div>

                    }
                </div>

            }
            <br />
            <br />
            <br />
            <br />
            <div class="mms-txt-headdetail">รายการตรวจสุขภาพ</div>
            <br />
            @{
                var changeStyle = "";


            }
            <Collapse ExpandIcon="caret-right" Style="background-color: #ffcc41;">
                <ChildContent>
                    @foreach (var item in recordChecklist.ChecklistMViews.Where(x => x.StatusCheck == true))
                    {
                        if (item.isExport == true)
                        {
                            changeStyle = "background-color: #4BB543";
                        }
                        else
                        {
                            changeStyle = "";
                        }
                        <Panel Header="@item.ChecklistName" Key="@String.Format("{0:d}", @recordChecklist.ChecklistMViews.IndexOf(item) + 1)" Class="site-collapse-custom-panel" Style="@changeStyle">
                            <ExtraTemplate>
                                @if (item.IsCheck == true && item.isExport == false)
                                {
                                    <div @onclick:stopPropagation>
                                        <i class="fa-regular fa-clock" style="font-size: 20px; color: #334396"></i>
                                    </div>
                                }
                            </ExtraTemplate>
                            <ChildContent>
                                @if (item.IsSetRef == false)
                                {
                                    <Table DataSource="@item.ChecklistDViews" TItem="RecordChecklistDView" RowClassName="@(_=>"editable-row")" Bordered ScrollX="1000">
                                        <ChildContent Context="data">
                                            <Column TData="string" Title="ลำดับ" Width="10%" Style="text-align:center;">
                                                @String.Format("{0:d}", @item.ChecklistDViews.IndexOf(data) + 1)
                                            </Column>
                                            <Column TData="string" Title="รายการ" Width="20%">
                                                @if (data.IsOption == false)
                                                {
                                                    <div>@data.ChecklistDtName <div style="display: inline-block; color:red">*</div></div>
                                                }
                                                else
                                                {
                                                    @data.ChecklistDtName
                                                }
                                            </Column>
                                            <Column TData="string" Title="ผลการตรวจ" Width="20%" Style="text-align:center;">
                                                <RadioGroup @bind-Value="@data.IsNormal" Disabled>
                                                <Radio Value="@(true)" TValue="bool?">ปกติ</Radio>
                                                <Radio Value="@(false)" TValue="bool?">ผิดปกติ</Radio>
                                            </RadioGroup>
                                        </Column>
                                        <Column TData="string" Title="คำแนะนำ" Width="50%" Style="text-align:center;">
                                            <Input @bind-Value="@data.Suggestion" Disabled="true" />
                                        </Column>

                                    </ChildContent>
                                </Table>
                                }
                                @if (item.IsSetRef == true)
                                {
                                    <Table DataSource="@item.ChecklistDViews" TItem="RecordChecklistDView" RowClassName="@(_=>"editable-row")" Bordered ScrollX="1000">
                                        <ChildContent Context="data">

                                            <Column TData="string" Title="ลำดับ" Width="10%" Style="text-align:center;">
                                                @String.Format("{0:d}", @item.ChecklistDViews.IndexOf(data) + 1)
                                            </Column>
                                            <Column TData="string" Title="รายการ" Width="15%">



                                                @if (data.IsOption == false)
                                                {
                                                    <div> @data.ChecklistDtName <div style="display: inline-block; color:red">*</div></div>
                                                }
                                                else
                                                {
                                                    @data.ChecklistDtName
                                                }




                                            </Column>
                                            <Column TData="string" Title="ค่าอ้างอิง" Width="15%" Style="text-align:center;">
                                                @if (data.RecordSetRefChecklistCfgView == null)
                                                {
                                                    <div></div>
                                                }
                                                else
                                                {
                                                    @data.RecordSetRefChecklistCfgView.SetRefValue
                                                }

                                            </Column>
                                            <Column TData="string" Title="ผลการตรวจ" Width="15%" Style="text-align:center;" HeaderColSpan="2">

                                                <Input @bind-Value="@data.CheckValue" Style="width: 100%" Disabled />


                                            </Column>
                                            <Column TData="string" Title="" Width="20%" Style="text-align:center;" HeaderColSpan="0">
                                                <RadioGroup @bind-Value="@data.IsNormal" Style="margin-left: 2%" Disabled="true">
                                                    <Radio Value="@(true)" TValue="bool?">ปกติ</Radio>
                                                    <Radio Value="@(false)" TValue="bool?">ผิดปกติ</Radio>
                                                </RadioGroup>
                                            </Column>
                                            <Column TData="string" Title="คำแนะนำ" Width="30%" Style="text-align:center;">
                                                <Input @bind-Value="@data.Suggestion" Disabled="true" />
                                            </Column>

                                        </ChildContent>
                                    </Table>
                                }

                                <div class="mms-media-start">
                                    <div class="mms-txt-headdetail">สรุปผลการตรวจ</div>
                                    <RadioGroup @bind-Value="@item.ResultStatus" Style="margin-left: 2%">
                                        <Radio Value="@("Y")">ปกติ</Radio>
                                        <Radio Value="@("N")">ผิดปกติ</Radio>
                                    </RadioGroup>
                                    <div class="mms-txt-headdetail" style="margin-left: 7%">ผู้วินิจฉัย/อ่านผล</div>
                                    <Select Style="width: 20%; margin-bottom: 8px; margin-left: 2%" Placeholder="Please select" TItem="RecordSetRefDoctorView" Disabled
                                            TItemValue="decimal?"
                                            DataSource="@item.SetRefDoctorViews"
                                    @bind-Value="@item.SelectDoctorId"
                                            ValueName="@nameof(RecordSetRefDoctorView.SetRefDoctorId)"
                                            LabelName="@nameof(RecordSetRefDoctorView.DoctorName)"
                                                            DefaultActiveFirstOption>
                                </Select>
                            </div>
                        </ChildContent>

                    </Panel>
                    }
                </ChildContent>
            </Collapse>

            <div class="mms-media-end">
                <Button Class="ant-btn-distable" @onclick=@(() => goBack(0,0))><i class="fa-solid fa-circle-chevron-left"></i> &nbsp; ย้อนกลับ</Button>
            </div>


        </div>
    }
</div>


@if (isloading == true)
{
    <style>
        body {
            overflow: hidden;
        }</style>

    <LoadingPage></LoadingPage>
}

@code {
    [Parameter]
    public EventCallback<(int, int)> IdPagenew { get; set; }


    [Parameter]
    public decimal? Id { get; set; }

    [Parameter]
    public string Type { get; set; }
    int _value = 1;
    bool active = true;
    string _okText = "ยืนยัน";
    string _cancelText = "ยกเลิก";
    bool _visible1 = false;

    public string remarkdisease = "";
    int Radiobt1 = 1;
    int Radiobt2 = 1;
    decimal? refdoctor = 1;
    decimal listhid;


    DateTime? updateDate { get; set; }
    [Parameter]
    public string Year { get; set; }
    [Parameter]
    public string Month { get; set; }
    string Fullname = "";
    List<diseaseView> dropdownlist = new List<diseaseView>();
    Response<AaiHealthCheckupHView> data = new Response<AaiHealthCheckupHView>();
    ManageRecordChecklistView recordChecklist = new ManageRecordChecklistView();

    private void HandleOk(MouseEventArgs e)
    {
        Console.WriteLine(e);
        _visible1 = false;
    }

    private void HandleCancel(MouseEventArgs e)
    {
        Console.WriteLine(e);
        _visible1 = false;
    }
    public bool isloading = false;
    string txtValue { get; set; }
    List<Todo> todos = new List<Todo>();
    List<Todos> todose = new List<Todos>();
    //public async Task goEdit(int item)
    //{
    //    await IndexPage.InvokeAsync(item);
    //}

    RenderFragment _audioIcon =@<Icon Type="audio" Theme="outline" Style="color: #1890ff" />;

    protected override async Task OnInitializedAsync()
    {
        isloading = true;
        StateHasChanged();
        dropdownlist = new List<diseaseView>
            {
            new diseaseView() {
            Id = 1,
            value = "โรคเบาหวาน",
            active = false
            },
            new diseaseView() {
            Id = 2,
            value = "โรคไขมันในเลือดสูง",
            active = false
            },
            new diseaseView() {
            Id = 3,
            value = "โรคอ้วน",
            active = false
            },new diseaseView() {
            Id = 4,
            value = "โรคความดันโลหิตสูง",
            active = false
            },new diseaseView() {
            Id = 5,
            value = "โรคทางเดินหายใจเรื้อรัง",
            active = false
            }
            ,new diseaseView() {
            Id = 6,
            value = "โรคไตวายเรื้อรัง",
            active = false
            }
            ,new diseaseView() {
            Id = 7,
            value = "โรคมะเร็ง",
            active = false
            }
            ,new diseaseView() {
            Id = 12,
            value = "โรคหัวใจและหลอดเลือด",
            active = false
            }

            ,new diseaseView() {
            Id = 8,
            value = "โรคถุงลมโป่งพอง",
            active = false
            }
            ,new diseaseView() {
            Id = 9,
            value = "โรคกระเพาะอาหาร",
            active = false
            }

            ,new diseaseView() {
            Id = 10,
            value = "โรคโลหิตจาง",
            active = false
            }
            ,new diseaseView() {
            Id = 11,
            value = "เป็นอื่นๆ",
            active = false
            }
            };
        recordChecklist = await withdrawalRequestListServices.GetChecklistByCheckupId((int)Id);
        Fullname = recordChecklist.RecordCheckupHView.PatientName + " " + recordChecklist.RecordCheckupHView.PatientSurname;
        remarkdisease = recordChecklist.DiseaseReason;
        if (recordChecklist.DiseaseViews != null)
        {
            dropdownlist = recordChecklist.DiseaseViews;
        }


        isloading = false;
        StateHasChanged();


    }

    public async Task goBack(int item, int id)
    {
        await IdPagenew.InvokeAsync((item, id));
    }

    public async void addItem()
    {
        todos.Insert(0, new Todo()
            {
                Id = 0,
                menu = null,
                price = 0,
                status = true
            });
        _visible1 = true;
    }

    public class Todo
    {
        public string menu { get; set; }
        public int Id { get; set; }
        public int price { get; set; }
        public bool status { get; set; }

    }
    public class Todos
    {

        public int Id { get; set; }
        public string title { get; set; }
        public int type { get; set; }
        public bool status { get; set; }
        public List<model> table = new List<model>();

    }

    public class model
    {
        public int Id { get; set; }
        public string identification_number { get; set; }
        public string fullname { get; set; }
        public int numberofchecklists { get; set; }
        public int toppick { get; set; }

    }
}
