
<style>
    .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
        border-color: #000;
        background-color: #FFCC41;
        color: white
    }

        .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover {
            color: white;
        }

    wrapper-checked:not(.ant-radio-button-wrapper-disabled):active {
        color: white;
        border-color: black;
    }

    .ant-radio-button-wrapper {
        color: #224183;
        border-color: black !important;
    }

        .ant-radio-button-wrapper:last-child {
            border-radius: 0 10px 10px 0;
        }

        .ant-radio-button-wrapper:first-child {
            border-radius: 10px 0 0 10px;
        }

    .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)::before {
        /* background-color: #1890ff; */
    }

    th .ant-checkbox-wrapper {
        display: none;
    }
</style>


<div class="site-layout-background" style="padding: 24px;">
    <div class="mms-nav-title">
        <div class="mms-text-title px-4 py-3">กรณีฟอกเลือดด้วยเครื่องไตเทียม และกรณีการให้ยา Erythropoietin</div>
    </div>

    <div class="container py-4">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page">
                    <span class="breadcum-success py-2">สร้างใบคำสั่งจ่าย</span>
                </li>
                <li class="breadcrumb-item" aria-current="page">
                    <span class="breadcum-process py-2">อนุมัติตามวงเงิน</span>
                </li>

            </ol>
        </nav>
        <div style="padding-top:15px;">

            <div class="row">
                <div class="d-flex  mms-media-center">
                    <div class="d-flex col-8">
                        <div class="mms-txt-headdetail col-2">งวดที่ : &nbsp;</div>
                        <div class="col-4">

                            <select class="form-select" @bind=select
                                    aria-label="Default select example">

                                <option>6704</option>
                                <option>6705</option>
                                <option>6706</option>
                                <option>6707</option>

                            </select>
                        </div>
                        <div class="col-2 mx-3">
                            <Button Type="@ButtonType.Primary">ค้นหา</Button>
                        </div>
                    </div>
                    <div class="col-4 ">
                        <Space Direction="@DirectionVHType.Vertical" Class="mms-btn-serch  col-12">
                            <SpaceItem>
                                <Search Placeholder="ชื่อสถานพยาบาล" EnterButton="true" />
                            </SpaceItem>
                        </Space>
                    </div>
                </div>
            </div>

        </div>



        <hr />


        <Table DataSource="@data" DefaultExpandAllRows Bordered>
            <ChildContent Context="data">
                <Column Width="8%" Title="ลำดับ" TData="string" Align="ColumnAlign.Center">@data.id</Column>
                <Column Width="10%" Title="เลขงวด" TData="string" Align="ColumnAlign.Center" Sortable>@data.code2</Column>
                <Column Width="12%" Title="รหัสสถานพยาบาล" TData="string" Align="ColumnAlign.Center" Sortable>@data.code3</Column>
                <Column Width="15%" Title="ชื่อสถานพยาบาล" TData="string" Align="ColumnAlign.Center" Sortable>@data.name</Column>
                <Column Width="12%" Title="จำนวนรายการ" TData="string" Align="ColumnAlign.Center">@data.count1</Column>
                <Column Width="13%" Title="จำนวนเงิน" TData="string" Align="ColumnAlign.Center" Sortable>@data.count2</Column>
               
                <Column Width="10%" Title="สถานะอนุมัติสั่งจ่าย" TData="string" Align="ColumnAlign.Center">
                    @if (data.status == "รอจ่าย"){
                        <p style="color:#F89523">
                            @data.status

                        </p>
                    }
                    
                    else if(data.status == "จ่ายเเล้ว"){
                        <p style="color:#67C23A">
                        @data.status

                        </p>
                    }
                        </Column>
                <Column Width="14%" Title="" TData="string" Align="ColumnAlign.Center">
                    <img class="mx-2" title="ดู" src="helper_shared/PortalAdminImage/eye.png"
                         style="width:24px;height:24px; cursor:pointer;" @onclick=@(()=>OpenModalview ( true) ) />
                    
                </Column>
            </ChildContent>
        </Table>


    </div>
</div>
<ModalView _visible=openModalView OnClose="OpenModalview"></ModalView>
 @using sso.mms.fees.admin.Shared.Hemodialysis.WithdrawalHistory.Modal;
 @code {
    [Parameter]
    public EventCallback<int> IndexPage { get; set; }
    [Parameter]
    public EventCallback<int> GetbyId { get; set; }
    [Parameter]
    public int Page { get; set; }
    List<Data> data = new List<Data>();

    private bool checkValue { get; set; } = false;
    string x = "660802,66081";

    bool Type = true;
    bool select = true;
    bool openModalView;

    public async Task Indexpage(int usepage)
    {
        IndexPage.InvokeAsync(usepage);
    }
    public async Task Getbyid(int id)
    {
        GetbyId.InvokeAsync(id);
    }
    //public void ChangeVariable(bool type)
    //{
    //    Type = type;
    //    StateHasChanged();
    //}
    public class Data
    {
        public string id { get; set; }

        public string code1 { get; set; }
        public int code2 { get; set; }
        public int code3 { get; set; }



        public string name { get; set; }

        public int count1 { get; set; }
        public int count2 { get; set; }
        public string day { get; set; }
        public string status { get; set; }


    }
    private string selectedOption = "option1";

    private void HandleRadioChange(ChangeEventArgs e)
    {
        selectedOption = e.Value.ToString();
    }

    public void goViewPage3(int page)
    {
        // Getbyid(Int32.Parse(id));
        Indexpage(page);
        StateHasChanged();
    }

    public void goViewPage2(string id, int page)
    {
        Getbyid(Int32.Parse(id));
        Indexpage(page);
        StateHasChanged();
    }
    public void OpenModalview(bool value)
    {
        openModalView = value;
    }
    protected override void OnInitialized()
    {

        data = new List<Data>
    {
   new Data
    {
        id = "1",
        code1 = "1400108660000",
        code2 =660801,
        code3 = 10660,
        name = "โรงพยาบาลสระบุรี",
        count1 = 25,
    day ="25 เมษายน 2566",
        count2 = 2034690,
        status = "รอจ่าย"
    },



    new Data
    {
        id = "2",
        code1 = "1400108660001",
        code2 = 660801,
        code3 = 10661,
        name = "โรงพยาบาลตาก",
        count1 = 26,
        count2 = 2034691,
    day ="25 เมษายน 2566",
        status = "รออนุมัติ"
    }
    };
    }
}
