<div>
    <div class="container py-4">

        <div class="row pb-3">
            @*             <div class="mms-txt-require col-md-12 col-lg-8">
            </div> *@
            <div class="col-sm-12 col-md-4">
                <div class="p-2 d-md-flex align-items-md-center">
                    <div class="mms-txt-headdetail">
                        รหัสสถานพยาบาล
                    </div>
                    <div class="ps-md-2">
                        <Input Placeholder="Basic usage" @bind-Value="@txtValue" readonly disabled />
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="p-2 d-md-flex align-items-md-center">
                    <div class="mms-txt-headdetail">
                        ชื่อสถานพยาบาล
                    </div>
                    <div class="ps-md-2">
                        <Input Placeholder="Basic usage" @bind-Value="@txtValue" readonly disabled />
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="p-2 d-md-flex align-items-md-center">
                    <div class="mms-txt-headdetail">
                        จำนวนผู้ป่วยทั้งหมด
                    </div>
                    <div class="ps-md-2">
                        <Input Placeholder="Basic usage" @bind-Value="@txtValue" readonly disabled />
                    </div>
                </div>
            </div>
        </div>
        <div class="row pb-3" style="justify-content: end">
            <div class="col-8" >
                <div class="mms-media-start pb-4" style="justify-content: end">

                    <div class="mms-txt-headdetail" style="width: 30.8%; padding-left: 12%;">
                        Clustering
                     
                    </div>&nbsp;

                    <Select TItem="DropdownData"
                            TItemValue="string"
                            DataSource="@dropdownlist"
                    @bind-Value="@type"
                            ValueName="@nameof(DropdownData.name)"
                            LabelName="@nameof(DropdownData.name)"
                            Style="width: 37.6%"
                            Placeholder="-"
                                            AllowClear>
                    </Select> &nbsp&nbsp&nbsp&nbsp
                    <Button Type="@ButtonType.Default" style="padding: 4px 30px; margin-right: 2%; color:#334396; border-color:#334396;"><i class="fa-solid fa-cloud-arrow-down"></i>Export to Excel</Button>

                </div>
            </div>
        </div>
        <Table Class="zebra-striped-table" Bordered DataSource="data" TItem="Data">
             <ColumnDefinitions>
                 <PropertyColumn Property="c=>c.Id" Align="ColumnAlign.Center" Title="ลำดับ" Width="7%" />
                 <PropertyColumn Property="c=>c.period" Align="ColumnAlign.Center" Title="รหัสสถานพยาบาล" />
                 <PropertyColumn Property="c=>c.startDate" Align="ColumnAlign.Center" Title="ชื่อสถานพยาบาล" />
                 <PropertyColumn Property="c=>c.endDate" Align="ColumnAlign.Center" Title="จำนวนรายการตรวจ" />
             </ColumnDefinitions>
             <PaginationTemplate>
                 <Pagination Class="pt-2"
                             Total="context.Total"
                             PageSize="context.PageSize"
                             Current="context.PageIndex"
                                        ShowSizeChanger
                             OnChange="context.HandlePageChange" />
             </PaginationTemplate>
         </Table>
     </div>

 </div>
 @code {
    [Parameter]
    public string HosCode { get; set; }

    public bool isloading = false;
    public int iditem;
    public int idpage;
    string _okText = "ยืนยัน";
    string desAi = "";
    string _cancelText = "ยกเลิก";
    bool _visible1 = false;

    public record Data(int Id, string period, string startDate, string endDate, string status);
    string txtValue { get; set; }
    List<DropdownData> dropdownlist = new List<DropdownData>
                                            {
                                            new DropdownData{ Id = 1, name = "ทั้งหมด" },
                                            new DropdownData{ Id = 1, name = "หัตถการหลัก" },
                                            new DropdownData{ Id = 2, name = "หัตถการรอง" }
                                        };
    string? type;
    public Data[] data =
    {
        new(1,"2566/5", "25/05/2566", "26/05/2566", "รอประมวลผล"),
        new(2,"2566/4", "25/04/2566", "26/04/2566", "รอประมวลผล"),
        new(3,"2566/3", "25/03/2566", "26/03/2566", "รอประมวลผล"),
        new(4,"2566/2", "25/02/2566", "26/02/2566", "รอประมวลผล"),
        new(5,"2566/1", "25/01/2566", "26/01/2566", "รอประมวลผล"),

    };
    public class DropdownData
    {
        public int Id { get; set; }
        public string name { get; set; }
    };

}
