<style>
    .xmark .anticon > .anticon {
        line-height: 0;
        vertical-align: 0;
        color: #ffffff !important;
    }

    .title-Style .ant-modal-header {
        background: #F56C6C !important;
    }
</style>
@{
    RenderFragment footer = @<Template>
    </Template>;
}

<Modal Title="@("")"
       Visible="@_visible"
       OnOk="@HandleOk"
       OnCancel="@HandleCancel"
       Footer="@footer"
       WrapClassName="xmark title-Style">
    <div class="mms-media-center flex-column">
        <div><img src="helper_shared/PortalAdminImage/alert.png" style="width:60px;height:60px;" /></div>
        <h4 class="p-2">ท่านต้องการลบรายการนี้ใช่หรือไม่!</h4>
        <h5 class="p-2">กดยืนยันเพื่อดำเนินการต่อ</h5>
        <Button Type="@ButtonType.Primary" Style="width:250px;"><i class="fa-solid fa-circle-check"></i>&nbsp;ยืนยัน</Button>
    </div>
</Modal>
@code {
    [Parameter]
    public EventCallback<int> IndexPage { get; set; }

    [Parameter]
    public bool _visible { get; set; }

    [Parameter]
    public EventCallback<bool> OnClose { get; set; }


    public async Task Edit(int item)
    {
        await IndexPage.InvokeAsync(item);
    }
    /* modal */
    bool _loading = false;

    private void ShowModal()
    {
        _visible = true;
    }

    private void HandleOk(MouseEventArgs e)
    {
        _loading = false;
        OnClose.InvokeAsync(false);
    }

    private void HandleCancel(MouseEventArgs e)
    {
        _loading = false;
        OnClose.InvokeAsync(false);
    }
}
