@using System.ComponentModel
@using System.Net.Http.Headers
@inject HttpClient Http

@inject ModalService _modalService

<div class="site-layout-background" style="padding: 24px;">
    <div class="mms-nav-title">
        <div class="mms-text-title px-4 py-3">บำรุงรักษาอวัยวะสภากาชาดไทย</div>
    </div>
    <div class="p-sm-1 p-md-4">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page">
                    <span class="breadcum-process py-2">ประวัติรายการที่ไม่อนุมัติ</span>
                </li>
            </ol>
        </nav>
        <hr />
        <div class="row py-4">
            <div class="col-sm-12 col-lg-8 mms-media-start">
                <div class="mms-txt-headdetail">งวดที่ :</div>
                <div class="px-2">
                    <Select TItem="Item"
                            TItemValue="string"
                            DataSource="@_items"
                            @bind-Value="@_selectedValue"
                            ValueName="@nameof(Item.Value)"
                            LabelName="@nameof(Item.Value)"
                                            DefaultActiveFirstOption
                            Style="width: 200px;">
                        <ItemTemplate>
                            <span>@((context as Item).Value)</span>
                        </ItemTemplate>
                    </Select>
                </div>
                <div>
                    <Button Type="@ButtonType.Primary">ค้นหา</Button>
                </div>
            </div>
            <div class="col-sm-12 col-lg-4 mms-media-end">
                <Space Direction="@DirectionVHType.Vertical" Class="mms-btn-serch w-100">
                    <SpaceItem>
                        <Search Placeholder="ข้อมูลที่ต้องการค้นหา..." EnterButton="true" />
                    </SpaceItem>
                </Space>
            </div>
        </div>
        <Table DefaultExpandAllRows DataSource="data" RowSelectable="@(x =>x.HosStatus == false ? false : true)" TreeChildren="item=>item.Children" ScrollX="1000" Bordered>
            @if (context.HosStatus == false)
            {
                <PropertyColumn Property="c=>c.Id" Title="ลำดับ" Width="4%" ColSpan="@GetColSpan(context.HosStatus)" Style="@GetColColor(context.HosStatus)" />
            }
            <PropertyColumn Property="c=>c.Name" Title="งวด" Align="ColumnAlign.Left" ColSpan="@GetColSpan(context.HosStatus,"name",context.Key)" Style="@GetColColor(context.HosStatus, "name")" />
            <PropertyColumn Property="c=>c.CardId" Title="เลขประจำตัวประชาชน" Align="ColumnAlign.Center" ColSpan="@GetColSpan(context.HosStatus)" Style="@GetColColor(context.HosStatus )" />
            <PropertyColumn Property="c=>c.Date" Title="ชื่อ-นามสกุล" Align="ColumnAlign.Center" ColSpan="@GetColSpan(context.HosStatus)" Style="@GetColColor(context.HosStatus )" />
            <PropertyColumn Property="c=>c.Date" Title="วันที่ผ่าตัด" Align="ColumnAlign.Center" ColSpan="@GetColSpan(context.HosStatus ,context.Key)" Style="@GetColColor(context.HosStatus)" />
            <PropertyColumn Property="c=>c.Age" Title="ID Donor" Align="ColumnAlign.Center" ColSpan="@GetColSpan(context.HosStatus ,context.Key)" Style="@GetColColor(context.HosStatus)" />
            <PropertyColumn Property="c=>c.Age" Title="ประเภทบริการ" Align="ColumnAlign.Center" ColSpan="@GetColSpan(context.HosStatus ,context.Key)" Style="@GetColColor(context.HosStatus)" />
            <PropertyColumn Property="c=>c.Age" Title="สถานพยาบาลอนุมัติสิทธิ" Align="ColumnAlign.Center" ColSpan="@GetColSpan(context.HosStatus ,context.Key)" Style="@GetColColor(context.HosStatus)" />
            <PropertyColumn Property="c=>c.Age" Title="จำนวนเงิน" Align="ColumnAlign.Center" ColSpan="@GetColSpan(context.HosStatus ,context.Key)" Style="@GetColColor(context.HosStatus)" />
            <PropertyColumn Property="c=>c.Isstatus" Title="วินิจฉัย" Align="ColumnAlign.Center" ColSpan="@GetColSpan(context.HosStatus ,context.Key)" Style="@GetColColor(context.HosStatus)">
                @if(context.Isstatus == false)
                {
                    <span style="color:red">ไม่อนุมัติ</span>
                }
            </PropertyColumn>
            <PropertyColumn Property="c=>c.Id" Title="" Align="ColumnAlign.Center" ColSpan="@GetColSpan(context.HosStatus,context.Key)" Style="@GetColColor(context.HosStatus)">
                <img class="" title="เรียกดู" src="helper_shared/PortalAdminImage/eye.png" style="width:24px;height:24px; cursor:pointer;" @onclick="(() => OpendetailTable(true))" />
                <img class="mx-2" title="แจ้งเตือน" src="helper_shared/PortalAdminImage/alert.png"style="width:24px;height:24px; cursor:pointer;" @onclick="(() => OpenAlert(true))" />
                <img class="" title="แก้ไข" src="helper_shared/PortalAdminImage/edit.png" style="width:24px;height:24px; cursor:pointer;" @onclick="(() => EditDetail(true))" />
            </PropertyColumn>
        </Table>

    </div>
</div>
@using sso.mms.fees.admin.Shared.OrganMaintenance.DisapprovedDisbursements.Modals
<Disapproved_Detail _visible=@detailTable OnClose="@OpendetailTable" />
<Disapproved_EditDetail _visible=@editdetail OnClose="@EditDetail" />
<Disapproved_Alert _visible=@modalAlert OnClose="@OpenAlert" />

@code {
    /*-- CallbackModel --*/
    bool detailTable { get; set; }
    bool editdetail { get; set; }
    bool modalAlert { get; set; }
    public void OpendetailTable(bool value)
    {
        detailTable = value;
    }
    public void OpenAlert(bool value)
    {
        modalAlert = value;
    } 
    public void EditDetail(bool value)
    {
        editdetail = value;
    }

    [Parameter]
    public EventCallback<int> IndexPage { get; set; }

    public async Task goEdit(int item)
    {
        await IndexPage.InvokeAsync(item);
    }
    /*---SELECT TABLE---*/
    public class Item { public string Value { get; set; } }
    List<Item> _items;
    string _selectedValue;
    Item _selectedItem;

    protected override void OnInitialized()
    {
        _items = new List<Item>
        {
            new Item { Value = "china",},
            new Item { Value = "usa",},
            new Item { Value = "japan",},
            new Item { Value = "korea",}
        };
    }
    List<Data> _data;

    public class Data
    {
        public bool HosStatus { get; set; }
        public string Id { get; set; }
        public string Key { get; set; }
        public string CardId { get; set; }
        public string Name { get; set; }
        public int Age { get; set; }
        public string NotiId { get; set; }
        public string Date { get; set; }
        public string Address { get; set; }
        public bool Isstatus { get; set; }
        public List<Data> Children { get; set; }
    }

    List<Data> data = new List<Data>
    {
        new Data {
            HosStatus  = true,
            Id = "1",
            Key = "1",
            Name = "โรงพยาบาลลานนา1",
            Address = "New York No. 1 Lake Park",
            Children = new List<Data> {
                new Data {
                    Id = "1",
                    Key = "sum",
                    CardId="123467890xxx",
                    NotiId="11145678",
                    Date="23 มิ.ย 67",
                    Name = "นายดวงดี  วิชัยวงศ์",
                    Age = 900,
                    Address = "London No. 1 Lake Park",
                    Isstatus = false,
                },
                new Data {
                    Id = "2",
                    Key= "sum",
                    CardId="123467890xxx",
                    NotiId="11145678",
                    Date="23 มิ.ย 67",
                    Name= "นางวันเพ็ญ  เด่นใจ",
                    Age=900,
                    Address= "New York No. 3 Lake Park",
                    Isstatus = false,

                },
                 new Data {
                    Id = "3",
                    Key= "sum",
                    CardId="123467890xxx",
                    NotiId="11145678",
                    Date="23 มิ.ย 67",
                    Name= "นางวันเพ็ญ  เด่นใจ",
                    Age=900,
                    Address= "New York No. 3 Lake Park",
                     Isstatus = false,
                },
            }
        },
        new Data {
              HosStatus  = true,
            Id = "1",
            Key = "2",
            Name = "โรงพยาบาลลานนา2",
            Address = "Sidney No. 1 Lake Park",
             Children = new List<Data>  {
                 new Data {
                    Id = "1",
                    Key = "sum",
                    CardId="123467890xxx",
                    NotiId="11145678",
                    Date="23 มิ.ย 67",
                    Name = "นายดวงดี  วิชัยวงศ์",
                    Age = 900,
                    Address = "London No. 1 Lake Park",
                     Isstatus = false,
                },
                new Data {
                    Id = "2",
                    Key= "sum",
                     CardId="123467890xxx",
                     NotiId="11145678",
                      Date="23 มิ.ย 67",
                    Name= "นางวันเพ็ญ  เด่นใจ",
                    Age=900,
                    Address= "New York No. 3 Lake Park",
                     Isstatus = false,

                },
            }
        },
    };
    private int GetColSpan(bool HosStatus, string columnTitle = "", string key = "")
    {

        if (HosStatus == true)
        {
            if (columnTitle == "name")
            {
                return 11;
            }
            else
            {
                return 0;
            }
        }
        else
        {
            return 1;
        }
    }

    private string GetColColor(bool HosStauts, string columnTitle = "")
    {
        if (HosStauts == true)
            if (columnTitle == "name")
                return "background-color:#D8D6D6;";
            else
                return "";
        else
            return "";
    }
    private string GetRowColor(int index)
    {
        if (index == 1)
            if (index == 1)
                return "background-color:#D8D6D6;";
            else
                return "";
        else
            return "";
    }
    int totalAge;
}

