
<style>
    .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
        border-color: #000;
        background-color: #FFCC41;
        color: white
    }

        .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover {
            color: white;
        }

    wrapper-checked:not(.ant-radio-button-wrapper-disabled):active {
        color: white;
        border-color: black;
    }

    .ant-radio-button-wrapper {
        color: #224183;
        border-color: black !important;
    }

        .ant-radio-button-wrapper:last-child {
            border-radius: 0 10px 10px 0;
        }

        .ant-radio-button-wrapper:first-child {
            border-radius: 10px 0 0 10px;
        }

    .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)::before {
        /* background-color: #1890ff; */
    }

    th .ant-checkbox-wrapper {
        display: none;
    }
</style>


<div class="site-layout-background" style="padding: 24px;">
    <div class="mms-nav-title">
        <div class="mms-text-title px-4 py-3">กรณีฟอกเลือดด้วยเครื่องไตเทียม และกรณีการให้ยา Erythropoietin</div>
    </div>

    <div class="container py-4">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page">
                    <span class="breadcum-success py-2">สร้างใบคำสั่งจ่าย</span>
                </li>
                <li class="breadcrumb-item" aria-current="page">
                    <span class="breadcum-process py-2">อนุมัติตามวงเงิน</span>
                </li>

            </ol>
        </nav>
        <div style="padding-top:15px;">
            <div class="row">
                <div class="d-flex ">
                    <div class="d-flex col-3">
                        <div class="mms-txt-headdetail mms-media-center col-4">งวดที่ :</div>
                        <Input @bind-Value="@x" Disabled="true" />
                    </div>

                </div>
            </div>
            <div class="d-flex  mms-media-center">

                <div class="d-flex  mms-media-center col-3">
                    <Button Type="@(selectedRows!=null && selectedRows.Any()?"primary" :"defult" )" Class="mms-text-header" Disabled="@(selectedRows!=null && selectedRows.Any()? false :true )" @onclick=@(() => goViewPage3(3))>อนุมัติสั่งจ่าย</Button>
                </div>


            </div>


            <hr />
            <div class="mms-media-between">
                <div>
                    @*    <Checkbox @bind-Checked="isChecked" >
                    </Checkbox> *@
                    <Button @onclick=@(()=>selectAll()) />
                    <div>เลือกทั้งหมด (ตามวงเงินที่มีสิทธิอนุมัติ)</div>
                </div>
                <div>
                    <div class="mms-txt-headdetail">
                        เลือกรายการตามระดับวงเงิน
                    </div>
                    <div>
                        <select class="form-select" aria-label="Default select example" @bind=@x required>
                            <option selected value="">-- เลือกรายการตามระดับวงเงิน --</option>
                            <option value="">จำนวนเงิน เกินกว่า 2,000,000 บาท</option>
                        </select>
                    </div>
                </div>
            </div>

            <Table DataSource="@data" DefaultExpandAllRows Bordered @bind-SelectedRows="selectedRows">
                     <ChildContent Context="data">
                         <Selection Key="@data.id" Width="8%" CheckStrictly="true" />
                         <Column Width="8%" Title="ลำดับ" TData="string" Align="ColumnAlign.Center">@data.id</Column>
                         <Column Width="13%" Title="เลขชุดคำสั่งจ่าย" TData="string" Align="ColumnAlign.Center">@data.code1</Column>
                         <Column Width="10%" Title="เลขงวด" TData="string" Align="ColumnAlign.Center" Sortable>@data.code2</Column>
                    <Column Width="12%" Title="รหัสสถานพยาบาล" TData="string" Align="ColumnAlign.Center" Sortable>@data.code3</Column>
                    <Column Width="13%" Title="ชื่อสถานพยาบาล" TData="string" Align="ColumnAlign.Center" Sortable>@data.name</Column>
                    <Column Width="12%" Title="จำนวนรายการ" TData="string" Align="ColumnAlign.Center">@data.count1</Column>
                    <Column Width="13%" Title="จำนวนเงิน" TData="string" Align="ColumnAlign.Center" Sortable>@data.count2</Column>
                    <Column Width="10%" Title="สถานะอนุมัติสั่งจ่าย" TData="string" Align="ColumnAlign.Center">@data.status</Column>
                    <Column Width="8%" Title="สถานะอนุมัติสั่งจ่าย" TData="string" Align="ColumnAlign.Center">
                        <img class="mx-2" title="ดู" src="helper_shared/PortalAdminImage/eye.png"
                             style="width:24px;height:24px; cursor:pointer;" @onclick=@(()=>OpenModalview ( true) ) />
                    </Column>
                </ChildContent>



            </Table>

            <div class=" " style="    display: flex;   justify-content: center;">
                <div class="mms-media-between col-10">
                    <div>
                        <div class="mms-media-start">
                            <div class="mms-txt-headdetail">ชื่อผู้อนุมัติสั่งจ่าย :</div>
                            <div class="mms-txt-default">นางสาวเเพรวา  ตาสวย</div>
                        </div>
                        <div class="mms-media-start">
                            <div class="mms-txt-headdetail col-4">วันที่อนุมัติสั่งจ่าย :</div>
                            <div class="mms-txt-default">30 เมษายน 2566</div>
                        </div>

                    </div>
                    <div>
                        <div class="d-flex">
                        </div>
                        <div class="mms-media-end">
                            <div class="mms-txt-headdetail col-4">รหัสผ่าน <span style="color:red">*</span>ซ</div>
                            <Input Type="password" @bind-Value="@x"></Input>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mms-media-center">
                    <Button Type="@ButtonType.Dashed" Style="background-color: #67C23A; padding:4px 30px;color : #ffffff" @onclick=@(()=>OpenIden(true))>
                        <i class="fa-regular fa-square-check" ></i>&nbsp;ยืนยันการอนุมัติ
                  
                </Button>
            </div>
        </div>
    </div>
</div>
@if (isloading == true)
{
    <style>
        body {
            overflow: hidden;
        }</style>

    <LoadingPage></LoadingPage>
}
@if(openVerifyIden == true ){

<VerifyAdminIdentity OnClose="OpenIden" Username="@("Test")"></VerifyAdminIdentity>
}
<ModalView _visible=openModalView OnClose="OpenModalview"></ModalView>
 @using sso.mms.fees.admin.Shared.Hemodialysis.CreateOrderPayment.Modal;
 @using sso.mms.fees.admin.Components;
 @code {
    [Parameter]
    public EventCallback<int> IndexPage { get; set; }
    [Parameter]
    public EventCallback<int> GetbyId { get; set; }
    [Parameter]
    public int Page { get; set; }
    List<Data> data = new List<Data>();

    bool isloading = false;
    private bool checkValue { get; set; } = false;
    string x = "660802,66081";
    IEnumerable<Data> selectedRows;
    bool Type = true;
    bool isChecked = true;
    bool openModalView;
    bool openVerifyIden;
    int checkSelect = 0;
    public async Task Indexpage(int usepage)
    {
        IndexPage.InvokeAsync(usepage);
    }
    public async Task Getbyid(int id)
    {
        GetbyId.InvokeAsync(id);
    }
    //public void ChangeVariable(bool type)
    //{
    //    Type = type;
    //    StateHasChanged();
    //}
    public class Data
    {
        public string id { get; set; }

        public string code1 { get; set; }
        public int code2 { get; set; }
        public int code3 { get; set; }



        public string name { get; set; }

        public int count1 { get; set; }
        public int count2 { get; set; }
        public string status { get; set; }


    }
    private string selectedOption = "option1";

    private void HandleRadioChange(ChangeEventArgs e)
    {
        selectedOption = e.Value.ToString();
    }

    public void goViewPage3(int page)
    {
        // Getbyid(Int32.Parse(id));
        Indexpage(page);
        StateHasChanged();
    }
    public void selectAll()
    {

        @if (checkSelect == 0)
        {
            selectedRows = data;
            checkSelect = 1;
            StateHasChanged();
           
        }
        else if (checkSelect == 1)
        {
            selectedRows = null;
            checkSelect = 0;
            StateHasChanged();
            
        }

    }
    public void goViewPage2(string id, int page)
    {
        isloading = true;
        Getbyid(Int32.Parse(id));
        Indexpage(page);
        isloading = false;
        StateHasChanged();
    }
    public void OpenModalview(bool value)
    {
        isloading = true;
        openModalView = value;
        isloading = false;
        StateHasChanged();
    }
    public void OpenIden(bool value)
    {
        isloading = true;
        openVerifyIden = value;
        isloading = false;
        StateHasChanged();
    }
    protected override void OnInitialized()
    {

        data = new List<Data>
        {
    
        new Data
    {
        id = "1",
        code1 = "1400108660000",
        code2 =660801,
        code3 = 10660,
        name = "โรงพยาบาลสระบุรี",
        count1 = 25,
        count2 = 2034690,
        status = "รออนุมัติ"
    },



    new Data
    {
        id = "2",
        code1 = "1400108660001",
        code2 = 660801,
        code3 = 10661,
        name = "โรงพยาบาลตาก",
        count1 = 26,
        count2 = 2034691,
        status = "รออนุมัติ"
    }
    };
    }
}
