<div class="site-layout-background" style="padding: 24px;">
    <div class="mms-nav-title">
        <div class="mms-text-title px-4 py-3">ค่าใช้จ่ายการฟื้นฟู ด้านการแพทย์ ด้านอาชีพ และด้านการรักษาและผ่าตัดของผู้เข้ารับการฟื้นฟู</div>
    </div>
    <div class="container py-4">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page">
                    <span class="breadcum-process py-2">รายงาน</span>
                </li>
                <li class="breadcrumb-item" aria-current="page">
                    <span class="breadcum-process py-2">รายงานประวัติการค้นหาข้อมูลผู้ประกันตนของเจ้าหน้าที่</span>
                </li>
            </ol>
        </nav>
        <div class="row py-4 align-items-center">
            <div class="col-sm-12 col-md-9 mms-media-center">
                <div class="col-4">
                    <div class="row">
                        <div class="col-7" style="width:40%;">
                            <div class="mms-txt-headdetail" style=" padding-left: 17%;">
                                ช่วงเวลา:
                            </div>&nbsp;
                        </div>
                        <div class="col">
                            <DatePicker TValue="DateTime?" Picker="@DatePickerType.Date" />
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="row">
                        <div class="col-3">
                            <div class="mms-txt-headdetail" style=" padding-left: 12%; margin-left:10%;">
                                ถึง:
                            </div>&nbsp;
                        </div>
                        <div class="col">
                            <DatePicker TValue="DateTime?" Picker="@DatePickerType.Date" Style="width: 65%; margin-left: -7%" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-3">
                <Space Direction="@DirectionVHType.Vertical" Class="mms-btn-serch w-100">
                    <SpaceItem>
                        <Search Placeholder="ข้อมูลที่ต้องการค้นหา.." EnterButton="true" />
                    </SpaceItem>
                </Space>
            </div>
        </div>
        <hr />
        <div class="row py-4 align-items-center">
            <div class="col-9 mms-media-start">
                @*
                <div class="mms-media-end">
                <Button Type="@ButtonType.Primary" @onclick=@(() => goEdit())><i class="fa-solid fa-circle-plus"></i> &nbsp; เพิ่ม</Button>
                </div>*@    
            </div>
            <div class="col-3 mms-media-end" style="width: 20%;margin-left: 5%;">
                <Button Type="@ButtonType.Primary" Class="w-100">
                    ดาวโหลด
                </Button>
            </div>
        </div>
        <div class="row py-4">
            <Table DataSource="todos" TItem="todo" RowClassName="@(_=>"editable-row")" Bordered ScrollX="1000">
                <ChildContent Context="data">
                    <Column TData="string" Title="ลำดับ" Width="7%" Style="text-align:center;">
                        @String.Format("{0:d}", todos.IndexOf(data) + 1)
                    </Column>
                    <Column TData="string" Title="ชื่อเจ้าหน้าที่" Width="30%" Style="text-align:start;">
                        @data.name
                    </Column>
                    <Column TData="string" Title="username" Width="17%" Style="text-align:center;">
                        @data.username
                    </Column>
                    <Column TData="string" Width="13%" Style="text-align:start;" Title="รายชื่อผู้ประกันตนที่ค้นหา">
                        @data.searchname
                    </Column>
                    <Column TData="string" Width="13%" Style="text-align:start;" Title="เลขบัตรประชาชน">
                        @data.identification
                    </Column>
                    <Column TData="string" Width="13%" Style="text-align:start;" Title="วันเวลาที่สืบค้น">
                        @data.date
                    </Column>
                </ChildContent>
            </Table>
        </div>
    </div>
</div>


@if (isloading == true)
{
    <style>
        body {
            overflow: hidden;
        }</style>

    <LoadingPage></LoadingPage>
}


@code {

    [Parameter]
    public EventCallback<int> IndexPage { get; set; }

    public class DropdownData
    {
        public string name { get; set; }
        public string? date { get; set; }

    };

    public class todo
    {
        public string name { get; set; }
        public string? username { get; set; }
        public string? searchname { get; set; }
        public string? identification { get; set; }
        public string? date { get; set; }

    };
    List<DropdownData> dropdownlist = new List<DropdownData>();
    List<todo> todos = new List<todo>();
    public bool isloading = false;





    protected override async void OnInitialized()
    {
        dropdownlist = new List<DropdownData>
        {
            new DropdownData
            {
                name = "type1"



            },
            new DropdownData
            {
                 name = "type2"

            },
            new DropdownData
            {
                 name = "type3"

            }
        };

        todos = new List<todo>
        {
            new todo
            {
                name = "นายจักรพงษ์    ปานเเก้ว",
                username = "JeakPong",
                searchname = "นางวิภาดา  เเสงทอง",
                identification = "1234587957xxx ",
                date = "13 เมษายน 2566 เวลา  13.23 น."



            },
            new todo
            {
                name = "นายจักรพงษ์    ปานเเก้ว",
                username = "JeakPong",
                searchname = "นางวิภาดา  เเสงทอง",
                identification = "1234587957xxx ",
                date = "13 เมษายน 2566 เวลา  13.23 น."

            },
            new todo
            {
                name = "นายจักรพงษ์    ปานเเก้ว",
                username = "JeakPong",
                searchname = "นางวิภาดา  เเสงทอง",
                identification = "1234587957xxx ",
                date = "13 เมษายน 2566 เวลา  13.23 น."

            }
        };

    }




}
