<style>
        .modalStyle .ant-modal-header {
            background: #F56C6C !important;
        }

        .xmark .anticon > .anticon {
        color: #ffffff !important;
    }
</style>
@{
    RenderFragment footer = @<Template>
    </Template>;
}

<Modal WrapClassName="modalStyle xmark"
       Title="@("รายการเบิกที่ไม่ผ่านการประมวลผล")"
       Visible="@_visible"
       Width="1000"
       OnOk="@HandleOk"
       OnCancel="@HandleCancel"
       Footer="@footer">
    <div class="row">
        <div class="col-sm-4 site-end-colum pLayers-2 mms-txt-headdetail">
            <div>เลขประจำตัวประชาชน :</div>
            <div>ชื่อ-นามสกุล :</div>
            <div>จำนวนเงิน :</div>
            <div>หมายเหตุ :</div>
        </div>
        <div class="col-md-8 pLayers-2 mms-txt-default">
            <div>123467890xxx</div>
            <div>นายดวงดี  วิชัยวงศ์</div>
            <div>15,000</div>
            <div style="color:red;">จ่ายเงินสมทบน้อยกว่า 3 เดือน ภายในระยะเวลา 15 เดือน</div>
        </div>
    </div>
</Modal>
@code {
    [Parameter]
    public EventCallback<int> IndexPage { get; set; }

    [Parameter]
    public bool _visible { get; set; }

    [Parameter]
    public EventCallback<bool> OnClose { get; set; }


    public async Task Edit(int item)
    {
        await IndexPage.InvokeAsync(item);
    }
    /* modal */
    bool _loading = false;

    private void ShowModal()
    {
        _visible = true;
    }

    private void HandleOk(MouseEventArgs e)
    {
        _loading = false;
        OnClose.InvokeAsync(false);
    }

    private void HandleCancel(MouseEventArgs e)
    {
        _loading = false;
        OnClose.InvokeAsync(false);
    }
}
