@{
    RenderFragment footer = @<Template>
        <Button OnClick="@HandleOk" @key="@( "submit" )"
            Type="primary"
            Loading="@_loading">
            <i class="fa-solid fa-house-laptop"></i> &nbsp; เรียบร้อย
        </Button>
    </Template>;
}

<Modal Class="changheader"
       Title="@("รายการเบิกที่ไม่ผ่านการประมวลผล")"
       Visible="@_visible"
       OnOk="@HandleOk"
       OnCancel="@HandleCancel"
       Footer="@footer">
    <div class="mms-media-center "> รายละเอียด</div>
</Modal>
@code {
    [Parameter]
    public EventCallback<int> IndexPage { get; set; }

    [Parameter]
    public bool _visible { get; set; }

    [Parameter]
    public EventCallback<bool> OnClose { get; set; }


    public async Task Edit(int item)
    {
        await IndexPage.InvokeAsync(item);
    }
    /* modal */
    bool _loading = false;

    private void ShowModal()
    {
        _visible = true;
    }

    private void HandleOk(MouseEventArgs e)
    {
        _loading = false;
        OnClose.InvokeAsync(false);
    }

    private void HandleCancel(MouseEventArgs e)
    {
        _loading = false;
        OnClose.InvokeAsync(false);
    }
}
