@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime
<style>
    .anticon > .anticon {
        line-height: 0;
        vertical-align: 0;
        color: #334396 !important;
    }
</style>
@{
    RenderFragment footer = @<Template>
    </Template>;
}

<Modal Visible="@_visible"
       OnCancel="@HandleCancel"
       Footer="@footer">
    <div class="mms-media-center flex-column pt-5">
        <div class="mms-media-center" style="width:94px;height:94px;background:#C5CBE6;border-radius:50%;color:#334396;font-size:44px;">
            <i class="fa-solid fa-user"></i>
        </div>

        <label class="mms-txt-headdetail my-4">กรุณาใส่รหัสผ่านเพื่อดำเนินการ</label>
        <div class="my-2"><Input Style="width:300px !important" @bind-Value="@txtValue"></Input></div>

        <div class="my-2" @onclick=NavigateNext><Button Style="width:300px !important" Type="@ButtonType.Primary">ยืนยัน</Button></div>
    </div>
</Modal>

@code {
    [Parameter]
    public EventCallback<int> IndexPage { get; set; }

    [Parameter]
    public bool _visible { get; set; }

    [Parameter]
    public EventCallback<bool> OnClose { get; set; }

    string txtValue { get; set; }

    public async Task Edit(int item)
    {
        await IndexPage.InvokeAsync(item);
    }
    /* modal */
    bool _loading = false;

    private void ShowModal()
    {
        _visible = true;
    }

    private void HandleOk(MouseEventArgs e)
    {
        _loading = false;
        OnClose.InvokeAsync(false);
    }

    private void HandleCancel(MouseEventArgs e)
    {
        _loading = false;
        OnClose.InvokeAsync(false);
    }
    private void NavigateNext(MouseEventArgs e)
    {
        _loading = false;
        OnClose.InvokeAsync(false);
        StateHasChanged();
        var jsCode = "window.location.href = '/HealthPromoVaccination/CreatePaymentOrderlist?token=';";

        // Execute the JavaScript code
        JSRuntime.InvokeVoidAsync("eval", jsCode);
        // NavigationManager.NavigateTo("adjRW/SetServiceRate?token=");
    }
}
