
<div class="site-layout-background" style="padding: 24px;">
    <div class="mms-nav-title">
        <div class="mms-text-title px-4 py-3">ค่าบริการทางการแพทย์ตามภาระเสี่ยง</div>
    </div>
    <div class="container py-4">
        <div class="mms-txt-header py-2">รายการเบิกค่าบริการตามภาระเสี่ยง</div>
        <hr />

        <div class="row pb-3">
            <div class="col-xl-3 mms-media-start">
                <div class="mms-txt-headdetail w-50">งวดที่</div>&nbsp;
                <Input @bind-Value="@txtValue" ReadOnly />
            </div>
            <div class="col-xl-4 mms-media-center">
                <div class="mms-txt-headdetail w-50">วันที่ประมวลผล</div>&nbsp;
                <Input @bind-Value="@txtValue" ReadOnly />
            </div>
            <div class="col-xl-5 mms-media-start">
                <div class="mms-txt-headdetail w-50">ประมวลผลโดย</div>&nbsp;
                <Input @bind-Value="@txtValue" ReadOnly />
            </div>
        </div>

        <Tabs @bind-ActiveKey="@activeKey" OnChange="OnTabChange" Animated>
            <TabPane Tab="ขั้นตอนที่ 1" Key="1">
                <div class="mms-txt-headdetail">
                    <div class="input-width-20">
                        <div class="mms-media-start p-1">
                            จำนวนโรงพยาบาลทั้งหมด &nbsp;
                            <Input @bind-Value="@txtValue" ReadOnly Style="width:20%"/>
                            &nbsp;<span> แห่ง</span>
                        </div>
                        <div class="mms-media-start p-1">
                            ยืนยันว่าเป็นผู้ป่วยโรคเรื้อรังฯ ( ผลเป็น Y ) &nbsp;
                            <Input @bind-Value="@txtValue" ReadOnly Style="width:20%"/>
                            &nbsp;<span> คน</span>
                        </div>
                        <div class="mms-media-start p-1">
                            ยืนยันว่าไม่เป็นผู้ป่วยโรคเรื้อรัง ฯ หรือไม่ยืนยัน ( ผลเป็น  N ) &nbsp;
                            <Input @bind-Value="@txtValue" ReadOnly Style="width:20%"/>
                            &nbsp;<span> คน</span>
                        </div>
                        <div class="mms-media-start p-1">
                            จำนวนผู้ป่วยทั้งหมด &nbsp;
                            <Input @bind-Value="@txtValue" ReadOnly Style="width:20%"/>
                            &nbsp;<span> คน</span>
                        </div>
                    </div>
                </div>
                <div class="mms-media-end">
                    <Button Class="ant-btn-distable">&nbsp; <i class="fa-solid fa-circle-down"></i> ดาวน์โหลด</Button>
                </div>
            </TabPane>

            <TabPane Tab="ขั้นตอนที่ 2" Key="2">
                <div class="mms-media-end">
                    <Button Class="ant-btn-distable">&nbsp; <i class="fa-solid fa-circle-down"></i> ดาวน์โหลด</Button>
                </div>
        
            </TabPane>
            <TabPane Tab="ขั้นตอนที่ 3" Key="3">
                Content of Tab Pane 3
            </TabPane>
            <TabPane Tab="ขั้นตอนที่ 4" Key="4">
                Content of Tab Pane 4
            </TabPane>
        </Tabs>



    </div>
</div>

@code {
    [Parameter]
    public EventCallback<int> IndexPage { get; set; }

    string txtValue { get; set; }

    string activeKey { get; set; } = "1";

    void OnTabChange(string key)
    {
        Console.WriteLine($"tab change:{key}");
    }

    public async Task goEdit(int item)
    {
        await IndexPage.InvokeAsync(item);
    }

}
