

<div class="site-layout-background" style="padding: 24px;">
    <div class="mms-nav-title">
        <div class="mms-text-title px-4 py-3" style="color : #000">ค่าบริการทางการแพทย์ทันตกรรม     </div>
    </div>
    <div class="container py-4">
        
         <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page">
                    <span class="breadcum-success py-2">รายการขอใช้รถทันตกรรม</span>
                </li>
                <li class="breadcrumb-item" aria-current="page">
                    <span class="breadcum-process py-2">รายการทั้งหมด</span>
                </li>

            </ol>
        </nav>
        <div style="padding-top:15px;">
        </div>
        <div class="mms-txt-headdetail">ช่วงเวลา</div>
        <div class="row">
            <div class="d-flex  mms-media-center">
                <div class="col-8">
                    <div class="row">
                        <div class="col-4 mms-media-center">
                            <DatePicker TValue="DateTime?" Picker="@DatePickerType.Date" Format="dd/MM/yyyy" Placeholder="@Placeholder" />

                        </div>
                        <div class="mms-txt-headdetail d-flex justify-content-center align-items-center col-1" style="width:60px; text-align:center;">ถึง : </div>
                        <div class="col-4 mms-media-center">

                            <DatePicker TValue="DateTime?" Picker="@DatePickerType.Date" Format="dd/MM/yyyy" Placeholder="@Placeholder" />
                        </div>
                    </div>
                </div>
                <div class="col-4 ">
                    <Space Direction="@DirectionVHType.Vertical" Class="mms-btn-serch  col-12">
                        <SpaceItem>
                            <Search Placeholder="ชื่อสถานพยาบาล" EnterButton="true" />
                        </SpaceItem>
                    </Space>
                </div>
            </div>
        </div>
        <hr />
        <Table DataSource="listOfData" TItem="ItemData" RowClassName="@(_=>"editable-row")" Bordered ScrollX="800">
            <ChildContent Context="data">
                <Column Width="5%" Align="ColumnAlign.Center" TData="string" Title="ลำดับ">@data.Id</Column>
                <Column Width="15%" Align="ColumnAlign.Center" TData="string" Title="ชื่อสถานพยาบาล">@data.NameHop</Column>
                <Column Width="15%" Align="ColumnAlign.Center" TData="string" Title="ชื่อสถานที่"> @data.Location</Column>
                <Column Width="20%" Align="ColumnAlign.Center" TData="string" Title="วันที่ออกให้บริการ"> @data.date1</Column>
                <Column Width="10%" Align="ColumnAlign.Center" TData="string" Title="วันที่เเจ้ง"> @data.date2</Column>
                <Column Width="10%" Align="ColumnAlign.Center" TData="string" Title="จำนวน (คัน)"> @data.count</Column>
                <Column Width="10%" Align="ColumnAlign.Center" TData="string" Title="รหัสรถ"> @data.code</Column>
                <Column Width="10%" Align="ColumnAlign.Center" TData="string" Title="สถานะ" Style="@GetStatusColor(data.Status)"> @data.Status</Column>
                
                <Column Width="5%" Align="ColumnAlign.Center" TData="string" Title="">
                    <img class="mx-2" title="ดู" src="helper_shared/PortalAdminImage/eye.png"
                         style="width:24px;height:24px; cursor:pointer;" @onclick =@(() => OpenModal(true))/>
                </Column>

            </ChildContent>
        </Table>


    </div>
</div>
@if (isloading == true)
{
    <style>
        body {
            overflow: hidden;
        }</style>

    <LoadingPage></LoadingPage>
}
<ViewModal _visible="@ModalView" OnClose="@OpenModal"></ViewModal>
@using MatBlazor
@using System.ComponentModel.DataAnnotations;
@using System.Text.Json;
@using System.ComponentModel;
@using sso.mms.fees.admin.Shared.Dental.DentalCentralPublic.RecordCar.Modal;
@code {
    [Parameter]
    public EventCallback<int> IndexPage { get; set; }
    bool ModalView = false;
    bool isloading = false;
    string Placeholder = "วว/ดด/ปป";
    string status = "1";
    public async Task goEdit(int item)
    {
        await IndexPage.InvokeAsync(item);
    }


    public class Todo
    {
        public int UserId { get; set; }
        public int Id { get; set; }
        public string Title { get; set; }
        public bool Completed { get; set; }

        public Todo()
        {
        }
    }

    Todo[] todos;

    protected override void OnInitialized()
    {
        isloading = true;
        listOfData = new List<ItemData>
    {
        new ItemData
        {
            Id = 1,
            NameHop = "โรงพยาบาล3",
            Location ="โรงเรียนบ้านน้ำเเพร่",
            date1 = "13 ก.พ 2566 -15 ก.พ 2566",
            date2 = "22 มี.ค. 2566",
            count =5,
            code = "หห4569 ,พ3659",
            Status = "แจ้งเเก้ไข"
        },new ItemData
        {
            Id = 2,
            NameHop = "โรงพยาบาล3",
            Location ="โรงเรียนบ้านน้ำเเพร่",
            date1 = "13 ก.พ 2566 -15 ก.พ 2566",
            date2 = "22 มี.ค. 2566",
            count =5,
            code = "หห4569 ,พ3659",
            Status = "รออนุญาต"
        },new ItemData
        {
            Id = 3,
            NameHop = "โรงพยาบาล3",
            Location ="โรงเรียนบ้านน้ำเเพร่",
            date1 = "13 ก.พ 2566 -15 ก.พ 2566",
            date2 = "22 มี.ค. 2566",
            count =5,
            code = "หห4569 ,พ3659",
            Status = "อนุญาต"
        },new ItemData
        {
            Id = 4,
            NameHop = "โรงพยาบาล4",
            Location ="โรงเรียนบ้านน้ำเเพร่",
            date1 = "13 ก.พ 2566 -15 ก.พ 2566",
            date2 = "22 มี.ค. 2566",
            count =5,
            code = "หห4569 ,พ3659",
            Status = "ไม่อนุญาต"
        },
    };

        isloading = false;
        StateHasChanged();

    }

    List<ItemData> listOfData = new List<ItemData>();



    public class ItemData
    {
        public int Id { get; set; }
        public string NameHop { get; set; }
        public string Location { get; set; }
        public string date1 { get; set; }
        public string date2 { get; set; }
        public int count { get; set; }
        public string code { get; set; }
        public string Status { get; set; }
    };

    public override bool Equals(object obj)
    {
        return obj is DentalRecordCarIndex index &&
               Placeholder == index.Placeholder;
    }

    public void OpenModal(bool value)
    {
        ModalView = value;
    }
    private string GetStatusColor(string Stauts)
    {
        if (Stauts == "แจ้งเเก้ไข")
            return "color:#F24822;";
        else if (Stauts == "รออนุญาต")
            return "color:#224183;";
        else if (Stauts == "อนุญาต")
            return "color:#67C23A;";
        else 
            return "color:#000;";
    }
   
}
