<div class="site-layout-background" style="padding: 24px;">
    <div class="mms-nav-title">
        <div class="mms-text-title px-4 py-3">ค่าบริการทางการแพทย์ กรณีโรคติดเชื้อไวรัสโคโรน่า 2019 (โรคโควิด 19)</div>
    </div>
    <div class="p-2 p-md-5 ">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page">
                    <span class="breadcum-sucress py-2">นำเข้าข้อมูล</span>
                </li>
                <li class="breadcrumb-item" aria-current="page">
                    <span class="breadcum-process py-2">แสดงรายการงวด</span>
                </li>
@*                <li class="breadcrumb-item" aria-current="page">
                    <span class="breadcum-process py-2">แสดงรายการงวดที่เลือก</span>
                </li>*@
            </ol>
        </nav>
        <div class="container">

            <div class="row mt-2">
                <div class="col-12">
                    <div class="d-flex  align-items-center">
                        <div class="col-4">
                        </div>
                        <div class="mms-media-center col-4" @onclick=@(() => goEdit(2))>
                            <Button Type="@ButtonType.Primary"><i class="fa-solid fa-square-caret-right"></i>&nbsp; ค้นหาตามงวดการเบิก</Button>
                        </div>
                        <div class="col-4 float-end">
                            <Space Direction="@DirectionVHType.Vertical" Class="mms-btn-serch w-100">
                                <SpaceItem>
                                    <Search Placeholder="ข้อมูลที่ต้องการค้นหา.." EnterButton="true" />
                                </SpaceItem>
                            </Space>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <hr style="width:100%" />
            <br/>
            <Table DataSource="listOfData" TItem="ItemData" RowClassName="@(_=>"editable-row")" @bind-PageSize="pageSize" Bordered ScrollX="1000" >
                <ChildContent Context="data">
                    <Selection Width="10%" Key="@(data.Id.ToString())" />
                    <Column TData="string" Title="ลำดับ" Width="10%" Style="text-align:center;">
                        @String.Format("{0:d}", listOfData.IndexOf(data) + 1)
                    </Column>
                    <Column TData="string" Title="งวด" Style="text-align:center;">
                        @data.date
                    </Column>
                </ChildContent>
            </Table>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public EventCallback<int> IndexPage { get; set; }



    string? txtValue { get; set; }

    public async Task goEdit(int item)
    {
        await IndexPage.InvokeAsync(item);
    }


    RenderFragment _audioIcon =@<Icon Type="audio" Theme="outline" Style="color: #1890ff" />;


    public class ItemData
    {
        public int Id { get; set; }
        public string? date { get; set; }

    };

    List<ItemData> listOfData = new List<ItemData>();
    private int total => listOfData.Count();
    private int pageSize = 3;

    protected override void OnInitialized()
    {
        listOfData = new List<ItemData>
        {
            new ItemData
            {
                Id = 1 ,
                date = $"660801",
                

            },
            new ItemData
            {
               Id = 2 ,
                date = $"COVID2566-G120123",

            },
            new ItemData
            {
                Id =3 ,
                date = $"20230601",

            }
        };
    }

}
