@using sso.mms.fees.admin.Shared.UCEP.CreatePaymentOrder.Modals
<div class="site-layout-background" style="padding: 24px;">
    <div class="mms-nav-title">
        <div class="mms-text-title px-4 py-3">บำรุงรักษาอวัยวะสภากาชาดไทย </div>
    </div>
    <div class="p-2 p-md-5 ">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page">
                    <span class="breadcum-sucress py-2">สร้างคำสั่งจ่าย</span>
                </li>
                <li class="breadcrumb-item" aria-current="page">
                    <span class="breadcum-sucress py-2">รายการสั่งจ่าย</span>
                </li>
                <li class="breadcrumb-item" aria-current="page" >
                    <span class="breadcum-process py-2">ส่งลงลายมือชื่อ</span>
                </li>
            </ol>
        </nav>
        <hr style="width:100%" />
        <div class="container py-4">
            <div class="row">
                <div class="col-md-12 col-lg-6 col-xl-4">
                    <div class="mms-media-start">
                        <div class="mms-txt-headdetail col-auto">งวดที่ : &nbsp;</div>
                        <div class="col-auto me-2">
                            <Input Placeholder="6603" @bind-Value="@txtValue" />
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-6 col-xl-4">
                    <div class="mms-media-start">
                        <div class="mms-txt-headdetail col-auto">วันที่ประมวลผล : &nbsp;</div>
                        <div class="col-auto me-2">
                            <Input Placeholder="6603" @bind-Value="@txtValue" />
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-6 col-xl-4">
                    <div class="mms-media-start">
                        <div class="mms-txt-headdetail col-auto">ประมวลผลโดย :  &nbsp;</div>
                        <div class="col-auto">
                            <Input Placeholder="6603" @bind-Value="@txtValue" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-12">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="col-6">
                            <Button class="ant-btn-distable" @onclick=@(()=> goEdit(1))>
                                <i class="fa-solid fa-circle-chevron-left"></i> &nbsp;ย้อนกลับ
                            </Button>
                        </div>
                        <div class="mms-media-end col-3" @onclick=@(() => goEdit(3))>
                            <Button Type="@ButtonType.Primary" disabled="@(selectedRows?.Count() == 0 || selectedRows == null)"><i class="fa-solid fa-arrow-right-from-bracket"></i>&nbsp; ส่งลงลายมือชื่อ</Button>
                        </div>
                        <div class="col-3 float-end">
                            <Space Direction="@DirectionVHType.Vertical" Class="mms-btn-serch w-100">
                                <SpaceItem>
                                    <Search Placeholder="ระบุชื่อโรงพยาบาล." EnterButton="true" />
                                </SpaceItem>
                            </Space>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container ">
                <div class="mms-txt-header pb-2 pt-2">รายการที่ผ่านการอนุมัติทั้งหมด 29 รายการ</div>
            </div>
            <Table DataSource="listOfData" TItem="ItemData" RowClassName="@(_=>"editable-row")" @bind-PageSize="pageSize" Bordered ScrollX="1000" @bind-SelectedRows="selectedRows">
                <ChildContent Context="data">
                 @*   <Selection Width="5%" Key="@data.Id.ToString()" />*@
                    <Column TData="string" Title="ลำดับ" Width="10%" Style="text-align:center;">
                        @String.Format("{0:d}", listOfData.IndexOf(data) + 1)
                    </Column>
                    <Column TData="string" Title="งวด" Width="10%" Style="text-align:center;">
                        @data.installment
                    </Column>
                    <Column TData="string" Title="หน่วยงาน" Width="20%" Style="text-align:center;">
                        @data.paymentNumber
                    </Column>
                    <Column TData="string" Title="จำนวนรายการเบิก" Width="20%" Style="text-align:center;">
                        @data.withdrawCount
                    </Column>
                    <Column TData="string" Title="จำนวนเงิน" Width="15%" Style="text-align:center;">
                        @String.Format("{0:n}",data.amount)
                    </Column>
                    <Column TData="string" Title="วินิจฉัย" Width="10%" Style="text-align:center;">
                        @data.status
                    </Column>
                    <Column TData="string" Width="10%" Style="text-align:center;">
                        <img class="mx-2" title="เรียกดู" src="helper_shared/PortalAdminImage/eye.png" style="width:24px;height:24px; cursor:pointer;" @onclick=@(() => viewDataModal=true) />
                    </Column>
                    @{
                       var totalcount = listOfData.Sum(x => x.withdrawCount);
                        var totalpay = listOfData.Sum(x => x.amount);
                    }
                    <SummaryRow>
                        <SummaryCell ColSpan="3" Align="ColumnAlign.Center"><u><b>รวมทั้งหมด</b></u></SummaryCell>
                        <SummaryCell Align="ColumnAlign.Center">
                            <Text >@totalcount</Text>
                        </SummaryCell>
                        <SummaryCell ColSpan="1" Align="ColumnAlign.Center">
                            <Text >@String.Format("{0:n}",totalpay)</Text>
                        </SummaryCell>
                        <SummaryCell ColSpan="2">
                           
                        </SummaryCell>
                    </SummaryRow>
                </ChildContent>

                <PaginationTemplate>
                    <Pagination Class="pt-2"
                                Total="context.Total"
                                PageSize="context.PageSize"
                                Current="context.PageIndex"
                                                ShowSizeChanger
                                OnChange="context.HandlePageChange" />
                </PaginationTemplate>
                 
            </Table>
        </div>
    </div>
</div>
<ViewDataModal _visible=viewDataModal OnClose="CloseDataModal"></ViewDataModal>
@code {
    [Parameter]
    public EventCallback<int> IndexPage { get; set; }

    private int Table;
    bool viewDataModal =false;

    public void Addtable()
    {
        Table = 1;
    }

    string? txtValue { get; set; }

    public async Task goEdit(int item)
    {
        await IndexPage.InvokeAsync(item);
    } 
    public async Task CloseDataModal(bool item)
    {
        viewDataModal = item;
    }

    RenderFragment _audioIcon =@<Icon Type="audio" Theme="outline" Style="color: #1890ff" />;

    public class Todo
    {
        public int UserId { get; set; }
        public int Id { get; set; }
        public string? Title { get; set; }
        public bool Completed { get; set; }

        public Todo()
        {
        }
    }

    Todo[]? todos;

    public class ItemData
    {
        public int Id { get; set; }
        public string? installment { get; set; }
        public string? paymentNumber { get; set; }
        public int? withdrawCount { get; set; }
        public int? amount { get; set; }
        public string? status { get; set; }


    };
    IEnumerable<ItemData>? selectedRows;
    List<ItemData> listOfData = new List<ItemData>();
    private int total => listOfData.Count();
    private int pageSize = 3;

    protected override void OnInitialized()
    {
        listOfData = Enumerable.Range(0, 2).Select(i => new ItemData
            {
                Id = i,
                installment = $"xxxxxxx{i}",
                paymentNumber = $"Test Ter{i}",
                withdrawCount = 10,
                amount = 4000,
                status = "ลงลายมือชื่อแล้ว",
            }).ToList();
    }

}
