<div class="site-layout-background" style="padding: 24px;">
    <div class="mms-nav-title">
        <div class="mms-text-title px-4 py-3">ค่าบริการทางการแพทย์เมทาโดน</div>
    </div>
    <div class="container py-4">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page">
                    <span class="breadcum-process py-2">บันทึกรายการเบิก</span>
                </li>
            </ol>
        </nav>
        <hr />
        <div class="row py-4">
            <div class="col-sm-12 col-md-9">
                <Button Type="@ButtonType.Primary" @onclick="() =>Navigate(2)"><i class="fa-solid fa-circle-plus"></i> &nbsp; เพิ่ม</Button>
            </div>
            <div class="col-sm-12 col-md-3">
                <Space Direction="@DirectionVHType.Vertical" Class="mms-btn-serch w-100">
                    <SpaceItem>
                        <Search Placeholder="ค้นหารายละเอียดผู้ประกันตน" EnterButton="true" />
                    </SpaceItem>
                </Space>
            </div>
        </div>
        <Table DataSource="listOfData" TItem="ItemData" Bordered ScrollX="1000">
            <ChildContent Context="data">
                <Column TData="string" Title="ลำดับ" Width="7%" Align="ColumnAlign.Center">@(String.Format("{0:d}", listOfData.IndexOf(data) + 1)) </Column>
                <Column TData="string" Title="เลขประจำตัวประชาชน" Align="ColumnAlign.Center" Width="15%">@data.CardId</Column>
                <Column TData="string" Title="ชื่อ-นามสกุล" Align="ColumnAlign.Center">@data.Name</Column>
                <Column TData="string" Title="วันที่สร้าง" Align="ColumnAlign.Center">@data.AdmitDate</Column>
                <Column TData="string" Title="" Align="ColumnAlign.Center" Width="10%">
                    <img title="แก้ไข" src="helper_shared/PortalAdminImage/edit.png" style="width:24px;height:24px;" @onclick="() =>Navigate(3)" />
                </Column>
            </ChildContent>
           <PaginationTemplate>
                <Pagination Class="pt-2"
                            Total="context.Total"
                            PageSize="context.PageSize"
                            Current="context.PageIndex"
                                        ShowSizeChanger
                            OnChange="context.HandlePageChange" />
            </PaginationTemplate>
            </Table>
        </div>
    </div>

    @code {
    [Parameter]
    public EventCallback<int> IndexPage { get; set; }
    List<ItemData> listOfData = new List<ItemData>();
    bool _visible = false;

    /*------------- Navigate Page ---------*/
    public async Task Navigate(int page)
    {
        await IndexPage.InvokeAsync(page);

    }
    /*------------- Navigate Page ---------*/

    public class ItemData
    {
        public int Id { get; set; }
        public string Hours { get; set; }
        public string CardId { get; set; }
        public string Name { get; set; }
        public int Price { get; set; }
        public DateTime AdmitDate { get; set; }
        public DateTime DischargeDate { get; set; }
    }
    protected override void OnInitialized()
    {
        listOfData = new List<ItemData>()
            {
                new ItemData{
                Id = 1,
                Hours = "24",
                CardId = "157998956234",
                Name = "สวยงาม ตามใจ",
                Price = 10000,
                AdmitDate = DateTime.Now,
                DischargeDate = DateTime.Now,
            },
             new ItemData{
                Id = 2,
                Hours = "72",
                CardId = "157998956234",
                Name = "สวยงาม ตามใจ2",
                Price = 15000,
                AdmitDate = DateTime.Now,
                DischargeDate = DateTime.Now,
            },
             new ItemData{
                Id = 3,
                Hours = "48",
                CardId = "157998956234",
                Name = "สวยงาม ตามใจ3",
                Price = 20000,
                AdmitDate = DateTime.Now,
                DischargeDate = DateTime.Now,
            },
        };


    }
}
