@using System.ComponentModel.DataAnnotations;
@using Blazorise

<style>
    .modalStyle .ant-modal-header {
        background: #334396 !important;
    }

    .xmark .anticon > .anticon {
        line-height: 0;
        vertical-align: 0;
        color: #ffffff !important;
    }

    .flatpickr-calendar.static.open {
        z-index: 999;
        display: block;
        position: relative;
    }

    .flatpickr-calendar.inline {
        display: block;
        position: relative;
        top: 1rem;
        width: 100%;
    }

    .flatpickr-day.flatpickr-disabled, .flatpickr-day.flatpickr-disabled:hover, .flatpickr-day.prevMonthDay, .flatpickr-day.nextMonthDay, .flatpickr-day.notAllowed, .flatpickr-day.notAllowed.prevMonthDay, .flatpickr-day.notAllowed.nextMonthDay {
        color: #999999;
        background: #ededed;
        border-color: #ffffff;
        cursor: default;
    }

    .rangeMode .flatpickr-day {
        margin-top: 10px;
    }

    .flatpickr-day {
        border-radius: 0.25rem;
        font-weight: 500;
        color: #334396;
        margin-top: 10px;
    }

    .flatpickr-innerContainer {
        display: flex;
        box-sizing: border-box;
        overflow: hidden;
        justify-content: center;
        width: 100%;
        padding-bottom: 1rem;
    }

</style>
<div class="site-layout-background" style="padding: 24px;">
    <div class="mms-nav-title">
        <div class="mms-text-title px-4 py-3">ค่าบริการทางการแพทย์เมทาโดน</div>
    </div>
    <div class="container py-4">
        <nav aria-div="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page">
                    <span class="breadcum-sucress py-2" @onclick="() =>Navigate(1)">บันทึกรายการเบิก</span>
                </li>
                <li class="breadcrumb-item" aria-current="page">
                    <span class="breadcum-process py-2">เพิ่มรายการ</span>
                </li>
            </ol>
        </nav>
        <hr />
        <div class="row py-4">
            <div class="col-sm-12 col-md-4 py-2">
                <div class="row align-items-center">
                    <div class="col-sm-12 col-md-6 mms-txt-headdetail text-md-end">วันที่สร้าง</div>
                    <div class="col-sm-12 col-md-6"><Input Placeholder="Basic usage" @bind-Value="@txtValue" Disabled ReadOnly /></div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 py-2">
                <div class="row align-items-center">
                    <div class="col-sm-12 col-md-6 mms-txt-headdetail text-md-end">วันที่แก้ไขล่าสุด</div>
                    <div class="col-sm-12 col-md-6"><Input Placeholder="Basic usage" @bind-Value="@txtValue" Disabled ReadOnly /></div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 py-2">
                <div class="row align-items-center">
                    <div class="col-sm-12 col-md-6 mms-txt-headdetail text-md-end">แก้ไขล่าสุดโดย</div>
                    <div class="col-sm-12 col-md-6"><Input Placeholder="Basic usage" @bind-Value="@txtValue" Disabled ReadOnly /></div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 py-2">
                <div class="row align-items-center">
                    <div class="col-sm-12 col-md-4 mms-txt-headdetail text-md-end">เลขประจำตัวประชาชน<span class="star-comment">*</span></div>
                    <div class="col-sm-12 col-md-7">
                        <Input Placeholder="Basic usage" @bind-Value="@txtValue" />
                    </div>
                    <div class="col-sm-12 col-md-1">
                        <div class="ps-3"><Checkbox @bind-Checked="isChecked"></Checkbox></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 py-2">
                <div class="row align-items-center">
                    <div class="col-sm-12 col-md-4 mms-txt-headdetail text-md-end">ชื่อ-นามสกุล<span class="star-comment">*</span></div>
                    <div class="col-sm-12 col-md-8"><Input Placeholder="Basic usage" @bind-Value="@txtValue" /></div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 py-2">
                <div class="row align-items-center">
                    <div class="col-sm-12 col-md-4 mms-txt-headdetail text-md-end">เลข ว.</div>
                    <div class="col-sm-12 col-md-7">
                        <select class="form-select" aria-div="Default select example">
                            <option>-- กรุณาเลือก --</option>
                            <option selected value="1">4168 นายแพทย์ วงศ์สว่าง</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 py-2">
                <div class="row align-items-center">
                    <div class="col-sm-12 col-md-4 mms-txt-headdetail text-md-end">เบอร์โทร</div>
                    <div class="col-sm-12 col-md-8"><Input Placeholder="Basic usage" @bind-Value="@txtValue" /></div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 py-2">
                <div class="row align-items-center  mms-txt-headdetail">
                    <div class="col-sm-12 col-md-7 text-md-end">สัญญาชาติ : ไทย</div>
                    <div class="col-sm-12 col-md-5">เพศ : ชาย</div>
                </div>
            </div>
        </div>
        @if (isChecked)
        {
            <div class="mms-media-end pb-4">
                <AntDesign.Button Type="@AntDesign.ButtonType.Default" Class="ant-btn-default" OnClick="() => _visible = true">
                    <i class=" fa-solid fa-calendar-days"></i>
                    &nbsp; เพิ่มช่วงวันที่จ่ายยา
                </AntDesign.Button>
            </div>
            <AntDesign.Table DataSource="listOfData" TItem="ItemData" Bordered ScrollX="1000">
            <ChildContent Context="data">
                <AntDesign.Column TData="string" Title="ลำดับ" Align="ColumnAlign.Center">@(String.Format("{0:d}", listOfData.IndexOf(data) + 1)) </AntDesign.Column>
                    <AntDesign.Column TData="string" Title="วันที่ทำรายการ" Align="ColumnAlign.Center" Width="15%">@data.AdmitDate</AntDesign.Column>
                    <AntDesign.Column TData="string" Title="วันที่จ่ายยา" Align="ColumnAlign.Center">
                        @{
                            List<string> txtstring = new List<string>();
                            string Takeresult = "";
                            @foreach (DateTime item in data.MedDate)
                            {
                                txtstring.Add(item.Day.ToString());
                            }
                            if (data.MedType == "range")
                            {
                                Takeresult = string.Join("-", txtstring);
                            }
                            else if (data.MedType == "multi")
                            {
                                Takeresult = string.Join(",", txtstring);
                            }

                        }
                        @Takeresult
                    </AntDesign.Column>
                    <AntDesign.Column TData="string" Title="Type ขอเบิก" Align="ColumnAlign.Center">
                        @if (data.PayType == "1")
                        {
                            <div>ยอดเงินรวม</div>
                        }
                        else if (data.PayType == "2")
                        {
                            <div>ยอด / วัน</div>
                        }
                    </AntDesign.Column>
                    <AntDesign.Column TData="string" Title="ยอดเงิน" Align="ColumnAlign.Center">@data.Price</AntDesign.Column>
                    <AntDesign.Column TData="string" Title="ยอดรวม" Align="ColumnAlign.Center">@data.Total</AntDesign.Column>
                    <AntDesign.Column TData="string" Title="ยอดอนุมัติ /วัน" Align="ColumnAlign.Center">35 บาท</AntDesign.Column>
                </ChildContent>
                <PaginationTemplate>
                    <AntDesign.Pagination Class="pt-2"
                                      Total="context.Total"
                                      PageSize="context.PageSize"
                                      Current="context.PageIndex"
                                                                ShowSizeChanger
                                      OnChange="context.HandlePageChange" />
                </PaginationTemplate>
                </AntDesign.Table>
        }

        <div class="mms-media-end mt-5">
            <AntDesign.Button Type="@AntDesign.ButtonType.Default" Class="ant-btn-default" @onclick="() =>Navigate(1)"><i class="fa-solid fa-circle-chevron-left"></i>&nbsp; ย้อนกลับ</AntDesign.Button>
            &nbsp;&nbsp;
            <AntDesign.Button Type="@AntDesign.ButtonType.Primary" OnClick="() => IsSave(true)"><i class="fa-solid fa-floppy-disk"></i>&nbsp;บันทึก</AntDesign.Button>
        </div>
    </div>
</div>


@{
    RenderFragment footer =@<div class="mms-media-end">
        <AntDesign.Button Type="@AntDesign.ButtonType.Primary" @onclick="@HandleOk">ตกลง</AntDesign.Button>
    </div>;
}
<AntDesign.Modal Title="@title"
                 Visible="@_visible"
                 OnOk="@HandleOk"
                 OnCancel="@HandleCancel"
                 Footer="@footer"
                 WrapClassName="modalStyle xmark">

    <div class="container mms-txt-headdetail">

        <AntDesign.RadioGroup @bind-Value="@_value">
            <AntDesign.Radio Value="@("range")">เลือกช่วงวันที่</AntDesign.Radio>
            <AntDesign.Radio Value="@("multi")">เลือกระบุวันที่</AntDesign.Radio>
        </AntDesign.RadioGroup>

        <div class="mms-media-center flex-column my-4">
            @if (_value == "range")
            {
                <Blazorise.DatePicker @bind-Dates="selectedDatesRange" TValue="DateTime?"
                                  Max="maxDate" Min="minDate" InputMode="DateInputMode.Date" SelectionMode="DateInputSelectionMode.Range" Inline DisabledDates="GetDisabledDates()" />
            }
            else
            {
                <Blazorise.DatePicker @bind-Dates="selectedDatesMulti" TValue="DateTime?"
                                  Max="maxDate" Min="minDate" InputMode="DateInputMode.Date" SelectionMode="DateInputSelectionMode.Multiple" Inline DisabledDates="GetDisabledDates()" />
            }
        </div>
        <div class="my-2">
            <AntDesign.RadioGroup @bind-Value="@Sumvalue">
                <AntDesign.Radio Value="@("1")">ยอดรวมทั้งหมด</AntDesign.Radio>
                <AntDesign.Radio Value="@("2")">ยอดเงินรายวัน</AntDesign.Radio>
            </AntDesign.RadioGroup>
        </div>
        <div class="d-flex align-items-center pt-2">
            <div class="pe-2">ยอดเงิน</div>
            <div>
                <AntDesign.Input Placeholder="Basic usage" @bind-Value="@GetPrice"></AntDesign.Input>
            </div>
            <div class="ps-2">บาท</div>
        </div>
    </div>
</AntDesign.Modal>


@using sso.mms.fees.ext.Shared.Methadone.RecordWithdrawal.Modals>
<ModalSave _visible=@save OnClose="@IsSave" />
@code {

    [Parameter]
    public EventCallback<int> IndexPage { get; set; }
    List<ItemData> listOfData = new List<ItemData>();
    public bool _visible = false;
    string txtValue { get; set; }
    bool isChecked = false;

    /*------------- Call Modal ---------*/
    bool save { get; set; }
    public void IsSave(bool value)
    {
        save = value;
    }
    /*------------- Navigate Page ---------*/
    public async Task Navigate(int page)
    {
        await IndexPage.InvokeAsync(page);

    }
    /*------------- Navigate Page ---------*/

    public class ItemData
    {
        public int? Id { get; set; }
        public string Hours { get; set; }
        public string CardId { get; set; }
        public string MedType { get; set; }
        public List<DateTime?> MedDate { get; set; }
        public int Price { get; set; }
        public int Total { get; set; }
        public string PayType { get; set; }
        public DateTime AdmitDate { get; set; }
        public DateTime DischargeDate { get; set; }
    }
    public int GetPrice;

    protected override void OnInitialized()
    {
        listOfData = new List<ItemData>()
        {
            //    new ItemData{
            //    Id = 1,
            //    MedType = "range",
            //    Hours = "24",
            //    PayType = "1",
            //    CardId = "157998956234",
            //    MedDate = new List<DateTime?>()
            //    {
            //        new DateTime(2023, 11, 1),
            //         new DateTime(2023, 11, 3),
            //    },
            //    Price = 2000,
            //    AdmitDate = DateTime.Now,
            //    DischargeDate = DateTime.Now,
            //},
            // new ItemData{
            //    Id = 3,
            //    MedType = "multi",
            //    Hours = "48",
            //    PayType = "2",
            //    CardId = "157998956234",
            //     MedDate = new List<DateTime?>()
            //    {
            //        new DateTime(2023, 11, 7),
            //         new DateTime(2023, 11, 8),
            //         new DateTime(2023, 11, 9),
            //         new DateTime(2023, 11, 10),
            //         new DateTime(2023, 11, 15),
            //    },
            //    Price = 500,
            //    AdmitDate = DateTime.Now,
            //    DischargeDate = DateTime.Now,
            //},
        };

        //    disabledDates = new List<DateTime?>
        //{
        //    new DateTime(2023, 11, 5),
        //    new DateTime(2023, 11, 9)
        //};

    }
    bool loading = false;
    string title = "เพิ่มช่วงวันที่จ่ายยา";
    string radioValue = "A";

    string _value = "range";
    string Sumvalue = "1";

    [Parameter]
    public EventCallback<bool> OnClose { get; set; }

    private void HandleCancel(MouseEventArgs e)
    {
        _visible = false;
        selectedDatesRange = null;
        selectedDatesMulti = null;
    }
    private void HandleOk(MouseEventArgs e)
    {
        int pricePerDay = 0;
        int priceAmount = 0;
        List<DateTime?> date = new List<DateTime?>();
        if (_value == "multi")
        {

            date.AddRange(selectedDatesMulti);
            if (Sumvalue == "1")
            {
                pricePerDay = this.GetPrice / date.Count();
                priceAmount = this.GetPrice;

            }
            else if (Sumvalue == "2")
            {
                priceAmount = this.GetPrice * date.Count();
                pricePerDay = this.GetPrice;
            }
            listOfData.Add(
             new ItemData
                 {
                     Id = null,
                     MedType = "multi",
                     Hours = "48",
                     PayType = Sumvalue,
                     CardId = "157998956234",
                     MedDate = date,
                     Price = pricePerDay,
                     Total = priceAmount,
                     AdmitDate = DateTime.Now,
                     DischargeDate = DateTime.Now,
                 });
        }
        else if (_value == "range")
        {
            date.AddRange(selectedDatesRange);
            List<DateTime?> daterange = new List<DateTime?>();
            DateTime? start = selectedDatesRange[0];
            DateTime? end = selectedDatesRange[1];
            DateTime? rangedate = start;
            while (rangedate <= end)
            {
                daterange.Add(rangedate);
                if (rangedate.HasValue)
                {
                    rangedate = rangedate.Value.AddDays(1);
                }
                else
                {
                    break;
                }
            }
            if (Sumvalue == "1")
            {
                pricePerDay = this.GetPrice / daterange.Count();
                priceAmount = this.GetPrice;

            }
            else if (Sumvalue == "2")
            {
                priceAmount = this.GetPrice * daterange.Count();
                pricePerDay = this.GetPrice;
            }
            listOfData.Add(
             new ItemData
                 {
                     Id = null,
                     MedType = "range",
                     Hours = "48",
                     PayType = Sumvalue,
                     CardId = "157998956234",
                     MedDate = date,
                     Price = pricePerDay,
                     Total = priceAmount,
                     AdmitDate = DateTime.Now,
                     DischargeDate = DateTime.Now,
                 });
        }
        StateHasChanged();
        selectedDatesRange = null;
        selectedDatesMulti = null;
        _visible = false;
    }
    /*------------- Blazorise DatePicker Tag ---------*/
    IReadOnlyList<DateTime?> selectedDatesMulti;
    IReadOnlyList<DateTime?> selectedDatesRange;
    DateTime? minDate { get; set; } = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 1); // First day of the current month
    DateTime? maxDate { get; set; } = new DateTime(DateTime.Now.Year, DateTime.Now.Month, DateTime.DaysInMonth(DateTime.Now.Year, DateTime.Now.Month)); // Last day of the current month

    private List<DateTime?> disabledDates { get; set; }

    private List<DateTime?> GetDisabledDates()
    {
        List<DateTime?> disabledDates = new List<DateTime?>();
        foreach (var item in listOfData)
        {
            if (item.MedType == "range")
            {
                if (item.MedDate != null && item.MedDate.Count >= 2)
                {
                    DateTime? start = item.MedDate[0];
                    DateTime? end = item.MedDate[1];
                    DateTime? date = start;
                    while (date <= end)
                    {
                        disabledDates.Add(date);
                        if (date.HasValue)
                        {
                            date = date.Value.AddDays(1);
                        }
                        else
                        {
                            break; // Exit the loop if the date is null
                        }
                    }
                }
            }
            else if (item.MedType == "multi")
            {
                foreach (DateTime? datemulti in item.MedDate)
                {
                    disabledDates.Add(datemulti);
                }
            }

        }
        return disabledDates;
    }
    /*------------- Blazorise DatePicker Tag ---------*/
}
