@using sso.mms.fees.ext.Shared.Dental.Remittance.Modals
<style>
    .text-main {
        color: #575759;
        font-feature-settings: 'clig' off, 'liga' off;
        font-size: 19px;
        font-style: normal;
        font-weight: 600;
        margin-bottom: 0px;
    }

    .step-img {
        width: 77px;
        height: 77px;
    }

    .step-tag {
        padding-top: 100px !important;
        font-size: 16px;
        line-height: 20px;
        padding-top: 0.8rem;
        font-weight: 600;
    }

    .active {
        color: #005C9E;
    }

    .noneactive {
        color: #C4C4C4;
    }
</style>
<div class="site-layout-background" style="padding: 24px;">
    <div class="mms-nav-title">
        <div class="mms-text-title px-4 py-3">กรณีทันตกรรม</div>
    </div>
    <div class="container py-4">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page" @onclick=@(() => goPage(2)) style="cursor:pointer;">
                    <span class="breadcum-success py-2">บันทึกรายการตรวจ</span>
                </li>
                <li class="breadcrumb-item" aria-current="page">
                    <span class="breadcum-process py-2">ตรวจสอบสิทธิ์</span>
                </li>

            </ol>
        </nav>
        <hr style="width:100%" />
        <div class="pt-4 mt-4">
            <div class="container" align="center">
                <div class="position-relative w-75">
                    <div class="progress" style="height: 6px;">
                        <div class="progress-bar w-50"></div>
                    </div>
                </div>
                <div class="container position-relative w-75">
                    <img class="step-img position-absolute top-0 start-0 translate-middle rounded-pill" src="helper_shared/FeesExtImage/step1-1.png" />
                    <img class="step-img position-absolute top-0 start-50 translate-middle rounded-pill" src="helper_shared/FeesExtImage/step2-2.png" />
                    <img class="step-img position-absolute top-0 start-100 translate-middle rounded-pill" src="helper_shared/FeesExtImage/step2-3.png" />
                </div>
                <div class="container position-relative w-75">
                    <div class="row">
                        <p class="step-tag active position-absolute top-0 start-0 translate-middle rounded-pill">ตรวจสอบสิทธิ์</p>
                        <p class="step-tag noneactive position-absolute top-0 start-50 translate-middle rounded-pill">บันทึกข้อมูลใช้บริการ</p>
                        <p class="step-tag noneactive position-absolute top-0 start-100 translate-middle rounded-pill">บันทึกรับเเจ้ง</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-5 pt-5">

            <div class="d-flex my-3 justify-content-around">

                <div class="col-lg-4 text-main">

                    <div class="d-flex">
                        <div>ชื่อ-นามสกุล :</div>
                        @* <div style=" color :#B3B3B3">@RegisData.PatientName</div> *@
                        <div style=" color :#B3B3B3"></div>
                    </div>
                </div>
                <div class="col-lg-4"></div>


            </div>

            <div class="d-flex my-3 justify-content-around">

                <div class="col-lg-4 text-main">

                    <div class="d-flex">
                        <div>วันเกิด :</div>
                        <div style=" color :#B3B3B3"></div>
                        @* <div style=" color :#B3B3B3">@RegisData.BirthDate</div> *@
                    </div>
                </div>

                <div class="col-lg-4"></div>


            </div>
            <div class="d-flex my-3 justify-content-around">

                <div class="col-lg-4 text-main">

                    <div class="d-flex">
                        <div>เพศ :</div>
                        @* @if(RegisData.Sex == "F" ){

                        <div style=" color :#B3B3B3"> ชาย</div>
                        }else{

                        <div style=" color :#B3B3B3"> ผู้หญิง</div>
                        } *@
                    </div>
                </div>
                <div class="col-lg-4">
                </div>


            </div>

            <div class="d-flex my-3 justify-content-around">

                <div class="col-lg-4 text-main">

                    <div class="d-flex">
                        <div>สถานะผู้ประกันตน   : </div>
                        @* @if (RegisData.SsoStatus == "i")
                        {
                        <div style=" color :#B3B3B3">เป็นผู้ประกันตน</div>

                        } *@
                    </div>
                </div>

                <div class="col-lg-4 text-main">

                    <div class="d-flex">
                        <div>วงเงินสิทธิประโยชน์คงเหลือ :</div>
                        @* <div style=" color :#B3B3B3">@RegisData.BalanceMoney</div> *@
                        <div style=" color :#B3B3B3"></div>
                    </div>
                </div>


            </div>
            <hr />
            <div class="d-flex my-3 justify-content-around">

                <div class="col-lg-4 text-main">

                    <div class="d-flex">
                        <div class="  col-5 ">
                            เลขประจำตัวประชาชน/
                            เลขบัตรประกันสังคม  :
                        </div>
                        <div class=" d-flex align-items-end" style=" color :#B3B3B3"></div>
                        @* <div class=" d-flex align-items-end" style=" color :#B3B3B3">@RegisData.PersonalId</div> *@
                    </div>
                </div>

                <div class="col-lg-4 text-main">

                    <div class="d-flex">
                        <div>วันที่ใช้สิทธิ : </div>
                        @* <div style=" color :#B3B3B3">@RegisData.CheckDate</div> *@
                        <div style=" color :#B3B3B3"></div>
                    </div>
                </div>


            </div>
            <div class="d-flex my-3 justify-content-around">

                <div class="col-lg-4 text-main">
                    <div class="d-flex">
                        <div class="col-5 " style=" text-align: end;">หมายเหตุ : </div>
                        <div style=" color :#B3B3B3"></div>
                        @* <div style=" color :#B3B3B3">@RegisData.Reason</div> *@
                    </div>
                </div>

                <div class="col-lg-4 text-main">
                    <div class="d-flex">
                        <div>เบอร์โทรศัพท์ : </div>
                        <div style=" color :#B3B3B3"></div>
                        @* <div style=" color :#B3B3B3">@RegisData.PhoneNo</div> *@
                    </div>
                </div>


            </div>
            <div class="d-flex justify-content-end my-4 mt-4">
                <div class="mt-4 pt-2">
                    <Button Class="ant-btn-distable" @onclick=@(() => goPage(1))>
                        <i class="fa-regular fa-circle-xmark"></i>&nbsp;ยกเลิก
                    </Button>
                </div>
                &nbsp;&nbsp;
                <div class="mt-4 pt-2">
                    <Button Type="@ButtonType.Primary" @onclick=@(()=> submit())>
                        <i class="fa-regular fa-floppy-disk"></i>&nbsp; บันทึก
                    </Button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mt-4 pt-2">
    <button class="btn btn-primary btn-l-s" type="submit" @onclick=@(()=>OpenAlertModal(true))>
        <i class="fa-regular fa-floppy-disk"></i>&nbsp; บันทึก
    </button>
</div>
@if (isloading == true)
{
    <style>
        body {
            overflow: hidden;
        }</style>

    <LoadingPage></LoadingPage>
}

<Modal_Alert _visible=@openAlert OnClose="@OpenAlertModal"></Modal_Alert>

@using System.ComponentModel.DataAnnotations;
@using System.Text.Json;
@using System.ComponentModel;
@using sso.mms.fees.ext.Shared.Dental.TreatmentRecord.Modals
@using sso.mms.fees.ext.Providers.Dental.TreatmentRecord
@using sso.mms.fees.api.ViewModels.Responses;
@using sso.mms.fees.api.ViewModels.Dental;
@inject TreatmentRecordServices treatmentRecordServices

@code {
    [Parameter]
    public EventCallback<(int, AuthenPerson)> IndexPage { get; set; }

    [Parameter]
    public AaiDentalCheckHView RegisData { get; set; }

    [Parameter]
    public int Page{ get; set; }

    [Parameter]
    public EventCallback<(AaiDentalCheckHView,int)> OnRegis { get; set; }

    string response ;
    bool openAlert { get; set; }
    string Placeholder = "วว/ดด/ปปปป";
    string txtValue { get; set; } = "";
    bool _visible = false;

    bool isloading = false;

    public async Task goPage(int item)
    {
        await IndexPage.InvokeAsync((item, null));
    }

    public async void submit()
    {
        // response = await treatmentRecordServices.TreatmentCreate(RegisData);
        // if (response == "sucess")
        // {
        //     goPage(0);
        // }
            goPage(0);
    }
    public void OpenAlertModal(bool value)
    {
        openAlert = value;
    }
    protected override async void OnInitialized()
    {
        isloading = true;
        

        
        isloading = false;
        StateHasChanged();
    }
}
