@using System.Text.RegularExpressions;
@using sso.mms.fees.ext.Shared.Dental.Remittance.Modals


<style>
    .text-main {
        color: #575759;
        font-feature-settings: 'clig' off, 'liga' off;
        font-size: 19px;
        font-style: normal;
        font-weight: 600;
        margin-bottom: 0px;
    }

    .layout-background {
        border-radius: 8px;
        background: #FFF;
        padding: 0px !important;
        min-height: 200px !important;
        width: 90% !important;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        margin-left: 0.7rem;
    }

    .text-tooth-title {
        color: #000;
        font-feature-settings: 'clig' off, 'liga' off;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
    }

    .Bg-l-Popover {
        border-radius: 8px 0px 0px 8px;
        background: #334396;
    }

    .Bg-r-Popover {
        border-radius: 8px;
        background: #EAE8EC;
    }

    .text-popover {
        color: #FFF;
        font-feature-settings: 'clig' off, 'liga' off;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
    }

    .ant-popover-inner-content {
        padding: 0px !important;
        color: rgba(0, 0, 0, 0.85);
    }

    .ant-input-group > .ant-input:last-child, .ant-input-group-addon:last-child {
        border-top-right-radius: 5px !important;
        border-bottom-right-radius: 5px !important;
    }
    .table-row-color-custom > td{
        background-color: #D9D9D9 !important;
    }

    /*.abx
    .ant-table-container
    .ant-table-content
    table
    thead.ant-table-thead
    .ant-table-cell {
        background-color: red !important;
    }*/
    .table-row-color-custom:hover, .table-row-color-custom:hover > td {
        background-color: #D9D9D9 !important;
    }

    .ant-table-summary {
        background: #D9D9D9 !important;
    }
</style>

<div class="site-layout-background" style="padding: 24px;">
    <div class="mms-nav-title">
        <div class="mms-text-title px-4 py-3">กรณีทันตกรรม </div>
    </div>
    <div class="container py-4">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page"style="cursor:pointer;" @onclick=@(()=> goPage(2))>
                    <span class="breadcum-success py-2">บันทึกรายการตรวจ</span>
                </li>
                <li class="breadcrumb-item" aria-current="page">
                    <span class="breadcum-process py-2">บันทึกรับแจ้ง</span>
                </li>

            </ol>
        </nav>
        <hr style="width:100%" />
        <div class="mms-media-center">
            <img src="helper_shared/FeesExtImage/check-2.png">
        </div>
        <div class="d-flex">
            <div class="col-lg-2"></div>
            <div class="col-lg-4 text-main">

                <div class="d-flex">
                    <div>เลขประจำตัวประชาชน : </div>
                    <div style=" color :#B3B3B3">xxx-xxxxxxxx-xx</div>
                </div>
            </div>
            <div class="col-lg-4 text-main ">
                <div class="d-flex">
                    <div>ชื่อ - นามสกุล : </div>
                    <div style=" color :#B3B3B3">นายสามารถ กาจวิชา</div>
                </div>
            </div>

            <div class="col-lg-2"></div>
        </div>

        <div class="row my-2">
            <div class="col-lg-2"></div>
            <div class="col-lg-4 text-main">

                <div class="d-flex">
                    <div>เพศ   : </div>
                    <div style=" color :#B3B3B3">ชาย</div>
                </div>
            </div>

            <div class="col-lg-4 text-main">

                <div class="d-flex">
                    <div>วันเกิด   : </div>
                    <div style=" color :#B3B3B3">12 พฤษภาคม 2530</div>
                </div>
            </div>
            <div class="col-lg-2"></div>
        </div>
        <div class="row my-2">
            <div class="col-lg-2"></div>
            <div class="col-lg-4 text-main">

                <div class="d-flex">
                    <div>สัญชาตื   : </div>
                    <div style=" color :#B3B3B3">ไทย</div>
                </div>
            </div>
            <div class="col-lg-4 text-main">

                <div class="d-flex">
                    <div>สถานะผู้ประกิบการ   : </div>
                    <div style=" color :#B3B3B3">เป็นผู้ประกันตน</div>
                </div>
            </div>

            <div class="col-lg-2"></div>
        </div>

        <div class="row my-2">
            <div class="col-lg-2"></div>
            <div class="col-lg-4 text-main">

                <div class="d-flex">
                    <div>เบอร์โทรศัพท์   : </div>
                    <div style=" color :#B3B3B3">099-200-654</div>
                </div>
            </div>

            <div class="col-lg-4 ">
            </div>

            <div class="col-lg-2"></div>
        </div>


    </div>
    <hr />
    <div class="site-layout-background container p-3" style="padding: 24px; box-shadow: none">
        <div class="mms-nav-title border">
            <div class="mms-text-title px-4 py-3">บันทึกตรวจสุขภาพฟัน</div>
        </div>
        <div class="container border rounded-bottom">
            <br />
            <div class="mms-media-center " style="font-size:16; color:#000;">
                ฟันบน
            </div>
            <div class="d-flex">
                <div class="col-lg-6">

                    <div class="d-flex justify-content-center">

                        @if (LT1.Count != 0)
                        {
                            @foreach (var image in LT1)
                            {
                                <div class="mx-2 my-2 col-1">
                                    <div class="mms-media-center" style="height:80px;">
                                        <img src="@image.ImagePath" alt="@image.ToothName" />

                                    </div>

                                    <div class="mms-media-center">@image.ToothNo</div>
                                    <div class="mms-media-center">@image.ToothName</div>

                                </div>
                            }

                        }
                    </div>


                </div>



                <div class="col-lg-6">

                    <div class="d-flex justify-content-center">

                        @if (LT2.Count != 0)
                        {
                            @foreach (var image in LT2)
                            {
                                <div class="mx-2 my-2 col-1">
                                    <div class="mms-media-center" style="height:80px;">
                                        <img src="@image.ImagePath" alt="@image.ToothName" />

                                    </div>

                                    <div class="mms-media-center">@image.ToothNo</div>
                                    <div class="mms-media-center">@image.ToothName</div>

                                </div>
                            }

                        }
                    </div>


                </div>
            </div>
            <hr />
            <div class="mms-media-center" style="font-size:16; color:#000;">
                ฟันล่าง
            </div>
            <div class="d-flex">
                <div class="col-lg-6">

                    <div class="d-flex justify-content-center">

                        @if (LT3.Count != 0)
                        {
                            @foreach (var image in LT3)
                            {
                                <div class="mx-2 my-2 col-1">
                                    <div class="mms-media-center" style="height:80px;">
                                        <img src="@image.ImagePath" alt="@image.ToothName" />

                                    </div>

                                    <div class="mms-media-center">@image.ToothNo</div>
                                    <div class="mms-media-center">@image.ToothName</div>

                                </div>
                            }

                        }
                    </div>


                </div>
                <div class="col-lg-6">

                    <div class="d-flex justify-content-center">

                        @if (LT4.Count != 0)
                        {
                            @foreach (var image in LT4)
                            {
                                <div class="mx-2 my-2 col-1">

                                    <div class="mms-media-center " style="height:80px;">
                                        <img src="@image.ImagePath" alt="@image.ToothName" />

                                    </div>
                                    @if (true)
                                    {
                                        <Popover ContentTemplate="@_content"
                                                 OnVisibleChange="OnVisibleChange"
                                                 Trigger="@(new AntDesign.Trigger[] { AntDesign.Trigger.Click})"
                                                 Class="ant-popover-inner-content">
                                            <Button OnClick="@(()=>GetDetail((int)image.ToothTypeId))" Type="@ButtonType.Text">
                                                <i class="fa-solid fa-user-doctor" style="color:#334396"></i>
                                            </Button>
                                        </Popover>
                                    }

                                    <div class="mms-media-center ">@image.ToothNo</div>
                                    <div class="mms-media-center ">@image.ToothName</div>
                                </div>

                            }

                        }
                    </div>

                </div>
            </div>

            <hr />
            <div class="mms-media-center" style="font-size:16px; color:#000;">
                อื่นๆ
            </div>
            <div class="d-flex justify-content-center">

                <div class="col-lg-6">


                    <div class="d-flex justify-content-center">

                        @if (LT5.Count != 0)
                        {
                            @foreach (var image in LT5)
                            {
                                <div class="mx-2 my-2 col-1">
                                    <div class="mms-media-center" style="height:80px;">
                                        <img src="@image.ImagePath" alt="@image.ToothName" />

                                    </div>

                                    <div class="mms-media-center">@image.ToothNo</div>
                                    <div class="mms-media-center">@image.ToothName</div>

                                </div>
                            }

                        }
                    </div>


                </div>



            </div>

        </div>

    </div>
    <br />
    <div class="container">

        <Table DataSource="listOfTreatment" @bind-SelectedRows="selectedRows" RowClassName="@(_=>"table-row-color-custom")" Class="abx"  Bordered HidePagination>
            <Selection Key="@(context.Id.ToString())" Type="checkbox"></Selection>
            <PropertyColumn Width="30%" Property="c=>c.ToothName" Align="ColumnAlign.Left" Title="ชื่อรายการ"></PropertyColumn>
            <PropertyColumn Property="c=>c.ToothNumber" Align="ColumnAlign.Center" Title="เลขฟัน">
                <div class="mms-media-center">
                    <Input Type="text" @bind-Value="context.ToothNumber" Style="border-top-right-radius:0px !important; border-bottom-right-radius:0px !important" />
                    <div style="border-radius:0px, 4px, 4px, 0px; width:40px; height:40px; background-color:#f0f0f0; border-top-right-radius:6px; border-bottom-right-radius:6px; cursor:pointer; border: 1px solid #d9d9d9;"
                         @onclick=@(()=> OpenSelectTooth(context.Id))>
                        <i class="fa-solid fa-pen-clip" style="background-color: #f0f0f0;font-size: 22px;padding-top: 7px;color: #000;"></i>
                    </div>
                </div>
            </PropertyColumn>
            <PropertyColumn Property="c=>c.Number" Align="ColumnAlign.Center" Title="จำนวน"></PropertyColumn>
            <PropertyColumn Property="c=>c.ToothPriece" Align="ColumnAlign.Center" Title="ค่ารักษา">
                <AntDesign.InputNumber Type="text" @bind-Value="context.ToothPriece" Class="w-100" Formatter="Format1" Parser="Parse1" Precision="2" />
            </PropertyColumn>
            <PropertyColumn Property="c=>c.ToothClaim" Align="ColumnAlign.Center" Title="จำนวนที่เบิกได้">
                @String.Format("{0:N}",context.ToothClaim)
            </PropertyColumn>
            @{
                var totalpriece = listOfTreatment.Sum(d => d.ToothPriece);
                var totalclaim = listOfTreatment.Sum(d => d.ToothClaim);
            }
            <SummaryRow >
                <SummaryCell Align="ColumnAlign.Right" Class="table-row-color-custom" ColSpan="4">รวมทั้งหมด</SummaryCell>
                <SummaryCell Class="table-row-color-custom">
                    <Text  >@String.Format("{0:N}",totalpriece)</Text>
                </SummaryCell>
                <SummaryCell Class="table-row-color-custom">
                    <Text >@String.Format("{0:N}",@totalclaim)</Text>
                </SummaryCell>
            </SummaryRow>
        </Table>
    <div class="d-flex justify-content-end py-4 px-4">
        <div class="mt-4 pt-2">
            <Button Class="ant-btn-distable"  @onclick=@(()=> goPage(0))>
                <i class="fa-regular fa-circle-xmark"></i> &nbsp;ย้อนกลับ
            </Button>
        </div>
        &nbsp;&nbsp;
        <div class="mt-4 pt-2">
            <Button Type="@ButtonType.Primary" @onclick=@(()=> goPage(0))>
                <i class="fa-regular fa-floppy-disk"></i>&nbsp; บันทึก
            </Button>
        </div>
    </div>
    </div>

</div>
@if (isloading == true)
{
    <style>
        body {
            overflow: hidden;
        }</style>

    <LoadingPage></LoadingPage>
}
@*<div class="mt-4 pt-2">
    <button class="btn btn-primary btn-l-s" type="submit" @onclick=@(()=> OpenSelectModal(true))>
        <i class="fa-regular fa-floppy-disk"></i>&nbsp; บันทึกxxxx
    </button>
</div>*@
@*<div>@selected</div>
@foreach (var item in listOfTreatment)
{
    <div>@item.Id @item.ToothNumber @item.ToothPriece</div>
}*@
<Modal_SeclectTooth _visible=@openSelectTooth OnClose=@OpenSelectModal  selected=@SelectedToothModal></Modal_SeclectTooth>

@using System.ComponentModel.DataAnnotations;
@using System.Text.Json;
@using System.ComponentModel;
@using sso.mms.fees.ext.Shared.Dental.TreatmentRecord.Modals
@using sso.mms.fees.api.ViewModels.Dental;
@using sso.mms.fees.api.ViewModels.Responses;
@using sso.mms.fees.ext.Providers.Dental.TreatmentRecord

@inject TreatmentRecordServices treatmentRecordServices
@code {
    IEnumerable<ListOfTreatment> selectedRows;
    List<ListOfTreatment> listOfTreatment = new List<ListOfTreatment>();
    bool openSelectTooth { get; set; }
    List<string> options = new List<string> { "Option 1", "Option 2", };
    string selectedOption = "Option 1";
    int SelectId = 0;
    string Placeholder = "วว/ดด/ปปปป";
    string txtValue { get; set; } = "xxxx";
    bool _visible = false;
    bool isloading;
    public int DetailId = 0;
    [Parameter]
    public EventCallback<(int, AuthenPerson)> IndexPage { get; set; }
    [Parameter]
    public int checkHId { get; set; }


    ResponseList<AaiDentalToothTypeMView> ListTooth = new ResponseList<AaiDentalToothTypeMView>();
    List<AaiDentalToothTypeMView> LT1 = new List<AaiDentalToothTypeMView>();
    List<AaiDentalToothTypeMView> LT2 = new List<AaiDentalToothTypeMView>();
    List<AaiDentalToothTypeMView> LT3 = new List<AaiDentalToothTypeMView>();
    List<AaiDentalToothTypeMView> LT4 = new List<AaiDentalToothTypeMView>();
    List<AaiDentalToothTypeMView> LT5 = new List<AaiDentalToothTypeMView>();

    public class ListOfTreatment
    {
        public int Id { get; set; }
        public string ToothName { get; set; }
        public string ToothNumber { get; set; }
        public double Number { get; set; }
        public double ToothPriece { get; set; }
        public double ToothClaim { get; set; }

    };
    public class ToothData
    {
        public int Id { get; set; }
        public string Name { get; set; }
        public string Number { get; set; }
        public string Path { get; set; }
        public bool Ischeck { get; set; }

    };
    public string selected = "";

    private string Parse1(string value)
    {
        return Regex.Replace(value, @"\$\s?|(,*)", "");
    }
    private string Format1(double value)
    {
        return value.ToString("N");
    }
    public async Task SelectedToothModal(string selected)
    {
        var Data = listOfTreatment.FirstOrDefault(f => f.Id == SelectId);
        Data.ToothNumber = selected;
        this.selected = selected;

    }
    protected override async void OnInitialized()
    {
        isloading = true;
        StateHasChanged();
        ListTooth = await treatmentRecordServices.ToothList();
        
        LT1 = ListTooth.ResultList.Where(item => Convert.ToInt32(item.ToothTypeId) >= 1 && Convert.ToInt32(item.ToothTypeId) <= 8).ToList();
        LT2 = ListTooth.ResultList.Where(item => Convert.ToInt32(item.ToothTypeId) >= 9 && Convert.ToInt32(item.ToothTypeId) <= 16).ToList();
        LT3 = ListTooth.ResultList.Where(item => Convert.ToInt32(item.ToothTypeId) >= 17 && Convert.ToInt32(item.ToothTypeId) <= 24).ToList();
        LT4 = ListTooth.ResultList.Where(item => Convert.ToInt32(item.ToothTypeId) >= 25 && Convert.ToInt32(item.ToothTypeId) <= 32).ToList();
        LT5 = ListTooth.ResultList.Where(item => Convert.ToInt32(item.ToothTypeId) >= 33).ToList();


        listOfTreatment = new List<ListOfTreatment>{
             new ListOfTreatment {
                 Id = 1,
                 ToothName = "อุดฟัน" ,
                 ToothNumber = "",
                 Number = 1,
                 ToothPriece =0,
                 ToothClaim = 900
             },
             new ListOfTreatment {
                 Id = 2,
                 ToothName = "อุดฟัน AMALGAM 1 ด้าน" ,
                 ToothNumber = "",
                 Number = 1,
                 ToothPriece =0,
                 ToothClaim = 0
             },
             new ListOfTreatment {
                 Id = 3,
                 ToothName = "อุดฟัน AMALGAM 2 ด้าน" ,
                 ToothNumber = "",
                 Number = 1,
                 ToothPriece =0,
                 ToothClaim = 0
             },
             new ListOfTreatment {
                 Id = 4,
                 ToothName = "อุดฟันสีเหมือนฟัน 1 ด้านหน้า" ,
                 ToothNumber = "",
                 Number = 1,
                 ToothPriece =0,
                 ToothClaim = 0
             }, new ListOfTreatment {
                 Id = 5,
                 ToothName = "อุดฟันสีเหมือนฟัน 1 ด้านหลัง" ,
                 ToothNumber = "",
                 Number = 1,
                 ToothPriece =0,
                 ToothClaim = 0
             }, new ListOfTreatment {
                 Id = 6,
                 ToothName = "อุดฟันสีเหมือนฟัน 2 ด้านหน้า" ,
                 ToothNumber = "",
                 Number = 1,
                 ToothPriece =0,
                 ToothClaim = 0
             },new ListOfTreatment {
                 Id = 7,
                 ToothName = "อุดฟันสีเหมือนฟัน 2 ด้านหลัง" ,
                 ToothNumber = "",
                 Number = 1,
                 ToothPriece =0,
                 ToothClaim = 0
             },new ListOfTreatment {
                 Id = 8,
                 ToothName = "ขูดหินปูน" ,
                 ToothNumber = "",
                 Number = 1,
                 ToothPriece =0,
                 ToothClaim = 0
             },new ListOfTreatment {
                 Id = 9,
                 ToothName = "ถอนฟัน" ,
                 ToothNumber = "",
                 Number = 1,
                 ToothPriece =0,
                 ToothClaim = 0
             },new ListOfTreatment {
                 Id = 10,
                 ToothName = "ถอนฟันแท้" ,
                 ToothNumber = "",
                 Number = 1,
                 ToothPriece =0,
                 ToothClaim = 0
             },new ListOfTreatment {
                 Id = 11,
                 ToothName = "ถอนฟันที่ยาก" ,
                 ToothNumber = "",
                 Number = 1,
                 ToothPriece =0,
                 ToothClaim = 0
             },new ListOfTreatment {
                 Id = 12,
                 ToothName = "ผ่าฟันคุด" ,
                 ToothNumber = "",
                 Number = 1,
                 ToothPriece =0,
                 ToothClaim = 0
             },
                 };
               isloading = false;
        StateHasChanged();
    }

    public async Task goPage(int item)
    {
        await IndexPage.InvokeAsync((item, null));
    }
    bool isSelected(string option) => option == selectedOption;

    void RadioChanged(ChangeEventArgs e)
    {
        selectedOption = e.Value.ToString();
    }

    public void OpenSelectTooth(int id)
    {
        SelectId = id;
        OpenSelectModal(true);
    }
    public void OpenSelectModal(bool value)
    {
        openSelectTooth = value;
    }

    private void OnFinish(EditContext editContext)
    {
        Console.WriteLine("e");
        _visible = false;
    }
    private bool _visiblePop = false;

    private void GetDetail(int detailid)
    {
        DetailId = detailid;
    }
    private void OnVisibleChange(bool visible)
    {
        _visiblePop = visible;
    }
    private RenderFragment _content =>
    @<div style="width: 340px;  position: relative;" class="container">
        <div class="row ">
            <br />
            <div class="col-4 pt-2" style="color:#fff;background:#334396 ;" >วันที่ตรวจ</div><div class="col-8 pt-2">19 ก.ค. 2565</div>
            <div class="col-4 pt-2" style="color:#fff;background:#334396 ;">วินิจฉัย</div><div class="col-8 pt-2">ฟันผุมาก</div>
            <div class="col-4 pt-2" style="color:#fff;background:#334396 ;">ICD10</div><div class="col-8 pt-2">K02.2 Caries of cementum</div>
            <div class="col-4 pt-2" style="color:#fff;background:#334396 ;">ICD9</div><div class="col-8 pt-2">2301 23.01 Extraction of deciduous tooth</div>
            <div class="col-4 pt-2" style="color:#fff;background:#334396 ;">แพทย์ผู้ตรวจ</div><div class="col-8 pt-2">น.ส.กชกร มั่นใจ (แสดงเลข ท. หรือ ตำแหน่ง)</div>
            <div class="col-4 py-2" style="color:#fff;background:#334396 ;">ผู้บันทึก</div><div class="col-8 pt-2">น.ส.กชกร มั่นใจ</div>
        </div>
     </div>
        ;

        }
