@using sso.mms.fees.api.Entities.Dental;
@using sso.mms.fees.api.ViewModels.Responses;
@using sso.mms.fees.ext.Shared.Dental.Remittance.Modals
@using sso.mms.helper.Utility
<style>
    .text-main {
        color: #575759;
        font-feature-settings: 'clig' off, 'liga' off;
        font-size: 19px;
        font-style: normal;
        font-weight: 600;
        margin-bottom: 0px;
    }

    .layout-background {
        border-radius: 8px;
        background: #FFF;
        padding: 0px !important;
        min-height: 200px !important;
        width: 90% !important;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        margin-left: 0.7rem;
    }

    .ant-table-thead > tr > th {
        position: relative;
        color: rgba(0, 0, 0, 0.85) !important;
        font-weight: 600 !important;
        text-align: center !important;
        background: #ffffff !important;
        border-bottom: 1px solid #D9D9D9 !important;
        transition: background 0.3s ease;
    }

    .step-img {
        width: 77px;
        height: 77px;
    }

    .step-tag {
        padding-top: 100px !important;
        font-size: 16px;
        line-height: 20px;
        padding-top: 0.8rem;
        font-weight: 600;
    }

    .active {
        color: #005C9E;
    }

    .noneactive {
        color: #C4C4C4;
    }

    .ant-popover-inner-content {
        padding: 0px !important;
        color: rgba(0, 0, 0, 0.85);
    }
</style>

<div class="site-layout-background" style="padding: 24px;">
    <div class="mms-nav-title">
        <div class="mms-text-title px-4 py-3">กรณีทันตกรรม </div>
    </div>
    <div class="container py-4">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page" style="cursor:pointer;" @onclick=@(()=> goPage(2)) >
                    <span class="breadcum-success py-2">บันทึกรายการตรวจ</span>
                </li>
                <li class="breadcrumb-item" aria-current="page">
                    <span class="breadcum-process py-2">บึนทึกข้อมูลการตรวจ</span>
                </li>

            </ol>
        </nav>
        <hr style="width:100%" />
        <div class="pt-4 mt-4">
            <div class="container" align="center">
                <div class="position-relative w-75">
                    <div class="progress" style="height: 6px;">
                        <div class="progress-bar w-50"></div>
                    </div>
                </div>
                <div class="container position-relative w-75">
                    <img class="step-img position-absolute top-0 start-0 translate-middle rounded-pill" src="helper_shared/FeesExtImage/step1-1.png" />
                    <img class="step-img position-absolute top-0 start-50 translate-middle rounded-pill" src="helper_shared/FeesExtImage/step1-2.png" />
                    <img class="step-img position-absolute top-0 start-100 translate-middle rounded-pill" src="helper_shared/FeesExtImage/step2-3.png" />
                </div>
                <div class="contai ner position-relative w-75">
                    <div class="row">
                        <p class="step-tag active position-absolute top-0 start-0 translate-middle rounded-pill">ตรวจสอบสิทธิ์</p>
                        <p class="step-tag active position-absolute top-0 start-50 translate-middle rounded-pill">บันทึกข้อมูลใช้บริการ</p>
                        <p class="step-tag noneactive position-absolute top-0 start-100 translate-middle rounded-pill">บันทึกรับเเจ้ง</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="pt-5 mt-5">

            <div class="row my-2">
                <div class="col-lg-2"></div>
                <div class="col-lg-4 text-main">

                    <div class="d-flex">
                        <div>เลขประจำตัวประชาชน : </div>
                        <div style=" color :#B3B3B3">@data.PersonalId</div>
                    </div>
                </div>
                <div class="col-lg-4 text-main ">
                    <div class="d-flex">
                        <div>ชื่อ - นามสกุล : </div>
                        <div style=" color :#B3B3B3">@data.PatientName</div>
                    </div>
                </div>

                <div class="col-lg-2"></div>
            </div>

            <div class="row my-2">
                <div class="col-lg-2"></div>
                <div class="col-lg-4 text-main">

                    <div class="d-flex">
                        <div>เพศ   : </div>
                        @if(data.Sex == "F"){
                            
                        <div style=" color :#B3B3B3">ชาย</div>
                        }else
                        {
                        <div style=" color :#B3B3B3">ผู้หญิง</div> 

                        }
                    </div>
                </div>

                <div class="col-lg-4 text-main">

                    <div class="d-flex">
                        <div>วันเกิด   : </div>
                        <div style=" color :#B3B3B3">@data.BirthDate</div>
                    </div>
                </div>
                <div class="col-lg-2"></div>
            </div>
            <div class="row my-2">
                <div class="col-lg-2"></div>
                <div class="col-lg-4 text-main">

                    <div class="d-flex">
                        <div>สัญชาตื   : </div>
                        <div style=" color :#B3B3B3">@data.National</div>
                    </div>
                </div>
                <div class="col-lg-4 text-main">

                    <div class="d-flex">
                        <div>สถานะผู้ประกิบการ   : </div>
                        @if(data.SsoStatus == "A"){

                        <div style=" color :#B3B3B3">เป็นผู้ประกันตน</div>
                        }else{

                        <div style=" color :#B3B3B3">ไม่เป็นเป็นผู้ประกันตน</div>
                        }
                    </div>
                </div>

                <div class="col-lg-2"></div>
            </div>

            <div class="row my-2">
                <div class="col-lg-2"></div>
                <div class="col-lg-4 text-main">

                    <div class="d-flex">
                        <div>เบอร์โทรศัพท์   : </div>
                        <div style=" color :#B3B3B3">@data.PhoneNo</div>
                    </div>
                </div>

                <div class="col-lg-4 ">
                </div>

                <div class="col-lg-2"></div>
            </div>
        </div>


    </div>
    <hr />
    <div class="site-layout-background container p-3" style="padding: 24px; box-shadow: none">
        <div class="mms-nav-title border">
            <div class="mms-text-title px-4 py-3">บันทึกตรวจสุขภาพฟัน</div>
        </div>
        <div class="container border rounded-bottom">
            <br />
            <div class="mms-media-center " style="font-size:16; color:#000;">
                ฟันบน
            </div>
            <div class="d-flex">
                <div class="col-lg-6">

                    <div class="d-flex justify-content-center">

                        @if (LT1.Count != 0)
                        {
                            @foreach (var image in LT1)
                            {
                                <div class="mx-2 my-2 col-1">
                                    <div class="mms-media-center" style="height:80px;">
                                        <img src="@image.ImagePath" alt="@image.ToothName" />

                                    </div>

                                    <div>
                                        <div class="container mms-media-center" style="width:45px;height:40px;">
                                            @foreach (var item in ListofcheckD.ResultList)
                                            {
                                                @if (item.ToothTypeId == image.ToothTypeId)
                                                {
                                                    <Popover ContentTemplate="@_content"
                                                             OnVisibleChange="OnVisibleChange"
                                                             Trigger="@(new AntDesign.Trigger[] { AntDesign.Trigger.Click})"
                                                             Class="ant-popover-inner-content">
                                                        <Button OnClick="@(()=>GetDetail((int)image.ToothTypeId))" Type="@ButtonType.Text">
                                                            <i class="fa-solid fa-user-doctor" style="color:#334396"></i>
                                                        </Button>
                                                    </Popover>
                                                }

                                            }
                                        </div>
                                    </div>
                                    <div class="mms-media-center">@image.ToothNo</div>
                                    <div class="mms-media-center">@image.ToothName</div>

                                </div>
                            }

                        }
                    </div>


                </div>



                <div class="col-lg-6">

                    <div class="d-flex justify-content-center">

                        @if (LT2.Count != 0)
                        {
                            @foreach (var image in LT2)
                            {
                                <div class="mx-2 my-2 col-1">
                                    <div class="mms-media-center" style="height:80px;">
                                        <img src="@image.ImagePath" alt="@image.ToothName" />

                                    </div>
                                    <div>
                                        <div class="container mms-media-center" style="width:45px;height:40px;">
                                            @foreach (var item in ListofcheckD.ResultList)
                                            {
                                                @if (item.ToothTypeId == image.ToothTypeId)
                                                {
                                                    <Popover ContentTemplate="@_content"
                                                             OnVisibleChange="OnVisibleChange"
                                                             Trigger="@(new AntDesign.Trigger[] { AntDesign.Trigger.Click})"
                                                             Class="ant-popover-inner-content">
                                                        <Button OnClick="@(()=>GetDetail((int)image.ToothTypeId))" Type="@ButtonType.Text">
                                                            <i class="fa-solid fa-user-doctor" style="color:#334396"></i>
                                                        </Button>
                                                    </Popover>
                                                }

                                            }
                                        </div>
                                    </div>
                                    <div class="mms-media-center">@image.ToothNo</div>
                                    <div class="mms-media-center">@image.ToothName</div>

                                </div>
                            }

                        }
                    </div>


                </div>
            </div>
            <hr />
            <div class="mms-media-center" style="font-size:16px; color:#000;">
                ฟันล่าง
            </div>
            <div class="d-flex">
                <div class="col-lg-6">

                    <div class="d-flex justify-content-center">

                        @if (LT3.Count != 0)
                        {
                            @foreach (var image in LT3)
                            {
                                <div class="mx-2 my-2 col-1">
                                    <div class="mms-media-center" style="height:80px;">
                                        <img src="@image.ImagePath" alt="@image.ToothName" />

                                    </div>
                                   <div>
                                        <div class="container mms-media-center" style="width:45px;height:40px;">
                                     
                                            @foreach (var item in ListofcheckD.ResultList)
                                            {
                                                @if (item.ToothTypeId == image.ToothTypeId)
                                                {
                                                    <Popover ContentTemplate="@_content"
                                                                OnVisibleChange="OnVisibleChange"
                                                                Trigger="@(new AntDesign.Trigger[] { AntDesign.Trigger.Click})"
                                                                Class="ant-popover-inner-content">
                                                        <Button OnClick="@(()=>GetDetail((int)image.ToothTypeId))" Type="@ButtonType.Text">
                                                            <i class="fa-solid fa-user-doctor" style="color:#334396"></i>
                                                        </Button>
                                                        </Popover>
                                                }
                                           

                                            }  
                                        </div>
                                    </div>
                                    <div class="mms-media-center">@image.ToothNo</div>
                                    <div class="mms-media-center">@image.ToothName</div>

                                </div>
                            }

                        }
                    </div>


                </div>
                <div class="col-lg-6">

                    <div class="d-flex justify-content-center">

                        @if (LT4.Count != 0)
                        {
                            @foreach (var image in LT4)
                            {
                                <div class="mx-2 my-2 col-1">

                                    <div class="mms-media-center " style="height:80px;">
                                        <img src="@image.ImagePath" alt="@image.ToothName" />

                                    </div>
                                    <div>
                                        <div class="container mms-media-center" style="width:45px;height:40px;">
                                            @foreach (var item in ListofcheckD.ResultList)
                                            {
                                                @if (item.ToothTypeId == image.ToothTypeId)
                                                {
                                                    <Popover ContentTemplate="@_content"
                                                             OnVisibleChange="OnVisibleChange"
                                                             Trigger="@(new AntDesign.Trigger[] { AntDesign.Trigger.Click})"
                                                             Class="ant-popover-inner-content">
                                                        <Button OnClick="@(()=>GetDetail((int)image.ToothTypeId))" Type="@ButtonType.Text">
                                                            <i class="fa-solid fa-user-doctor" style="color:#334396"></i>
                                                        </Button>
                                                    </Popover>
                                                }

                                            }
                                        </div>
                                    </div>

                                    <div class="mms-media-center ">@image.ToothNo</div>
                                    <div class="mms-media-center ">@image.ToothName</div>
                                </div>

                            }

                        }
                    </div>

                </div>
            </div>

            <hr />
            <div class="mms-media-center" style="font-size:16px; color:#000;">
                อื่นๆ
            </div>
            <div class="d-flex justify-content-center">

                <div class="col-lg-6">


                    <div class="d-flex justify-content-center">

                        @if (LT5.Count != 0)
                        {
                            @foreach (var image in LT5)
                            {
                                <div class="mx-2 my-2 col-1">
                                    <div class="mms-media-center" style="height:80px;">
                                        <img src="@image.ImagePath" alt="@image.ToothName" />

                                    </div>
                                    <div>
                                        <div class="container mms-media-center" style="width:45px;height:40px;">
                                            @foreach (var item in ListofcheckD.ResultList)
                                            {
                                                @if (item.ToothTypeId == image.ToothTypeId)
                                                {
                                                    <Popover ContentTemplate="@_content"
                                                             OnVisibleChange="OnVisibleChange"
                                                             Trigger="@(new AntDesign.Trigger[] { AntDesign.Trigger.Click})"
                                                             Class="ant-popover-inner-content">
                                                        <Button OnClick="@(()=>GetDetail((int)image.ToothTypeId))" Type="@ButtonType.Text">
                                                            <i class="fa-solid fa-user-doctor" style="color:#334396"></i>
                                                        </Button>
                                                    </Popover>
                                                }

                                            }
                                        </div>
                                    </div>
                                    <div class="mms-media-center">@image.ToothNo</div>
                                    <div class="mms-media-center">@image.ToothName</div>

                                </div>
                            }

                        }
                    </div>


                </div>



            </div>

        </div>

    </div>
    <hr />
  
    <div class="container">
        <div class="d-flex">

            <div class="col-lg-6">
                <div class="layout-background" style="padding: 24px;">
                    <div class="mms-nav-title">
                        <div class="mms-text-title px-4 py-3">ประวัติการรักษา</div>
                    </div>

                    <Table DataSource="listOfData" Bordered HidePagination Class="mms-txt-default mx-2 my-1" RowClassName="@(_=>"table-row-color-custom")" Style="font-size : 14px !important">
                            <PropertyColumn Width="20%" Title="วันที่รักษา" Property="c => c.Id" Align=ColumnAlign.Left Style="mx-1"></PropertyColumn>
                            <PropertyColumn Width="15%" Title="รหัสฟัน" Property="c => c.Name" Align="ColumnAlign.Left"></PropertyColumn>
                            <PropertyColumn Width="40%" Title="รายการรักษา" Property="c => c.count" Align=ColumnAlign.Center> </PropertyColumn>
                            <PropertyColumn Width="25%" Title="จำนวนอนุมัติ" Property="c => c.Name" Align=ColumnAlign.Center> </PropertyColumn>

                            @*  @{
                        var totalBorrow = listOfData.Sum(x => x.Age);
                        }*@
                            <SummaryRow>
                                <SummaryCell Align=ColumnAlign.Right ColSpan="4">รวมทั้งหมด</SummaryCell>

                                @*<SummaryCell Align=ColumnAlign.Center>
                            <Text>@totalBorrow</Text>
                            </SummaryCell>*@
                            </SummaryRow>
                        </Table>
                    </div>
                </div>
                <div class="col-lg-6">

                    <div class="layout-background" style="padding: 24px;">
                        <div class="mms-nav-title">
                            <div class="mms-text-title px-4 py-3">ประวัติการตรวจสุขภาพฟัน</div>
                        </div>
                        <Table DataSource="ListofcheckD.ResultList" Bordered HidePagination Class="mms-txt-default mx-2 my-1" RowClassName="@(_=>"table-row-color-custom")" Style="font-size : 14px !important">
                            <PropertyColumn Width="25%" Title="วันที่ตรวจ" Property="c => c.CheckDate" Align=ColumnAlign.Left Style="mx-1">
                                @ThaiDateFormat.FormatShotMonth(context.CheckDate)
                            </PropertyColumn>
                            <PropertyColumn Width="10%" Title="รหัสฟัน" Property="c => c.ToothTypeId" Align="ColumnAlign.Left"></PropertyColumn>
                            <PropertyColumn Width="20%" Title="รหัสโรค" Property="c => c.Icd10Id" Align=ColumnAlign.Center> </PropertyColumn>
                            <PropertyColumn Width="40%" Title="รายการรักษา" Property="c => c.Decision" Align=ColumnAlign.Center>
                            </PropertyColumn>
                            <PropertyColumn Width="15%" Property="c => c.CheckDate" Align=ColumnAlign.Center TitleTemplate="titletamplate">
                                <div class="d-flex">
                                    <img class="mx-2" title="แก้ไขข้อมูล" src="helper_shared/PortalAdminImage/edit.png" style="width:24px;height:24px; cursor:pointer;" />
                                    <img class="mx-2" title="ลบข้อมูล" src="helper_shared/icon_sso/delete.png" style="width:24px;height:24px; cursor:pointer" />
                                </div>
                            </PropertyColumn>
                        </Table>
                        @*<Table DataSource="modalData" Bordered HidePagination Class="mms-txt-default mx-2 my-1" RowClassName="@(_=>"table-row-color-custom")" Style="font-size : 14px !important">
                            <PropertyColumn Width="20%" Title="วันที่ตรวจ" Property="c => c.Date" Align=ColumnAlign.Left Style="mx-1">
                                @ThaiDateFormat.FormatShotMonth(context.Date)
                            </PropertyColumn>
                            <PropertyColumn Width="10%" Title="รหัสฟัน" Property="c => c.ToothCode" Align="ColumnAlign.Left"></PropertyColumn>
                            <PropertyColumn Width="15%" Title="รหัสโรค" Property="c => c.DiseaseCode" Align=ColumnAlign.Center> </PropertyColumn>
                            <PropertyColumn Width="45%" Title="รายการรักษา" Property="c => c.Detail" Align=ColumnAlign.Center>
                            </PropertyColumn>
                            <PropertyColumn Width="45%" Property="c => c.Id" Align=ColumnAlign.Center TitleTemplate="titletamplate">
                                <div class="d-flex">
                                    <img class="mx-2" title="แก้ไขข้อมูล" src="helper_shared/PortalAdminImage/edit.png" style="width:24px;height:24px; cursor:pointer;" />
                                    <img class="mx-2" title="ลบข้อมูล" src="helper_shared/icon_sso/delete.png" style="width:24px;height:24px; cursor:pointer" />
                                </div>
                            </PropertyColumn>
                        </Table>*@
                    </div>
                </div>
            </div>
        <div class="d-flex justify-content-end my-4 mt-4 px-5 py-5 ">
            <div class="mt-4 pt-2">
                <Button Class="ant-btn-distable" @onclick=@(()=> goPage(0))>
                    <i class="fa-regular fa-circle-xmark"></i> &nbsp;ย้อนกลับ
                </Button>
            </div>
            &nbsp;&nbsp;
            <div class="mt-4 pt-2">
                <Button Type="@ButtonType.Primary" @onclick=@(()=> goPage(4))>
                    <i class="fa-regular fa-floppy-disk"></i>&nbsp; บันทึก
                </Button>
            </div>
        </div>
        </div>
       
    </div>
    @if (isloading == true)
{
    <style>
        body {
            overflow: hidden;
        }</style>

    <LoadingPage></LoadingPage>
}
<Modal_DentelCheckup _visible=@openDentalCheckUp OnClose="@OpenDentalCheckModal" ModalData="@addRow" checkHid="checkHId"></Modal_DentelCheckup>

    @using System.ComponentModel.DataAnnotations;
    @using System.Text.Json;
    @using System.ComponentModel;
    @using sso.mms.fees.ext.Shared.Dental.TreatmentRecord.Modals
    @using sso.mms.fees.ext.Providers.Dental.TreatmentRecord
    @using sso.mms.fees.api.ViewModels.Dental

    @inject TreatmentRecordServices treatmentRecordServices
@code {
    [Parameter]
    public EventCallback<(int, AuthenPerson)> IndexPage { get; set; }
    [Parameter]
    public int checkHId{ get; set; }
    [Parameter]
    public EventCallback<int> SentId { get; set; }

    bool isloading;
    bool openAlert { get; set; }
    bool openDentalCheckUp { get; set; }
    List<string> options = new List<string> { "Option 1", "Option 2", };
    string selectedOption = "Option 1";

    string Placeholder = "วว/ดด/ปปปป";
    string txtValue { get; set; } = "xxxx";
    bool _visible = false;
    private bool _visiblePop = false;
    public int DetailId = 0;
    List<ItemData> listOfData = new List<ItemData>();
    public List<AaiDentalCheckDView> modalData = new List<AaiDentalCheckDView>();

    apiview850 data850 = new apiview850();
    Response<AaiDentalCheckHView> Data = new Response<AaiDentalCheckHView>();
    AaiDentalCheckHView data = new AaiDentalCheckHView();
    ResponseList<AaiDentalCheckDView> ListofcheckD = new ResponseList<AaiDentalCheckDView>();

    ResponseList<AaiDentalToothTypeMView> ListTooth = new ResponseList<AaiDentalToothTypeMView>();
    List<AaiDentalToothTypeMView> LT1 = new List<AaiDentalToothTypeMView>();
    List<AaiDentalToothTypeMView> LT2 = new List<AaiDentalToothTypeMView>();
    List<AaiDentalToothTypeMView> LT3 = new List<AaiDentalToothTypeMView>();
    List<AaiDentalToothTypeMView> LT4 = new List<AaiDentalToothTypeMView>();
    List<AaiDentalToothTypeMView> LT5 = new List<AaiDentalToothTypeMView>();




    public class ItemData
    {
        public int Id { get; set; }
        public string Name { get; set; }
        public int Age { get; set; }
        public int count { get; set; }
        public string Address { get; set; }
    };

    protected async override void OnInitialized()
    {
        isloading = true ;
        StateHasChanged();
       
        Data = await treatmentRecordServices.TreatmentRecordById(checkHId);

        if (Data.Status == 200)
        {
            data = Data.Result;
        }

        ListofcheckD = await treatmentRecordServices.CheckDList(checkHId);
        ListTooth = await treatmentRecordServices.ToothList();
        LT1 = ListTooth.ResultList.Where(item => Convert.ToInt32(item.ToothTypeId) >= 1 && Convert.ToInt32(item.ToothTypeId) <= 8).ToList();
        LT2 = ListTooth.ResultList.Where(item => Convert.ToInt32(item.ToothTypeId) >= 9 && Convert.ToInt32(item.ToothTypeId) <= 16).ToList();
        LT3 = ListTooth.ResultList.Where(item => Convert.ToInt32(item.ToothTypeId) >= 17 && Convert.ToInt32(item.ToothTypeId) <= 24).ToList();
        LT4 = ListTooth.ResultList.Where(item => Convert.ToInt32(item.ToothTypeId) >= 25 && Convert.ToInt32(item.ToothTypeId) <= 32).ToList();
        LT5 = ListTooth.ResultList.Where(item => Convert.ToInt32(item.ToothTypeId) >= 33).ToList();
        isloading = false;
        StateHasChanged();
        listOfData = Enumerable.Range(0, 1).Select(i => new ItemData { Id = i, Name = $"Edrward {i}", Age = 102, count = i, Address = $"London Park no. {i}" }).ToList();
    }

    public async Task addRow(AaiDentalCheckDView data)
    {
        isloading = true;
        StateHasChanged();
        await treatmentRecordServices.DentalCheckupCreate(data);
        ListofcheckD = await treatmentRecordServices.CheckDList(checkHId);
        isloading = false;
        StateHasChanged();
        
    }
    RenderFragment titletamplate =>
    @<span>
        <img src="helper_shared/FeesExtImage/add.png" style="width:40px ; cursor:pointer" @onclick=@(()=>OpenDentalCheckModal(true)) />
    </span>;


    public async Task goPage(int item)
    {
        await IndexPage.InvokeAsync((item, null));
    }
    bool isSelected(string option) => option == selectedOption;

    void RadioChanged(ChangeEventArgs e)
    {
        selectedOption = e.Value.ToString();
    }
    public void OpenAlertModal(bool value)
    {
        openAlert = value;
    }
    public void OpenDentalCheckModal(bool value)
    {
        openDentalCheckUp = value;
    }
    private void OnFinish(EditContext editContext)
    {
        Console.WriteLine("e");
        _visible = false;
    }
   
    private void GetDetail(int detailid)
    {
        DetailId = detailid;
    }
    private void OnVisibleChange(bool visible)
    {
        _visiblePop = visible;
    }
    private RenderFragment _content =>
    @<div style="width: 340px;  position: relative;" class="container">
        <div class="row ">
            <br />
            <div class="col-4 pt-2" style="color:#fff;background:#334396 ;" >วันที่ตรวจ</div><div class="col-8 pt-2">19 ก.ค. 2565</div>
            <div class="col-4 pt-2" style="color:#fff;background:#334396 ;">วินิจฉัย</div><div class="col-8 pt-2">ฟันผุมาก</div>
            <div class="col-4 pt-2" style="color:#fff;background:#334396 ;">ICD10</div><div class="col-8 pt-2">K02.2 Caries of cementum</div>
            <div class="col-4 pt-2" style="color:#fff;background:#334396 ;">ICD9</div><div class="col-8 pt-2">2301 23.01 Extraction of deciduous tooth</div>
            <div class="col-4 pt-2" style="color:#fff;background:#334396 ;">แพทย์ผู้ตรวจ</div><div class="col-8 pt-2">น.ส.กชกร มั่นใจ (แสดงเลข ท. หรือ ตำแหน่ง)</div>
            <div class="col-4 py-2" style="color:#fff;background:#334396 ;">ผู้บันทึก</div><div class="col-8 pt-2">น.ส.กชกร มั่นใจ</div>
        </div>
     </div>
        ;

        }

