@using sso.mms.fees.api.ViewModels.Dental;
@using sso.mms.fees.ext.Shared.Dental.TreatmentRecord.Modals
@using sso.mms.fees.ext.Providers.Dental.TreatmentRecord
@using sso.mms.fees.api.ViewModels.Responses;
@inject TreatmentRecordServices treatmentRecordServices
<style>
    .ant-space{
        justify-content:end !important;
    }
</style>
<div class="site-layout-background" style="padding: 24px;">
    <div class="mms-nav-title">
        <div class="mms-text-title px-4 py-3">กรณีทันตกรรม </div>
    </div>
    <div class="container py-4">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page">
                    <span class="breadcum-success py-2">บันทึกรายการตรวจ</span>
                </li>
                <li class="breadcrumb-item" aria-current="page">
                    <span class="breadcum-process py-2">รายการผู้ใช้บริการ</span>
                </li>
               
            </ol>
        </nav>
        <hr style="width:100%" />

        <div style="padding-top:15px;"></div>
        <div class="row">
            <div class="d-flex  mms-media-center align-items-end col-md-12 col-sm-6">
                <div class="col-8">
                    <div class="row d-flex ">
                        <div class="col-lg-12 col-md-8">
                        <Button Type="@ButtonType.Primary" Class="mms-text-header" @onclick=@(() => goView(1))>
                            <i class="fa-solid fa-circle-plus"></i>
                            เพิ่ม
                        </Button>
                        &nbsp;
                            <Button Type="@(selectedRows!=null && selectedRows.Any()?"primary" :"defult" )" Class="mms-text-header" @onclick=@(()=>OpenConfirmModal(true)) Disabled="@(selectedRows!=null && selectedRows.Any()? false :true )">
                                <i class="fa-solid fa-right-to-bracket"></i>
                                ส่งรายการที่เลือกเพื่อส่งเบิก
                        </Button>
                         </div>
                    </div>
                </div>
                <div class="col-4" style="display: flex; align-items: end; flex-wrap: wrap;">
                    <div class="mms-txt-headdetail">เลขบัตรประชาชน / หมายเลข Passport </div>
                    <Space Direction="@DirectionVHType.Vertical" Class="mms-btn-serch col-12">
                        <SpaceItem>
                            <Search @bind-Value="@txtValue" Placeholder="เลขบัตรประชาชน / หมายเลข Passport" EnterButton="true" OnChange="(string e)=>SearchData(e)" />
                        </SpaceItem>
                    </Space>
                </div>
            </div>
        </div>
        <hr />
        <Table DataSource="listOfDataSearch.ResultList" Bordered ScrollX="1100" @bind-SelectedRows="selectedRows" RowClassName="@(_=>"table-row-color-custom")">
                <Selection Width="7%" Key="@context.PatientName" Type="@selectionType" Disabled="@(context.PatientName == "Disabled User")" />
                <PropertyColumn Width="7%" Align="ColumnAlign.Center" Property="c=>c.CheckHId" Title="ลำดับ">@String.Format("{0:d}",listOfDataSearch.ResultList.IndexOf(context)+1) </PropertyColumn>
                <PropertyColumn Width="15%" Align="ColumnAlign.Center" Property="c=>c.PatientName" Title="ชื่อ-นามสกุล">@context.PatientName</PropertyColumn>
                <PropertyColumn Width="15%" Align="ColumnAlign.Center" Property="c=>c.PersonalId" Title="เลขประจำตัวประชาชน /หมายเลข Passport"> @context.PersonalId</PropertyColumn>
                <PropertyColumn Width="15%" Align="ColumnAlign.Center" Property="c=>c.CreateDate" Title="วันที่บันทึก"> @ThaiDateFormat.FormattedDate(context.CreateDate)</PropertyColumn>
                <PropertyColumn Width="10%" Align="ColumnAlign.Center" Property="c=>c.CheckStatus " Title="สถานะ">
                    @if (context.CheckStatus == "D")
                {
                    <span style="color:green;">บันทึกเสร็จสิ้น</span>
                }
                else if (context.CheckStatus == "P")
                {
                    <span style="color:red;">รอบันทึกผล</span>

                }
                else if (context.CheckStatus == "E")
                {
                    <span style="color:red;">แจ้งแก้ไข</span>

                }


                </PropertyColumn>
            <PropertyColumn Width="10%" Align="ColumnAlign.Center" Property="c=>c.PatientName" Title="">
                    <div class="d-flex">
                        <img class="mx-2" title="แสดงข้อมูล" src="helper_shared/PortalAdminImage/eye.png"style="width:24px;height:24px; cursor:pointer;" @onclick=@(()=>OpenViewModal(true)) />
                        <img class="mx-2" title="แก้ไขข้อมูล" src="helper_shared/PortalAdminImage/edit.png"style="width:24px;height:24px; cursor:pointer;" @onclick=@(() => Edit((int)context.CheckHId)) />
                        <img class="mx-2" title="ลบข้อมูล" src="helper_shared/icon_sso/delete.png" style="width:24px;height:24px; cursor:pointer" />
                    </div>
                    
                </PropertyColumn>
            </Table>
            <div style="font-size: 18px; color: #979797;">หมายเหตุ: กรุณาเลือกรายการบันทึกที่สำเร็จเพื่อส่งเบิก</div>
        </div>
    </div>
    <Modal_Confrim _visible=@openConfirm OnClose="@OpenConfirmModal"></Modal_Confrim>
    <Modal_View _visible =@openView OnClose ="@OpenViewModal"></Modal_View>
@if (isloading == true)
{
    <style>
        body {
            overflow: hidden;
        }</style>

    <LoadingPage></LoadingPage>
}
@code {
    bool openConfirm { get; set; }
    bool openView { get; set; }
    bool isloading { get; set; }
    string selectionType = "checkbox";
    string txtValue;
    [Parameter]
    public EventCallback<(int, AuthenPerson)> IndexPage { get; set; }
    [Parameter]
    public EventCallback<int> SentId { get; set; }

    public async Task goView(int item)
    {
        await IndexPage.InvokeAsync((item, null));
    }


    ResponseList<AaiDentalCheckHView> listOfDataSearch = new ResponseList<AaiDentalCheckHView>();
    IEnumerable<AaiDentalCheckHView> selectedRows;
    ResponseList<AaiDentalCheckHView> data = new ResponseList<AaiDentalCheckHView>();
    string _selectedValue;
    protected override async  void OnInitialized()
    {
        isloading = true;
        data = await treatmentRecordServices.TreatmentRecordList();

        listOfDataSearch.ResultList = data.ResultList;
        isloading = false;
        StateHasChanged();
    }
    public class ItemData
    {
        public int Id { get; set; }
        public string Name { get; set; }
        public string Cid { get; set; }
        public DateTime DateTran { get; set; }
        public string Status { get; set; }
    };
    public void OpenConfirmModal(bool value)
    {
        openConfirm = value;
    }
    public void OpenViewModal(bool value)
    {
        openView = value;
    }
    public void SearchData(string e) => listOfDataSearch.ResultList = data.ResultList.Where(w => w.PersonalId.Contains(e.ToLower())).ToList();
    public async void Edit(int id )
    {

        await SentId.InvokeAsync(id);
        await IndexPage.InvokeAsync((3, null));

    }



}
