<div class="site-layout-background" style="padding: 24px;">
    <div class="mms-nav-title">
        <div class="mms-text-title px-4 py-3">การรักษาโดยแพทย์ผู้เชี่ยวชาญพิเศษเฉพาะทางและการทำหมัน</div>
    </div>
    <div class="p-2 p-md-5 ">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page">
                    <span class="breadcum-sucress py-2">รายการรับแจ้ง</span>
                </li>
                <li class="breadcrumb-item" aria-current="page">
                    <span class="breadcum-sucress py-2">รายการที่มีใบขอเบิก</span>
                </li>
                <li class="breadcrumb-item" aria-current="page">
                    <span class="breadcum-process py-2">รายการเพื่อขอเบิก</span>
                </li>
            </ol>
        </nav>
        <div class="container" style="padding-bottom:1.5rem;">

            <div class="row">

                <div class="col-5 mms-media-start" style="display:flex;">
     
                </div>
                <div class="col mms-media-end" style="width: 24%;">
                    <Button Type="@ButtonType.Primary" @onclick=@(() => goView(6))><i class="fa-solid fa-arrow-up"></i> &nbsp; เลือกข้อมูลเพื่อส่งประมวลผล</Button>
                </div>
                <div class="col-sm-12 col-md-3">
                    <Space Direction="@DirectionVHType.Vertical" Class="mms-btn-serch w-100">
                        <SpaceItem>
                            <Search Placeholder="ข้อมูลที่ต้องการค้นหา.." EnterButton="true" />
                        </SpaceItem>
                    </Space>
                </div>
            </div>


            <hr />
            <div class="row">

                <div class="col-4 mms-media-start" >
                    <div class="col-7">
                        <div class="mms-txt-headdetail">
                            จำนวนสถานพยาบาลรวม : 
                        </div>
                    </div>
                    <Input Placeholder="Basic usage" @bind-Value="@txtValue" Disabled="true"  />
                    <div class="mms-txt-headdetail">
                        แห่ง
                    </div>
                </div>
                <div class="col-4 mms-media-center">
                    <div class="col-7">
                        <div class="mms-txt-headdetail">
                            จำนวนรายการเบิกรวม :
                        </div>
                    </div>
                    <Input Placeholder="Basic usage" @bind-Value="@txtValue" Disabled="true"/>
                    <div class="mms-txt-headdetail">
                        รายการ
                    </div>
                </div>
                <div class="col-4 mms-media-end" >
                    <div class="col-5">
                        <div class="mms-txt-headdetail">
                           จำนวนเงินรวม :
                        </div>
                    </div>
                    <Input Placeholder="Basic usage" @bind-Value="@txtValue" Disabled="true"  />
                    <div class="mms-txt-headdetail">
                        บาท
                    </div>
                </div>
            </div>
            <div style="margin-top:15px;">
                <Table DataSource="listOfData" TItem="ItemData" RowClassName="@(_=>"editable-row")" Bordered>
                    <ChildContent Context="data">
                        <Column TData="string" Title="ลำดับ" Align="ColumnAlign.Center" Style="width:10%;">@(String.Format("{0:d}", listOfData.IndexOf(data) + 1)) </Column>
                        <Column TData="string" Title="รหัสสถานพยาบาล" Align="ColumnAlign.Center">@data.key</Column>
                        <Column TData="string" Title="ชื่อสถานพยาบาล" Align="ColumnAlign.Center">@data.key</Column>
                        <Column TData="int" Title="จำนวนรายการ" Align="ColumnAlign.Center">@data.key</Column>
                        <Column TData="decimal" Title="จำนวนเงินรวม(บาท)" Align="ColumnAlign.Center">@data.key</Column>
                        <ActionColumn Title="" Align="ColumnAlign.Center" Style="width:10%;">
                            <img src="helper_shared/PortalAdminImage/eye.png" style="width:24px;height:24px; cursor:pointer;" @onclick=@(() => goView(5)) />
                            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none" style="cursor:pointer;">
                                <path d="M1 0C0.447715 0 0 0.447715 0 1V20C0 20.5523 0.447715 21 1 21H20C20.5523 21 21 20.5523 21 20V11.5C21 10.9477 20.5523 10.5 20 10.5H10C9.44771 10.5 9 10.0523 9 9.5V1C9 0.447715 8.55229 0 8 0H1ZM13.6585 1.45119C13.0119 0.88543 12 1.34461 12 2.20377V6.875C12 7.42728 12.4477 7.875 13 7.875H18.3386C19.2619 7.875 19.692 6.73046 18.9971 6.12242L13.6585 1.45119ZM3 6.25C3 5.69772 3.44772 5.25 4 5.25H5C5.55228 5.25 6 5.69772 6 6.25V6.875C6 7.42728 5.55228 7.875 5 7.875H4C3.44772 7.875 3 7.42728 3 6.875V6.25ZM3 11.5C3 10.9477 3.44772 10.5 4 10.5H5C5.55228 10.5 6 10.9477 6 11.5V12.125C6 12.6773 5.55228 13.125 5 13.125H4C3.44772 13.125 3 12.6773 3 12.125V11.5ZM3 16.75C3 16.1977 3.44772 15.75 4 15.75H14C14.5523 15.75 15 16.1977 15 16.75V17.375C15 17.9273 14.5523 18.375 14 18.375H4C3.44772 18.375 3 17.9273 3 17.375V16.75Z" fill="#24379C" />
                            </svg>
                        </ActionColumn>
                    </ChildContent>
                </Table>
            </div>

            <div class="row">
                <div class="col mms-media-end">
                    <Button Type="@ButtonType.Dashed" Class="ant-btn-distable" @onclick=@(() => goBack())><i class="fa-solid fa-circle-chevron-left"></i> &nbsp; ย้อนกลับ</Button>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public EventCallback<int> IndexPage { get; set; }



    string? txtValue = "dsad";

    public async Task goEdit(int item)
    {
        await IndexPage.InvokeAsync(item);
    }


    RenderFragment _audioIcon =@<Icon Type="audio" Theme="outline" Style="color: #1890ff" />;


    public class ItemData
    {
        public int Id { get; set; }
        public string? key { get; set; }


    };
    public class DropdownData
    {
        public string name { get; set; }
        public string? date { get; set; }

    };

    List<DropdownData> dropdownlist = new List<DropdownData>();
    List<ItemData> listOfData = new List<ItemData>();
    private int total => listOfData.Count();
    private int pageSize = 3;


    public async Task goView(int item)
    {
        await IndexPage.InvokeAsync(item);
    }
    public async Task goBack()
    {
        await IndexPage.InvokeAsync(2);
    }

    protected override void OnInitialized()
    {
        listOfData = new List<ItemData>
        {
            new ItemData
            {
                Id = 1 ,
                key = $"2566/02"


            },
            new ItemData
            {
               Id = 2 ,
                key = $"2566/03"


            },
            new ItemData
            {
                Id =3 ,
                key = $"2566/04"

            }
        };

        dropdownlist = new List<DropdownData>
        {
            new DropdownData
            {
                name = "รพ 1"



            },
            new DropdownData
            {
                 name = "รพ 2"

            },
            new DropdownData
            {
                 name = "รพ 3"

            }
        };
    }

}
