
@using sso.mms.fees.admin.Components
@using System.ComponentModel.DataAnnotations;
@using System.Text.Json;
@using System.ComponentModel;
@using Blazored.LocalStorage;
@using sso.mms.fees.admin.Shared.MedicalSpeciaList.NotificationListMedical.Modals
@inject ILocalStorageService _localstorage;
@inject SweetAlertService Swal;

<div class="site-layout-background" style="padding: 24px;">
    <div class="mms-nav-title">
        <div class="mms-text-title px-4 py-3">การรักษาโดยแพทย์ผู้เชี่ยวชาญพิเศษเฉพาะทางและการทำหมัน</div>
    </div>
    <div class="p-2 p-md-5 ">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page">
                    <span class="breadcum-sucress py-2">รายการรับแจ้ง</span>
                </li>
                <li class="breadcrumb-item" aria-current="page">
                    <span class="breadcum-sucress py-2">ประมวลผลรายการไตวายเฉียบพลัน</span>
                </li>
                <li class="breadcrumb-item" aria-current="page">
                    <span class="breadcum-process py-2">รายละเอียดการประมวลผล</span>
                </li>
            </ol>
        </nav>

        <div class="container py-4 me-5 mr-5">
            <Table DataSource="data" Bordered HidePagination>
                <PropertyColumn Title="ประมวลผลทั้งหมด" Property="c=>c.progressAll"></PropertyColumn>
                <PropertyColumn Title="ผ่านการประมวลผล" Property="c=>c.successProgress"></PropertyColumn>
                <PropertyColumn Title="ไม่ผ่านการประมวลผล" Property="c=>c.noPassProgress"></PropertyColumn>

            </Table>

            <div class="row mt-5">
                <div class="col">
                    <div class="mms-media-center" @onclick=@(() => goEdit())>
                        <Button Type="@ButtonType.Primary" Style="background-color:#D94827 !important; border-color:#D94827 !important;"><i class="fa-solid fa-circle-xmark"></i>&nbsp; ยกเลิกการทำเบิก</Button>
                    </div>
                </div>
            </div>
            <div class="row mt-2 justify-content-end">
                <div class="col-md-12 col-lg-3">
                    <Space Direction="@DirectionVHType.Vertical" Class="mms-btn-serch w-100">
                        <SpaceItem>
                            <Search Placeholder="ข้อมูลที่ต้องการค้นหา.." EnterButton="true" />
                        </SpaceItem>
                    </Space>
                </div>
            </div>
            <div class="container py-4">
                <div class="mms-txt-header p-3">รายการเบิกที่ผ่านการประมวลผล</div>
                <hr/>
                <Table DataSource="listOfData.Where(x => x.status == true).ToList()" TItem="ItemData" RowClassName="@(_=>"editable-row")" Bordered>
                    <ChildContent Context="data">
                        <Column TData="string" Title="ลำดับ" Align="ColumnAlign.Center" Style="width:10%;">@(String.Format("{0:d}", listOfData.Where(x => x.status == true).ToList().IndexOf(data) + 1)) </Column>
                        <Column TData="string" Title="รหัสสถานพยาบาล" Align="ColumnAlign.Center">@data.hoscode</Column>
                        <Column TData="string" Title="ชื่อสถานพยาบาล" Align="ColumnAlign.Center">@data.hosname</Column>
                        <Column TData="int" Title="จำนวนรายการ" Align="ColumnAlign.Center">@data.count</Column>
                        <Column TData="decimal" Title="จำนวนเงินรวม(บาท)" Align="ColumnAlign.Center">@data.price</Column>
                        <Column TData="bool" Title="สถานะวินิจฉัย" Align="ColumnAlign.Center">
                            @if (@data.status)
                            {
                                <span style="color:#59AD46;">มีสิทธิ</span>
                            }
                            else
                            {
                                <span style="color:#F56C6C;">ไม่มีสิทธิ</span>
                            }
                        </Column>
                        <ActionColumn Title="" Align="ColumnAlign.Center" Style="width:10%;">
                            <img src="helper_shared/PortalAdminImage/eye.png" style="width:24px;height:24px; cursor:pointer;" />
                        </ActionColumn>
                    </ChildContent>
                </Table>
            </div>

            <div class="container py-4">
                <div class="mms-txt-header p-3">รายการเบิกที่ไม่ผ่านการประมวลผล</div>
                <hr />
                <Table DataSource="listOfData.Where(x => x.status == false).ToList()" TItem="ItemData" RowClassName="@(_=>"editable-row")" Bordered>
                    <ChildContent Context="data">
                        <Column TData="string" Title="ลำดับ" Align="ColumnAlign.Center" Style="width:10%;">@(String.Format("{0:d}", listOfData.Where(x => x.status == false).ToList().IndexOf(data) + 1)) </Column>
                        <Column TData="string" Title="รหัสสถานพยาบาล" Align="ColumnAlign.Center">@data.hoscode</Column>
                        <Column TData="string" Title="ชื่อสถานพยาบาล" Align="ColumnAlign.Center">@data.hosname</Column>
                        <Column TData="int" Title="จำนวนรายการ" Align="ColumnAlign.Center">@data.count</Column>
                        <Column TData="decimal" Title="จำนวนเงินรวม(บาท)" Align="ColumnAlign.Center">@data.price</Column>
                        <Column TData="bool" Title="สถานะวินิจฉัย" Align="ColumnAlign.Center">
                            @if (@data.status)
                            {
                                <span style="color:#59AD46;">มีสิทธิ</span>
                            }
                            else
                            {
                                <span style="color:#F56C6C;">ไม่มีสิทธิ</span>
                            }
                        </Column>
                        <ActionColumn Title="" Align="ColumnAlign.Center" Style="width:10%;">
                            <img src="helper_shared/PortalAdminImage/eye.png" style="width:24px;height:24px; cursor:pointer;" />

                          
                                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26" fill="none" @onclick="() => OpenModal()">

                                    <circle cx="13" cy="13" r="13" fill="#F56C6C" />
                                </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="6" height="17" viewBox="0 0 6 17" fill="none" style="margin-left:-19px;" @onclick="() => OpenModal()">
                                    <path d="M5.49126 13.7246C5.49126 15.0835 4.38574 16.189 3.02688 16.189C1.66802 16.189 0.5625 15.0835 0.5625 13.7246C0.5625 12.3658 1.66802 11.2603 3.02688 11.2603C4.38574 11.2603 5.49126 12.3658 5.49126 13.7246ZM0.847752 1.19324L1.2667 9.57213C1.28638 9.9656 1.61112 10.2745 2.00509 10.2745H4.04867C4.44263 10.2745 4.76738 9.9656 4.78706 9.57213L5.20601 1.19324C5.22711 0.770939 4.89044 0.416992 4.46762 0.416992H1.58614C1.16332 0.416992 0.826651 0.770939 0.847752 1.19324Z" fill="white" />
                                </svg>
                        

                        </ActionColumn>
                    </ChildContent>
                </Table>
            </div>
        </div>
    </div>
</div>

<Modal Title="รายการเบิกที่ไม่ผ่านการประมวลผล"
       Visible="@_visible1"
       OnOk="@HandleOk"
       OnCancel="@HandleCancel"
       Width="1200"
       Footer="null">

    <ViewDescription></ViewDescription>


</Modal>

@if (isloading == true)
{
    <style>
        body {
            overflow: hidden;
        }</style>

    <LoadingPage></LoadingPage>
}

@if (IsOpenModal == true)
{
    <VerifyAdminIdentity Username="@username" OnClose="Onclose"></VerifyAdminIdentity>
}
@code {
    [Parameter]
    public EventCallback<int> IndexPage { get; set; }



    record Data(string installment, string progressAll, string successProgress, string noPassProgress);
    public bool _visible1 = false;
    private void HandleOk(MouseEventArgs e)
    {
        Console.WriteLine(e);
        _visible1 = false;
    }

    private void HandleCancel(MouseEventArgs e)
    {
        Console.WriteLine(e);
        _visible1 = false;
    }
    Data[] data = new Data[]
    {
        new("6603","30","28","1"),
    };
    bool isloading = false;
    private int Table;
    string username = "test";
    public bool IsOpenModal = false;

    public class ItemData
    {
        public int Id { get; set; }

        public string? hoscode { get; set; }

        public string? hosname { get; set; }

        public int? count { get; set; }

        public decimal? price { get; set; }

        public bool status { get; set; }

    };

    List<ItemData> listOfData = new List<ItemData>();

    protected override void OnInitialized()
    {
        listOfData = new List<ItemData>
        {
            new ItemData
            {
                Id = 1 ,
                hoscode = $"665855",
                hosname = "dasdsadas",
                count = 125,
                price = 445665,
                status = true


            },
            new ItemData
            {
                Id = 2 ,
                hoscode = $"665855",
                hosname = "dasdsadas",
                count = 125,
                price = 445665,
                status = true


            },
            new ItemData
            {
                Id = 3 ,
                hoscode = $"665855",
                hosname = "dasdsadas",
                count = 125,
                price = 445665,
                status = false

            }
        };
    }

    public async Task Onclose(bool isOk)
    {
        if (isOk)
        {
            isloading = false;
            StateHasChanged();
            await Swal.FireAsync(
                    "ดำเนินการเรียบร้อยแล้ว",
                    null,
                    SweetAlertIcon.Success
                    );
            IsOpenModal = false;
        }
        else
        {
            isloading = false;
            StateHasChanged();
            await Swal.FireAsync(
                    "Username หรือ Password ไม่ถูกต้อง",
                    null,
                    SweetAlertIcon.Error
                    );

        }
    }



    public void Addtable()
    {
        Table = 1;
    }

    string txtValue { get; set; }

    
    public async Task OpenModal()
    {
        _visible1 = true;

    }
    public async Task goEdit()
    {
         IsOpenModal = true;

    }

}