@using System.ComponentModel;


<div class="site-layout-background" style="padding: 24px;">
    <div class="mms-nav-title">
        <div class="mms-text-title px-4 py-3">ค่าบริการทางการแพทย์ตามภาระเสี่ยง</div>
    </div>
    <div class="container py-4">
        <div class="mms-txt-header py-2">กำหนดคะแนนโรคเรื้อรัง</div>
        <hr />


        <div class="d-flex justify-content-end">
            <Button Class="me-2" Type="@ButtonType.Primary"><i class="fa-solid fa fa-plus"></i> ประมวลผลรายการเบิก</Button>
            <Space Direction="@DirectionVHType.Horizontal" >
                <SpaceItem>
                    <Search Placeholder="ข้อมูลที่ต้องการค้นหา.." EnterButton="true" AllowClear />
                </SpaceItem>
            </Space>
        </div>

        <div class="mt-3">
            <Table @ref="table"
                   TItem="MockUpData"
                   DataSource="@mockUpdata"
                   Total="_total"
            @bind-PageIndex="_pageIndex"
            @bind-PageSize="_pageSize"
            @bind-SelectedRows="selectedRows"
                   OnChange="OnChange"
                   Size="TableSize.Small"
                          Bordered>
                @*<PropertyColumn Title="ลำดับ" Property="c=>c!.Id">*@
                <Selection Align="ColumnAlign.Center" Key="@(context.Id.ToString())" />
                @*</PropertyColumn>*@
                <PropertyColumn Title="ลำดับ" Property="c=>c!.Id" Align="ColumnAlign.Center" />
                <PropertyColumn Title="งวดที่" Property="c=>c!.Installment" />
                <PropertyColumn Title="วันที่นำเข้าข้อมูล" Property="c=>c!.ImportDate" Width="200px" />
                <PropertyColumn Title="วันที่ประมวลผล" Property="c=>c!.progressDate" Width="200px" />
                <PropertyColumn Title="วันที่นำเข้าข้อมูล" Property="c=>c!.Status" Width="200px">
                    <Switch @bind-Value="@context.Status"></Switch>
                </PropertyColumn>
                <PropertyColumn Title="" Width="100px" Property="c=>c!.NoContent" >
                    @*check if progress in status *@
                    <img class="mx-2" src="helper_shared/PortalAdminImage/edit.png" style="width:24px;height:24px;" @onclick=@(() => Edit(2)) />
                </PropertyColumn>
            </Table>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public EventCallback<int> IndexPage { get; set; }

    public async Task Edit(int item)
    {
        await IndexPage.InvokeAsync(item);
    }

    MockUpData[] mockUpdata;

    IEnumerable<MockUpData> selectedRows;
    ITable table;

    int _pageIndex = 1;
    int _pageSize = 10;
    int _total = 0;

    protected override async Task OnInitializedAsync()
    {
        mockUpdata = await GetForecastAsync(1, 50);
        _total = 50;
    }

    public class MockUpData
    {
        public int Id { get; set; }

        [DisplayName("Installment")]
        public string Installment { get; set; }

        [DisplayName("ImportDate")]
        public string ImportDate { get; set; }

        [DisplayName("progressDate")]
        public string progressDate { get; set; }

        public bool Status { get; set; }

        public string NoContent { get; set; }
    }

    private static readonly string[] Installment = new[]
    {
        "E10", "E11", "E12", "E13", "E14", "E15", "E16", "E17", "E18", "E19"
    };

    private static readonly string[] ImportDate = new[]
    {
        "25/05/2566", "25/04/2566", "25/03/2566", "25/02/2566", "25/01/2566",
    };

    private static readonly string[] progressDate = new[]
    {
        "-", "-", "12/04/2566", "12/03/2566", "12/02/2566",
    };


    public async Task OnChange(QueryModel<MockUpData> queryModel)
    {
        Console.WriteLine(JsonSerializer.Serialize(queryModel));
    }

    public Task<MockUpData[]> GetForecastAsync(int pageIndex, int pageSize)
    {
        var rng = new Random();
        return Task.FromResult(Enumerable.Range((pageIndex - 1) * pageSize + 1, pageSize).Select(index =>
        {
            var temperatureC = rng.Next(-20, 55);
            return new MockUpData
                {
                    Id = index,
                    Installment = Installment[rng.Next(Installment.Length)],
                    ImportDate = ImportDate[rng.Next(ImportDate.Length)],
                    progressDate = progressDate[rng.Next(progressDate.Length)],
                    Status = false,
                };
        }).ToArray());
    }

}
