@using Blazored.LocalStorage;
@using sso.mms.helper.Configs;
@using sso.mms.fees.ext.Providers.PromoteHealth.DisbursementHistory;
@inject ModalService _modalService
@inject DisbursementHistoryServices disbursementHistoryServices
@inject ILocalStorageService _localstorage;
@inject SweetAlertService Swal;
@inject IJSRuntime JsRuntime

<div class="site-layout-background" style="padding: 24px;">
    <div class="mms-nav-title">
        <div class="mms-text-title px-4 py-3">ค่าบริการทางการแพทย์เมทาโดน</div>
    </div>
    <div class="container py-4">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item " style="cursor: pointer;" aria-current="page" @onclick="()=> Navigate(1)">
                    <span class="breadcum-sucress py-2">ประวัติการเบิกจ่าย</span>
                </li>
                <li class="breadcrumb-item" aria-current="page">
                    <span class="breadcum-process py-2">งวดปี @PayCricle</span>
                </li>
            </ol>
        </nav>
        <hr />
        <div class="row py-4">
            <div class="col-sm-12 col-md-9"></div>
            <div class="col-sm-12 col-md-3">
                <Space Direction="@DirectionVHType.Vertical" Class="mms-btn-serch w-100">
                    <SpaceItem>
                        <Search Placeholder="ข้อมูลที่ต้องการค้นหา.." EnterButton="true" />
                    </SpaceItem>
                </Space>
            </div>
        </div>
        <Table DataSource="listOfData" Bordered ScrollX="1000">
            <ChildContent Context="data">
                <Column TData="string" Title="ลำดับ" Width="7%" Style="text-align:center;">
                    @String.Format("{0:d}", listOfData.IndexOf(data) + 1)
                </Column>
                <Column TData="string" Title="หมายเลขประจำตัวประชาชน" Width="29%" Style="text-align:center;">
                    @data.IDNumber
                </Column>
                <Column TData="string" Title="ชื่อ-นามสกุล" Width="29%" Style="text-align:center;">
                    @data.FristName @data.LastName
                </Column>
                <Column TData="string" Title="ยอดเบิก(บาท)" Width="14%" Style="text-align:center;">
                    @data.TotalPrice.ToString("N0")
                </Column>
                <Column TData="string" Width="7%" Style="text-align:center;">
                    <img class="mx-2" title="เรียกดู" src="helper_shared/PortalAdminImage/eye.png" style="width:24px;height:24px; cursor:pointer;" />
                </Column>
            </ChildContent>
            <PaginationTemplate>
                <AntDesign.Pagination Class="pt-2"
                                      Total="context.Total"
                                      PageSize="context.PageSize"
                                      Current="context.PageIndex"
                                                        ShowSizeChanger
                                      OnChange="context.HandlePageChange" />
            </PaginationTemplate>
</Table>
                <div class="mms-media-end mt-5">
                    <AntDesign.Button Type="@AntDesign.ButtonType.Default" Class="ant-btn-default" @onclick="() =>Navigate(1)"><i class="fa-solid fa-circle-chevron-left"></i>&nbsp; ย้อนกลับ</AntDesign.Button>
                </div>
            </div>
        </div>

        @code {
    [Parameter]
    public EventCallback<(int, string)> IndexPage { get; set; }
    List<ItemData> listOfData = new List<ItemData>();

    [Parameter]
    public string PayCricle { get; set; }

    /*------------- Navigate Page ---------*/
    public async Task Navigate(int page)
    {
        await IndexPage.InvokeAsync((page, ""));

    }
    /*------------- Navigate Page ---------*/

    public class ItemData
    {
        public int? Id { get; set; }
        public string IDNumber { get; set; }
        public string FristName { get; set; }
        public string LastName { get; set; }
        public string CountWithdraw { get; set; }
        public int TotalPrice { get; set; }
    }
    protected override void OnInitialized()
    {
        listOfData = new List<ItemData>()
        {
                new ItemData{
                Id = 1,
                IDNumber = "165874951322",
                FristName = "นายสายัณห์",
                LastName = "โฉมเฉลา",
                TotalPrice = 20000,
            },new ItemData{
                Id = 2,
                IDNumber = "165231645487",
                FristName = "นายอาหามะปะดี",
                LastName = "โฉมเฉลา",
                TotalPrice = 29000,
            },new ItemData{
                Id = 3,
                IDNumber = "165231645487",
                FristName = "นายกันตภณ",
                LastName = "โฉมเฉลา",
                TotalPrice = 29000,
            },
        };
    }
}
