@using sso.mms.helper.ViewModels;
@using sso.mms.notification.ViewModel;
@using sso.mms.helper.Utility;
@using System.Globalization;
@using System.Globalization;

<style>
    .card-list {
        margin-left: 1rem;
        height: 809px;
        border: 1px solid #d4d2d53b;
        box-shadow: 4px 3px 4px rgba(0, 0, 0, 0.05);
        border-radius: 10px 10px 10px 10px;
        width: 100%;
    }
    img{
        width: -webkit-fill-available;
    }

    .image_resized{
        width:100%;
    }
</style>
<div class="col">
    <div class="card card-list">
        <div class="card-header-m">
            <h3 class="text-header-m" style="display: flex;justify-content: center;">
                @foreach (var item in responseNotiM)
                {
                    if (item.Id == contentNotiT.NotiMId)
                    {

                        @item.Name

                    }
                }

            </h3>

        </div>
        <div class="card-body-m-w">
            <div class="mt-2 m-3">
                <div class="m-2">
                    <p class="text-color-custom fw-bold">@contentNotiT.Title</p>
                </div>
                <div class="scrollbar scrollbar-primary" id="scroll">
                    <div class="container">
                        <hr class="hr-color" />
                        <div class="m-2">

                            @foreach (var item in responseNotiM)
                            {
                                if (item.Id == contentNotiT.NotiMId)
                                {
                                    <p class="text-color-custom fw-bold">ระบบ @item.Name </p>
                                }
                            }
                            @if (contentNotiT.CreateDate != null)
                            {
                                <p class="text-datetimes fw-bold">@ThaiDateFormat.FormattedDate(contentNotiT.CreateDate)  @contentNotiT.CreateDate.Value.ToString("HH:mm") น.</p>

                            }

                            <div>
                                @(new MarkupString(contentNotiT.Content))
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@code {

    [Parameter]
    public NotiT contentNotiT { get; set; }
    [Parameter]
    public List<NotiM> responseNotiM { get; set; }


    }
