@using sso.mms.helper.ViewModels
@using sso.mms.notification.Services;
@inject NotificationService notificationService;

<div class="card-header-m txt-title-noti" align="center">
    <h3 class="text-center" style="height:70px;justify-content:center;  height: 74px;display: flex;align-items: center;">
        หมวดหมู่
    </h3>
</div>
<div class="col">
    @foreach (var item in responseNotiM.OrderBy(x =>x.Sequence))
    {
        @if (item.NotiCode != "N006" && item.NotiCode != "N007")
        {
            <div class="@item.DivClass row mb-2 " @onclick="@(() => ChangeColor(item))">
                <div class="noti-box col" style="color: #334396;">
                    <label>@item.Name</label>
                </div>
                <div class="col-1 noti-box" style="display:flex; align-items:center;">
                    @if (item.NotificationTs.Count > 0)
                    {
                        <a><span class="circleOrange">@item.NotificationTs.Count</span></a>
                    }
                    else
                    {
                        <div></div>
                    }
                </div>
            </div>

        }
    }
   @* @foreach (var item in responseNotiM)
    {
        @if (item.Id != 6 && item.Id != 7 && item.Id != 8)
        {
            <div class="@item.DivClass row mb-2 " @onclick="@(() => ChangeColor(item))">
                <div class="noti-box col" style="color: #334396;">
                    <label>@item.Name</label>
                </div>
                <div class="col-1 noti-box" style="display:flex; align-items:center;">
                    @if (item.NotificationTs.Count > 0)
                    {
                        <a><span class="circleOrange">@item.NotificationTs.Count</span></a>
                    }
                    else
                    {
                        <div></div>
                    }
                </div>
            </div>

        }
    }*@
</div>

@code {
    [Parameter]
    public List<NotiM> responseNotiM { get; set; }


    [Parameter]
    public EventCallback<int> OnChangeListNotiT { get; set; }

    int count;

    //protected async Task OnAfterRender(bool FristRender)
    //{
    //    if(FristRender)
    //    {
    //        foreach (var clidkId in responseNotiM)
    //        {
    //            if (clidkId.Id == 1)
    //            {
    //             clidkId.DivClass = "clicked";
    //            }
    //        }
    //    }
    //}
    protected async Task OnAfterRender(bool FristRender)
    {

        if (FristRender)
        {
            foreach (var clidkId in responseNotiM)
            {
                if (clidkId.Id == 8)
                {
                    clidkId.DivClass = "clicked";
                }

            }
        }
    }

    private void ChangeColor(NotiM item)
    {
        item.DivClass = "";
        foreach (var i in responseNotiM)
        {
            if (i.Id == 1)
            {
                i.DivClass = "";
            }
            i.DivClass = "";
            foreach (var j in i.NotificationTs)
            {
                if (j.IsStatus == 1)
                {
                    count = j.NotificationLogs.Count + count;
                }
            }
            if (item.Id != i.Id)
            {

            }
        }

        item.DivClass = "clicked";

        if (item.DivClass == "clicked")
        {

            OnChangeListNotiT.InvokeAsync(item.Id);
        }

    }
}