<style>
    .table-modal-custom .ant-table-thead > tr > th {
        position: relative;
        color: #ffffff !important;
        font-weight: 600 !important;
        text-align: center !important;
        background: #3B6C43 !important;
        border-bottom: 1px solid #ffffff !important;
        transition: background 0.3s ease;
    }
</style>
<div class="row">
    <div class="col-sm-12 col-lg-8 mms-media-start align-items-end">
        <div class="mms-txt-headdetail">ค่าห้อง - ค่าอาหาร / ค่าบริการทางการเเพทย์</div>
    </div>
    <div class="col-sm-12 col-lg-4 mms-media-end">
        <Space Direction="@DirectionVHType.Vertical" Class="mms-btn-serch w-100">
            <SpaceItem>
                <Search Placeholder="ข้อมูลที่ต้องการค้นหา..." EnterButton="true" />
            </SpaceItem>
        </Space>
    </div>
</div>
<hr />
<div class="row py-2">
    <div class="col-sm-12 col-md-4 pLayers-2">
        <div class="row align-items-center">
            <div class="col-6 mms-txt-headdetail text-end">รวมจำนวนเงินที่จ่าย</div>
            <div class="col-6 d-flex align-items-center">
                <Input Placeholder="Basic usage" @bind-Value="@txtValue" Disabled />
                <div class=" mms-txt-headdetail text-start ps-4 w-auto">บาท</div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-4 pLayers-2">
        <div class="row align-items-center">
            <div class="col-6 mms-text-gray text-end">รวมจำนวนเงินที่เบิกได้ <br />(ตามประกาศ)</div>
            <div class="col-6 d-flex align-items-center">
                <Input Placeholder="Basic usage" @bind-Value="@txtValue" Disabled />
                <div class=" mms-text-gray text-start ps-4 w-auto">บาท</div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-4 pLayers-2">
        <div class="row align-items-center">
            <div class="col-6 mms-text-gray text-end">รวมจำนวนเงิน <br />(ตามค่ารักษาจริง)</div>
            <div class="col-6 d-flex align-items-center">
                <Input Placeholder="Basic usage" @bind-Value="@txtValue" Disabled />
                <div class=" mms-text-gray text-start ps-4 w-auto">บาท</div>
            </div>
        </div>
    </div>
</div>
<div>
    <Table Class="table-modal-custom" DefaultExpandAllRows DataSource="_data" TreeChildren="item=>item.Children" Bordered HidePagination="false" ScrollX="1000">
        <ColumnDefinitions>
            <PropertyColumn Title="" Property="c=>c.Id" ColSpan="@GetColSpan(context.HosStauts)" Style="@GetColColor(context.HosStauts)" Width="50px" Align="@ColumnAlign.Center">
                <Checkbox></Checkbox>
            </PropertyColumn>
            @if (context.ServeName == null)
            {
                <PropertyColumn Title="ลำดับ" Width="80px" Property="c=>c.Id" ColSpan="@GetColSpan(context.HosStauts , "name")" Style="@GetColColor(context.HosStauts , "name")" Align="@ColumnAlign.Center" />
            }
            else
            {
                <PropertyColumn Property="c=>c.ServeName" ColSpan="@GetColSpan(context.HosStauts , "name")" Style="@GetColColor(context.HosStauts , "name")" />
            }
            <PropertyColumn Title="รหัสการรักษา" Property="c=>c.MedCode" ColSpan="@GetColSpan(context.HosStauts)" Style="@GetColColor(context.HosStauts)" Align="@ColumnAlign.Center" />
            <PropertyColumn Title="ชื่อการรักษา" Property="c=>c.MedType" ColSpan="@GetColSpan(context.HosStauts)" Width="200px" Style="@GetColColor(context.HosStauts)" Align="@ColumnAlign.Center" />
            <PropertyColumn Title="จำนวนเงิน(ตามประกาศ)" Property="c=>c.Budjet" ColSpan="@GetColSpan(context.HosStauts)" Style="@GetColColor(context.HosStauts)" Align="@ColumnAlign.Center">
                @String.Format("{0:N}", context.Budjet)
            </PropertyColumn>
            <PropertyColumn Title="จำนวนเงิน(ที่ขอรับ)" Property="c=>c.BudjetReq" ColSpan="@GetColSpan(context.HosStauts)" Style="@GetColColor(context.HosStauts)" Align="@ColumnAlign.Center">
                <Input Type="number" @bind-Value="@context.BudjetReq" Disabled />
            </PropertyColumn>
            <PropertyColumn Title="จำนวนเงิน(ที่จ่ายได้)" Property="c=>c.BudjetPay" ColSpan="@GetColSpan(context.HosStauts)" Style="@GetColColor(context.HosStauts)" Align="@ColumnAlign.Center">
                <Input Type="number" @bind-Value="@context.BudjetPay" />
            </PropertyColumn>
        </ColumnDefinitions>
@*         <PaginationTemplate>
        <Pagination Class="pt-2"
                        Total="context.Total"
                        PageSize="context.PageSize"
                        Current="context.PageIndex"
                            ShowSizeChanger
                        OnChange="context.HandlePageChange" />
        </PaginationTemplate> *@
    </Table>
</div>

@code {
    public string txtValue;
    [Parameter]
    public EventCallback<int> IndexPage { get; set; }
    /*-- Table --*/
    Data[] _data;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        await Task.Delay(500);

        _data = data;
        await InvokeAsync(StateHasChanged);

        await Task.Delay(500);
    }

    Data[] data =
    {
        new() {
            HosStauts  = true,
            ServeName  = "ค่าห้อง - ค่าอาหาร",
            Children = new Data[] {
                new() {
                    Id = "1",
                    BudjetPay = 750,
                    MedCode = "20001",
                    MedType = "ค่าห้อง เเละ  ค่าอหาร",
                    Budjet = 800,
                    BudjetReq = 750,

                },
    },
        },
        new() {
            HosStauts  = true,
            ServeName  = "ค่าบริการทางการเเพทย์",
            Children = new Data[] {
                new() {
                    Id = "1",
                    BudjetPay = 500,
                    MedCode = "20002",
                    MedType = "การได้รับเลือดหรือส่วนประกอบของเลือด",
                    Budjet = 500,
                    BudjetReq = 600,

                },
    },
        },
         new() {
            HosStauts  = true,
            ServeName  = "ค่าบริการทางการเเพทย์",
            Children = new Data[] {
                new() {
                    Id = "1",
                    BudjetPay = 400,
                    MedCode = "20003",
                    MedType = "สารต่อต้านพิษจากเชื้อบาดทะยัก",
                    Budjet = 750,
                    BudjetReq = 500,

                },
    },
        },
    };

    private int GetColSpan(bool HosStauts, string columnTitle = "")
    {
        if (HosStauts == true)
            if (columnTitle == "name")
                return 7;
            else
                return 0;
        else
            return 1;
    }
    private string GetColColor(bool HosStauts, string columnTitle = "")
    {
        if (HosStauts == true)
            if (columnTitle == "name")
                return "background-color:#D8D6D6;";
            else
                return "";
        else
            return "";
    }

    public class Data
    {
        public bool HosStauts { get; set; }

        public string MedCode { get; set; }

        public string ServeName { get; set; }

        public string Id { get; set; }

        public int BudjetPay { get; set; }

        public string MedType { get; set; }

        public int Budjet { get; set; }

        public int BudjetReq { get; set; }

        public Data[] Children { get; set; }
    }
}
