@inject IConfirmService _confirmService
@inject ModalService _modalService
@inject IMessageService _message


<Modal Visible="_visible"
       Footer="@ModalFooter.DefaultCancelFooter"
       OnCancel="@HandleCancel" Style="width:auto">

    <Table DataSource="@childData" Bordered TreeChildren="item=>item.Children" DefaultExpandAllRows>
        <PropertyColumn Property="c=>c.Key" Title="ลำดับ" ColSpan=@GetColSpan(@context.TitleStatus,"name") Style="@ColColor(@context.TitleStatus,"name")"></PropertyColumn>
        <PropertyColumn Property="c=>c.IdCard" Title="เลขประจำตัวประชาชน" ColSpan=@GetColSpan(@context.TitleStatus) Style="@ColColor(@context.TitleStatus)"></PropertyColumn>
        <PropertyColumn Property="c=>c.Name" Title="ชื่อ-นามสกุล" ColSpan=@GetColSpan(@context.TitleStatus) Style="@ColColor(@context.TitleStatus)"></PropertyColumn>
        <PropertyColumn Property="c=>c.DateOfSurgery" Title="วันที่ผ่าตัด" ColSpan=@GetColSpan(@context.TitleStatus) Style="@ColColor(@context.TitleStatus)"></PropertyColumn>
        <PropertyColumn Property="c=>c.IDDonor" Title="ID Donor" ColSpan=@GetColSpan(@context.TitleStatus) Style="@ColColor(@context.TitleStatus)"></PropertyColumn>
        <PropertyColumn Property="c=>c.ServiceTypeName" Title="ประเภทบริการ" ColSpan=@GetColSpan(@context.TitleStatus) Style="@ColColor(@context.TitleStatus)"></PropertyColumn>
        <PropertyColumn Property="c=>c.TreatmentCosts" Title="จำนวนเงินค่ารักษา" ColSpan=@GetColSpan(@context.TitleStatus) Style="@ColColor(@context.TitleStatus)"></PropertyColumn>
        <PropertyColumn Property="c=>c.AmountMonneyPaid" Title="จำนวนเงินที่จ่าย" ColSpan=@GetColSpan(@context.TitleStatus) Style="@ColColor(@context.TitleStatus)"></PropertyColumn>
        <PropertyColumn Property="c=>c.Status" Title="สถานะ" ColSpan=@GetColSpan(@context.TitleStatus) Style="@ColColor(@context.TitleStatus)"></PropertyColumn>
        <SummaryRow>
            <SummaryCell ColSpan="5" Align="ColumnAlign.Right">รวมทั้งหมด</SummaryCell>
            <SummaryCell>
                <Text>3</Text>
            </SummaryCell>
            <SummaryCell>
                <Text>@totalTreatmentCosts</Text>
            </SummaryCell>
            <SummaryCell>
                <Text>@totalAmountMonneyPaid</Text>
            </SummaryCell>
            <SummaryCell>
            </SummaryCell>
        </SummaryRow>
    </Table>

</Modal>


@code {

    [Parameter]
    public bool _visible { get; set; }

    [Parameter]
    public EventCallback<bool> OnOpen { get; set; }

    string _okText = "ดูรายการข้อมูล";
    string _title = "Override Locale";

    private void HandleCancel(MouseEventArgs e)
    {
        Console.WriteLine(e);
        _visible = false;
    }

    List<Data> childData = new List<Data>()
    {
          new Data
          {
               Key = "โรงพยาบาลลานนา 1",
               TitleStatus = true,
               Children = new List<Data>()
               {
                   new Data
                   {
                       Key = "1",
                       IdCard = "123456789XXXX",
                       Name = "นายจรัญ  ปัญสุข",
                       DateOfSurgery = "13 เม.ย. 66",
                       IDDonor = "12345678",
                       ServiceTypeName = "กระจกตา",
                       TreatmentCosts = "40,000",
                       AmountMonneyPaid = "40,000",
                       Status = "อนุมัติ",

                   },
                    new Data
                   {
                       Key = "2",
                       IdCard = "123456789XXXX",
                       Name = "นางสมพร  จอมจิตร",
                       DateOfSurgery = "13 เม.ย. 66",
                       IDDonor = "12345678",
                       ServiceTypeName = "เซลล์ต้นกำเนิดเม็ดโลหิต",
                       TreatmentCosts = "1,000,000",
                       AmountMonneyPaid = "750,000",
                       Status = "อนุมัติ",

                   },
                    new Data
                   {
                       Key = "3",
                       IdCard = "123456789XXXX",
                       Name = "นายเดช  เจนสุข",
                       DateOfSurgery = "13 เม.ย. 66",
                       IDDonor = "12345678",
                       ServiceTypeName = "อื่นๆ",
                       TreatmentCosts = "",
                       AmountMonneyPaid = "",
                       Status = "อนุมัติ",

                   }
               }
          }
    };

    long totalTreatmentCosts = 0;
    long totalAmountMonneyPaid = 0;

    protected override async Task OnInitializedAsync()
    {
        foreach (var child in childData)
        {
            totalTreatmentCosts = totalTreatmentCosts + child.Children.Sum(x => long.Parse(x.TreatmentCosts != "" ? x.TreatmentCosts.Replace(",", "") : x.TreatmentCosts = "0"));
            totalAmountMonneyPaid = totalAmountMonneyPaid + child.Children.Sum(x => long.Parse(x.AmountMonneyPaid != "" ? x.AmountMonneyPaid.Replace(",", "") : x.AmountMonneyPaid = "0"));   
        }
    }

    public class Data
    {

        public string Key { get; set; }

        public bool TitleStatus { get; set; }

        public string IdCard { get; set; }

        public string Name { get; set; }

        public string DateOfSurgery { get; set; }

        public string IDDonor { get; set; }

        public string ServiceTypeName { get; set; }

        public string TreatmentCosts { get; set; }

        public string AmountMonneyPaid { get; set; }

        public string Status { get; set; }

        public List<Data> Children { get; set; }
    }


    private int GetColSpan(bool TitleStatus, string columnTitle = "")
    {
        if (TitleStatus == true)
            if (columnTitle == "name")
                return 9;
            else
                return 0;
        else
            return 1;
    }

    private string ColColor(bool TitleStatus, string columnTitle = "")
    {
        if (TitleStatus == true)
        {
            if (columnTitle == "name")
            {
                return "background-color:#415CE7; color:#FFFFFF";
            }
            else
            {
                return "";
            }
        }
        else if (TitleStatus == true)
        {
            if (columnTitle == "name")
            {
                return "background-color: #D8D6D6;";
            }
            else
            {
                return "";
            }
        }
        else
        {

            return "";
        }
    }
}