<style>
    .ant-card-c {
        background: #fff;
        border-radius: 6px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        font-size: 18px;
        text-align: center;
    }
    .ant-card-c > .ant-card-head {
        width: 100%;
        background: #ffcc41 !important;
        border-radius: 6px 6px 0px 0px !important;
    }

    .ant-card-c > .ant-card-head > .ant-card-head-wrapper > .ant-card-head-title {
        font-size: 20px !important;
        text-align: center !important;
        color: #334396 !important;
    }
</style>
<div class="site-layout-background" style="padding: 24px;">
    <div class="mms-nav-title">
        <div class="mms-text-title px-4 py-3" >ค่าบริการทางการแพทย์กรณีการผ่าตัดแบบวันเดียวกลับ (ODS) </div>
    </div>
    <div class="container py-4">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page">
                    <span class="breadcum-success py-2">รายงาน</span>
                </li>
                <li class="breadcrumb-item" aria-current="page">
                    <span class="breadcum-process py-2">@year</span>
                </li>
            </ol>
        </nav>
        <hr />
        <br />

        <div class="row">
                <div class="col-4 mms-media-start">
                    <Button Class="ant-btn-distable">
                        <i class="fa-solid fa-cloud-arrow-down"></i>
                        ดาวน์โหลด
                    </Button>
                </div>
                <div class="col-4 " style="text-align:center">
                    <div class="row" style="display: flex;text-align:center;align-items: center;">
                        <div class="col-5">
                            <DatePicker TValue="DateTime?" Picker="@DatePickerType.Date" Placeholder="@("ค้นหาตามช่วงวัน")" />
                        </div>
                        <div class="col-1">
                            <span> - </span>
                        </div>
                        <div class="col-5">
                            <DatePicker TValue="DateTime?" Picker="@DatePickerType.Date" Placeholder="@("ค้นหาตามช่วงวัน")" />
                        </div>
                    </div>
                </div>
                <div class="col-4 ">
                    <Space Direction="@DirectionVHType.Vertical" Class="mms-btn-serch  col-12" Style="font-size:16px;">
                        <SpaceItem>
                            <Search Style="font-size:16px;" Placeholder="ข้อมูลที่ต้องการค้นหา" EnterButton="true" />
                        </SpaceItem>
                    </Space>
                </div>
            
        </div>

        <Table DefaultExpandAllRows DataSource="data"  Bordered >
            
                <PropertyColumn Property="c=>c.Id" Title="ลำดับ" Align="ColumnAlign.Center" Width="5%">
                    @String.Format("{0:d}",data.IndexOf(context)+1)
                </PropertyColumn>
                    <PropertyColumn Property="c=>c.ServiceRates" Title="เลขประจำตัวประชาชน" Align="ColumnAlign.Center">
                    @String.Format("{0:n}", context.ServiceRates)
                </PropertyColumn>
                <PropertyColumn Property="c=>c.StartDate" Title="รหัสสถานพยาบาล" Align="ColumnAlign.Center">
                    @context.StartDate.ToString("dd/MM/yyyy")
                </PropertyColumn>
                <PropertyColumn Property="c=>c.Memo" Title="สถานพยาบาล" Align="ColumnAlign.Center"> </PropertyColumn>
                <PropertyColumn Property="c=>c.Memo" Title="ชื่อ-นามสกุล" Align="ColumnAlign.Center"> </PropertyColumn>
                <PropertyColumn Property="c=>c.Memo" Title="วันที่รักษา" Align="ColumnAlign.Center"> </PropertyColumn>
                <PropertyColumn Property="c=>c.Memo" Title="วันที่จำหน่าย" Align="ColumnAlign.Center"> </PropertyColumn>
                <PropertyColumn Property="c=>c.Memo" Title="จำนวนเงิน(บาท)" Align="ColumnAlign.Center"> </PropertyColumn>
           

        </Table>

        <div class="row">
            <div class="col-12 mms-media-end">
                <div>
                    <Button Type="@ButtonType.Primary" Class="mms-text-header">
                        <i class="fa-solid fa-floppy-disk"></i>
                        บันทึก
                    </Button>
                </div>
            </div>
        </div>
    </div>
</div>
@if (isloading == true)
{
    <style>
        body {
            overflow: hidden;
        }</style>

    <LoadingPage></LoadingPage>
}

@using System.ComponentModel.DataAnnotations;
@using System.Text.Json;
@using System.ComponentModel;
@code {
    [Parameter]
    public EventCallback<(int, string, string)> IndexPage { get; set; }
    [Parameter]
    public string year { get; set; }

    int page;
    string updatedate = "10/11/2566";
    string updateby = "test admin";
    bool openConfirmModal { get; set; }
    bool openViewDataModal { get; set; }
    bool openAIalertModal { get; set; }
    bool openAlertModal { get; set; }
    bool isloading { get; set; }
    string Placeholder = "วว/ดด/ปปปป";
    bool _visible = false;
    List<Data> data = new List<Data>();
    public bool YourCheckBoxProperty { get; set; }
    public class Data
    {
        public string Id { get; set; }
        public int ServiceRates { get; set; }
        public DateTime StartDate { get; set; }
        public string Memo { get; set; }

    }
    protected override async Task OnInitializedAsync()
    {

        isloading = true;

      //  data = new List<Data>
      //{
      //  new Data {
      //      Id ="1",
      //      ServiceRates = 9300,
      //      StartDate = new DateTime(2022,11,7),
      //      Memo = "ตามประกาศ"
      //  },
      //  new Data
      //  {
      //      Id ="2",
      //      ServiceRates = 8300,
      //      StartDate = new DateTime(2022,11,7),
      //      Memo = "ตั้งต้นตามปีงบประมาน"
      //  },
      //};
        isloading = false;
        StateHasChanged();
    }



   
    public class ItemData
    {
        public int Id { get; set; }
        public string Name { get; set; }
        public int Age { get; set; }
        public int count { get; set; }
        public string Address { get; set; }
    };
   List<Data> _data;
    string _selectedValue;

    
    public void AddData()
    {
        var addlist = new Data
            {
                Id = "1",
                ServiceRates = 0,
                StartDate = new DateTime(),
                Memo = ""
            };

        data.Insert(0, addlist);
        StateHasChanged();
    }

    public void OpenConfirmModal(bool value)
    {
        openConfirmModal = value;
    }
    public void OpenViewDataModal(bool value)
    {
        openViewDataModal = value;
    }
    public void OpenAIalertModal(bool value)
    {
        openAIalertModal = value;
    }
    public void OpenAlertModal(bool value)
    {
        openAlertModal = value;
    }
   
}
