@using AntDesign.TableModels;
@using System.Text.Json;

<div class="site-layout-background" style="padding: 24px;">
    <div class="mms-nav-title">
        <div class="mms-text-title px-4 py-3">บำรุงรักษาอวัยวะสภากาชาดไทย</div>
    </div>
    <div class="container py-4">
        @* p-2 p-md-5*@
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page">
                    <span class="breadcum-sucress py-2">รายการรับเเจ้ง</span>
                </li>
                <li class="breadcrumb-item" aria-current="page">
                    <span class="breadcum-sucress py-2">เลือกงวด</span>
                </li>
                <li class="breadcrumb-item" aria-current="page">
                    <span class="breadcum-process py-2">ประมวลผลรายการ</span>
                </li>
            </ol>
        </nav>
        <hr />
        <div class="row py-4">
            <div class="col-sm-12 col-md-4">
                <div class="mms-media-start mms-txt-headdetail">
                    <div class="w-25">งวดที่ :</div>
                    <Input Class="w-25" ReadOnly Disabled @bind-Value="@PeriodNo" />
                </div>
            </div>
            <div class="col-sm-12 col-md-8">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="mms-media-end">
                            <Button Type="@ButtonType.Primary" OnClick="@(() => goEdit(3))">
                                <i class="fa-solid fa-right-to-bracket"></i> &nbsp; ประมวลผลรายการเบิก
                            </Button>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <Space Direction="@DirectionVHType.Vertical" Class="mms-btn-serch w-100">
                            <SpaceItem>
                                <Search Placeholder="ข้อมูลที่ต้องการค้นหา.." EnterButton="true" />
                            </SpaceItem>
                        </Space>
                    </div>
                </div>
            </div>
        </div>
        <Table DataSource="dataList" TItem="periodList" RowClassName="@(_=>"editable-row")" Bordered ScrollX="1000">
            <ChildContent Context="data">
                <Column Width="10%" Align="ColumnAlign.Center" TData="int" Title="ลำดับ">@data.Id</Column>
                <Column Width="15%" Align="ColumnAlign.Center" TData="string" Title="เลขประจำตัวประชาชน">@data.identificationNumber</Column>
                <Column Width="20%" Align="ColumnAlign.Center" TData="string" Title="ชื่อ-นามสกุล"> @data.fullName</Column>
                <Column Width="10%" Align="ColumnAlign.Center" TData="DateTime" Title="วันที่ใช้สิทธิ"> @data.requestDate</Column>
                <Column Width="20%" Align="ColumnAlign.Center" TData="string" Title="ชื่อสถานพยาบาล"> @data.hospitalName</Column>
                <Column Width="10%" Align="ColumnAlign.Center" TData="string" Title="ชนิดวัคซีน"> @data.vaccineType</Column>
                <Column Width="15%" Align="ColumnAlign.Center" TData="string" Title="จำนวนเงิน(บาท)">
                    @data.amount
                </Column>
            </ChildContent>
        </Table>

        <div class="pt-4 mms-media-start">
              <div class="container d-flex flex-column py-2">
            <div class="mms-media-start">
                <h6>วันที่ :</h6>&nbsp;
                <h6>30 เม.ย 2566</h6>
            </div>
            <div class="mms-media-start">
                <h6>จำนวนสถานพยาบาลทั้งหมด :</h6>&nbsp;
                <h6>@dataList.Count สถานพยาบาล</h6>
            </div>
            <div class="mms-media-start">
                <h6>เจ้าหน้าที่ผู้ประมวลผล :</h6>&nbsp;
                <h6>นายวงศ์ สว่าง</h6>
            </div>
        </div>
        </div>
    </div>
</div>


@using sso.mms.fees.admin.Shared.OrganMaintenance.Notificationlist.Modals
<NotiCompleted _visible=@completedmodal OnClose="@NotiCompleted" />

@code {
    /*-- CallbackModel --*/
    bool completedmodal { get; set; }
    public int page;

    public void NotiCompleted(bool value)
    {
        completedmodal = value;
        if (!value)
        {
            IndexPage.InvokeAsync(2);
        }
    }

    [Parameter]
    public EventCallback<int> IndexPage { get; set; }
    [Parameter]
    public string PeriodNo { get; set; }

    public async Task goEdit(int item)
    {
        await IndexPage.InvokeAsync(item);
    }
    private int pageSize = 3;


    RenderFragment _audioIcon =@<Icon Type="audio" Theme="outline" Style="color: #1890ff" />;
    public List<periodList> dataList = new List<periodList>();
    public class periodList
    {
        public int Id { get; set; }
        public string identificationNumber { get; set; }
        public string fullName { get; set; }
        public DateTime requestDate { get; set; }
        public string hospitalName { get; set; }
        public string vaccineType { get; set; }
        public string amount { get; set; }
    }
    protected override async void OnInitialized()
    {
        for (int i = 0; i < 10; i++)
        {
            dataList.Add(new periodList
                {
                    Id = i,
                    identificationNumber = i.ToString("D2"),
                    fullName = $"test{i}",
                    requestDate = DateTime.Now,
                    hospitalName = $"Hos{i}",
                    vaccineType = $"vaccineType{i}",
                    amount = $"{i + 1000}"
                });
        }
    }


    private void OnBlur()
    {
        Console.WriteLine("blur");
    }

    private void OnFocus()
    {
        Console.WriteLine("focus");
    }

    private void OnSearch(string value)
    {
        Console.WriteLine($"search: {value}");
    }

}
 