@* 
@using System.ComponentModel
@using System.Net.Http.Headers
@inject HttpClient Http

@inject ModalService _modalService
<style>
    .ant-card-head {
        width: 100%;
        background: #ffcc41 !important;
        border-radius: 6px 6px 0px 0px !important;
    }

    .ant-card-head {
        min-height: 48px;
        margin-bottom: -1px;
        padding: 0 24px;
        color: rgba(0, 0, 0, 0.85);
        font-weight: 500;
        font-size: 16px;
        background: transparent;
        border-bottom: 1px solid #ffffff;
        border-radius: 2px 2px 0 0;
    }

    .ant-card {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        color: rgba(0, 0, 0, 0.85);
        font-size: 18px !important;
        text-align: center !important;
        font-variant: tabular-nums;
        line-height: 1.5715;
        list-style: none;
        font-feature-settings: 'tnum';
        position: relative;
        background: #fff;
        border-radius: 6px !important;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }

    .ant-card-head-title {
        display: inline-block;
        flex: 1;
        padding: 16px 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 20px !important;
        text-align: center;
        color: #334396;
    }
</style>

<div class="site-layout-background" style="padding: 24px;">
    <div class="mms-nav-title">
        <div class="mms-text-title px-4 py-3">บำรุงรักษาอวัยวะสภากาชาดไทย</div>
    </div>
    <div class="container py-4">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page">
                    <span class="breadcum-sucress py-2">รายการรับเเจ้ง</span>
                </li>
                <li class="breadcrumb-item" aria-current="page">
                    <span class="breadcum-sucress py-2">เลือกงวด</span>
                </li>
                <li class="breadcrumb-item" aria-current="page">
                    <span class="breadcum-sucress py-2">แสดงรายการงวดที่เลือก</span>
                </li>
                <li class="breadcrumb-item" aria-current="page">
                    <span class="breadcum-process py-2">รายละเอียดการประมวลผล</span>
                </li>
            </ol>
        </nav>
        <hr />

        <div class="container p-2">
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <Card Bordered="false" Title=@("งวด")>
                        <Body>
                            <span>6704</span>
                        </Body>
                    </Card>
                </div>
                <div class="col-md-6 col-lg-3">
                    <Card Bordered="false" Title=@("ประมวลผลทั้งหมด")>
                        <Body>
                            <span>30</span>
                        </Body>
                    </Card>
                </div>
                <div class="col-md-6 col-lg-3">
                    <Card Bordered="false" Title=@("ผ่านการประมวลผล")>
                        <Body>
                            <span>28</span>
                        </Body>
                    </Card>
                </div>
                <div class="col-md-6 col-lg-3">
                    <Card Bordered="false" Title=@("ไม่ผ่านการประมวลผล")>
                        <Body>
                            <span>1</span>
                        </Body>
                    </Card>
                </div>
            </div>
        </div>
        <div class="mms-media-center p-4">
            <Button Type="@ButtonType.Primary" OnClick="@(()=> OpenDetailPassword(true))">
                <i class="fa-solid fa-pen-to-square"></i>&nbsp; ส่งไปทำใบคำสั่งจ่าย
            </Button>
        </div>
        <div class="row">
            <div class="col-sm-12 col-lg-8 mms-media-start">
                <div class="mms-txt-headdetail">รายการเบิกที่ผ่านการประมวลผล</div>
            </div>
            <div class="col-sm-12 col-lg-4 mms-media-end">
                <Space Direction="@DirectionVHType.Vertical" Class="mms-btn-serch w-100">
                    <SpaceItem>
                        <Search Placeholder="ข้อมูลที่ต้องการค้นหา..." EnterButton="true" />
                    </SpaceItem>
                </Space>
            </div>
        </div>
        <hr />

        <Table DefaultExpandAllRows DataSource="_data" TreeChildren="item=>item.Children" Bordered HidePagination="false" ScrollY="340px" ScrollX="1000">
            <ColumnDefinitions>
                <PropertyColumn Property="c=>c.Id" ColSpan="@GetColSpan(context.HosStauts)" Width="7%" Style="@GetColColor(context.HosStauts)" />
                <PropertyColumn Property="c=>c.Name" ColSpan="@GetColSpan(context.HosStauts)" Style="@GetColColor(context.HosStauts)" />
                <PropertyColumn Property="c=>c.Name" ColSpan="@GetColSpan(context.HosStauts)" Style="@GetColColor(context.HosStauts)" />
                <PropertyColumn Property="c=>c.Name" ColSpan="@GetColSpan(context.HosStauts)" Style="@GetColColor(context.HosStauts)" />
                <PropertyColumn Property="c=>c.Name" ColSpan="@GetColSpan(context.HosStauts)" Style="@GetColColor(context.HosStauts)" />
                <PropertyColumn Property="c=>c.Name" ColSpan="@GetColSpan(context.HosStauts)" Style="@GetColColor(context.HosStauts)" />
                @if (context.HosName == null)
                {
                    <PropertyColumn Property="c=>c.Name" ColSpan="@GetColSpan(context.HosStauts , "name")" Style="@GetColColor(context.HosStauts , "name")" />
                }
                else
                {
                    <PropertyColumn Property="c=>c.HosName" ColSpan="@GetColSpan(context.HosStauts , "name")" Style="@GetColColor(context.HosStauts , "name")" />
                }
                <PropertyColumn Property="c=>c.Id" Align="ColumnAlign.Center"
                                ColSpan="@GetColSpan(context.HosStauts)" Width="7%" Style="@GetColColor(context.HosStauts)">
                    <Checkbox></Checkbox>
                </PropertyColumn>
                <PropertyColumn Property="c=>c.Id" Align="ColumnAlign.Center"
                                ColSpan="@GetColSpan(context.HosStauts)" Width="7%" Style="@GetColColor(context.HosStauts)">
                    <Checkbox></Checkbox>
                </PropertyColumn>
                <PropertyColumn Property="c=>c.Id" Width="10%" Align="ColumnAlign.Center"
                                ColSpan="@GetColSpan(context.HosStauts)" Style="@GetColColor(context.HosStauts)">
                    <img class="mx-2" title="แก้ไข" src="helper_shared/PortalAdminImage/eye.png" style="width:24px;height:24px; cursor:pointer;" />
                </PropertyColumn>
            </ColumnDefinitions>
            <HeaderTemplate>
                <TableRow>
                    <TableHeader @bind-Field="context.Id" RowSpan="2" Title="ลำดับ" />
                    <TableHeader @bind-Field="context.Name" RowSpan="2" Title="งวด" />
                    <TableHeader @bind-Field="context.Name" RowSpan="2" Title="เลขประจำตัวประชาชน" />
                    <TableHeader @bind-Field="context.Name" RowSpan="2" Title="ชื่อ-นามสกุล" />
                    <TableHeader @bind-Field="context.Name" RowSpan="2" Title="วันที่ใช้สิทธิ" />
                    <TableHeader @bind-Field="context.Name" RowSpan="2" Title="ชนิดวัคซีน" />
                    <TableHeader @bind-Field="context.Name" RowSpan="2" Title="จำนวนเงิน (บาท)" />
                    <TableHeader @bind-Field="context.Age" ColSpan="2" Title="วินิจฉัย" />
                    <TableHeader @bind-Field="context.Id" RowSpan="2" Title="" />
                </TableRow>
                <TableRow>
                    <SimpleTableHeader><Checkbox></Checkbox> อนุมัติ</SimpleTableHeader>
                    <SimpleTableHeader>ไม่อนุมัติ</SimpleTableHeader>
                </TableRow>
            </HeaderTemplate>
            <PaginationTemplate>
                <Pagination Class="pt-2"
                            Total="context.Total"
                            PageSize="context.PageSize"
                            Current="context.PageIndex"
                                        ShowSizeChanger
                            OnChange="context.HandlePageChange" />
            </PaginationTemplate>
        </Table>

        <div class="my-5">
            <div class="row">
                <div class="col-sm-12 col-lg-8 mms-media-start">
                    <div class="mms-txt-headdetail">รายการเบิกที่ไม่ผ่านการประมวลผล</div>
                </div>
                <div class="col-sm-12 col-lg-4 mms-media-end">
                    <Space Direction="@DirectionVHType.Vertical" Class="mms-btn-serch w-100">
                        <SpaceItem>
                            <Search Placeholder="ข้อมูลที่ต้องการค้นหา..." EnterButton="true" />
                        </SpaceItem>
                    </Space>
                </div>
            </div>
            <hr />

                    <Table DefaultExpandAllRows DataSource="_data" TreeChildren="item=>item.Children" Bordered HidePagination="false" ScrollX="1000">
                <ColumnDefinitions>
                    <PropertyColumn Property="c=>c.Id" ColSpan="@GetColSpan(context.HosStauts)" Width="7%" Style="@GetColColor(context.HosStauts)" />
                    <PropertyColumn Property="c=>c.Name" ColSpan="@GetColSpan(context.HosStauts)" Style="@GetColColor(context.HosStauts)" />
                    <PropertyColumn Property="c=>c.Name" ColSpan="@GetColSpan(context.HosStauts)" Style="@GetColColor(context.HosStauts)" />
                    <PropertyColumn Property="c=>c.Name" ColSpan="@GetColSpan(context.HosStauts)" Style="@GetColColor(context.HosStauts)" />
                    <PropertyColumn Property="c=>c.Name" ColSpan="@GetColSpan(context.HosStauts)" Style="@GetColColor(context.HosStauts)" />
                    <PropertyColumn Property="c=>c.Name" ColSpan="@GetColSpan(context.HosStauts)" Style="@GetColColor(context.HosStauts)" />
                    @if (context.HosName == null)
                    {
                        <PropertyColumn Property="c=>c.Name" ColSpan="@GetColSpan(context.HosStauts , "name")" Style="@GetColColor(context.HosStauts , "name")" />
                    }
                    else
                    {
                        <PropertyColumn Property="c=>c.HosName" ColSpan="@GetColSpan(context.HosStauts , "name")" Style="@GetColColor(context.HosStauts , "name")" />
                    }
                    <PropertyColumn Property="c=>c.Id" Align="ColumnAlign.Center"
                                    ColSpan="@GetColSpan(context.HosStauts)" Width="7%" Style="@GetColColor(context.HosStauts)">
                        <Checkbox></Checkbox>
                    </PropertyColumn>
                    <PropertyColumn Property="c=>c.Id" Align="ColumnAlign.Center"
                                    ColSpan="@GetColSpan(context.HosStauts)" Width="7%" Style="@GetColColor(context.HosStauts)">
                        <Checkbox></Checkbox>
                    </PropertyColumn>
                    <PropertyColumn Property="c=>c.Id" Width="10%" Align="ColumnAlign.Center"
                                    ColSpan="@GetColSpan(context.HosStauts)" Style="@GetColColor(context.HosStauts)">
                        <img class="mx-2" title="แก้ไข" src="helper_shared/PortalAdminImage/eye.png" style="width:24px;height:24px; cursor:pointer;" />
                        <img class="mx-2" title="แก้ไข" src="helper_shared/PortalAdminImage/alert.png" style="width:24px;height:24px; cursor:pointer;" @onclick="@(()=> OpenDetailAlert(true))" />
                    </PropertyColumn>
                </ColumnDefinitions>
                <HeaderTemplate>
                    <TableRow>
                        <TableHeader @bind-Field="context.Id" RowSpan="2" Title="ลำดับ" />
                        <TableHeader @bind-Field="context.Name" RowSpan="2" Title="งวด" />
                        <TableHeader @bind-Field="context.Name" RowSpan="2" Title="เลขประจำตัวประชาชน" />
                        <TableHeader @bind-Field="context.Name" RowSpan="2" Title="ชื่อ-นามสกุล" />
                        <TableHeader @bind-Field="context.Name" RowSpan="2" Title="วันที่ใช้สิทธิ" />
                        <TableHeader @bind-Field="context.Name" RowSpan="2" Title="ชนิดวัคซีน" />
                        <TableHeader @bind-Field="context.Name" RowSpan="2" Title="จำนวนเงิน (บาท)" />
                        <TableHeader @bind-Field="context.Age" ColSpan="2" Title="วินิจฉัย" />
                        <TableHeader @bind-Field="context.Id" RowSpan="2" Title="" />
                    </TableRow>
                    <TableRow>
                        <SimpleTableHeader><Checkbox></Checkbox> อนุมัติ</SimpleTableHeader>
                        <SimpleTableHeader>ไม่อนุมัติ</SimpleTableHeader>
                    </TableRow>
                </HeaderTemplate>
                 <PaginationTemplate>
                    <Pagination Class="pt-2"
                                Total="context.Total"
                                PageSize="context.PageSize"
                                Current="context.PageIndex"
                                            ShowSizeChanger
                                 OnChange="context.HandlePageChange" />
                </PaginationTemplate> 
                    </Table>
                </div>
            </div>
        </div> *@

        @using sso.mms.fees.admin.Shared.OrganMaintenance.Notificationlist.Modals
        <Noti_DetailRightUser _visible=@openDetailRightUser OnClose="@OpenComplicationsModal" />
        <Noti_Alert _visible=@openDetailAlert OnClose="@OpenDetailAlert" />
        <Noti_Checkpassword _visible=@openDetailPassword OnClose="@OpenDetailPassword" />

        @code {
    /*-- CallbackModel --*/
    bool openDetailRightUser { get; set; }
    bool openDetailAlert { get; set; }
    bool openDetailPassword { get; set; }

    public void OpenComplicationsModal(bool value)
    {
        openDetailRightUser = value;
    }
    public void OpenDetailAlert(bool value)
    {
        openDetailAlert = value;
    }
    public void OpenDetailPassword(bool value)
    {
        openDetailPassword = value;
    }




    [Parameter]
    public EventCallback<int> IndexPage { get; set; }

    public async Task goEdit(int item)
    {
        await IndexPage.InvokeAsync(item);
    }

    string txtValue { get; set; }

    /*-- Table --*/
    Data[] _data;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        await Task.Delay(500);

        _data = data;
        await InvokeAsync(StateHasChanged);

        await Task.Delay(500);
    }

    Data[] data =
    {
        new() {
            HosStauts  = true,
            HosName = "โรงพยาบาลลานนา1",
            Id = "1",
            Key = "1",
            Name = "John Brown sr.",
            Age = 60,
            Address = "New York No. 1 Lake Park",
            Children = new Data[] {
                new() {
                    Id = "1",
                    Key = "11",
                    Name = "Jim Green",
                    Age = 42,
                    Address = "London No. 1 Lake Park",
                },
    },
        },
        new() {
            HosStauts  = true,
            HosName = "โรงพยาบาลลานนา2",
            Id = "1",
            Key = "2",
            Name = "Joe Black",
            Age = 32,
            Address = "Sidney No. 1 Lake Park",
                        Children = new Data[] {
                new() {
                    Id = "1",
                    Key = "11",
                    Name = "Jim Green",
                    Age = 42,
                    Address = "London No. 1 Lake Park",
                },

    },
        },
         new() {
            HosStauts  = true,
            HosName = "โรงพยาบาลลานนา1",
            Id = "1",
            Key = "1",
            Name = "John Brown sr.",
            Age = 60,
            Address = "New York No. 1 Lake Park",
            Children = new Data[] {
                new() {
                    Id = "1",
                    Key = "11",
                    Name = "Jim Green",
                    Age = 42,
                    Address = "London No. 1 Lake Park",
                },
    },
        },
        new() {
            HosStauts  = true,
            HosName = "โรงพยาบาลลานนา2",
            Id = "1",
            Key = "2",
            Name = "Joe Black",
            Age = 32,
            Address = "Sidney No. 1 Lake Park",
                        Children = new Data[] {
                new() {
                    Id = "1",
                    Key = "11",
                    Name = "Jim Green",
                    Age = 42,
                    Address = "London No. 1 Lake Park",
                },

    },
        },
         new() {
            HosStauts  = true,
            HosName = "โรงพยาบาลลานนา1",
            Id = "1",
            Key = "1",
            Name = "John Brown sr.",
            Age = 60,
            Address = "New York No. 1 Lake Park",
            Children = new Data[] {
                new() {
                    Id = "1",
                    Key = "11",
                    Name = "Jim Green",
                    Age = 42,
                    Address = "London No. 1 Lake Park",
                },
    },
        },
        new() {
            HosStauts  = true,
            HosName = "โรงพยาบาลลานนา2",
            Id = "1",
            Key = "2",
            Name = "Joe Black",
            Age = 32,
            Address = "Sidney No. 1 Lake Park",
                        Children = new Data[] {
                new() {
                    Id = "1",
                    Key = "11",
                    Name = "Jim Green",
                    Age = 42,
                    Address = "London No. 1 Lake Park",
                },

    },
        },
    };

    private int GetColSpan(bool HosStauts, string columnTitle = "")
    {
        if (HosStauts == true)
            if (columnTitle == "name")
                return 10;
            else
                return 0;
        else
            return 1;
    }
    private string GetColColor(bool HosStauts, string columnTitle = "")
    {
        if (HosStauts == true)
            if (columnTitle == "name")
                return "background-color:#D8D6D6;";
            else
                return "";
        else
            return "";
    }

    public class Data
    {
        public bool HosStauts { get; set; }

        public string HosName { get; set; }

        public string Id { get; set; }

        public string Key { get; set; }

        public string Name { get; set; }

        public int Age { get; set; }

        public string Address { get; set; }

        public Data[] Children { get; set; }
    }


}

