@using System.Text;
@using System.ComponentModel.DataAnnotations

<div class="site-layout-background" style="padding: 24px;">
    <div class="mms-nav-title">
        <div class="mms-text-title px-4 py-3">ส่งเสริมสุขภาพและป้องกันโรคกรณีวัคซีน</div>
    </div>
    <div class="container py-4">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                @*                <li class="breadcrumb-item" aria-current="page">
                <span class="breadcum-sucress py-2">ประวัติการเบิกจ่าย</span>
                </li>*@
                <li class="breadcrumb-item" aria-current="page">
                    <span class="breadcum-process py-2">ตั้งค่าข้อมูลวัคซีน</span>
                </li>
            </ol>
        </nav>
        <div class="py-2 mms-txt-headerBlack">
            ชนิด 3 สายพันธุ์
        </div>
        <hr />
        <div class="mms-media-start pb-2">
            <Button Type="@ButtonType.Primary" Style="width:150px;" @onclick="@(() => type3(true))"><i class="fa-solid fa-circle-plus"></i>&nbsp; เพิ่ม</Button>
        </div>
        <Table DataSource="listOfData" TItem="ItemData" Bordered ScrollX="1000">
            <ColumnDefinitions>
                <Column TData="string" Title="ลำดับ" Width="6%" Align="ColumnAlign.Center">
                    @String.Format("{0:d}", listOfData.IndexOf(context) + 1)
                </Column>
                <Column TData="string" Title="ชื่อทางการค้าวัคซีน (Test  Name)" Align="ColumnAlign.Center">
                    @context.fullName
                </Column>
                <Column TData="string" Title="Lot Number ของวัคซีน " Align="ColumnAlign.Center">
                    @context.fullName
                </Column>
                <Column TData="string" Title="วันที่บันทึก" Align="ColumnAlign.Center">
                    @context.fullName
                </Column>
                <Column TData="string" Width="15%">
                    <div class="mms-media-center">
                        <div class="px-2 d-flex">
                            <Switch @bind-Checked="@context.status" /> &nbsp;
                            @if (context.status == true)
                            {
                                <div style="color:green;">เปิด</div>
                            }
                            else
                            {
                                <div style="color:gray;">ปิด</div>
                            }
                        </div>
                        <img title="เรียกดู" src="helper_shared/PortalAdminImage/delete.png" style="width:24px;height:24px; cursor:pointer;" />
                    </div>

                </Column>
            </ColumnDefinitions>
        </Table>


        <div class="py-2 mms-txt-headerBlack">
            ชนิด 4 สายพันธุ์
        </div>
        <hr />
        <div class="mms-media-start pb-2">
            <Button Type="@ButtonType.Primary" Style="width:150px;" @onclick="@(() => type4(true))"><i class="fa-solid fa-circle-plus"></i>&nbsp; เพิ่ม</Button>
        </div>
        <Table DataSource="listOfData2" TItem="ItemData" Bordered ScrollX="1000">
            <ColumnDefinitions>
                <Column TData="string" Title="ลำดับ" Width="6%" Align="ColumnAlign.Center">
                    @String.Format("{0:d}", listOfData2.IndexOf(context) + 1)
                </Column>
                <Column TData="string" Title="ชื่อทางการค้าวัคซีน (Test  Name)" Align="ColumnAlign.Center">
                    @context.fullName
                </Column>
                <Column TData="string" Title="Lot Number ของวัคซีน " Align="ColumnAlign.Center">
                    @context.fullName
                </Column>
                <Column TData="string" Title="วันที่บันทึก" Align="ColumnAlign.Center">
                    @context.fullName
                </Column>
                <Column TData="string" Width="15%">
                    <div class="mms-media-center">
                        <div class="px-2 d-flex">
                            <Switch @bind-Checked="@context.status" /> &nbsp;
                            @if (context.status == true)
                            {
                                <div style="color:green;">เปิด</div>
                            }
                            else
                            {
                                <div style="color:gray;">ปิด</div>
                            }
                        </div>
                        <img title="เรียกดู" src="helper_shared/PortalAdminImage/delete.png" style="width:24px;height:24px; cursor:pointer;" />
                    </div>

                </Column>
            </ColumnDefinitions>
        </Table>
    </div>
</div>


@using sso.mms.fees.ext.Shared.HealthPromoVaccinationExt.HealthPromoSetting.Modals
<HPS_VacType3 _visible=@callmodal3 OnClose="@type3" />
<HPS_VacType4 _visible=@callmodal4 OnClose="@type4" />

@code {
    /*-- CallbackModel --*/
    bool callmodal3 { get; set; }
    bool callmodal4 { get; set; }
    public int page;
    public void type3(bool value)
    {
        callmodal3 = value;
    }
    public void type4(bool value)
    {
        callmodal4 = value;
    }
    [Parameter]
    public EventCallback<int> IndexPage { get; set; }
    IEnumerable<ItemData> selectedRows;
    string phoder = "วว/ดด/ปป";
    List<ItemData> listOfData = new List<ItemData>();
    List<ItemData> listOfData2 = new List<ItemData>();

    public async Task goEdit(int item)
    {
        await IndexPage.InvokeAsync(item);

    }

    public class ItemData
    {
        public int Id { get; set; }
        public string identificationNumber { get; set; }
        public string fullName { get; set; }
        public string Vactype { get; set; }
        public string surgeryDate { get; set; }
        public string idDonor { get; set; }
        public int pay { get; set; }
        public string hospitalAccept { get; set; }
        public string serviceType { get; set; }
        public string createdDate { get; set; }
        public int amount { get; set; }
        public bool status { get; set; }

    };

    protected override void OnInitialized()
    {
        listOfData = Enumerable.Range(0, 4).Select(i => new ItemData
            {
                Id = i,
                identificationNumber = $"xxxxxxx{i}",
                fullName = "นายสมศรี",
                Vactype = "3 สายพันธุ์",
                surgeryDate = "29 มี.ค. 2566",
                idDonor = "12345678",
                pay = 100,
                hospitalAccept = "โรงพยาบาล 1",
                serviceType = "กระจกตา",
                createdDate = "29 มี.ค. 2566",
                amount = 2500,
                status = false
            }).ToList();
        listOfData.Add(new ItemData
            {
                Id = 2,
                identificationNumber = $"xxxxxxx{20}",
                fullName = "นายสมศักษดิ์",
                Vactype = "3 สายพันธุ์",
                surgeryDate = "299 มี.ค. 2566",
                idDonor = "999999999",
                hospitalAccept = "โรงพยาบาล 2",
                serviceType = "5555",
                createdDate = "29 มี.ค. 2566",
                amount = 3600,
                status = true
            });

        listOfData2 = Enumerable.Range(0, 4).Select(i => new ItemData
            {
                Id = i,
                identificationNumber = $"xxxxxxx{i}",
                fullName = "นายสมศรี",
                Vactype = "4 สายพันธุ์",
                surgeryDate = "29 มี.ค. 2566",
                idDonor = "12345678",
                pay = 100,
                hospitalAccept = "โรงพยาบาล 1",
                serviceType = "กระจกตา",
                createdDate = "29 มี.ค. 2566",
                amount = 2500,
                status = false
            }).ToList();
    }
    /*-- switch --*/
    bool switchValue { get; set; }

}