@using sso.mms.fees.admin.Shared.OrganTransplantation.CreatePaymentOrder.Modals



<div class="site-layout-background" style="padding: 24px;">
    <div class="mms-nav-title">
        <div class="mms-text-title px-4 py-3">การปลูกถ่ายอวัยวะ / รายการรับแจ้ง / ค้นหารายการตามงวด</div>
    </div>
    <div class="container py-4">
        <div class="d-flex align-items-center">
            <span class="mms-txt-headdetail me-2">งวดที่ :</span>
            <Input Style="width:170px" Placeholder="--เลือกงวด" @bind-Value="@txtValue" /> 
            <Button Type="@ButtonType.Primary" OnClick="()=>OpenRetriveInstallMentModal(true)">
                <span style="color:white">ค้นหา</span>
            </Button>
        </div>
        <hr />

        <div class="row" style="margin-bottom: 48px; margin-top:24px">
            <div class="col-sm text-end">
                <Button OnClick="()=>OpenRetriveInstallMentModal(true)" Style="border-radius: 6px;
                        border: 1px solid #D4D2D5;
                        background: #BDBDBD;" >
                    <i class="fa-solid fa fa-plus text-white"></i> &nbsp; <span style="color:white">ประมวลผลรายการรับเเจ้ง</span>
                </Button>
            </div>
            <div class="col-sm text-end">
                <Space Direction="@DirectionVHType.Vertical" Style="width:370px;height: 48px">
                    <SpaceItem>
                        <Search Placeholder="ข้อมูลที่ต้องการค้นหา" EnterButton="true" AllowClear  />
                     </SpaceItem>
                 </Space>
             </div>
         </div>

         <Table DataSource="@data" OnChange="OnChange" TItem="MockUpData" @ref="Table" EnableVirtualization @bind-PageSize="pageSize" Bordered>
             <ChildContent>
                <PropertyColumn Title="ลำดับ" Property="c=>c!.No" Align="ColumnAlign.Center" Width="20px" />
                 <PropertyColumn Title="เลขประจำตัวประชาชน" Property="c=>c!.IdentificationNumber" Width="100px" Align="ColumnAlign.Center" />
                 <PropertyColumn Title="ชื่อ-นามสกุล" Property="c=>c!.Name" Width="100px" Align="ColumnAlign.Center" />
                 <PropertyColumn Title="ชื่อสถานพยาบาล" Property="c=>c!.HospitalName" Width="100px" Align="ColumnAlign.Center" />
                 <PropertyColumn Title="วันที่ผ่าตัด" Property="c=>c!.Date" Width="100px" Align="ColumnAlign.Center" />
                 <PropertyColumn Title="ID Donor" Property="c=>c!.IDdonor" Width="100px" Align="ColumnAlign.Center" />
                 <PropertyColumn Title="ประเภทบริการ" Property="c=>c!.ServiceType" Width="100px" Align="ColumnAlign.Center" />
                 <PropertyColumn Title="จำนวนเงิน" Property="c=>c!.AmountMonney" Width="100px" Align="ColumnAlign.Center" />
             </ChildContent>
             <PaginationTemplate>
                 <Pagination Class="pt-2" Total="context.Total"
                             PageSize="context.PageSize"
                             Current="context.PageIndex"
                                        ShowSizeChanger
                             OnChange="context.HandlePageChange" />
             </PaginationTemplate>
         </Table>

     </div>
 </div>

 <RetrievingInstallmentModal 
     _visible="@openRetriveInstallmentModal"
     OnOpen="@OpenRetriveInstallMentModal"
     GoToInstallmentSelectPage="@GoToInstallmentSelectPage" />

 @code {
    [Parameter]
    public EventCallback<int> IndexPage { get; set; }

    bool openRetriveInstallmentModal { get; set; }

    public async Task OpenRetriveInstallMentModal(bool value)
    {
        openRetriveInstallmentModal = value;
    }

    public async Task GoToInstallmentSelectPage(int item)
    {
        await IndexPage.InvokeAsync(item);
    }

    string txtValue { get; set; }

    int pageSize = 5;

    Table<MockUpData> Table;

    class MockUpData
    {
        public MockUpData(
            int no,
        string identificationNumber,
        string name,
        string hospitalName,
        string date,
        string idDonor,
        string serviceType,
        string amountMonney
        )
        {
            No = no;
            IdentificationNumber = identificationNumber;
            Name = name;
            HospitalName = hospitalName;
            Date = date;
            IDdonor = idDonor;
            ServiceType = serviceType;
            AmountMonney = amountMonney;
        }
        public int No { get; set; }
        public string IdentificationNumber { get; set; }
        public string Name { get; set; }
        public string HospitalName { get; set; }
        public string Date { get; set; }
        public string IDdonor { get; set; }
        public string ServiceType { get; set; }
        public string AmountMonney { get; set; }
    }

    MockUpData[] data =
    {
           new(1,"1234567891012","test1 test2","โรงพยาบาลประสาท","02/12/2023","1142","wpx","2000 บาท"),
    };

    void OnChange(QueryModel<MockUpData> query)
    {
        Console.WriteLine(JsonSerializer.Serialize(query));
    }

}
