<div class="site-layout-background" style="padding: 24px;">
    <div class="mms-nav-title">
        <div class="mms-text-title px-4 py-3" style="color :black">ค่าบริการทางการแพทย์ทันตกรรม   </div>
    </div>
    <div class="container py-4">
        @*     <div class="mms-txt-header py-2">จัดการวงเงินงบประมาณ</div>
        <hr />*@
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page">
                    <span class="breadcum-success py-2">ประวัติการเบิกจ่าย</span>
                </li>
                <li class="breadcrumb-item" aria-current="page">
                    <span class="breadcum-process py-2">รายการที่จ่ายเเล้ว</span>
                </li>

            </ol>
        </nav>
        <div style="padding-top:15px;">
        </div>

        <div class="mms-txt-headdetail">ช่วงเวลา</div>
        <div class="row">
            <div class="d-flex  mms-media-center">
                <div class="col-8">
                    <div class="row">
                        <div class="col-4 mms-media-center">
                            <DatePicker TValue="DateTime?" Picker="@DatePickerType.Date" Format="dd/MM/yyyy" Placeholder="Placeholder" />

                        </div>
                        <div class="mms-txt-headdetail d-flex justify-content-center align-items-center col-1" style="width:60px; ">ถึง : </div>
                        <div class="col-4 mms-media-center">

                            <DatePicker TValue="DateTime?" Picker="@DatePickerType.Date" Format="dd/MM/yyyy" Placeholder="Placeholder" />
                        </div>
                    </div>
                </div>
                <div class="col-4 ">
                    <Space Direction="@DirectionVHType.Vertical" Class="mms-btn-serch col-12">
                        <SpaceItem>
                            <Search Placeholder="ชื่อสถานพยาบาล" EnterButton="true" />
                        </SpaceItem>
                    </Space>
                </div>
            </div>
        </div>
        <hr />
        <Table DataSource="listOfData" TItem="ItemData" RowClassName="@(_=>"editable-row")" Bordered ScrollX="800">
            <ChildContent Context="data">
                <Column Width="8%" Align="ColumnAlign.Center" TData="string" Title="ลำดับ">@data.Id</Column>
                <Column Width="8%" Align="ColumnAlign.Center" TData="string" Title="เลขใบคำสั่งจ่าย">@data.orderId</Column>
                <Column Width="15%" Align="ColumnAlign.Center" TData="string" Title="รหัสสถานพยาบาล">@data.code</Column>
                <Column Width="15%" Align="ColumnAlign.Center" TData="string" Title="เลขประจำตัวประชาชน"> @data.Idencode</Column>
                <Column Width="20%" Align="ColumnAlign.Center" TData="string" Title="ชื่อ-นามสกุล"> @data.Name</Column>
                <Column Width="10%" Align="ColumnAlign.Center" TData="string" Title="วันที่ใช้สิทธิ"> @data.date</Column>
                <Column Width="10%" Align="ColumnAlign.Center" TData="string" Title="จำนวนเงิน"> @data.price</Column>
                <Column Width="7%" Align="ColumnAlign.Center" TData="string" Title="สถานะ" Style="color:#67C23A;"> @data.status</Column>
                <Column Width="5%" Align="ColumnAlign.Center" TData="string" Title="">
                    <img class="mx-2" title="ดู" src="helper_shared/PortalAdminImage/eye.png"
                         style="width:24px;height:24px; cursor:pointer;" @onclick=@(()=>OpenViewModal ( true) ) />
                </Column>

            </ChildContent>
        </Table>
    </div>
</div>
@if (isloading == true)
{
    <style>
        body {
            overflow: hidden;
        }</style>

    <LoadingPage></LoadingPage>
}
<ViewModal _visible=@openViewModal OnClose="OpenViewModal"></ViewModal>
@using MatBlazor
@using System.ComponentModel.DataAnnotations;
@using System.Text.Json;
@using System.ComponentModel;
@using sso.mms.fees.admin.Shared.Dental.DentalCentralPublic.DisBurseMent.Modals;
@code {
    [Parameter]
    public EventCallback<int> IndexPage { get; set; }
    bool openViewModal;
    bool isloading;
    string title = "จัดการคำขอใช้รถทันตกรรม";
    string Placeholder = "วว/ดด/ปปปป";
    
    RenderFragment okbutton =
    @<div style="color:#fff;">
        <Icon Type="save" Theme="outline" />
        บันทึก
    </div>;
    RenderFragment canclebutton =@<div>
        <Icon Type="close-circle" Theme="outline" />
        ยกเลิก
        </div>
    ;
    ColumnAlign columnAlign = ColumnAlign.Left;

    public class Todo
    {
        public int UserId { get; set; }
        public int Id { get; set; }
        public string Title { get; set; }
        public bool Completed { get; set; }

        public Todo()
        {
        }
    }

    Todo[] todos;

    public void OpenViewModal(bool value)
    {
        openViewModal = value;
    }
    class Person
    {
        public string Value { get; set; }
        public string Name { get; set; }
    }
    List<Person> _persons;
    string _selectedValue;
    Person _selectedItem;

    List<ItemData> listOfData = new List<ItemData>();

    public class ItemData
    {
        public int Id { get; set; }
        public int orderId { get; set; }
        public int code { get; set; }
        public string Idencode { get; set; }
        public string Name { get; set; }
        public string date{ get; set; }
        public double  price{ get; set; }
        public string status{ get; set; }
    };
    protected override void OnInitialized()
    {
        isloading = true;
        listOfData = new List<ItemData>
    {
        new ItemData
        {
            Id= 1,
            orderId =11102141,
            code = 1234567,
            Idencode = "123467890xxx",
            Name = "นายดวงดี  วิชัยวงศ์",
            date ="23 มิ.ย 67",
            price = 900,
            status = "จ่ายเเล้ว"
        },new ItemData
        {
            Id= 2,
            orderId =11102141,
            code = 1234567,
            Idencode = "123467890xxx",
            Name = "นายดวงดี  วิชัยวงศ์",
            date ="23 มิ.ย 67",
            price = 900,
            status = "จ่ายเเล้ว"
        },
    };

        isloading = false;
        StateHasChanged();

    }
}

