<style>
    .tablestyle .ant-table-thead > tr > th {
        position: relative;
        color: #FFFFFF !important;
        font-weight: 600 !important;
        text-align: center !important;
        background: #3B6C43 !important;
        border-bottom: 1px solid #ffffff !important;
        transition: background 0.3s ease;
    }
</style>
<Modal Title="@title"
       Visible="@_visible"
       OnOk="@HandleOk"
       OnCancel="@HandleCancel"
       OkText="@okbutton"
       CancelText="@canclebutton"
       Maximizable="@true"
       DefaultMaximized="@true" Style="z-index:10200;" Class="overflow-auto">
    <Card Bordered="true" Title=@("รายละเอียดผู้ประกันตน") Style="width: 100%;border-radius: 6px 6px 6px 6px;" Size="small" Class="mms-txt-default">
        <Body>
            <div class="row">
                <div class="col-lg-3" style="color:#6A6A6A;">
                    เลขที่รับแจ้ง :
                </div>
                <div class="col-lg-3 col-mb-12">
                    670165900000018
                </div>
                <div class="col-lg-3 col-mb-12">
                </div>
                <div class="col-lg-3 col-mb-12">
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-lg-6 col-md-12 ">

                    <div class="row">
                        <div class="col" style="color:#6A6A6A;">
                            เลขบัตรประจำตัวประชาชน :
                        </div>
                        <div class="col">
                            123456789xxxx
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" style="color:#6A6A6A;">
                            เพศ :
                        </div>
                        <div class="col">
                            ชาย
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" style="color:#6A6A6A;">
                            สัญชาติ :
                        </div>
                        <div class="col">
                            ไทย
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" style="color:#6A6A6A;">
                            เบอร์โทรศัพท์ :
                        </div>
                        <div class="col">
                            099-200-654
                        </div>

                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="row">
                        <div class="col" style="color:#6A6A6A;">
                            ชื่อ - สกุล :
                        </div>
                        <div class="col">
                            นาย อภิรักษ์ สำรวม
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" style="color:#6A6A6A;">
                            วันเกิด :
                        </div>
                        <div class="col">
                            12 พฤษภาคม 2530
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            สถานะผู้ประกันตน :
                        </div>
                        <div class="col">
                            เป็นผู้ประกันตน
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">

                <div class="col-lg-6 col-mb-12">
                    <div class="row">
                        <div class="col-lg-6 col-mb-12" style="color:#6A6A6A;">
                            ผู้บันทึกรับแจ้ง :
                        </div>
                        <div class="col-lg-6 col-mb-12">
                            นางสาว กชกร มั่นใจ
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-mb-12">
                    <div class="row">
                        <div class="col-lg-6 col-mb-12" style="color:#6A6A6A;">
                            วันที่บันทึก :
                        </div>
                        <div class="col-lg-6 col-mb-12">
                            20/07/2565
                        </div>
                    </div>
                </div>
            </div>
        </Body>
    </Card>
    <br />
    <Card Bordered="true" Title=@("ข้อมูลสิทธิประโยชน์") Style="width: 100%;border-radius: 6px 6px 6px 6px;" Size="small" Class="mms-txt-default">
        <Body>

            <div class="row">
                <div class="col-lg-3" style="color:#6A6A6A;">
                    สิทธิประโยชน์ :
                </div>
                <div class="col-lg-3 col-mb-12">
                    ค่าอุดฟัน ถอนฟัน ขูดหินปูน
                </div>
                <div class="col-lg-3 col-mb-12">
                </div>
                <div class="col-lg-3 col-mb-12">
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-lg-6 col-md-12 ">

                    <div class="row">
                        <div class="col" style="color:#6A6A6A;">
                            ภายใน :
                        </div>
                        <div class="col">
                            1 ปี
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" style="color:#6A6A6A;">
                            เบิกแล้ว :
                        </div>
                        <div class="col">
                            0.00
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" style="color:#6A6A6A;">
                            วงเงินสิทธิประโยชน์คงเหลือ :
                        </div>
                        <div class="col">
                            900.00
                        </div>
                    </div>

                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="row">
                        <div class="col" style="color:#6A6A6A;">

                            จำนวนเงินที่เบิกได้ :

                        </div>
                        <div class="col">
                            900.00
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" style="color:#6A6A6A;">
                            เบิกครั้งนี้ :
                        </div>
                        <div class="col">
                            900.00
                        </div>
                    </div>

                </div>
            </div>

        </Body>
    </Card>
    <br />

    <Card Bordered="true" Title=@("รายการรักษาที่เบิก") Style="width: 100%;border-radius: 6px 6px 6px 6px;" Size="small" Class="mms-txt-default">
        <Body>
            <Table DataSource="listOfData" Bordered HidePagination Class="mms-txt-default zebra-striped-table tablestyle">
                    <PropertyColumn Width="20%" Title="ชื่อรายการ" Property="c => c.Id" Align=ColumnAlign.Left></PropertyColumn>
                    <PropertyColumn Width="20%" Title="เลขฟัน" Property="c => c.Name" Align="ColumnAlign.Left"></PropertyColumn>
                    <PropertyColumn Width="20%" Title="จำนวน" Property="c => c.count" Align=ColumnAlign.Center> </PropertyColumn>
                    <PropertyColumn Width="20%" Title="ค่ารักษา" Property="c => c.Name" Align=ColumnAlign.Center> </PropertyColumn>
                    <PropertyColumn Width="20%" Title="จำนวนที่เบิกได้" Property="c => c.Age " Align=ColumnAlign.Center></PropertyColumn>
                    @{
                    var totalBorrow = listOfData.Sum(x => x.Age);
                }
                <SummaryRow>
                    <SummaryCell Align=ColumnAlign.Right ColSpan="4" Style="background:#EAE8EC;">รวมทั้งหมด</SummaryCell>

                    <SummaryCell Align=ColumnAlign.Center Style="background:#EAE8EC;">
                        <Text>@totalBorrow</Text>
                    </SummaryCell>
                </SummaryRow>
            </Table>
        </Body>
    </Card>
    <br />
    <div class="row">
        <div class="col-lg-6 col-mb-12 ">
            <Card Bordered="true" Class="rounded-3 mms-txt-default" Style="background-color:#ECECEC;">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-2"></div>
                            <div class="col-4">สถานะการอนุมัติ :</div>
                            <div class="col-6 " style="color:#D94827;">ไม่อนุมัติ  </div>
                        </div>
                        <div class="row">
                            <div class="col-2"></div>
                            <div class="col-4" style="color:#6A6A6A;"> ผู้อนุมัติ :</div>
                            <div class="col-6">-</div>
                        </div>
                        <div class="row">
                            <div class="col-2"></div>
                            <div class="col-4" style="color:#6A6A6A;">วันที่อนุมัติ :</div>
                            <div class="col-6"> -  </div>
                        </div>

                    </div>
                    <div class="col-lg-6 ">
                    </div>
                </div>
            </Card>
        </div>
        <div class="col-lg-6 col-mb-12 ">
            <Card Bordered="true" Class="rounded-3 mms-txt-default" Style=" background-color:#ECECEC;">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-2"></div>
                            <div class="col-4">สถานะการจ่าย :  </div>
                            <div class="col-6 ">- </div>
                        </div>
                        <div class="row">
                            <div class="col-2"></div>
                            <div class="col-4" style="color:#6A6A6A;">วันที่จ่าย :</div>
                            <div class="col-6">-</div>
                        </div>
                        <div class="row">
                            <div class="col-2"></div>
                            <div class="col-4" style="color:#6A6A6A;">เลขใบคำสั่งจ่าย :</div>
                            <div class="col-6"> -</div>
                        </div>

                    </div>
                    <div class="col-lg-6 ">
                    </div>
                </div>
            </Card>
        </div>
    </div>
</Modal>
@code{
    string title = "จัดการคำขอใช้รถทันตกรรม";
    string Placeholder = "วว/ดด/ปปปป";
    
    [Parameter]
    public bool _visible { get; set; }
    [Parameter]
    public EventCallback<bool> OnClose { get; set; }
    List<ItemData> listOfData = new List<ItemData>
    {
        new ItemData
        {
            Id = 1,
            Name = "ssss",
            Age = 12,
            count = 5,
            Address ="asasas"
        }
    };
    public class ItemData
    {
        public int Id { get; set; }
        public string Name { get; set; }
        public int Age { get; set; }
        public int count { get; set; }
        public string Address { get; set; }
    };
    RenderFragment okbutton =
    @<div style="color:#fff;">
        <Icon Type="save" Theme="outline" />
        บันทึก
    </div>;
    RenderFragment canclebutton =@<div>
        <Icon Type="close-circle" Theme="outline" />
        ยกเลิก
    </div>
    ;
    private async void HandleOk(MouseEventArgs e)
    {
        _visible = false;
    }

    private void HandleCancel(MouseEventArgs e)
    {
        Console.WriteLine(e);
        _visible = false;
    }
}