@using sso.mms.fees.admin.Shared.MedicalSpeciaList.DisbursementHistoryMedic.Modals

<style>
    .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
        border-color: #000;
        background-color: #FFCC41;
        color: white
    }

        .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover {
            color: white;
        }

    wrapper-checked:not(.ant-radio-button-wrapper-disabled):active {
        color: white;
        border-color: black;
    }

    .ant-radio-button-wrapper {
        color: #224183;
        border-color: black !important;
    }

        .ant-radio-button-wrapper:last-child {
            border-radius: 0 10px 10px 0;
        }

        .ant-radio-button-wrapper:first-child {
            border-radius: 10px 0 0 10px;
        }

    .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)::before {
        /* background-color: #1890ff; */
    }

    th .ant-checkbox-wrapper {
        display: none;
    }
</style>


<div class="site-layout-background" style="padding: 24px;">
    <div class="mms-nav-title">
        <div class="mms-text-title px-4 py-3">การรักษาโดยแพทย์ผู้เชี่ยวชาญพิเศษเฉพาะทางและการทำหมัน</div>
    </div>

    <div class="container py-4">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page">
                    <span class="breadcum-success py-2">ประวัติการเบิกจ่าย</span>
                </li>
                <li class="breadcrumb-item" aria-current="page">
                    <span class="breadcum-process py-2">เเสดงรายการประวัติการเบิกจ่าย</span>
                </li>

            </ol>
        </nav>


        <div class="row pt-3">
            <div class="col-6">
                <div class="d-flex col-12">
                    <div class="mms-txt-headdetail col-2 d-flex align-items-center">งวดที่ : &nbsp;</div>
                    <div class="col-4" >
                        <Input @bind-Value="@select" Disabled Style="color: black;"></Input>
                    </div>

                </div>
            </div>
            <div class="col-6 d-flex justify-content-end">
                <Button Type="@ButtonType.Dashed" Class="ant-btn-distable">ใบคำขอเบิก</Button>
            </div>
        </div>
        <div class="row pt-3">
            <div class="d-flex  mms-media-center">
                <div class="col-6">
                    <Button Type="@ButtonType.Dashed" Class="ant-btn-distable" @onclick=@(() => gotoPage(1))><i class="fa-solid fa-circle-chevron-left"></i> &nbsp; ย้อนกลับ</Button>
                </div>
                <div class="col-6 d-flex justify-content-end">
                    <Space Direction="@DirectionVHType.Vertical" Class="mms-btn-serch  col-8">
                        <SpaceItem>
                            <Search Placeholder="ชื่อสถานพยาบาล" EnterButton="true" />
                        </SpaceItem>
                    </Space>
                </div>
            </div>
        </div>

        
        <div class="mms-txt-headdetail pt-4">ไตวายเฉียบพลัน</div>
        <hr />
        <Table DataSource="@data" DefaultExpandAllRows Bordered>
            <ChildContent Context="data">
                <Column Width="8%" Title="ลำดับ" TData="string" Align="ColumnAlign.Center">@data.id</Column>
                <Column Width="10%" Title="เลขที่คำสั่งจ่าย" TData="string" Align="ColumnAlign.Center">@data.code2</Column>
                <Column Width="10%" Title="HN" TData="string" Align="ColumnAlign.Center">@data.code3</Column>
                <Column Width="15%" Title="เลขประจำตัวประชาชน" TData="string" Align="ColumnAlign.Center">@data.name</Column>
                <Column Width="12%" Title="ชื่อ-นามสกุล" TData="string" Align="ColumnAlign.Center">@data.count1</Column>
                <Column Width="10%" Title="วันที่เข้ารักษา" TData="string" Align="ColumnAlign.Center">@data.count2</Column>
                <Column Width="15%" Title="วันที่ออกจาก รพ." TData="string" Align="ColumnAlign.Center">@data.count2</Column>
                <Column Width="10%" Title="จำนวนเงิน" TData="string" Align="ColumnAlign.Center"></Column>
                <Column Width="10%" Title="" TData="string" Align="ColumnAlign.Center">
                    <img class="mx-2" title="ดู" src="helper_shared/PortalAdminImage/eye.png"
                         style="width:24px;height:24px; cursor:pointer;" @onclick=@(()=>OpenModalview (true) ) />

                </Column>
            </ChildContent>
        </Table>

        <div class="mms-txt-headdetail pt-4">มะเร็งที่มีโปรโตคอล</div>
        <hr />
        <Table DataSource="@data" DefaultExpandAllRows Bordered>
            <ChildContent Context="data">
                <Column Width="8%" Title="ลำดับ" TData="string" Align="ColumnAlign.Center">@data.id</Column>
                <Column Width="10%" Title="เลขที่คำสั่งจ่าย" TData="string" Align="ColumnAlign.Center">@data.code2</Column>
                <Column Width="10%" Title="HN" TData="string" Align="ColumnAlign.Center">@data.code3</Column>
                <Column Width="15%" Title="เลขประจำตัวประชาชน" TData="string" Align="ColumnAlign.Center">@data.name</Column>
                <Column Width="12%" Title="ชื่อ-นามสกุล" TData="string" Align="ColumnAlign.Center">@data.count1</Column>
                <Column Width="10%" Title="วันที่เข้ารักษา" TData="string" Align="ColumnAlign.Center">@data.count2</Column>
                <Column Width="15%" Title="วันที่ออกจาก รพ." TData="string" Align="ColumnAlign.Center">@data.count2</Column>
                <Column Width="10%" Title="จำนวนเงิน" TData="string" Align="ColumnAlign.Center"></Column>
                <Column Width="10%" Title="" TData="string" Align="ColumnAlign.Center">
                    <img class="mx-2" title="ดู" src="helper_shared/PortalAdminImage/eye.png"
                         style="width:24px;height:24px; cursor:pointer;" @onclick=@(()=>OpenModalview ( true) ) />

                </Column>
            </ChildContent>
        </Table>

        <div class="mms-txt-headdetail pt-4">มะเร็งที่ไม่มีโปรโตคอล</div>
        <hr />
        <Table DataSource="@data" DefaultExpandAllRows Bordered>
            <ChildContent Context="data">
                <Column Width="8%" Title="ลำดับ" TData="string" Align="ColumnAlign.Center">@data.id</Column>
                <Column Width="10%" Title="เลขที่คำสั่งจ่าย" TData="string" Align="ColumnAlign.Center">@data.code2</Column>
                <Column Width="10%" Title="HN" TData="string" Align="ColumnAlign.Center">@data.code3</Column>
                <Column Width="15%" Title="เลขประจำตัวประชาชน" TData="string" Align="ColumnAlign.Center">@data.name</Column>
                <Column Width="12%" Title="ชื่อ-นามสกุล" TData="string" Align="ColumnAlign.Center">@data.count1</Column>
                <Column Width="10%" Title="วันที่เข้ารักษา" TData="string" Align="ColumnAlign.Center">@data.count2</Column>
                <Column Width="15%" Title="วันที่ออกจาก รพ." TData="string" Align="ColumnAlign.Center">@data.count2</Column>
                <Column Width="10%" Title="จำนวนเงิน" TData="string" Align="ColumnAlign.Center"></Column>
                <Column Width="10%" Title="" TData="string" Align="ColumnAlign.Center">
                    <img class="mx-2" title="ดู" src="helper_shared/PortalAdminImage/eye.png"
                         style="width:24px;height:24px; cursor:pointer;" @onclick=@(()=>OpenModalview ( true) ) />

                </Column>
            </ChildContent>
        </Table>

        <div class="mms-txt-headdetail pt-4">อวัยวะเทียมและอุปกรณ์</div>
        <hr />
        <Table DataSource="@data" DefaultExpandAllRows Bordered>
            <ChildContent Context="data">
                <Column Width="8%" Title="ลำดับ" TData="string" Align="ColumnAlign.Center">@data.id</Column>
                <Column Width="10%" Title="เลขที่คำสั่งจ่าย" TData="string" Align="ColumnAlign.Center">@data.code2</Column>
                <Column Width="10%" Title="HN" TData="string" Align="ColumnAlign.Center">@data.code3</Column>
                <Column Width="15%" Title="เลขประจำตัวประชาชน" TData="string" Align="ColumnAlign.Center">@data.name</Column>
                <Column Width="12%" Title="ชื่อ-นามสกุล" TData="string" Align="ColumnAlign.Center">@data.count1</Column>
                <Column Width="10%" Title="วันที่เข้ารักษา" TData="string" Align="ColumnAlign.Center">@data.count2</Column>
                <Column Width="15%" Title="วันที่ออกจาก รพ." TData="string" Align="ColumnAlign.Center">@data.count2</Column>
                <Column Width="10%" Title="จำนวนเงิน" TData="string" Align="ColumnAlign.Center"></Column>
                <Column Width="10%" Title="" TData="string" Align="ColumnAlign.Center">
                    <img class="mx-2" title="ดู" src="helper_shared/PortalAdminImage/eye.png"
                         style="width:24px;height:24px; cursor:pointer;" @onclick=@(()=>OpenModalview ( true) ) />

                </Column>
            </ChildContent>
        </Table>

        <div class="mms-txt-headdetail pt-4"> Stereotactic Radiosurgery</div>
        <hr />
        <Table DataSource="@data" DefaultExpandAllRows Bordered>
            <ChildContent Context="data">
                <Column Width="8%" Title="ลำดับ" TData="string" Align="ColumnAlign.Center">@data.id</Column>
                <Column Width="10%" Title="เลขที่คำสั่งจ่าย" TData="string" Align="ColumnAlign.Center">@data.code2</Column>
                <Column Width="10%" Title="HN" TData="string" Align="ColumnAlign.Center">@data.code3</Column>
                <Column Width="15%" Title="เลขประจำตัวประชาชน" TData="string" Align="ColumnAlign.Center">@data.name</Column>
                <Column Width="12%" Title="ชื่อ-นามสกุล" TData="string" Align="ColumnAlign.Center">@data.count1</Column>
                <Column Width="10%" Title="วันที่เข้ารักษา" TData="string" Align="ColumnAlign.Center">@data.count2</Column>
                <Column Width="15%" Title="วันที่ออกจาก รพ." TData="string" Align="ColumnAlign.Center">@data.count2</Column>
                <Column Width="10%" Title="จำนวนเงิน" TData="string" Align="ColumnAlign.Center"></Column>
                <Column Width="10%" Title="" TData="string" Align="ColumnAlign.Center">
                    <img class="mx-2" title="ดู" src="helper_shared/PortalAdminImage/eye.png"
                         style="width:24px;height:24px; cursor:pointer;" @onclick=@(()=>OpenModalview ( true) ) />

                </Column>
            </ChildContent>
        </Table>

        <div class="mms-txt-headdetail pt-4"> Cryptococal Meningitic</div>
        <hr />
        <Table DataSource="@data" DefaultExpandAllRows Bordered>
            <ChildContent Context="data">
                <Column Width="8%" Title="ลำดับ" TData="string" Align="ColumnAlign.Center">@data.id</Column>
                <Column Width="10%" Title="เลขที่คำสั่งจ่าย" TData="string" Align="ColumnAlign.Center">@data.code2</Column>
                <Column Width="10%" Title="HN" TData="string" Align="ColumnAlign.Center">@data.code3</Column>
                <Column Width="15%" Title="เลขประจำตัวประชาชน" TData="string" Align="ColumnAlign.Center">@data.name</Column>
                <Column Width="12%" Title="ชื่อ-นามสกุล" TData="string" Align="ColumnAlign.Center">@data.count1</Column>
                <Column Width="10%" Title="วันที่เข้ารักษา" TData="string" Align="ColumnAlign.Center">@data.count2</Column>
                <Column Width="15%" Title="วันที่ออกจาก รพ." TData="string" Align="ColumnAlign.Center">@data.count2</Column>
                <Column Width="10%" Title="จำนวนเงิน" TData="string" Align="ColumnAlign.Center"></Column>
                <Column Width="10%" Title="" TData="string" Align="ColumnAlign.Center">
                    <img class="mx-2" title="ดู" src="helper_shared/PortalAdminImage/eye.png"
                         style="width:24px;height:24px; cursor:pointer;" @onclick=@(()=>OpenModalview ( true) ) />

                </Column>
            </ChildContent>
        </Table>

        <div class="mms-txt-headdetail pt-4">หมัน</div>
        <hr />
        <Table DataSource="@data" DefaultExpandAllRows Bordered>
            <ChildContent Context="data">
                <Column Width="8%" Title="ลำดับ" TData="string" Align="ColumnAlign.Center">@data.id</Column>
                <Column Width="10%" Title="เลขที่คำสั่งจ่าย" TData="string" Align="ColumnAlign.Center">@data.code2</Column>
                <Column Width="10%" Title="HN" TData="string" Align="ColumnAlign.Center">@data.code3</Column>
                <Column Width="15%" Title="เลขประจำตัวประชาชน" TData="string" Align="ColumnAlign.Center">@data.name</Column>
                <Column Width="12%" Title="ชื่อ-นามสกุล" TData="string" Align="ColumnAlign.Center">@data.count1</Column>
                <Column Width="10%" Title="วันที่เข้ารักษา" TData="string" Align="ColumnAlign.Center">@data.count2</Column>
                <Column Width="15%" Title="วันที่ออกจาก รพ." TData="string" Align="ColumnAlign.Center">@data.count2</Column>
                <Column Width="10%" Title="จำนวนเงิน" TData="string" Align="ColumnAlign.Center"></Column>
                <Column Width="10%" Title="" TData="string" Align="ColumnAlign.Center">
                    <img class="mx-2" title="ดู" src="helper_shared/PortalAdminImage/eye.png"
                         style="width:24px;height:24px; cursor:pointer;" @onclick=@(()=>OpenModalview ( true) ) />

                </Column>
            </ChildContent>
        </Table>

        <div class="mms-txt-headdetail pt-4">ยาละลายลิ่มเลือด</div>
        <hr />
        <Table DataSource="@data" DefaultExpandAllRows Bordered>
            <ChildContent Context="data">
                <Column Width="8%" Title="ลำดับ" TData="string" Align="ColumnAlign.Center">@data.id</Column>
                <Column Width="10%" Title="เลขที่คำสั่งจ่าย" TData="string" Align="ColumnAlign.Center">@data.code2</Column>
                <Column Width="10%" Title="HN" TData="string" Align="ColumnAlign.Center">@data.code3</Column>
                <Column Width="15%" Title="เลขประจำตัวประชาชน" TData="string" Align="ColumnAlign.Center">@data.name</Column>
                <Column Width="12%" Title="ชื่อ-นามสกุล" TData="string" Align="ColumnAlign.Center">@data.count1</Column>
                <Column Width="10%" Title="วันที่เข้ารักษา" TData="string" Align="ColumnAlign.Center">@data.count2</Column>
                <Column Width="15%" Title="วันที่ออกจาก รพ." TData="string" Align="ColumnAlign.Center">@data.count2</Column>
                <Column Width="10%" Title="จำนวนเงิน" TData="string" Align="ColumnAlign.Center"></Column>
                <Column Width="10%" Title="" TData="string" Align="ColumnAlign.Center">
                    <img class="mx-2" title="ดู" src="helper_shared/PortalAdminImage/eye.png"
                         style="width:24px;height:24px; cursor:pointer;" @onclick=@(()=>OpenModalview ( true) ) />

                </Column>
            </ChildContent>
        </Table>

        <Card Title=@("สถานะรายการเบิก")>
            <Body>
                <div class="mt-5">
                    <div class="container" align="center">
                        <div class="position-relative w-75">
                            <div class="progress" style="height: 6px;">
                                <div class="progress-bar w-100" style="background:#FFC326 !important"></div>
                            </div>
                        </div>
                        <div class="container position-relative w-75">
                            <img class="step-img position-absolute top-0 start-0 translate-middle rounded-pill" src="helper_shared/FeesAdminImage/Hemo/hemo-step1a.png" />
                            <img class="step-img position-absolute top-0 start-30 translate-middle rounded-pill" src="helper_shared/FeesAdminImage/Hemo/hemo-step2a.png" />
                            <img class="step-img position-absolute top-0 start-70 translate-middle rounded-pill" src="helper_shared/FeesAdminImage/Hemo/hemo-step3a.png" />
                            <img class="step-img position-absolute top-0 start-100 translate-middle rounded-pill" src="helper_shared/FeesAdminImage/Hemo/hemo-step4a.png" />
                        </div>
                        <div class="container position-relative w-75">
                            <div class="row">
                                @*style change == noneactive*@
                                <p class="step-tag active position-absolute top-0 start-0 translate-middle rounded-pill">สถานะรับเรื่อง</p>
                                <p class="step-tag active  position-absolute top-0 start-30 translate-middle rounded-pill">สถานะวินิจฉัย</p>
                                <p class="step-tag active  position-absolute top-0 start-70 translate-middle rounded-pill">สถานะคำสั่งจ่าย</p>
                                <p class="step-tag active  position-absolute top-0 start-100 translate-middle rounded-pill">สถานะการจ่าย</p>
                            </div>
                        </div>
                    </div>
                    <div class="row mms-txt-headdetail pt-5 mt-5">
                        <div class="col-md-12 col-lg-3 py-2 pLayers-2">
                            <div class="row"><div class="col-6 mms-txt-headdetail text-end">สถานะรับเรื่อง :</div><span class="mms-txt-default col-6 text-start">รับเรื่อง</span></div>
                            <div class="row"><div class="col-6 mms-txt-headdetail text-end">ผู้รับเรื่อง :</div><span class="mms-txt-default col-6 text-start">นางสมพร  สมรศรี</span></div>
                            <div class="row"><div class="col-6 mms-txt-headdetail text-end">วันที่รับเรื่อง :</div><span class="mms-txt-default col-6 text-start">21  เมษายน 2566 </span></div>
                        </div>
                        <div class="col-md-12 col-lg-3 py-2 pLayers-2">
                            <div class="row"><div class="col-6 mms-txt-headdetail text-end">สถานะวินิจฉัย :</div><span class="mms-txt-default col-6 text-start">มีสิทธิ</span></div>
                            <div class="row"><div class="col-6 mms-txt-headdetail text-end">ผู้อนุมัติ :</div><span class="mms-txt-default col-6 text-start">นางสมพร  สมรศร</span></div>
                            <div class="row"><div class="col-6 mms-txt-headdetail text-end">วันที่อนุมัต :</div><span class="mms-txt-default col-6 text-start">21  เมษายน 2566</span></div>
                        </div>
                        <div class="col-md-12 col-lg-3 py-2 pLayers-2">
                            <div class="row"><div class="col-6 mms-txt-headdetail text-end">สถานะคำสั่งจ่าย :</div><span class="mms-txt-default col-6 text-start">อนุมัติ</span></div>
                            <div class="row"><div class="col-6 mms-txt-headdetail text-end">ผู้อนุมัติ :</div><span class="mms-txt-default col-6 text-start">นายสามารถ สิริ</span></div>
                            <div class="row"><div class="col-6 mms-txt-headdetail text-end">วันที่อนุมัต :</div><span class="mms-txt-default col-6 text-start">20 เมษายน 2566 </span></div>
                        </div>
                        <div class="col-md-12 col-lg-3 py-2 pLayers-2">
                            <div class="row"><div class="col-6 mms-txt-headdetail text-end">สถานะการจ่าย :</div><span class="mms-txt-default col-6 text-start">จ่ายเเล้ว</span></div>
                            <div class="row"><div class="col-6 mms-txt-headdetail text-end">วันที่จ่าย :</div><span class="mms-txt-default col-6 text-start">30 เมษายน 2566</span></div>
                            <div class="row"><div class="col-6 mms-txt-headdetail text-end">เลขใบคำสั่งจ่าย  :</div><span class="mms-txt-default col-6 text-start">100000023546</span></div>
                        </div>
                    </div>
                </div>
            </Body>
        </Card>
    </div>
</div>

<ViewDataDetail _visible=openModalView OnClose="OpenModalview"></ViewDataDetail>

@code {
    [Parameter]
    public EventCallback<int> IndexPage { get; set; }
    [Parameter]
    public EventCallback<int> GetbyId { get; set; }
    [Parameter]
    public int Page { get; set; }
    List<Data> data = new List<Data>();

    private bool checkValue { get; set; } = false;
    string x = "660802,66081";

    bool Type = true;
    bool select = true;
    bool openModalView;

    public async Task Indexpage(int usepage)
    {
        IndexPage.InvokeAsync(usepage);
    }
    public async Task Getbyid(int id)
    {
        GetbyId.InvokeAsync(id);
    }
    //public void ChangeVariable(bool type)
    //{
    //    Type = type;
    //    StateHasChanged();
    //}
    public class Data
    {
        public string id { get; set; }

        public string code1 { get; set; }
        public int code2 { get; set; }
        public int code3 { get; set; }



        public string name { get; set; }

        public int count1 { get; set; }
        public int count2 { get; set; }
        public string day { get; set; }
        public string status { get; set; }


    }
    private string selectedOption = "option1";

    private void HandleRadioChange(ChangeEventArgs e)
    {
        selectedOption = e.Value.ToString();
    }

    public void gotoPage(int page)
    {
        // Getbyid(Int32.Parse(id));
        Indexpage(page);
        StateHasChanged();
    }


    public void OpenModalview(bool value)
    {
        openModalView = value;
    }

    protected override void OnInitialized()
    {

        data = new List<Data>
    {
   new Data
    {
        id = "1",
        code1 = "1400108660000",
        code2 =660801,
        code3 = 10660,
        name = "โรงพยาบาลสระบุรี",
        count1 = 25,
    day ="25 เมษายน 2566",
        count2 = 2034690,
        status = "รอจ่าย"
    },



    new Data
    {
        id = "2",
        code1 = "1400108660001",
        code2 = 660801,
        code3 = 10661,
        name = "โรงพยาบาลตาก",
        count1 = 26,
        count2 = 2034691,
    day ="25 เมษายน 2566",
        status = "รออนุมัติ"
    }
    };
    }
}
