@using System.ComponentModel.DataAnnotations;
@using sso.mms.fees.admin.Shared._72Hours.NotificationList.Tab

<style>
    .modalStyle .ant-modal-header {
        background: #334396 !important;
    }

    .tablestyle .ant-card-head {
        width: 100%;
        background: #D9D9D9 !important;
        border-radius: 6px 6px 0px 0px !important;
    }

    .xmark .anticon > .anticon {
        line-height: 0;
        vertical-align: 0;
        color: #ffffff !important;
    }

    .ant-card-head-title {
        text-align: start;
        color: #474747;
    }

    .ant-modal-body {
        padding: 0rem;
        margin-top: 1rem;
    }

    .ant-radio-button-wrapper-checked:not([class*=' ant-radio-button-wrapper-disabled']).ant-radio-button-wrapper:first-child {
        border-right-color: #ffffff;
    }

    .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):first-child {
        border-color: #1890ff;
    }

    .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
        z-index: 1;
        color: #ffffff;
        background: #1890ff;
        border-color: #1890ff;
    }

    .ant-radio-button-wrapper {
        position: relative;
        display: inline-block;
        height: 32px;
        margin: 0;
        padding: 0 15px;
        color: rgb(255 255 255 / 85%);
        font-size: 14px;
        line-height: 30px;
        background: #334396;
        border: 1px solid #334396;
        border-top-width: 1.02px;
        border-left-width: 0;
        cursor: pointer;
        transition: color 0.3s, background 0.3s, border-color 0.3s, box-shadow 0.3s;
        height: 40px;
        padding-top: 5px;
    }

        .ant-radio-button-wrapper:first-child {
            border-left: 1px solid #d9d9d9;
            border-radius: 6px 0 0 6px;
        }

        .ant-radio-button-wrapper:last-child {
            border-radius: 0 6px 6px 0;
        }
</style>
@{
    RenderFragment footer =@<div></div>;
}
<Modal Title="@title"
       Visible="@_visible"
       OnOk="@HandleOk"
       OnCancel="@HandleCancel"
       Footer="@footer"
       Width="1600"
       WrapClassName="modalStyle xmark">
    <div class="container py-2">
        <Card Class="tablestyle" Bordered="false" Title=@("ข้อมูลสถานพยาบาล")>
            <Body>
                <div class="row">
                    <div class="col-sm-12 col-md-6 pLayers-2">
                        <div class="row align-items-center">
                            <div class="col-6 mms-txt-headdetail text-end">ชื่อสถานพยาบาล :</div>
                            <div class="col-6 mms-text-gray text-start">โรงพยาบาลลานนา (เอกชน)</div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-6 mms-txt-headdetail text-end">รหัสสถานพยาบาล :</div>
                            <div class="col-6 mms-text-gray text-start">1234567</div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-6 mms-txt-headdetail text-end">ประเภทสถานพยาบาล :</div>
                            <div class="col-6 mms-text-gray text-start">เอกชน</div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-6 mms-txt-headdetail text-end">สปส ที่ดูเเล :</div>
                            <div class="col-6 mms-text-gray text-start">(1001)สปส.จังหวัดเชียงใหม่</div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 pLayers-2">
                        <div class="row align-items-center">
                            <div class="col-6 mms-txt-headdetail text-end">ธนาคาร :</div>
                            <div class="col-6 mms-text-gray text-start">กสิกรไทย</div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-6 mms-txt-headdetail text-end">สาขา :</div>
                            <div class="col-6 mms-text-gray text-start"> ข่วงสิงห์</div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-6 mms-txt-headdetail text-end">เลขที่บัญชี :</div>
                            <div class="col-6 mms-text-gray text-start">5556664879</div>
                        </div>
                    </div>
                </div>
            </Body>
        </Card>
    </div>
    <div class="container py-2">
        <Card Class="tablestyle" Bordered="false" Title=@("ตรวจสอบข้อมูลผู้ประกันตน")>
            <Body>
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="row align-items-start">
                            <div class="col-6 mms-txt-headdetail text-end">กรณี</div>
                            <div class="col-6 mms-text-gray text-start"><Checkbox Class="pe-2"></Checkbox>ประสบอันตราย</div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="row align-items-start">
                            <div class="col-6 mms-txt-headdetail text-end">ประเภท</div>
                            <div class="col-6 mms-text-gray text-start"><Checkbox Class="pe-2"></Checkbox>ผู้ป่วยนอก</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-6 pLayers-2">
                        <div class="row align-items-center">
                            <div class="col-6 mms-txt-headdetail text-end">เลขประจำตัวประชาชน</div>
                            <div class="col-6"><Input Placeholder="Basic usage" @bind-Value="@txtValue" /></div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-6 mms-txt-headdetail text-end">ชื่อ-นามสกุล</div>
                            <div class="col-6"><Input Placeholder="Basic usage" @bind-Value="@txtValue" Disabled /></div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-6 mms-txt-headdetail text-end">โรงพยาบาลตามสิทธิ(ปัจจุบัน)</div>
                            <div class="col-6"><Input Placeholder="Basic usage" @bind-Value="@txtValue" Disabled /></div>
                        </div>
                        <div class="row align-items-start">
                            <div class="col-6 mms-txt-headdetail text-end">การประสานโรงพยาบาลตามสิทธิ</div>
                            <div class="col-6 mms-text-gray text-start"><Checkbox Class="pe-2"></Checkbox>ประสาน</div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-6 mms-txt-headdetail text-end">วันที่ประสาน</div>
                            <div class="col-6"><DatePicker TValue="DateTime?" Picker="@DatePickerType.Date" /></div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 pLayers-2">
                        <div class="row align-items-center">
                            <div class="col-6 mms-txt-headdetail text-end">Admit Date<span class="star-comment">*</span></div>
                            <div class="col-6"><Input Placeholder="Basic usage" @bind-Value="@txtValue" /></div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-6 mms-txt-headdetail text-end">โรงพยาบาลตามสิทธิ(ณ วันที่ Admit)</div>
                            <div class="col-6"><Input Placeholder="Basic usage" @bind-Value="@txtValue" Disabled /></div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-6 mms-txt-headdetail text-end">Discharge Date<span class="star-comment">*</span></div>
                            <div class="col-6"><Input Placeholder="Basic usage" @bind-Value="@txtValue" /></div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-6 mms-txt-headdetail text-end">จำนวนชั่วโมงตามรักษาจริง</div>
                            <div class="col-6 d-flex align-items-end">
                                <Input Placeholder="Basic usage" @bind-Value="@txtValue" Disabled />
                                <div class="col-6 mms-text-gray text-start ps-4 w-auto">ชั่วโมง</div>
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-6 mms-txt-headdetail text-end">จำนวนชั่วโมงตามสิทธิ</div>
                            <div class="col-6 d-flex align-items-end">
                                <Input Placeholder="Basic usage" @bind-Value="@txtValue" Disabled />
                                <div class="col-6 mms-text-gray text-start ps-4 w-auto">ชั่วโมง</div>
                            </div>
                        </div>
                    </div>
                </div>
            </Body>
        </Card>
    </div>
    <div class="container py-2">
        <Card Class="tablestyle" Bordered="false" Title=@("รายละเอียดการรักษา")>
            <Body>
                <div class="pLayers-2 align-items-center">
                    <div class="row">
                        <div class="col-4 mms-txt-headdetail text-end">สาเหตุของการประสบอันตราย/ เจ็บป่วย  :</div>
                        <div class="col-8 mms-text-gray text-start">ประสบอุบัติเหตุทางรถยนต์.........</div>
                    </div>
                    <div class="row">
                        <div class="col-4 mms-txt-headdetail text-end">คำวินิจฉัยเเพทย์ :</div>
                        <div class="col-8 mms-text-gray text-start">ควรผ่าตัด เเละ .....</div>
                    </div>
                    <div class="row">
                        <div class="col-4 mms-txt-headdetail text-end">วิธีการรักษา :</div>
                        <ul class="col-8 mms-text-gray text-start">
                            <li class="pb-2">วันที่ 1 รักษาโดยการ....</li>
                            <li class="pb-2">วันที่ 2 รักษาโดยการ....</li>
                        </ul>
                    </div>
                </div>
            </Body>
        </Card>
    </div>
    <div class="container py-2">
        <Card Class="tablestyle" Bordered="false" Title=@("เบิกค่าบริการทางการแพทย์")>
            <Body>
                <div class="row">
                    <div class="col-sm-12 col-md-6 pLayers-2">
                        <div class="row align-items-center">
                            <div class="col-8 mms-txt-headdetail text-end">จำนวนเงินที่เบิกได้รวมทั้งหมด (ตามประกาศ)</div>
                            <div class="col-4 d-flex align-items-end">
                                <Input Placeholder="Basic usage" @bind-Value="@txtValue" Disabled />
                                <div class="col-6 mms-text-gray text-start ps-4 w-auto">บาท</div>
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-8 mms-txt-headdetail text-end">จำนวนเงินรวมทั้งหมด (ที่จ่ายจริง)</div>
                            <div class="col-4 d-flex align-items-end">
                                <Input Placeholder="Basic usage" @bind-Value="@txtValue" Disabled />
                                <div class="col-6 mms-text-gray text-start ps-4 w-auto">บาท</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 pLayers-2">
                        <div class="row align-items-center">
                            <div class="col-8 mms-txt-headdetail text-end">จำนวนเงินรวมทั้งหมด (ตามค่ารักษาจริง)</div>
                            <div class="col-4 d-flex align-items-end">
                                <Input Placeholder="Basic usage" @bind-Value="@txtValue" Disabled />
                                <div class="col-6 mms-text-gray text-start ps-4 w-auto">บาท</div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                @foreach (var item in Hday)
                {
                    <div class="p-1">
                        <div class="row">
                            <div class="col-sm-12 col-md-6 pb-2">
                                <div class="d-flex align-items-center">
                                    <div class="col-4 mms-txt-headdetail text-start pe-4 w-auto">วันที่ @item.day &nbsp; วันที่รักษา</div>
                                    <div class="col-6"><DatePicker TValue="DateTime?" Picker="@DatePickerType.Date" /></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <Collapse>
                        <Panel Class="tablestyle" Header=@("รายละเอียดการรักษา")>
                            <div class="mms-media-start">
                                <RadioGroup @bind-Value="item.value">
                                    <Radio RadioButton Value="@($"A{item.day}")"> ค่าห้อง - ค่าอาหาร / ค่าบริการทางการเเพทย์ </Radio>
                                    <Radio RadioButton Value="@($"B{item.day}")">ค่าอุปกรณ์</Radio>
                                    <Radio RadioButton Value="@($"C{item.day}")">ค่ารถ / ค่าเรือ</Radio>
                                    <Radio RadioButton Value="@($"D{item.day}")">ค่ารักษาอื่นๆ</Radio>
                                        </RadioGroup>
                                    </div>
                                    @if (item.value == $"A{item.day}")
                            {
                                <_72H_Tab1></_72H_Tab1>
                            }
                            else if (item.value == $"B{item.day}")
                            {
                                <_72H_Tab2></_72H_Tab2>
                            }
                            else if (item.value == $"C{item.day}")
                            {
                                <_72H_Tab3></_72H_Tab3>
                            }
                            else if (item.value == $"D{item.day}")
                            {
                                <_72H_Tab4></_72H_Tab4>
                            }
                        </Panel>
                    </Collapse>
                    <hr />
                }
            </Body>
        </Card>
    </div>
    <div class="container py-2">
        <Card Class="tablestyle" Bordered="false" Title=@("เอกสารเเนบ")>
            <Body>
                <div class="pLayers-2">
                    <div class="row align-items-center">
                        <div class="col-4 mms-txt-headdetail text-end">สำเนาเวชระเบียน / ใบรับรองเเพทย์ : </div>
                        <a class="col-8 text-start">เวชระเบียน.pdf</a>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-4 mms-txt-headdetail text-end">ใบสรุป/ใบแสดงรายการค่ารักษาพยาบาล :</div>
                        <a class="col-8 text-start">ใบเเสดงรายการค่ารักษาพยาบาล.pdf</a>
                    </div>
                </div>
            </Body>
        </Card>
    </div>
    <div class="container py-2">
        <Card Class="tablestyle" Bordered="false" Title=@("สถานะรายการ")>
            <Body>
                <div class="py-4 my-5">
                    <div class="container" align="center">
                        <div class="position-relative w-75">
                            <div class="progress" style="height: 6px;">
                                <div class="progress-bar w-50"></div>
                            </div>
                        </div>
                        <div class="container position-relative w-75">
                            <img class="step-img position-absolute top-0 start-0 translate-middle rounded-pill" src="helper_shared/FeesAdminImage/72H/Receiptstatus.png" />
                            <img class="step-img position-absolute top-0 start-50 translate-middle rounded-pill" src="helper_shared/FeesAdminImage/72H/ReceiptstatusStep2A.png" />
                            <img class="step-img position-absolute top-0 start-100 translate-middle rounded-pill" src="helper_shared/FeesAdminImage/72H/ReceiptstatusStep3.png" />
                        </div>
                        <div class="container position-relative w-75">
                            <div class="row">
                                <p class="step-tag active position-absolute top-0 start-0 translate-middle rounded-pill">สถานะรับเรื่อง</p>
                                <p class="step-tag noneactive position-absolute top-0 start-50 translate-middle rounded-pill">สถานะวินิจฉัย</p>
                                <p class="step-tag noneactive position-absolute top-0 start-100 translate-middle rounded-pill">สถานะการจ่าย</p>
                            </div>
                        </div>
                    </div>
                    <div class="row mms-txt-headdetail pt-5 mt-5">
                        <div class="col-md-12 col-lg-4 py-2 pLayers-2">
                            <div class="row"><div class="col-6 text-end">สถานะรับเรื่อง :</div><span class="mms-txt-default col-6 text-start">รับเรื่อง</span></div>
                            <div class="row"><div class="col-6 mms-text-gray text-end">ผู้รับเรื่อง  :</div><span class="mms-txt-default col-6 text-start">นางสาวเเพรว  ตาสวย</span></div>
                            <div class="row"><div class="col-6 mms-text-gray text-end">วันที่รับเรื่อง :</div><span class="mms-txt-default col-6 text-start">21  เมษายน  2566</span></div>
                        </div>
                        <div class="col-md-12 col-lg-4 py-2 pLayers-2">
                            <div class="row"><div class="col-6 text-end">สถานะวินิจฉัย :</div><span class="mms-txt-default col-6 text-start">อนุมัติ</span></div>
                            <div class="row"><div class="col-6 mms-text-gray text-end">ผู้อนุมัติ :</div><span class="mms-txt-default col-6 text-start">นางสาวเเพรว  ตาสวย</span></div>
                            <div class="row"><div class="col-6 mms-text-gray text-end">วันที่อนุมัต :</div><span class="mms-txt-default col-6 text-start">21  เมษายน  2566</span></div>
                        </div>
                        <div class="col-md-12 col-lg-4 py-2 pLayers-2">
                            <div class="row"><div class="col-6 text-end">สถานะการจ่าย :</div><span class="mms-txt-default col-6 text-start">-</span></div>
                            <div class="row"><div class="col-6 mms-text-gray text-end">วันที่จ่าย  :</div><span class="mms-txt-default col-6 text-start">-</span></div>
                            <div class="row"><div class="col-6 mms-text-gray text-end">เลขใบคำสั่งจ่าย  :</div><span class="mms-txt-default col-6 text-start">-</span></div>
                        </div>
                    </div>
                </div>
            </Body>
        </Card>
    </div>
    <div class="container pt-5">
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <div class="row align-items-center">
                    <div class="col-sm-12 col-md-6">
                        <div class="mms-txt-headdetail text-end">สถานพยาบาลเเจ้งอุทธรณ์</div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <Checkbox @bind-Checked="isChecked"></Checkbox><span class="ps-2">รอผลอุทธรณ์</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-5">
                <div class="row">
                    <div class="">
                        <div class="mms-txt-headdetail">หมายเหตุ</div>
                    </div>
                    <div class="">
                        <TextArea Rows="4" Class="text-area-Dash" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-sm-12 col-md-4">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="mms-txt-headdetail text-end">วินิจฉัย</div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <RadioGroup @bind-Value="@radioValue" Class="d-flex flex-column">
                            <Radio Value="@("A")">อนุมัติ</Radio>
                            <Radio Value="@("B")">ไม่อนุมัติ</Radio>
                        </RadioGroup>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-5">
                <div class="row">
                    <div class="">
                        <div class="mms-txt-headdetail">หมายเหตุ<span class="star-comment">*</span></div>
                    </div>
                    <div class="">
                        <TextArea Rows="4" Class="text-area-Dash" />
                    </div>
                </div>
            </div>
        </div>
        <div class="mms-media-end pt-5">
            <Button Type="@ButtonType.Dashed" Class="ant-btn-distable" OnClick="HandleCancel"><i class="fa-solid fa-circle-xmark"></i> &nbsp;ยกเลิก</Button>&nbsp;&nbsp;
            <Button Type="@ButtonType.Primary" @onclick="(() => ConfirmModal(true))"><i class="fa-solid fa-floppy-disk"></i> &nbsp; บันทึก</Button>
        </div>
    </div>
</Modal>
@using sso.mms.fees.admin.Shared._72Hours.DisapprovedDisbursements.Modals
<DD72H_Confirm _visible=@GetM_Confirm OnClose="@ConfirmModal" />
@code {

    bool GetM_Confirm { get; set; }
    public async void ConfirmModal(bool value)
    {
        GetM_Confirm = value;
    }

    bool loading = false;
    string title = "รายละเอียดรายการเบิก";
    string txtValue { get; set; }
    string radioValue = "A";
    bool isChecked = true;

    [Parameter]
    public bool _visible { get; set; }
    [Parameter]
    public EventCallback<bool> OnClose { get; set; }

    private void HandleCancel(MouseEventArgs e)
    {
        Console.WriteLine(e);
        OnClose.InvokeAsync(false);
    }
    private void HandleOk(MouseEventArgs e)
    {
        OnClose.InvokeAsync(false);
    }

    public class HelthDay
    {
        public string day { get; set; }
        public string value { get; set; }
    }
    List<HelthDay> Hday = new List<HelthDay>()
    {
        new HelthDay
        {
            day = "1",
            value = "radioValue1",
        },
         new HelthDay
        {
            day = "2",
            value = "radioValue2",
        }
    };
}
