<div class="site-layout-background" style="padding: 24px;">
    <div class="mms-nav-title">
        <div class="mms-text-title px-4 py-3">กรณีทันตกรรม  </div>
    </div>
    <div class="container py-4">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page">
                    <span class="breadcum-process py-2">รายการที่ส่งเบิก</span>
                </li>

            </ol>
        </nav>
        <hr style="width:100%" />

        <div style="padding-top:15px;">
        </div>
        <div class="mms-txt-headdetail">ช่วงเวลา</div>
        <div class="row">
            <div class="d-flex  mms-media-center">
                <div class="col-8">
                    <div class="row">
                        <div class="col-4 mms-media-center">
                            <DatePicker TValue="DateTime?" Picker="@DatePickerType.Date" Format="dd/MM/yyyy" Placeholder="Placeholder" />

                        </div>
                        <p class="mms-txt-headdetail mms-media-center col-1" style="width:60px; text-align:center;">ถึง : </p>
                        <div class="col-4 mms-media-center">

                            <DatePicker TValue="DateTime?" Picker="@DatePickerType.Date" Format="dd/MM/yyyy" Placeholder="Placeholder" />
                        </div>
                    </div>
                </div>
                <div class="col-4 ">
                    <Space Direction="@DirectionVHType.Vertical" Class="mms-btn-serch col-12">
                        <SpaceItem>
                            <Search Placeholder="เลขบัตรประชาชน / หมายเลข Passport" EnterButton="true" />
                        </SpaceItem>
                    </Space>
                </div>
            </div>
        </div>
        <hr />
        <Table DataSource="listOfData" TItem="ItemData" RowClassName="@(_=>"table-row-color-custom")" Bordered ScrollX="1000">
            <ChildContent Context="data">
                <Column TData="string" Title="ลำดับ" Width="10%" Align="ColumnAlign.Center">
                    @data.Id
                </Column>
                <Column TData="string" Title="เลขที่รับเเจ้ง" Width="15%" Align="ColumnAlign.Center">
                    @data.order
                </Column>
                <Column TData="string" Title="ชื่อ-นามสกุล" Width="20%" Align="ColumnAlign.Center">
                    @data.Name
                </Column>
                <Column TData="string" Title="เลขประจำตัวประชาชน /หมายเลข Passport" Width="20%" Align="ColumnAlign.Center">
                    @data.Iden
                </Column>
                <Column TData="string" Title="วันที่ส่งเบิก" Width="15%" Align="ColumnAlign.Center">
                    @data.Date
                </Column> 
                <Column TData="string" Title="จำนวนเงิน" Width="10%" Align="ColumnAlign.Center">
                    @data.price
                </Column>
                
                <Column TData="string" Title="สถานะ" Width="10%" Align="ColumnAlign.Center">
                    @if (@data.status == "แจ้งเเก้ไข")
                    {
                        <div style="color :red"> @data.status</div>
                    }
                    else
                    {
                        <div style="color :#F89523"> @data.status</div>
                    }
                </Column>
                <ActionColumn Title="" Width="10%" Align="ColumnAlign.Center">
                    <img class="mx-2" src="helper_shared/PortalAdminImage/eye.png" style="width:24px;height:24px;" @onclick=@(() => OpenModalView(true)) />
                    <img class="mx-2" src="helper_shared/FeesExtImage/editred.png" style="width:24px;height:24px;"  @onclick=@(() => OpenModalEdit(true))/>
                </ActionColumn>
            </ChildContent>
        </Table>


    </div>
</div>
@if (isloading == true)
{
    <style>
        body {
            overflow: hidden;
        }</style>

    <LoadingPage></LoadingPage>
}
<Modal_View _visible=@ModalView OnClose="@OpenModalView"></Modal_View>
<Modal_Edit _visible=@ModalEdit OnClose="@OpenModalEdit"></Modal_Edit>
<style>

    .modalStyle .ant-modal-header {
        background: #F56C6C !important;
    }
</style>
@using MatBlazor
@using System.ComponentModel.DataAnnotations;
@using System.Text.Json;
@using System.ComponentModel;
@using sso.mms.fees.ext.Shared.Dental.Remittance.Modals;
@inject NavigationManager Navigation
@inject ModalService _modalService
@code {
    string txtValue = "ssss";
    string title = "เเจ้งขอเเก้ไขข้อมูลขอใช้รถทันตกรรมผิด";
    string titleView = "รายละเอียดข้อมูล";
    bool ModalView = false;
    bool ModalEdit = false;
    bool isloading = false;
    
    
    List<ItemData> listOfData = new List<ItemData>();
    string Placeholder = "วว/ดด/ปปปป";
    RenderFragment okbutton =@<div style="color:#fff;">
        <Icon Type="save" Theme="outline" />
        บันทึก
    </div>;
    RenderFragment canclebutton =@<div>
        <Icon Type="close-circle" Theme="outline" />
        ยกเลิก
        </div>
    ;

    protected override async Task OnInitializedAsync()
    {
        isloading = true;
        listOfData = new List<ItemData>()
        {
        new ItemData() {
                Id = 1,
                order=  11123456,
                Name= "Mr. SEAPO  RORONA",
                Iden = "GMS006589",
                Date = "4 มี.ค. 2566",
                price = 900,
                status = "แจ้งเเก้ไข"
            },new ItemData() {
                Id = 1,
                order=  11123456,
                Name= "Mr. SEAPO  RORONA",
                Iden = "GMS006589",
                Date = "4 มี.ค. 2566",
                price = 900,
                status = "รอการจ่าย"
            },
        };
        isloading = false;
        StateHasChanged();
    }
    public class ItemData
    {
        public int Id { get; set; }
        public int order { get; set; }
        public string Name { get; set; }
        public string Iden { get; set; }
        public string Date { get; set; }
        public double price{ get; set; }
        public string status { get; set; }
    };
    public void OpenModalView(bool value)
    {
        ModalView = value;
    }
    public void OpenModalEdit(bool value)
    {
        ModalEdit = value;
    }
   

   

  
    
}

