@using sso.mms.fees.admin.Shared.OrganTransplantation.UnapprovalLists.Modals


<div class="site-layout-background" style="padding: 24px;">
    <div class="mms-nav-title">
        <div class="mms-text-title px-4 py-3">การปลูกถ่ายอวัยวะ / ประวัติรายการเบิกจ่ายที่ไม่อนุมัติ</div>
    </div>
    <div class="container py-4">

        <div class="row">
            <div class="col-md-12 col-lg-6 col-xl-6">
                <div class="mms-media-start">
                    <div class="mms-txt-headdetail col-4">งวดที่<span class="star-comment">*</span></div>
                    <div class="col-8">
                        <Input Placeholder="6603" @bind-Value="@txtValue" />
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="col-md-12 col-lg-3 float-end">
            <Space Direction="@DirectionVHType.Vertical" Class="mms-btn-serch w-100">
                <SpaceItem>
                    <Search Placeholder="เลขประจำตัวประชาชน" EnterButton="true" />
                </SpaceItem>
            </Space>
        </div>
        <Table DataSource="@childData" Bordered TreeChildren="item=>item.Children" DefaultExpandAllRows>
            <PropertyColumn Property="c=>c.Key" Title="ลำดับ" ColSpan=@GetColSpan(@context.TitleStatus,"name") Style="@ColColor(@context.TitleStatus,"name")"></PropertyColumn>
            <PropertyColumn Property="c=>c.IdCard" Title="เลขประจำตัวประชาชน" ColSpan=@GetColSpan(@context.TitleStatus) Style="@ColColor(@context.TitleStatus)"></PropertyColumn>
            <PropertyColumn Property="c=>c.Name" Title="ชื่อ-นามสกุล" ColSpan=@GetColSpan(@context.TitleStatus) Style="@ColColor(@context.TitleStatus)"></PropertyColumn>
            <PropertyColumn Property="c=>c.DateOfSurgery" Title="วันที่ผ่าตัด" ColSpan=@GetColSpan(@context.TitleStatus) Style="@ColColor(@context.TitleStatus)"></PropertyColumn>
            <PropertyColumn Property="c=>c.IDDonor" Title="ID Donor" ColSpan=@GetColSpan(@context.TitleStatus) Style="@ColColor(@context.TitleStatus)"></PropertyColumn>
            <PropertyColumn Property="c=>c.ServiceTypeName" Title="ประเภทบริการ" ColSpan=@GetColSpan(@context.TitleStatus) Style="@ColColor(@context.TitleStatus)"></PropertyColumn>
            <PropertyColumn Property="c=>c.TreatmentCosts" Title="จำนวนเงินค่ารักษา" ColSpan=@GetColSpan(@context.TitleStatus) Style="@ColColor(@context.TitleStatus)"></PropertyColumn>
            <PropertyColumn Property="c=>c.AmountMonneyPaid" Title="จำนวนเงินที่จ่าย" ColSpan=@GetColSpan(@context.TitleStatus) Style="@ColColor(@context.TitleStatus)"></PropertyColumn>
            <PropertyColumn Property="c=>c.Status" Title="สถานะ" ColSpan=@GetColSpan(@context.TitleStatus) Style="@ColColor(@context.TitleStatus)"></PropertyColumn>
            <PropertyColumn Title="" Property="c=>c!.NoContent" Width="150px" ColSpan=@GetColSpan(@context.TitleStatus) Style="@ColColor(@context.TitleStatus)">
                <img class="mx-2" src="helper_shared/PortalAdminImage/eye.png" style="width:24px;height:24px;" @onclick="@(()=> OpenDetail(true))" />
                <img class="mx-2" src="helper_shared/FeesAdminImage/OrganTransplantation/Danger.svg" style="width:24px;height:24px;" @onclick="@(() => OpenAlert(true))" />
                <img class="mx-2" src="helper_shared/FeesAdminImage/OrganTransplantation/Edit.svg" style="width:24px;height:24px;" @onclick="@(() => OpenEdit(true))" />
            </PropertyColumn>
        </Table>
    </div>
</div>

<UnapprovalListDetail _visible="openDetail" OnClose="@OpenDetail" />

<UnapprovalListAlert _visible="openAlert" OnClose="@OpenAlert" />

<UnapprovalListEdit _visible="openEdit" OnClose="@OpenEdit" />

@code {

    [Parameter]
    public EventCallback<int> IndexPage { get; set; }

    public bool openDetail { get; set; }

    public bool openAlert { get; set; }

    public bool openEdit { get; set; }

    private int Table;

    string txtValue { get; set; }

    public async Task OpenDetail(bool value)
    {
        openDetail = value;
    }

    public async Task OpenAlert(bool value)
    {
        openAlert = value;
    }

    public async Task OpenEdit(bool value)
    {
        openEdit = value;
    }


    public async Task goEdit(int item)
    {
        await IndexPage.InvokeAsync(item);
    }

    List<Data> childData = new List<Data>()
    {
          new Data
          {
               Key = "โรงพยาบาลลานนา 1",
               TitleStatus = true,
               Children = new List<Data>()
               {
                    new Data
                   {
                       Key = "1",
                       IdCard = "123456789XXXX",
                       Name = "นายจรัญ  ปัญสุข",
                       DateOfSurgery = "13 เม.ย. 66",
                       IDDonor = "12345678",
                       ServiceTypeName = "กระจกตา",
                       TreatmentCosts = "40,000",
                       AmountMonneyPaid = "40,000",
                       Status = "อนุมัติ",
                       NoContent=""

                   },
                    new Data
                   {
                       Key = "2",
                       IdCard = "123456789XXXX",
                       Name = "นางสมพร  จอมจิตร",
                       DateOfSurgery = "13 เม.ย. 66",
                       IDDonor = "12345678",
                       ServiceTypeName = "เซลล์ต้นกำเนิดเม็ดโลหิต",
                       TreatmentCosts = "1,000,000",
                       AmountMonneyPaid = "750,000",
                       Status = "อนุมัติ",
                       NoContent=""

                   },
                    new Data
                   {
                       Key = "3",
                       IdCard = "123456789XXXX",
                       Name = "นายเดช  เจนสุข",
                       DateOfSurgery = "13 เม.ย. 66",
                       IDDonor = "12345678",
                       ServiceTypeName = "อื่นๆ",
                       TreatmentCosts = "",
                       AmountMonneyPaid = "",
                       Status = "อนุมัติ",
                       NoContent=""

                   }
               }
          }
    };

    public class Data
    {

        public string Key { get; set; }

        public bool TitleStatus { get; set; }

        public string IdCard { get; set; }

        public string Name { get; set; }

        public string DateOfSurgery { get; set; }

        public string IDDonor { get; set; }

        public string ServiceTypeName { get; set; }

        public string TreatmentCosts { get; set; }

        public string AmountMonneyPaid { get; set; }

        public string Status { get; set; }
        public string NoContent { get; set; }
        public List<Data> Children { get; set; }
    }


    private int GetColSpan(bool TitleStatus, string columnTitle = "")
    {
        if (TitleStatus == true)
            if (columnTitle == "name")
                return 10;
            else
                return 0;
        else
            return 1;
    }

    private string ColColor(bool TitleStatus, string columnTitle = "")
    {
        if (TitleStatus == true)
        {
            if (columnTitle == "name")
            {
                return "background-color:#D8D6D6;";
            }
            else
            {
                return "";
            }
        }
        else if (TitleStatus == true)
        {
            if (columnTitle == "name")
            {
                return "background-color: #D8D6D6;";
            }
            else
            {
                return "";
            }
        }
        else
        {

            return "";
        }
    }

}
