<div class="site-layout-background" style="padding: 24px;">
    <div class="mms-nav-title">
        <div class="mms-text-title px-4 py-3">สมุดพกสุขภาพของผู้ประกันตน</div>
    </div>
    <div class="container py-4">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page">
                    <span class="breadcum-process py-2">รายงาน / รายงานประวัติการต้นหาข้อมูลผู้ประกันตนของเจ้าหน้าที่</span>
                </li>
            </ol>
        </nav>
        <hr style="width:100%" />

        <div class="mms-txt-headdetail">ช่วงเวลา</div>
        <div class="row">
            <div class="d-flex  mms-media-center">
                <div class="col-8">
                    <div class="row">
                        <div class="col-4 mms-media-center">
                            <DatePicker TValue="DateTime?" Picker="@DatePickerType.Date" Format="dd/MM/yyyy" Placeholder="Placeholder" />

                        </div>
                        <div class="mms-txt-headdetail d-flex justify-content-center align-items-center col-1" style="width:60px; ">ถึง : </div>
                        <div class="col-4 mms-media-center">

                            <DatePicker TValue="DateTime?" Picker="@DatePickerType.Date" Format="dd/MM/yyyy" Placeholder=" Placeholder" />
                        </div>
                    </div>
                </div>
                <div class="col-4 ">
                    <Space Direction="@DirectionVHType.Vertical" Class="mms-btn-serch  col-12">
                        <SpaceItem>
                            <Search Placeholder="ชื่อเจ้าหน้าที่ประกันสังคม" EnterButton="true" />
                        </SpaceItem>
                    </Space>
                </div>
            </div>
        </div>
        <br />
        <Table DataSource="@listOfDataDescending" TItem="ItemData" RowClassName="@(_=>"editable-row")" @bind-PageSize="pageSize" Bordered ScrollX="1000">
             <ChildContent Context="data">
                 <Column TData="string" Width="10%" Title="ลำดับ" Style="text-align:center;">
                     @String.Format("{0:d}", listOfDataDescending.IndexOf(data) + 1)
                 </Column>
                 <Column TData="string" Title="ชื่อเจ้าหน้าที่" Style="text-align:center;">
                     @data.name
                 </Column>
                 <Column TData="string" Title="รายชื่อผู้ประกันตนที่ค้นหา" Style="text-align:center;">
                     @data.name
                 </Column>
                 <Column TData="string" Title="วันเวลาที่สืบค้น" Style="text-align:center;">
                     @data.StartDate
                 </Column>
            </ChildContent>

            <PaginationTemplate>
                <Pagination Class="pt-2"
                            Total="context.Total"
                            PageSize="context.PageSize"
                            Current="context.PageIndex"
                                        ShowSizeChanger
                             OnChange="context.HandlePageChange" />
             </PaginationTemplate>
         </Table>
     </div>
 </div>

 @code {
    [Parameter]
    public EventCallback<int> IndexPage { get; set; }
    string Placeholder = "วว/ดด/ปปปป";

    private int Table;

    public void Addtable()
    {
        Table = 1;
    }

    string? txtValue { get; set; }

    public async Task goEdit(int item)
    {
        await IndexPage.InvokeAsync(item);
    }

    public class ItemData
    {
        public int Id { get; set; }
        public DateTime StartDate { get; set; }
        public int year { get; set; }
        public string? name { get; set; }


    };
    List<ItemData> listOfData = new List<ItemData>();
    List<ItemData> listOfDataDescending = new List<ItemData>();

    private int total => listOfData.Count();
    private int pageSize = 5;

    protected override void OnInitialized()
    {
        listOfData = Enumerable.Range(0, 7).Select(i => new ItemData
            {
                Id = i,
                StartDate = DateTime.Now,
                year = 2560 + i,
                name = "สังคม ใจซื้อ"
            }).ToList();
        listOfDataDescending = listOfData.OrderByDescending(o => o.year).ToList();
    }
}
