@inject NavigationManager NavigationManager
<style>
    .xmark .anticon > .anticon {
        line-height: 0;
        vertical-align: 0;
        color: #ffffff !important;
    }

    .ant-form-item-control-input {
        position: relative;
        display: flex;
        align-items: center;
        min-height: 32px;
        padding-left: 2rem;
    }
</style>
@{
    RenderFragment footer = @<Template>
    </Template>;
}

<Modal Title="แสดงข้อมูลรายการค่าบำรุงรักษาอวัยวะ"
       Visible="@_visible"
       OnCancel="@HandleCancel"
       WrapClassName="xmark"
       Footer="@footer"
       Width="1300">
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="row">
                <div class="col-sm-5 mms-txt-headdetail site-end-colum pLayers-3"><div>หน่วยงาน :</div></div>
                <div class="col-sm-7 mms-txt-default pLayers-3"><div>ศูนย์รับบริจากอวัยวะสภากาชาดไทย</div></div>
            </div>
            <div class="row">
                <div class="col-sm-5 mms-txt-headdetail site-end-colum pLayers-3"><div>เลขประจำตัวประชาชน์ :</div></div>
                <div class="col-sm-7 mms-txt-default pLayers-3"><div>1234587957xxx</div></div>
            </div>
            <div class="row">
                <div class="col-sm-5 mms-txt-headdetail site-end-colum pLayers-3"><div>ชื่อ-นามสกุล :</div></div>
                <div class="col-sm-7 mms-txt-default pLayers-3"><div>นางสุจินดา  ญาดา</div></div>
            </div>
            <div class="row">
                <div class="col-sm-5 mms-txt-headdetail site-end-colum pLayers-3"><div>ประเภทบริการ :</div></div>
                <div class="col-sm-7 mms-txt-default pLayers-3"><div>OTP04  ตับ</div></div>
            </div>
            <div class="row">
                <div class="col-sm-5 mms-txt-headdetail site-end-colum pLayers-3"><div>รหัส claim :</div></div>
                <div class="col-sm-7 mms-txt-default pLayers-3"><div>041200 ค่าเตรียมและผ่าตัดผู้บริจาคที่สมองตาย (ตับ)</div></div>
            </div>
            <div class="row">
                <div class="col-sm-5 mms-txt-headdetail site-end-colum pLayers-3"><div>แนบไฟล์ใบขอรับค่าบริการ :</div></div>
                <div class="col-sm-7 mms-txt-default pLayers-3"><div><a style="color: #1890ff;text-decoration: underline;">ใบขอรับค่าบริการ.pdf</a></div></div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="row">
                <div class="col-sm-5 mms-txt-headdetail site-end-colum pLayers-3"><div>คำวินิจฉัย :</div></div>
                <div class="col-sm-7 mms-txt-default pLayers-3"><div style="color:red;">ไม่อนุมัติ</div></div>
            </div>
            <div class="row">
                <div class="col-sm-5 mms-txt-headdetail site-end-colum pLayers-3"><div>สถานพยาบาลอนุมัติสิทธิ์ :</div></div>
                <div class="col-sm-7 mms-txt-default pLayers-3"><div>โรงพยาบาลลานนา1</div></div>
            </div>
            <div class="row">
                <div class="col-sm-5 mms-txt-headdetail site-end-colum pLayers-3"><div>วันที่ผ่าตัด :</div></div>
                <div class="col-sm-7 mms-txt-default pLayers-3"><div>29 มี.ค. 2566</div></div>
            </div>
            <div class="row">
                <div class="col-sm-5 mms-txt-headdetail site-end-colum pLayers-3"><div>ID Donor :</div></div>
                <div class="col-sm-7 mms-txt-default pLayers-3"><div>12345678</div></div>
            </div>
            <div class="row">
                <div class="col-sm-5 mms-txt-headdetail site-end-colum pLayers-3"><div>จำนวนเงิน :</div></div>
                <div class="col-sm-7 mms-txt-default pLayers-3 d-flex"><div>40,000.00<div class="mms-txt-headdetail ps-2">บาท</div></div></div>
            </div>
            <div class="row">
                <div class="col-sm-5 mms-txt-headdetail site-end-colum pLayers-3"><div>แนบไฟล์หนังสืออนุมัติสิทธิ์ :</div></div>
                <div class="col-sm-7 mms-txt-default pLayers-3"><div><a style="color: #1890ff;text-decoration: underline;">หนังสืออนุมัติสิทธิ์.pdf</a></div></div>
            </div>
        </div>
    </div>
    <hr />
    <div class="row p-4">
        <div class="col-sm-12 col-md-4">
            <label class="mms-txt-headdetail">วินิจฉัยใหม่ <span class="star-comment">*</span></label>
            <RadioGroup @bind-Value="@diagnosis">
                <Radio Value="1">อนุมัติ</Radio>
                <Radio Value="2">ไม่อนุมัติ</Radio>
            </RadioGroup>
        </div>
        <div class="col-sm-12 col-md-8 d-flex">
            <label class="mms-txt-headdetail">หมายเหตุ <span class="star-comment">*</span></label>
            <TextArea Rows="4" />
        </div>
    </div>
    <div class="mms-media-end">
        <Button Class="ant-btn-distable" @onclick="@HandleCancel"><i class="fa-solid fa-circle-xmark"></i>&nbsp; ยกเลิก</Button>&nbsp;
        <Button Type="@ButtonType.Primary"><i class="fa-solid fa-floppy-disk"></i> &nbsp; บันทึก</Button>
    </div>
</Modal>

@code {
    [Parameter]
    public EventCallback<int> IndexPage { get; set; }

    [Parameter]
    public bool _visible { get; set; }

    [Parameter]
    public EventCallback<bool> OnClose { get; set; }

    string txtValue { get; set; }

    /* modal */
    bool _loading = false;

    private void ShowModal()
    {
        _visible = true;
    }

    private void HandleOk(MouseEventArgs e)
    {
        _loading = false;
        OnClose.InvokeAsync(false);
    }

    private void HandleCancel(MouseEventArgs e)
    {
        _loading = false;
        OnClose.InvokeAsync(false);
    }
    /*-- chack diagnosis --*/
    int diagnosis = 1;
}
