@page "/mamainpage"
@using sso.mms.helper.Components.Footer
@using sso.mms.helper.Utility
@using sso.mms.portal.admin.Pages.Navbar
@inject NavigationManager Navigation
@using sso.mms.portal.admin.Pages.ManageAccess

<style>
        :root {
        --mdc-theme-primary: #334396;
    }

    .form-control, .form-select {
        display: block;
        width: 100%;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: var(--bs-body-color);
        background-color: var(--bs-body-bg);
        background-clip: padding-box;
        border: var(--bs-border-width) solid #9e9e9e;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: var(--bs-border-radius-sm);
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        height: 3rem;
    }

    @@media only screen and (min-width: 1000px) {
        .pm-xl {
            position: fixed;
            width: 100%;
            z-index: 1000;
        }
    }

    @@media only screen and (max-width: 1000px) {
        .position-class {
            position: relative
        }
    }

    @@media (min-width: 576px) {
        .modal-dialog {
            max-width: 800px;
            margin: 1.75rem auto;
        }
    }
    .bg-shardow{
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
    .mdc-table th {
        font-size: 1.143rem;
        color: #334396;
        border: 2px solid rgb(255 255 255);
        padding: 12px 12px 12px 24px;
        background: #FFCC41;
        font-family: 'Noto Sans Thai';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 27px;
        letter-spacing: 0.2px;
        color: #334396;
    }

    .mdc-table, .mdc-table--striped {
        width: 100%;
        max-width: 100%;
        background-color: transparent;
        border-collapse: collapse;
        border-spacing: 0;
        display: inline-block;
        overflow-x: auto;
        margin: 8px 0 32px;
        border: 0px solid rgba(0,0,0,.1);
        font-family: 'Noto Sans Thai';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        align-items: center;
        color: #1A141F;
        border-radius: 10px;
    }

        .mdc-table td {
            border: 2px solid white;
            padding: 12px 12px 12px 24px;
        }

        .mdc-table--striped tr:nth-of-type(odd) {
            background: #EAE8EC;
        }

    .mdc-select__dropdown-icon {
        margin-left: 1px;
        margin-right: 1px;
        display: inline-flex;
        position: relative;
        align-self: center;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        pointer-events: none;
    }

    .mdc-select .mdc-select__anchor {
        height: 56px;
        display: flex;
        align-content: center;
        align-items: center;
    }

    .mat-paginator .mat-paginator-container .mat-paginator-page-size {
        display: flex;
        margin-right: 8px;
        align-items: center
    }

    .mat-paginator .mat-paginator-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 56px;
        padding: 0 8px;
        flex-wrap: wrap-reverse;
    }

    .mdc-paginator-container {
        display: flex;
        justify-content: space-between;
        min-height: 56px;
        padding: 0 8px;
        flex-wrap: wrap-reverse;
        width: 100%;
        align-items: center;
    }

    .mdc-select:not(.mdc-select--disabled) .mdc-select__anchor {
        background-color: #ffffff;
        width: 80px;
        height: 30px;
        border-radius: 10px;
        border: 0px solid #D4D2D5;
    }

    .mdc-paginator-page-size {
        line-height: 0px;
    }

    .container-mr {
        padding-left: 10%;
        padding-right: 10%;
    }

    @@media only screen and (max-width: 500px) {
        .container-mr {
            padding-left: 2%;
            padding-right: 2%;
        }
    }

    .bg-list-style {
        background: white;
        border-radius: 10px;
    }
</style>


         <NavbarLoginAdmin ShortToken=@shortToken PageCode="@pageCode"></NavbarLoginAdmin>

<MediaStyle></MediaStyle>
<br />
<div class="container-mr mt-4">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3 bg-list-style bg-shardow">
            <div>
                <ListMenu Clickmenu=@clickmenu></ListMenu>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-9 col-xl-9">
            @if (Id == 1)
            {
                @if (check == 1)
                {
                    <ManageMentMenuEdit Callback=@callback AppCode=@code1 AppId=@AppId></ManageMentMenuEdit>
                }
                else
                {
                    <ManageMentMenu Callback="@((args)=>OncallManage(args.Item1, args.Item2, args.Item3))"></ManageMentMenu>
                }
            }
            else if (Id == 2) //สถานพยาบาล//
            {
                @if (check == 1)
                {
                    <ManageRoleAdd Callback=@callback MRole="HOS" MId="roleid"></ManageRoleAdd>
                }
                else
                {
                    <ManageRoles Callback="@((args)=>Editrole(args.Item1, args.Item2))" MRole="HOS"></ManageRoles>
                }
            }
            else if (Id == 3) //เจ้าหน้าที่ สปส//
            {
                @if (check == 1)
                {
                    <ManageRoleAdd Callback=@callback MRole="SSO" MId="roleid"></ManageRoleAdd>
                }
                else
                {
                    <ManageRoles Callback="@((args)=>Editrole(args.Item1, args.Item2))" MRole="SSO"></ManageRoles>
                }
            }
            else if (Id == 4) //Audit//
            {
                @if (check == 1)
                {
                    <ManageRoleAdd Callback=@callback MRole="AUDIT" MId="roleid"></ManageRoleAdd>
                }
                else
                {
                    <ManageRoles Callback="@((args)=>Editrole(args.Item1, args.Item2))" MRole="AUDIT"></ManageRoles>
                }
            }
            else if (Id == 5)
            {
                <ManageRights Callback=@callback MRole="hospital"></ManageRights>
            }
            else if (Id == 6)
            {
                <ManageRights Callback=@callback MRole="sso"></ManageRights>
            }
            else if (Id == 7)
            {
                <ManageRights Callback=@callback MRole="audit"></ManageRights>
            }
            else if (Id == 8)
            {
                <ManageSetting Callback=@callback></ManageSetting>
            }
            else
            {
                <CardPage></CardPage>
            }


        </div>
    </div>
</div>


<div class="p-4"></div>

<div class="mt-4">
    <Footer></Footer>
</div>
@code {
    public int check;
    public int Id = 1;
    public string code1;
    public int AppId;
    public int roleid = 0;


    [Parameter]
    [SupplyParameterFromQuery(Name = "token")]
    public string? shortToken { get; set; } = "";

    [Parameter]
    public string pageCode { get; set; } = "DSP1001";

    public void callback(int checkd)
    {
        this.check = checkd;
    }
    public void OncallManage(int checkd, string code, int id)
    {
        this.check = checkd;
        this.code1 = code;
        this.AppId = id;

    }

    public void Editrole(int checkd, int id)
    {
        this.check = checkd;
        this.roleid = id;

    }
    public void clickmenu(int id)
    {
        this.Id = id;
        this.check = 0;
        if (this.Id == 1)
        {
            this.pageCode = "DSP1001";
            if (this.check == 1)
            {
                this.pageCode = "DSP1002";
            }
        }
        else
        {
            this.pageCode = "รอเลขหน้าจาก SA ครับ";
        }
        StateHasChanged();
    }

}
