@page "/marightadddata"
@using AntDesign
<style>
        :root {
        --mdc-theme-primary: #334396;
    }

    .form-control, .form-select {
        display: block;
        width: 100%;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: var(--bs-body-color);
        background-color: var(--bs-body-bg);
        background-clip: padding-box;
        border: var(--bs-border-width) solid #9e9e9e;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: var(--bs-border-radius-sm);
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        height: 3rem;
    }

    @@media only screen and (min-width: 1000px) {
        .pm-xl {
            position: fixed;
            width: 100%;
            z-index: 1000;
        }
    }

    @@media only screen and (max-width: 1000px) {
        .position-class {
            position: relative
        }
    }

    @@media (min-width: 576px) {
        .modal-dialog {
            max-width: 800px;
            margin: 1.75rem auto;
        }
    }

    .mdc-table th {
        font-size: 1.143rem;
        color: #334396;
        border: 2px solid rgb(255 255 255);
        padding: 12px 12px 12px 24px;
        background: #FFCC41;
        font-family: 'Noto Sans Thai';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 27px;
        letter-spacing: 0.2px;
        color: #334396;
    }

    .mdc-table, .mdc-table--striped {
        width: 100%;
        max-width: 100%;
        background-color: transparent;
        border-collapse: collapse;
        border-spacing: 0;
        display: inline-block;
        overflow-x: auto;
        margin: 8px 0 32px;
        border: 0px solid rgba(0,0,0,.1);
        font-family: 'Noto Sans Thai';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        align-items: center;
        color: #1A141F;
        border-radius: 10px;
    }

        .mdc-table td {
            border: 2px solid white;
            padding: 12px 12px 12px 24px;
        }

    tr.mdc-table-footer-row, tr.mdc-table-row {
        height: 48px;
        background: #a8a2ad17;
    }

    .mdc-table--striped tr:nth-of-type(odd) {
        background: #00000012;
    }

    .mdc-select__dropdown-icon {
        margin-left: 1px;
        margin-right: 1px;
        display: inline-flex;
        position: relative;
        align-self: center;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        pointer-events: none;
    }

    .mdc-select .mdc-select__anchor {
        height: 56px;
        display: flex;
        align-content: center;
        align-items: center;
    }

    .mat-paginator .mat-paginator-container .mat-paginator-page-size {
        display: flex;
        margin-right: 8px;
        align-items: center
    }

    .mat-paginator .mat-paginator-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 56px;
        padding: 0 8px;
        flex-wrap: wrap-reverse;
    }

    .mdc-paginator-container {
        display: flex;
        justify-content: space-between;
        min-height: 56px;
        padding: 0 8px;
        flex-wrap: wrap-reverse;
        width: 100%;
        align-items: center;
    }

    .mdc-select:not(.mdc-select--disabled) .mdc-select__anchor {
        background-color: #ffffff;
        width: 80px;
        height: 30px;
        border-radius: 10px;
        border: 0px solid #D4D2D5;
    }

    .mdc-paginator-page-size {
        line-height: 0px;
        display: flex;
        align-items: center;
    }

    .mat-elevation-z5 {
        box-shadow: 0px 3px 0px -1px rgb(0 0 0 / 0%), 0px 5px 0px 0px rgb(0 0 0 / 0%), 0px 1px 0px 0px rgb(0 0 0 / 0%);
    }
</style>

<div class="container">
    <div class="MA-headder">
        <div class="MA-title p-3">
            จัดการบทบาท
        </div>
    </div>
    <div class="MA-body">
        <div class="container">
            <div class="py-4">
                <div class="row d-flex justify-content-between align-content-center">
                    <div class="w-100">
                        <label class="form-label">ชื่อบทบาท<p style="color:#FF0000">*</p></label>
                        <input type="text" id="firstName" class="form-control form-control-lg" />
                    </div>
                    <div class="row radio-class mt-2">
                        <div class="col-1 w-25 d-flex align-items-center"><div class="form-label">สถานะการใช้งาน<p style="color:#FF0000">*</p></div></div>
                        <div class="col-3 d-flex align-items-center">
                            <div class="form-check w-50 check-d-flex">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                <label class="form-check-label radio-txt pt-1" for="flexRadioDefault1">
                                    &nbsp; ใช่
                                </label>
                            </div>
                            <div class="form-check w-50 check-d-flex">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                                <label class="form-check-label radio-txt pt-1" for="flexRadioDefault2">
                                    &nbsp; ไม่ใช่
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="w-100">
                        <label class="form-label">จัดการบทบาท<p style="color:#FF0000">*</p></label>
                        <select class="form-select form-control-lg" aria-label="Default select example">
                            <option selected></option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </div>
            </div>


            <MatTable ShowPaging="false" 
                Items="@menulist" 
                LoadInitialData="true" 
                Striped="true" 
                RequestApiOnlyOnce="true" 
                AllowSelection="true"
                PageSize="@pageSize"
                CurrentPage="@currentPage"
                RowClass="tester"
                      DebounceMilliseconds="150" class="mat-elevation-z5">
                <MatTableHeader>
                    <th class="text-center" style="border-radius:10px 0 0 0;width:150px;"></th>
                    <th class="text-center" style="width:800px">ชื่อบทบาท</th>
                    <th class="text-center" style="width:150px;">ดู</th>
                    <th class="text-center" style="width:150px;">สร้าง</th>
                    <th class="text-center" style="width:150px;">แก้ไข</th>
                    <th class="text-center" style="width:150px;border-radius:0 10px 0 0 ;">ลบ</th>

                </MatTableHeader>
                <MatTableRow>
                    <td style="max-width:100px">@String.Format("{0:d}", @context.Id)</td>
                    <td style="width:800px">@context.Name</td>
                    <td class="text-center" style="width:150px">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    </td>
                    <td class="text-center" style="width:150px">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                    </td>
                    <td class="text-center" style="width:150px">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                    </td>
                    <td class="text-center" style="width:150px">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option4">
                    </td>

                </MatTableRow>
            </MatTable>

            <AntDesign.Pagination ShowSizeChanger
                                   OnShowSizeChange="@OnShowSizeChange"
                                   OnChange="@OnPage"
                                   DefaultCurrent="3"
                                   PageSize=@pageSize
                                   Total="@menulist.Count()" />
            <div class="d-flex justify-content-end align-content-center pt-4 pb-4">
                <button class="btn btn-primary btn-save" @onclick="()=>goMsubdetail(0)">
                    <div class="txt-btn-save">
                        <i class="fa-regular fa-floppy-disk"></i>&nbsp; บันทึก
                    </div>
                </button>
            </div>
        </div>
    </div>
</div>


@code {
    [Parameter]
    [SupplyParameterFromQuery(Name = "token")]
    public string? shortToken { get; set; } = "";

    [Parameter]
    public EventCallback<int> Callback { get; set; }

    int pageSize = 5;
    public int currentPage = 1;

    void OnPage(PaginationEventArgs e)
    {

        Console.WriteLine(e);
        pageSize = e.PageSize;
        currentPage = e.Page;
    }


    private void OnShowSizeChange(PaginationEventArgs args)
    {
        var (current, pageSize) = args;
        Console.WriteLine($"{current}, {pageSize}");
    }

    public class Models
    {
        public int Id { get; set; }
        public string Name { get; set; }
        public string url { get; set; }
        public int status { get; set; }
    }

    List<Models> menulist = new List<Models>()
    {
        new Models() {
                Id = 1,
                Name = "การจัดการสิทธิ์การเข้าถึง",
                url = "sso.mms.go.th",
                status  = 1
            },
             new Models() {
                Id = 2,
                Name = "การตั้การจัดการข้อมูลสถานพยาบาล",
                url = "sso.mms.go.th",
                status  = 1
            },
             new Models() {
                Id = 3,
                Name = "การจัดการข้อมูลสถานพยาบาล",
                url = "sso.mms.go.th",
                status  = 2
            },
             new Models() {
                Id = 4,
                Name = "ค่าบริการทางการแพทย์",
                url = "sso.mms.go.th",
                status  = 1
            },
    };

    public async void goMsubdetail(int id)
    {
        await this.Callback.InvokeAsync(id);
    }
}
