@using AntDesign;
@using sso.mms.fees.ext.Data;
@using sso.mms.fees.ext.ViewModels.SlideBarLayout;
@using sso.mms.helper.Configs;

@inject MenuListService MenuListService

<style>
    .menu-listDetail {
        background: #ffffff !important;
    }
</style>


<Layout>
    <Sider Breakpoint="@BreakpointType.Xl"
           CollapsedWidth="0"
           Width="300" @bind-Collapsed=@collapsed
           Style="z-index:999"
           Collapsible>

        <Menu Class="media-menu text-menu" Style="position: fixed;left: 10;"
              Theme="MenuTheme.Light"
              DefaultSelectedKeys=@(new[]{"1"})
              Mode="MenuMode.Inline"
              InlineCollapsed=collapsed>

            @foreach (var (menuItem, index) in MenuList.MenuItems!.Select((item, index) => (item, index)))
            {
                @if (MenuList.MenuItems![index]! != null)
                {
                    var key = index + 1;
                    @if (menuItem.SubMenus != null)
                    {
                        RenderFragment sub1Title =
                        @<span>
                            <i class="@menuItem.Icon" style="font-size:20px;margin-right:5px;"></i>
                            <span style="color: #334396; font-size: 16px">@menuItem.Title</span>
                        </span>
                        ;
                        <SubMenu Key="@key.ToString()" TitleTemplate=@sub1Title>
                            @foreach (var submenu in menuItem.SubMenus)
                            {
                                @* <MenuItem Key="@String.Format("sub{0:d}",  menuItem.SubMenus.IndexOf(submenu) + 1)" RouterLink="@($"/fees-ext{submenu.Link}?token={ShortToken}")">
                                    <span>@submenu.Title</span>
                                </MenuItem> *@

                                if (ConfigureCore.ConfigENV == "Development")
                                {
                                    <MenuItem Key="@String.Format("sub{0:d}",  menuItem.SubMenus.IndexOf(submenu) + 1)" RouterLink="@($"{submenu.Link}?token={ShortToken}")">
                                        <span>@submenu.Title</span>
                                    </MenuItem>
                                    
                                }
                                else
                                {
                                    <MenuItem Key="@String.Format("sub{0:d}",  menuItem.SubMenus.IndexOf(submenu) + 1)" RouterLink="@($"/fees-ext{submenu.Link}?token={ShortToken}")">
                                        <span>@submenu.Title</span>
                                    </MenuItem>
                                }

                            }
                        </SubMenu>
                    }
                    else
                    {
                        if (ConfigureCore.ConfigENV == "Development")
                        {
                        <MenuItem Key="@key.ToString()" RouterLink="@($"{MenuList.MenuItems[index].Link}?token={ShortToken}")">
                            <i class="@MenuList.MenuItems[index].Icon" style="font-size:20px;margin-right:5px;"></i>
                            <span>@MenuList.MenuItems[index].Title</span>
                            </MenuItem>
                        }
                        else
                        {
                            <MenuItem Key="@key.ToString()" RouterLink="@($"/fees-ext{MenuList.MenuItems[index].Link}?token={ShortToken}")">
                                <i class="@MenuList.MenuItems[index].Icon" style="font-size:20px;margin-right:5px;"></i>
                                <span>@MenuList.MenuItems[index].Title</span>
                            </MenuItem>
                        }
                        @* @if (menuItem.listmenu != null)
                        {
                            @foreach (var listmenu in menuItem.listmenu)
                            {
                                <MenuItem Class="menu-listDetail" Key="@String.Format("sub{0:d}",  menuItem.listmenu.IndexOf(listmenu) + 1)" RouterLink="@($"{listmenu.Link}?token={ShortToken}")">
                                    <div style="padding-left:40px;"> 
                                        <i class="@listmenu.Icon" style="font-size:12px;margin-right:5px;"></i>
                                        <span>@listmenu.Title</span>
                                    </div>
                                </MenuItem>
                            }
                        }*@
                    }
                }
            }
        </Menu>
    </Sider>

    <Layout Class="site-layout">
        <Content Style="margin:0 16px;">
            @ChildContent
        </Content>
    </Layout>
</Layout>


@code {

    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public string ShortToken { get; set; }
    [Parameter] public string Page { get; set; }

    public MenuList MenuList { get; set; }

    bool collapsed;

    protected override void OnInitialized()
    {
        MenuList = MenuListService.GetMenuLists(Page);
    }


}
