
<Modal Title="@("รายการเบิกที่ไม่ผ่านการประมวลผล")"
       Visible="@_visible"
       OnOk="@HandleOk"
       OnCancel="@HandleCancel"
       Footer="@footer"
       Width="1000">

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="row">
                    เลขประจำตัวประชาชน : 1234567890xxx
                </div>
                <div class="row">
                    ชื่อ-นามสกุล : นายดวงดี  วิชัยวงศ์
                </div>
                <div class="row">
                    วันเกิด : 12  พฤษภาคม 2530
                </div>
                <div class="row">
                    เพศ : ชาย
                </div>
                <div class="row">
                    วันที่ทุพพลภาพ :
                </div>
            </div>
            <div class="col">
                <div class="row">
                    ชื่อสถานพยาบาล : โรงพยาบาล A
                </div>
                <div class="row">
                    รหัสสถานพยาบาล : 1234567
                </div>
            </div>
            <div class="col">
                <div class="row justify-content-end">
                    พิมพ์เอกสาร
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="row">รายละเอียดการรักษา</div>
                <div class="row">วันที่เข้ารักษา  23 มิ.ย 67 - 25 มิ.ย 67</div>
                <div class="row">ค่า RW : 2.9900</div>
                <div class="row">DRG : 01630</div>
                <div class="row">จำนวนค่ารักษาพยาบาลรวม : 25,000 บาท</div>
                <div class="row">WARD : 1021</div>
            </div>
            <div class="col">
                <div class="row"></div>
                <div class="row">จำนวนวัน :  1  วัน</div>
                <div class="row">ค่า ADJRW : 2.9900</div>
                <div class="row">WTLOS : 2</div>
                <div class="row">จำนวนเงินที่คำนวนได้ : 20,000 บาท</div>
            </div>
        </div>
        <hr />
        <div class="d-flex justify-content-start">
            ศัลยแพทย์ที่ใช้ :
        </div>
        <Table DataSource="data1" TItem="Data1" HidePagination Bordered>
            <Column Title="ลำดับ" DataIndex="ID" TData="int" Align="ColumnAlign.Center" />
            <Column Title="ICD9" DataIndex="ICDTEN" TData="int" Align="ColumnAlign.Center" />
            <Column Title="วันที่ดำเนินการหัตถการ" DataIndex="DateOfTheProcedure" TData="string" Align="ColumnAlign.Center" />
            <Column Title="รหัสแพทย์" DataIndex="MedicalCode" TData="string" Align="ColumnAlign.Center" />
            <Column Title="Ext Code" DataIndex="ExtCode" TData="string" Align="ColumnAlign.Center" />
        </Table>

        <div class="d-flex justify-content-start">
            รายละเอียดการพยาบาล :
        </div>
        <Table DataSource="data2" TItem="Data2" HidePagination Bordered>
            <Column Title="ลำดับ" DataIndex="ID" TData="int" Align="ColumnAlign.Center" />
            <Column Title="Diagnosis Code" DataIndex="DiagnosisCode" TData="string" Align="ColumnAlign.Center" />
            <Column Title="Cause Code" DataIndex="CauseCode" TData="string" Align="ColumnAlign.Center" />
            <Column Title="Diagnosis type" DataIndex="DiagnosisType" TData="string" Align="ColumnAlign.Center" />
        </Table>

        <div class="d-flex justify-content-start">
            รายละเอียดค่าบริการการทางการแพทย์ :
        </div>

        <Table DataSource="data3" TItem="Data3" HidePagination Bordered>
            <Column Title="ลำดับ" DataIndex="ID" TData="int" Align="ColumnAlign.Center" />
            <Column Title="วันที่" DataIndex="Date" TData="int" Align="ColumnAlign.Center" />
            <Column Title="จำนวนเงินต่อวัน" DataIndex="AmountPerDay" TData="string" Align="ColumnAlign.Center" />
            <Column Title="สปส.จ่าย" DataIndex="SSOPay" TData="string" Align="ColumnAlign.Center" />
            <Column Title="ผู้ป่วยจ่าย" DataIndex="PatientPays" TData="string" Align="ColumnAlign.Center" />
        </Table>

        <div class="pt-4">
            <div class="row ">
                <div class="col m-0">
                    ผู้วินิจฉัย : นางเเพรวา  ตาสวย
                </div>
                <div class="col m-0">
                    วันที่วินิจฉัย : 30 มิ.ย. 67
                </div>
                <div class="col m-0">
                    สถานะจ่าย :
                </div>
            </div>
            <div class="row">
                <div class="col m-0">
                    คำวินิจฉัย : -
                </div>
                <div class="col m-0">
                </div>
                <div class="col m-0">
                    วันที่จ่าย : -
                </div>
            </div>
            <div class="row">
                <div class="col">
                    หมายเหตุ : -
                </div>
            </div>
        </div>
        
    </div>



</Modal>

@code {

    [Parameter]
    public bool _visible { get; set; }

    [Parameter]
    public EventCallback<bool> OnClose { get; set; }

    RenderFragment footer = @<Template>
    </Template>;


    public record Data1(
        int ID,
        int ICDTEN,
        string DateOfTheProcedure,
        string MedicalCode,
        string ExtCode
    );

    public Data1[] data1 =
    {
        new(1,8703,"23 มิ.ย. 67","ว44867", "8073"),
    };

    public record Data2(
       int ID,
       string DiagnosisCode,
       string CauseCode,
       string DiagnosisType
    );

    public Data2[] data2 =
    {
        new(1,"G409","????????","????????"),
    };

    public record Data3(
       int ID,
       int Date,
       string AmountPerDay,
       string SSOPay,
       string PatientPays);

    public Data3[] data3 =
    {
        new(1,0,"0.00","4,000.00", "0.00"),
        new(2,0,"0.00","8,000.00", "0.00"),
        new(3,0,"0.00","2,000.00", "0.00"),
        new(4,2,"200.00","1,000.00", "0.00"),
        new(5,2,"0.00","4,500.00", "0.00"),
        new(6,0,"0.00","500.00", "0.00"),
    };

    private void HandleOk(MouseEventArgs e)
    {
        OnClose.InvokeAsync(false);
    }

    private void HandleCancel(MouseEventArgs e)
    {
        OnClose.InvokeAsync(false);
    }

}
