@using System.ComponentModel
@using System.Net.Http.Headers
@using Blazored.LocalStorage;
@inject HttpClient Http
@inject ILocalStorageService _localstorage;
@inject ModalService _modalService

<div class="site-layout-background" style="padding: 24px;">
    <div class="mms-nav-title">
        <div class="mms-text-title px-4 py-3">ค่าบริการทางการแพทย์ส่งเสริมสุขภาพและป้องกันโรค</div>
    </div>
    <div class="container py-4">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page">
                    <span class="breadcum-sucress py-2">รายการรับเเจ้ง</span>
                </li>
                <li class="breadcrumb-item" aria-current="page">
                    <span class="breadcum-process py-2">เลือกงวด</span>
                </li>
            </ol>
        </nav>

        <hr />

        <div class="row pb-3">
            <div class="mms-txt-require col-md-12 col-lg-6">
                <div class="mms-media-start">
                    *กรุณาเลือกงวดที่ต้องการทำเบิก
                </div>
            </div>
            <div class="w-50 col-md-12 col-lg-6">
                <Space Direction="@DirectionVHType.Vertical" Class="mms-btn-serch w-100">
                    <SpaceItem>
                        <Search Placeholder="ข้อมูลที่ต้องการค้นหา..." EnterButton="true" />
                    </SpaceItem>
                </Space>
            </div>
        </div>
        <Table DataSource="dataList" TItem="InstallmentPeriodListView" RowClassName="@(_=>"editable-row")" Bordered ScrollX="1000">
            <ChildContent Context="data">
                <Column Width="15%" Align="ColumnAlign.Center" TData="int" Title="ลำดับ">@data.id</Column>
                <Column Width="70%" TData="string" Title="งวด"> @data.name</Column>
                <Column Width="15%" Align="ColumnAlign.Center" TData="string" Title="">
                    <img class="mx-2" title="แก้ไข" src="helper_shared/PortalAdminImage/edit.png"
                          style="width:24px;height:24px; cursor:pointer;" @onclick="(() => ShowModal(data))" />
                </Column>
            </ChildContent>
        </Table>

    </div>
</div>
 @if (_isloading == true)
{
    <style>
        body {
            overflow: hidden;
        }</style>

    <LoadingPage></LoadingPage>
}
@{
    RenderFragment footer = @<Template>
        <Button OnClick="@HandleOk" @key="@( "submit" )" Type="primary" Loading="@_loading">ดูรายการข้อมูล</Button>
        <Button OnClick="@HandleCancel" @key="@( "back" )">ยกเลิก</Button>
    </Template>;
}

<Modal Title="@("")"
       Visible="@_visible"
       OnOk="@HandleOk"
       OnCancel="@HandleCancel"
       Centered="true"
       Footer="@footer">
    <div class="mms-media-center flex-column">
        <div class="bg-green-rouded">
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <div class="text-center pt-4">
            <h6>
                กำลังเรียกข้อมูลงวด @periodName <br />
                กรุณารอสักครู่
            </h6>
        </div>
    </div>
</Modal>


@code {
    [Parameter]
    public EventCallback<int> IndexPage { get; set; }

    List<InstallmentPeriodListView> dataList = new List<InstallmentPeriodListView>();
    public string periodName = "";
    public bool _isloading = false;
    /* MoDal Toggle */
    bool _visible = false;
    bool _loading = false;
    public class InstallmentPeriodListView
    {
        public int id { get; set; }
        public string name { get; set; }
    }
    public async Task goEdit(int item)
    {

        await IndexPage.InvokeAsync(item);
    }

    protected override void OnInitialized()
    {
        _isloading = true;
        for(int i = 0; i < 3; i++)
        {
            dataList.Add(new InstallmentPeriodListView { id = i, name = $"VACSTM 20230{i}" });
        }
        _isloading = false;
        StateHasChanged();
    }

    private void ShowModal(InstallmentPeriodListView item)
    {
        periodName = item.name;
        _visible = true;
    }


    private async Task HandleOk(MouseEventArgs e)
    {
        await _localstorage.SetItemAsync("periodName", periodName);
        //active loading on submit button
        _loading = true;
        StateHasChanged();
        //delay for test loading on submit button
        await Task.Delay(3000);
        _visible = false;
        _loading = false;
        goEdit(2);
    }

    private void HandleCancel(MouseEventArgs e)
    {
        _visible = false;
    }
}
