<style>
    .ant-card-c {
        background: #fff;
        border-radius: 6px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        font-size: 18px;
    }

        .ant-card-c > .ant-card-head {
            width: 100%;
            background: #ffcc41 !important;
            border-radius: 6px 6px 0px 0px !important;
        }

            .ant-card-c > .ant-card-head > .ant-card-head-wrapper > .ant-card-head-title {
                font-size: 20px !important;
                color: #334396 !important;
            }

    .site-layout-background-custom {
        border-radius: 8px;
        background: #FFF;
        padding: 0px !important;
        /* min-height: 900px; */
        width: 100% !important;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        margin-left: 0.7rem;
    }

    .modalStyle .ant-modal-header {
        background: #FFCC41 !important;
    }
    .modalStyle .ant-modal-title
    {
        color: #334396 !important;
        
    }

    .modalStyle  .anticon  .anticon {
        color: #334396 !important;
    }

</style>
<div class="site-layout-background" style="padding: 24px;">
    <div class="mms-nav-title">
        <div class="mms-text-title px-4 py-3">ค่าบริการทางการแพทย์ประเภทผู้ป่วยในด้วยโรคที่มีค่าใช้จ่ายสูงเกินปกติ (ORS) </div>
    </div>
    <div class="container py-4">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page">
                    <span class="breadcum-success py-2">บันทึกรายการเบิก</span>
                </li>
                <li class="breadcrumb-item" aria-current="page">
                    <span class="breadcum-process py-2">เพิ่มรายการ</span>
                </li>
            </ol>
        </nav>
        <hr />
        <div class="row container">
            <div class="col-md-4 col-sm-12 py-2">
                <div class="row mms-txt-headdetail align-items-center">
                    <div class=" col-md-12 col-lg-6">
                        <div class="text-lg-end">
                            <div>
                                วันที่สร้าง
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-6">
                        <Input TValue="string" Value="@(DateTime.Now.ToString())" ReadOnly />
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 py-2">
                <div class="row mms-txt-headdetail align-items-center">
                    <div class="col-md-12 col-lg-6">
                        <div class=" text-lg-end">
                            <div>
                                วันที่ประมวลผล
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-6">
                        <Input TValue="string" Value="@(DateTime.Now.ToString())" ReadOnly />
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 py-2">
                <div class="row mms-txt-headdetail align-items-center">
                    <div class="col-md-12 col-lg-6">
                        <div class="text-lg-end">
                            <div>   
                                ประมวลผลโดย 
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-6">
                        <Input TValue="string" Value="@("นายศรี มีสัก")" ReadOnly />
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row container">
            <div class="col-md-6 col-sm-12  pt-2">
                <div class="row mms-txt-headdetail align-items-center">
                    <div class="col-md-6 col-sm-12">
                        <div class="text-lg-end">
                            เลขประจำตัวประชาชน <span style="color:red;">*</span>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 ">
                        <Input TValue="string" Value="@(DateTime.Now.ToString())" ReadOnly />
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12  pt-2">
                <div class="row mms-txt-headdetail align-items-center">
                    <div class="col-md-6 col-sm-12">
                        <div class="text-lg-end">
                            ชื่อ-นามสกุล  <span style="color:red;">*</span>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <Input TValue="string" Value="@("36")" ReadOnly />
                    </div>
                </div>
            </div>
            
        </div>
        <br />
        <div class="row container">
            <div class="col-md-6 col-sm-12  pt-2">
                <div class="row mms-txt-headdetail align-items-center">
                    <div class="col-md-6 col-sm-12">
                        <div class="text-lg-end">
                            รหัสถานพยาบาล
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <Input TValue="string" Value="@(DateTime.Now.ToString())" ReadOnly />
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12  pt-2">
                <div class="row mms-txt-headdetail align-items-center">
                    <div class="col-md-6 col-sm-12">
                        <div class="text-lg-end">
                            ชื่อสถานพยาบาล
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <Input TValue="string" Value="@("36")" ReadOnly />
                    </div>
                </div>
            </div>
            
        </div>

        <br />
        <div class="row container">
            <div class="col-md-6 col-sm-12 pt-2">
                <div class="row mms-txt-headdetail align-items-center">
                    <div class="col-md-6 col-sm-12">
                        <div class="text-lg-end">
                            รหัสโรค
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <Input TValue="string" Value="@(DateTime.Now.ToString())" ReadOnly />
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 pt-2">
                <div class="row mms-txt-headdetail align-items-center">
                    <div class="col-md-6 col-sm-12">
                        <div class="text-lg-end">
                            ชื่อโรค
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <Input TValue="string" Value="@("36")" ReadOnly />
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row container">
             <div class="col-md-6 col-sm-12 pt-2">
                <div class="row mms-txt-headdetail align-items-center">
                    <div class="col-md-6 col-sm-12">
                        <div class="text-lg-end">
                            Admit date
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <Input TValue="string" Value="@(DateTime.Now.ToString())" ReadOnly />
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 pt-2">
                <div class="row mms-txt-headdetail align-items-center">
                    <div class="col-md-6 col-sm-12">
                        <div class="text-lg-end">Discharge Date</div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <Input TValue="string" Value="@("36")" ReadOnly />
                    </div>
                </div>
            </div>
        </div>
        <br />
        
        <div class="row container mms-txt-headdetail">
            <div class="col-lg-12">
                <Card Bordered="false" Title=@("ค่าใช้จ่ายตามใบเสร็จของโรงพยาบาลที่ปรับราคามตามกรมบัญชีกลาง") Class="ant-card-c">
                    <Body>
                        <div class="row mms-txt-headdetail align-items-center py-4">
                            <div class="col-5">
                                <div class="text-lg-end">
                                    ค่าใช้จ่ายตามใบเสร็จ
                                </div>  
                            </div> 
                            <div class="col-2">
                                <Input TValue="string" Value="@("6,573,678.00")" ReadOnly  Class="align-content-end"/>
                            </div>
                            <div class="col-5 text-lg-start">บาท</div>
                        </div>
                        <div class="row mms-txt-headdetail align-items-center py-4">
                            <div class="col-5">
                                <div class="text-lg-end">
                                    ค่าใช้จ่ายที่ปรับราคาตามกรมบัญชีกลาง
                                </div>  
                            </div> 
                            <div class="col-2">
                                <Input TValue="string" Value="@(DateTime.Now.ToString())" ReadOnly />  
                            </div>
                            <div class="col-5 text-lg-start">บาท</div>
                        </div>
                        <div class="row mms-txt-headdetail align-items-center py-4">
                            <div class="col-5">
                                <div class="text-lg-end">
                                    คงเหลือส่วนที่เกิน 1 ล้าน
                                </div>  
                            </div> 
                            <div class="col-2">
                                <Input TValue="string" Value="@(DateTime.Now.ToString())" ReadOnly />  
                            </div>
                            <div class="col-5 text-lg-start">บาท</div>
                        </div>
                        <div class="row mms-txt-headdetail align-items-center py-4">
                            <div class="col-5">
                                <div class="text-lg-end">
                                    เงินชดเชย
                                </div>  
                            </div> 
                            <div class="col-2">
                                <Input TValue="string" Value="@(DateTime.Now.ToString())" ReadOnly />  
                            </div>
                            <div class="col-5 text-lg-start">บาท</div>
                        </div>
                        <div class="row mms-txt-headdetail align-items-center py-4">
                            <div class="col-5">
                                <div class="text-lg-end">
                                    ผลรวมเงินค่าใช้จ่ายอื่นๆ  
                                  
                                </div>  
                            </div> 
                            <div class="col-2">
                                <Input TValue="string" Value="@(DateTime.Now.ToString())" ReadOnly />  
                            </div>
                             <div class="col-5 text-lg-start">
                                 บาท  <img class="mx-2" title="ดู" src="helper_shared/PortalAdminImage/eye.png"
                                           style="width:24px;height:24px; cursor:pointer;" @onclick=@(()=> _visible=true) />
                             </div>
                        </div>
                        <div class="row mms-txt-headdetail align-items-center py-4">
                            <div class="col-5">
                                <div class="text-lg-end">
                                    จำนวนเงินที่โรงพยาบาลรับภาระ
                                </div>
                            </div>
                            <div class="col-2">
                                <Input TValue="string" Value="@(DateTime.Now.ToString())" ReadOnly />
                            </div>
                            <div class="col-5 text-lg-start">บาท</div>
                        </div>
                    </Body>
                </Card>
                </div>
            </div>

            <div class="row container">
                <div class="mms-media-end">
                    <div>
                        <Button Class="ant-btn-distable" ><i class="fa-solid fa-circle-chevron-left"></i> &nbsp; ย้อนกลับ</Button>
                    </div>
                </div>

            </div>
        </div>
    </div>
 <Modal Title="@("ผลรวมเงินค่าใช้จ่ายอื่นๆ")"
        Visible="@_visible"
        OnOk="@HandleOk"
        OnCancel="@HandleCancel"
        Footer="@footer"
        Width="1500"
        WrapClassName="modalStyle">
    
         <div class="container py-4">
             <div class="row container">
                 <div class="col-md-4 col-sm-12 py-2">
                     <div class="row mms-txt-headdetail align-items-center">
                         <div class=" col-md-12 col-lg-6">
                             <div class="text-lg-end">
                                 <div>
                                     เลขประจำตัวประชาชน
                                 </div>
                             </div>
                         </div>
                         <div class="col-md-12 col-lg-6">
                             <Input TValue="string" Value="@("1969900021363")" ReadOnly Disabled />
                         </div>
                     </div>
                 </div>
                 <div class="col-md-4 col-sm-12 py-2">
                     <div class="row mms-txt-headdetail align-items-center">
                         <div class="col-md-12 col-lg-6">
                             <div class=" text-lg-end">
                                 <div>
                                     ชื่อ-นามสกุล
                                 </div>

                             </div>
                         </div>
                         <div class="col-md-12 col-lg-6">
                             <Input TValue="string" Value="@("นายเมธี ส่องแสง")" ReadOnly Disabled />
                         </div>
                     </div>
                 </div>
                 <div class="col-md-4 col-sm-12 py-2">
                     <div class="row mms-txt-headdetail align-items-center">
                         <div class="col-md-12 col-lg-6">
                             <div class="text-lg-end">
                                 <div>
                                     Admit Date
                                 </div>
                             </div>
                         </div>
                         <div class="col-md-12 col-lg-6">
                             <Input TValue="string" Value="@("29/02/2566")" ReadOnly Disabled />
                         </div>
                     </div>
                 </div>
             </div>
             <div class="row container">
                 <div class="col-md-4 col-sm-12 py-2">
                     <div class="row mms-txt-headdetail align-items-center">
                         <div class=" col-md-12 col-lg-6">
                             <div class="text-lg-end">
                                 <div>
                                     Dischagre Date
                                 </div>
                             </div>
                         </div>
                         <div class="col-md-12 col-lg-6">
                             <Input TValue="string" Value="@("05/03/2566")" ReadOnly Disabled />
                         </div>
                     </div>
                 </div>
                 <div class="col-md-4 col-sm-12 py-2">
                     <div class="row mms-txt-headdetail align-items-center">
                         <div class="col-md-12 col-lg-6">
                             <div class=" text-lg-end">
                                 <div>
                                     จำนวนรายการตรวจ
                                 </div>

                             </div>
                         </div>
                         <div class="col-md-12 col-lg-6">
                             <Input TValue="string" Value="@("5")" ReadOnly Disabled />
                         </div>
                     </div>
                 </div>
                 <div class="col-md-4 col-sm-12 py-2">
                     <div class="row mms-txt-headdetail align-items-center">
                         <div class="col-md-12 col-lg-6">
                             <div class="text-lg-end">
                                 <div>
                                     ยอดรวม
                                 </div>
                             </div>
                         </div>
                         <div class="col-md-12 col-lg-6">
                             <Input TValue="string" Value="@("200,000.00")" ReadOnly Disabled />
                         </div>
                     </div>
                 </div>
             </div>
             <Table DataSource="data" Bordered ScrollX="1000" ScrollY="300">
                     <ColumnDefinitions>
                         <PropertyColumn Align="ColumnAlign.Center" Property="c=>c.Id" Title="ลำดับ">
                            @String.Format("{0:d}",data.IndexOf(context)+1)
                         </PropertyColumn>
                         <PropertyColumn Align="ColumnAlign.Center" Property="c=>c.Name" Title="ชื่อรายการเบิกจ่าย"/>
                         <PropertyColumn Align="ColumnAlign.Center" Property="c=>c.Amount" Title="จำนวนเงิน(บาท)">
                            @String.Format("{0:n}", context.Amount)
                         </PropertyColumn>
                    
                     </ColumnDefinitions>
                     @*                 <PaginationTemplate>
                <Pagination Class="pt-2"
                Total="context.Total"
                PageSize="context.PageSize"
                Current="context.PageIndex"
                ShowSizeChanger
                OnChange="context.HandlePageChange" />
                </PaginationTemplate>*@
                 </Table>
             </div>
      
     </Modal>
    @code {
    [Parameter]
    public string year { get; set; }
    [Parameter]
    public string Name { get; set; }
    [Parameter]
    public EventCallback<(int, string, string)> IndexPage { get; set; }

    int _value = 1;
    List<Data> data = new List<Data>();
    public class Data
    {
        public string Id { get; set; }
        public string Key { get; set; }
        public string Name { get; set; }
        public string ICD10 { get; set; }
        public double? Amount { get; set; }
    }
    RenderFragment footer =
    @<div></div>;
     bool _visible = false;
    protected override async Task OnInitializedAsync()
    {
        data = new List<Data>
    {
            new Data {

            Id = "1",
            Key = "1",
            Name = "AdjRW",
            ICD10 = "53.01",
            Amount = 4966.18,

        }, new Data {

            Id = "1",
            Key = "1",
            Name = "ภาระเสี่ยง",
            ICD10 = "53.01",
            Amount = 9566.18,

        }, new Data {

            Id = "1",
            Key = "1",
            Name = "ODS",
            ICD10 = "53.01",
            Amount = 44966.50,

        }, new Data {

            Id = "1",
            Key = "1",
            Name = "ทันตกรรม",
            ICD10 = "53.01",
            Amount = 14966.00,

        }, new Data {

            Id = "1",
            Key = "1",
            Name = "Package โรคหัวใจ",
            ICD10 = "53.01",
            Amount = 54966.79,

        }, new Data {

            Id = "1",
            Key = "1",
            Name = "AdjRW",
            ICD10 = "53.01",
            Amount = 4966.18,

        }, new Data {

            Id = "1",
            Key = "1",
            Name = "AdjRW",
            ICD10 = "53.01",
            Amount = 4966.18,

        }, new Data {

            Id = "1",
            Key = "1",
            Name = "AdjRW",
            ICD10 = "53.01",
            Amount = 4966.18,

        },

    };
    }
    public async Task Indexpage(int usepage, string year, string? name)
    {

        await IndexPage.InvokeAsync((usepage, year, name));

    }

    private async void HandleOk(MouseEventArgs e)
    {
        _visible = false;
    }

    private void HandleCancel(MouseEventArgs e)
    {
        Console.WriteLine(e);
        _visible = false;
    }
}
