@using sso.mms.fees.admin.Shared.FactorDrug.FD_PaymentOrders.Table

<style>
    [data-theme='compact'] .site-collapse-custom-collapse .site-collapse-custom-panel,
    .site-collapse-custom-collapse .site-collapse-custom-panel {
        margin-bottom: 24px;
        border: 0px;
        overflow: hidden;
        width: 100%;
        border-radius: 8px;
        background: #FFF;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }

    .ant-collapse-borderless {
        background-color: white;
        border: 0;
    }

    .ant-collapse > .ant-collapse-item > .ant-collapse-header {
        position: relative;
        display: flex;
        flex-wrap: nowrap;
        align-items: flex-start;
        padding: 12px 16px;
        color: rgba(0, 0, 0, 0.85);
        line-height: 1.5715;
        cursor: pointer;
        transition: all 0.3s, visibility 0s;
        display: flex;
        flex-flow: row-reverse;
        border-radius: 10px 10px 0px 0px;
        background: #FFC326;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
    }

    .ant-collapse-header {
        color: #334396 !important;
        text-align: start;
        font-family: Noto Sans Thai;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px; /* 100% */
        letter-spacing: 0.2px;
    }


    .anticon {
        color: white;
    }

    .label-title {
        color: var(--h, #334396);
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Noto Sans Thai;
        font-size: 19px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%; /* 28.5px */
    }

    .text-button {
        color: #334396;
        text-align: end;
        display: flex;
        align-items: center;
    }

    .title-disburse-installment {
        color: var(--h, #000);
        text-align: center;
        font-family: Noto Sans Thai;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 144%; /* 28.8px */
        padding-right: 5px;
    }

    .title-installment {
        color: var(--h, #334396);
        font-family: Noto Sans Thai;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 144%;
    }

</style>

﻿<div class="site-layout-background" style="padding: 24px;">
    <div class="mms-nav-title">
        <div class="mms-text-title px-4 py-3">ฮีโมฟีเลีย (Hemophilia)</div>
    </div>
    <div class="container py-4">
        <div class="d-flex">
            <div class="title-disburse-installment">
                รายงาน /
            </div>
            <div class="title-installment">รายงานผลรวมการจ่ายค่าบริการรายคน ต่อเดือน ต่อปี</div>
        </div>

        <hr />

        <div class="mms-txt-headdetail d-flex py-3 mb-3">
            <div>
                <Button Type="@ButtonType.Dashed" Class="ant-btn-distable"><div class="text-button d-flex"><i class="fa-solid fa-cloud-download"></i>&nbsp; ดาวน์โหลด</div> </Button>
            </div>

            <div class="d-flex w-100 px-5">
                <div class="label-title w-100">
                    <DatePicker TValue="DateOnly?" Format="yyyy/MM/dd" Mask="yyyy/dd/MM" Placeholder="@("ค้นหาตามช่วงวัน")" />
                </div>
                <div class="px-4">-</div>
                <div class="label-title w-100">
                    <DatePicker TValue="DateOnly?" Format="yyyy/MM/dd" Mask="yyyy/dd/MM" Placeholder="@("ค้นหาตามช่วงวัน")" />
                </div>
            </div>
            <div class="label-title w-75">
                <Space Direction="@DirectionVHType.Horizontal" Class="d-flex justify-content-end">
                    <SpaceItem>
                        <Search Placeholder="ข้อมูลที่ต้องการค้นหา" EnterButton="true" AllowClear />
                    </SpaceItem>
                </Space>
            </div>
        </div>

        <Collapse OnChange="Callback"
                  DefaultActiveKey="@(new[]{"1"})"
                  Class="site-collapse-custom-collapse"
                  Bordered="false"
                  Style="width:100%">
            <Panel Header="45650 โรงพยาบาล1" Key="1">
                <PaymentsListOrdersTable />
            </Panel>
            <Panel Header="45651 โรงพยาบาล2" Key="2">
                <p>@text</p>
            </Panel>
        </Collapse>

    </div>
</div>
@code {

    [Parameter]
    public string Installment { get; set; }

    public string txtValue { get; set; }

    public string searchTerm { get; set; }

    string text = @"
    A dog is a type of domesticated animal.
    Known for its loyalty and faithfulness,
    it can be found as a welcome guest in many households across the world. ";

    void Callback(string[] keys)
    {
        Console.WriteLine(string.Join(',', keys));
    }
}