@inject IConfirmService _confirmService
@inject ModalService _modalService
@inject IMessageService _message



<Table DataSource="@childData" Bordered TreeChildren="item=>item.Children" DefaultExpandAllRows>
    <ColumnDefinitions>
        <ColumnDefinition />
        <ColumnDefinition />
        <ColumnDefinition />
        <ColumnDefinition />
        <ColumnDefinition />
        <ColumnDefinition />
        <ColumnDefinition />
        <ColumnDefinition />
        <ColumnDefinition />
    </ColumnDefinitions>
    <HeaderTemplate>
        <TableRow>
            <SimpleTableHeader>ลำดับ</SimpleTableHeader>
            <SimpleTableHeader>เลขประจำตัวประชาชน</SimpleTableHeader>
            <SimpleTableHeader>ชื่อ-นามสกุล</SimpleTableHeader>
            <SimpleTableHeader>วันที่ผ่าตัด</SimpleTableHeader>
            <SimpleTableHeader>ID Donor</SimpleTableHeader>
            <SimpleTableHeader>ประเภทบริการ</SimpleTableHeader>
            <SimpleTableHeader>จำนวนเงิน</SimpleTableHeader>
            <SimpleTableHeader>วินิจฉัย</SimpleTableHeader>
            <SimpleTableHeader></SimpleTableHeader>

        </TableRow>
    </HeaderTemplate>
    <RowTemplate>
        <TableRow>
            <TableCell ColSpan=@GetColSpan(@context.Data.TitleStatus,"name")
                       Style="@ColColor(@context.Data.ServiceTypeStatus,@context.Data.TitleStatus,"name")">
                @context.Data.Key
            </TableCell>
            <TableCell ColSpan=@GetColSpan(@context.Data.TitleStatus)
                       Style="@ColColor(@context.Data.ServiceTypeStatus,@context.Data.TitleStatus)">
                @context.Data.IdCard
            </TableCell>
            <TableCell ColSpan=@GetColSpan(@context.Data.TitleStatus)
                       Style="@ColColor(@context.Data.ServiceTypeStatus,@context.Data.TitleStatus)">
                @context.Data.Name
            </TableCell>
            <TableCell ColSpan=@GetColSpan(@context.Data.TitleStatus)
                       Style="@ColColor(@context.Data.ServiceTypeStatus,@context.Data.TitleStatus)">
                @context.Data.DateOfSurgery
            </TableCell>
            <TableCell ColSpan=@GetColSpan(@context.Data.TitleStatus)
                       Style="@ColColor(@context.Data.ServiceTypeStatus,@context.Data.TitleStatus)">
                @context.Data.IDDonor
            </TableCell>
            <TableCell ColSpan=@GetColSpan(@context.Data.TitleStatus)
                       Style="@ColColor(@context.Data.ServiceTypeStatus,@context.Data.TitleStatus)">
                @context.Data.ServiceTypeName
            </TableCell>
            <TableCell ColSpan=@GetColSpan(@context.Data.TitleStatus)
                       Style="@ColColor(@context.Data.ServiceTypeStatus,@context.Data.TitleStatus)">
                @context.Data.AmountMonney
            </TableCell>
            <TableCell ColSpan=@GetColSpan(@context.Data.TitleStatus)
                       Style="@ColColor(@context.Data.ServiceTypeStatus,@context.Data.TitleStatus)">
                @context.Data.Diagnose
            </TableCell>
            <TableCell ColSpan=@GetColSpan(@context.Data.TitleStatus)
                       Style="@ColColor(@context.Data.ServiceTypeStatus,@context.Data.TitleStatus)">
                <img class="mx-2" src="helper_shared/PortalAdminImage/eye.png" style="width:24px;height:24px;" />
                <img class="mx-2" src="helper_shared/FeesAdminImage/OrganTransplantation/Danger.svg" style="width:24px;height:24px;" />
            </TableCell>
        </TableRow>
    </RowTemplate>
</Table>


@code {

    [Parameter]
    public bool _visible { get; set; }

    [Parameter]
    public EventCallback<bool> OnOpen { get; set; }

    string _okText = "ดูรายการข้อมูล";
    string _title = "Override Locale";

    private void HandleCancel(MouseEventArgs e)
    {
        Console.WriteLine(e);
        _visible = false;
    }

    List<Data> childData = new List<Data>()
    {
        new Data {
           Key = "โรงพยาบาลลานนา 1",
           TitleStatus = true,
           ServiceTypeStatus = false,
           Children = new List<Data>()
           {
                  new Data {
                    Key = "ประเภทบริการปลูกถ่ายไต",
                    ServiceTypeStatus = true,
                    TitleStatus = true,
                    Children = new List<Data>()
                    {
                          new Data
                          {
                              TitleStatus=false,
                              Key="1",
                              IdCard="1234587957xxx",
                              Name="นางสุจินดา  ญาดา",
                              DateOfSurgery = "29 มี.ค. 2566",
                              IDDonor="12345678",
                              ServiceTypeName ="ไต",
                              AmountMonney="40,000",
                              Diagnose="อนุมัติ",
                          }
                    }
               },
               new Data {
                    Key = "ประเภทบริการปลูกถ่ายตับ",
                    ServiceTypeStatus = true,
                    TitleStatus = true,
                    Children = new List<Data>()
                    {
                          new Data
                          {
                              TitleStatus=false,
                              Key="2",
                              IdCard="1234567890xxx",
                              Name="นางบุษบา  กล้ายิ่ง",
                              DateOfSurgery = "11 มี.ค. 2566",
                              IDDonor="12345679",
                              ServiceTypeName ="ตับ",
                              AmountMonney="40,000",
                              Diagnose="อนุมัติ",
                          },
                          new Data
                          {
                              TitleStatus=false,
                              Key="3",
                              IdCard="1156987425xxx",
                              Name="นางสามารถ  กาจวิชา",
                              DateOfSurgery = "19 ม.ค. 2566",
                              IDDonor="12345680",
                              ServiceTypeName ="ตับ",
                              AmountMonney="40,000",
                              Diagnose="อนุมัติ",
                          }
                    }
               },
               new Data {
                    Key = "ประเภทบริการปลูกถ่ายกระจกตา",
                    ServiceTypeStatus = true,
                    TitleStatus = true,
                    Children = new List<Data>()
                    {
                          new Data
                          {
                              TitleStatus=false,
                              Key="4",
                              IdCard="1234567890xxx",
                              Name="นายเดช  เจนสุข",
                              DateOfSurgery = "11 ม.ค. 2566",
                              IDDonor="12345677",
                              ServiceTypeName ="กระจกตา",
                              AmountMonney="15,000",
                              Diagnose="อนุมัติ",
                          }
                    }
               },
           }
        }
    };

    long totalAmountMonney = 0;

    protected override async Task OnInitializedAsync()
    {

        foreach (var child in childData)
        {
            foreach (var subChildData in child.Children)
            {
                totalAmountMonney = totalAmountMonney + subChildData.Children.Sum(x => long.Parse(x.AmountMonney.Replace(",", "")));
            }
        }

    }

    public class Data
    {

        public string Key { get; set; }

        public bool TitleStatus { get; set; }

        public string IdCard { get; set; }

        public string Name { get; set; }

        public string DateOfSurgery { get; set; }

        public string IDDonor { get; set; }

        public string ServiceTypeName { get; set; }

        public bool ServiceTypeStatus { get; set; }

        public string AmountMonney { get; set; }

        public string Diagnose { get; set; }

        public string Detail { get; set; }

        public List<Data> Children { get; set; }
    }


    private int GetColSpan(bool TitleStatus, string columnTitle = "")
    {
        if (TitleStatus == true)
            if (columnTitle == "name")
                return 9;
            else
                return 0;
        else
            return 1;
    }

    private string ColColor(bool ServiceTypeStatus, bool TitleStatus, string columnTitle = "")
    {
        if (TitleStatus == true && ServiceTypeStatus == false)
        {
            if (columnTitle == "name")
            {
                return "background-color:#415CE7; color:#FFFFFF";
            }
            else
            {
                return "";
            }
        }
        else if (TitleStatus == true && ServiceTypeStatus == true)
        {
            if (columnTitle == "name")
            {
                return "background-color: #D8D6D6;";
            }
            else
            {
                return "";
            }
        }
        else
        {

            return "";
        }
    }
}