<div class="site-layout-background" style="padding: 24px;">
    <div class="mms-nav-title">
        <div class="mms-text-title px-4 py-3">ค่าบริการทางการแพทย์ AdjRW</div>
    </div>
    <div class="container py-4">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page">
                    <span class="breadcum-process py-2">รายการใบคำสั่งจ่าย</span>
                </li>
            </ol>
        </nav>
        <hr />
        <div class="row py-4">
            <div class="col-sm-12 col-md-6"></div>
            <div class="mms-media-end col-sm-12 col-md-6">
                <Space Direction="@DirectionVHType.Vertical" Class="mms-btn-serch w-75">
                    <SpaceItem>
                        <Search Placeholder="ข้อมูลที่ต้องการค้นหา.." EnterButton="true" />
                    </SpaceItem>
                </Space>
            </div>
        </div>
        <Table DataSource="@listOfDataDescending" TItem="ItemData" RowClassName="@(_=>"editable-row")" @bind-PageSize="pageSize" Bordered ScrollX="1000">
            <ChildContent Context="data">
                <Selection Key="@(data.Id.ToString())" Width="6%" />
                <Column TData="string" Width="6%" Title="ลำดับ" Style="text-align:center;">@String.Format("{0:d}", listOfDataDescending.IndexOf(data) + 1)</Column>
                <Column TData="string" Title="ชุดคำสั่งจ่าย" Style="text-align:center;">@data.year</Column>
                <Column TData="string" Title="จำนวนโรงพยาบาล" Style="text-align:center;">@data.Id</Column>
                <Column TData="string" Title="จำนวนเงินสุทธิ์" Style="text-align:center;">@data.name</Column>
                <Column TData="string" Title="วันที่สร้าง" Style="text-align:center;">@data.StartDate</Column>
                <Column TData="string" Title="สถานะ" Style="text-align:center;" >
                    @if (data.status == false)
                    {
                        <span style="color:red">รอลงลายมือชื่อ</span>
                    }
                    else
                    {
                        <span style="color:green">ลงลายมือชื่อแล้ว</span>
                    }
                </Column>
                <Column TData="string" Width="5%" Style="text-align:center;">
                    <img class="mx-2" title="เรียกดู" src="helper_shared/PortalAdminImage/eye.png" style="width:24px;height:24px; cursor:pointer;" />
                </Column>
            </ChildContent>

            <PaginationTemplate>
                <Pagination Class="pt-2"
                            Total="context.Total"
                            PageSize="context.PageSize"
                            Current="context.PageIndex"
                                        ShowSizeChanger
                            OnChange="context.HandlePageChange" />
            </PaginationTemplate>
            </Table>
        </div>
    </div>

    @code {
    [Parameter]
    public EventCallback<int> IndexPage { get; set; }

    private int Table;

    public void Addtable()
    {
        Table = 1;
    }

    string? txtValue { get; set; }

    public async Task goEdit(int item)
    {
        await IndexPage.InvokeAsync(item);
    }

    public class ItemData
    {
        public int Id { get; set; }
        public DateTime StartDate { get; set; }
        public int year { get; set; }
        public string name { get; set; }
        public bool status { get; set; }


    };
    List<ItemData> listOfData = new List<ItemData>();
    List<ItemData> listOfDataDescending = new List<ItemData>();

    private int total => listOfData.Count();
    private int pageSize = 5;

    protected override void OnInitialized()
    {
        listOfData = Enumerable.Range(0, 7).Select(i => new ItemData
            {
                Id = i,
                StartDate = DateTime.Now,
                year = 2560 + i,
                status = true,
                name = "test รพ 11111111111",
            }).ToList();
        listOfDataDescending = listOfData.OrderByDescending(o => o.year).ToList();
    }
}
