@using System.ComponentModel;

<style>
    .text-status {
        text-align: center;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Noto Sans Thai;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%; /* 24px */
    }

</style>

<div class="site-layout-background" style="padding: 24px;">
    <div class="mms-nav-title">
        <div class="mms-text-title px-4 py-3">ค่าบริการทางการแพทย์ตามภาระเสี่ยง</div>
    </div>
    <div class="container py-4">
        <div class="mms-txt-header py-2">รายการใบคำสั่งจ่าย</div>
        <hr />
        <Table Bordered DataSource="@data" OnChange="OnChange" TItem="MockUpData" @ref="Table" @bind-PageSize="pageSize" Class="pb-5">
            <ChildContent>
                <Selection Align="ColumnAlign.Center" Key="@(context.Id.ToString())" />
                <PropertyColumn Title="ลำดับ" Property="c=>c!.Id" Align="ColumnAlign.Center" />
                <PropertyColumn Title="งวดการจ่าย" Property="c=>c!.InstallmentPay" Align="ColumnAlign.Center" />
                <PropertyColumn Title="เลขที่ชุดคำสั่งจ่าย" Property="c=>c!.NoPay" Width="200px" Align="ColumnAlign.Center" />
                <PropertyColumn Title="ยอดเงินรวม (บาท)" Property="c=>c!.Total" Width="200px" Align="ColumnAlign.Center" />
                <PropertyColumn Title="สถานะ" Property="c=>c!.Status" Width="200px" Align="ColumnAlign.Center">

                    @if (@context.Status != "รอลงลายมือชื่อ")
                    {
                        <div class="text-status" style="color:#F56C6C">@context.Status</div>
                    }
                    else
                    {
                        <div class="text-status" style="color:#009934">@context.Status</div>
                    }
                </PropertyColumn>
                <PropertyColumn Title="" Width="100px" Property="c=>c!.ShowDetail">
                    <img class="mx-2" src="helper_shared/PortalAdminImage/eye.png"
                         style="width:24px;height:24px; cursor:pointer;" @onclick=@(()=>{ }) />
                </PropertyColumn>
            </ChildContent>
            <PaginationTemplate>
                <Pagination Class="pt-2" Total="context.Total"
                            PageSize="context.PageSize"
                            Current="context.PageIndex"
                                        ShowSizeChanger
                            OnChange="context.HandlePageChange" />
            </PaginationTemplate>
        </Table>
        <div class="d-flex justify-content-center">
            <Button Type="@ButtonType.Primary"><i class="fa-solid fa fa-download"></i>อนุมัติรายการจ่าย</Button>
        </div>
    </div>
</div>

@code {

    Table<MockUpData> Table;

    int pageSize = 5;

    void OnChange(QueryModel<MockUpData> query)
    {
        Console.WriteLine(JsonSerializer.Serialize(query));
    }

    class MockUpData
    {
        public MockUpData(int id, string installmentPay, string noPay, string total, string status, string showDetail)
        {
            Id = id;
            InstallmentPay = installmentPay;
            NoPay = noPay;
            Total = total;
            Status = status;
            ShowDetail = showDetail;
        }
        public int Id { get; set; }
        public string InstallmentPay { get; set; }
        public string NoPay { get; set; }
        public string Total { get; set; }
        public string Status { get; set; }
        public string ShowDetail { get; set; }
    }

    MockUpData[] data =
    {
            new(1, "2566/4","RSK1234567","3,600","รอลงลายมือชื่อ",""),
            new(2, "2566/3","RSK1234567","3,600","ลงลายมือชื่อแล้ว",""),

    };

}
