<div class="site-layout-background" style="padding: 24px;">
    <div class="mms-nav-title">
        <div class="mms-text-title px-4 py-3">ค่าบริการทางการแพทย์ทันตกรรม  </div>
    </div>
    <div class="container py-4">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page">
                    <span class="breadcum-process py-2">รายงาน</span>
                </li>

            </ol>
        </nav>
        <hr style="width:100%" />


        <div class="row">
            <div class="d-flex  mms-media-center justify-content-end">

                <div class="col-4 ">
                    <Space Direction="@DirectionVHType.Vertical" Class="mms-btn-serch  col-12">
                        <SpaceItem>
                            <Search Placeholder="ชื่อรายงาน" EnterButton="true" />
                        </SpaceItem>
                    </Space>
                </div>
            </div>
        </div>
        <Table DataSource="listOfData" TItem="ItemData" RowClassName="@(_=>"table-row-color-custom")" Bordered ScrollX="1000">
            <ChildContent Context="data">
                <Column TData="string" Title="ลำดับ" Width="10%" Align="ColumnAlign.Center">
                    
                        @data.Id
                  
                </Column>

                <Column TData="string" Title="หัวข้อรายงาน" Width="80%" Align="ColumnAlign.Center">
                   
                        @data.Name
                   
                </Column>
                <ActionColumn Title="" Width="10%" Align="ColumnAlign.Center">
                   
                        @*<a @onclick="() => startEdit(data.Id)">Edit</a>*@
                        <img class="mx-2" src="helper_shared/PortalAdminImage/eye.png" style="width:24px;height:24px;" />
                        <img class="mx-2" src="helper_shared/PortalAdminImage/download.png" style="width:24px;height:24px;"/>
                   

                </ActionColumn>
            </ChildContent>
        </Table>


    </div>
</div>
@if (isloading == true)
{
    
    <LoadingPage></LoadingPage>
}
<Modal Title="@title"
       Visible="@_visible"
       OnOk="@HandleOk"
       OnCancel="@HandleCancel"
       OkText="@okbutton"
       CancelText="@canclebutton"
       Maximizable="@true"
       DefaultMaximized="@true" Style="z-index:10200;">
    <Card Bordered="true" Title=@("") Style="width: 100%;border-radius: 6px 6px 0px 0px;" Size="small" Class="mms-txt-headdetail">
        <Body>
            <p>Card content</p>
            <p>Card content</p>
            <p>Card content</p>
        </Body>
    </Card>

</Modal>

@using MatBlazor
@using System.ComponentModel.DataAnnotations;
@using System.Text.Json;
@using System.ComponentModel;
@inject ModalService _modalService
@code {
    bool isloading = true;
    RenderFragment okbutton =@<div style="color:#fff;">
        <Icon Type="save" Theme="outline" />
        บันทึก
    </div>;
    RenderFragment canclebutton =@<div>
        <Icon Type="close-circle" Theme="outline" />
        ยกเลิก
        </div>
    ;
    class Person
    {
        public string Value { get; set; }
        public string Name { get; set; }
    }

    List<Person> _persons;
    string _selectedValue;
    Person _selectedItem;
    protected override void OnInitialized()
    {
        isloading = true;
        listOfData = new List< ItemData >
        {
            new ItemData
            {
                Id = 1,
                Name = "รายงาน..."
            }, new ItemData
            {
                Id = 2,
                Name = "รายงาน..."
            },
        };
        
        isloading = false;
        StateHasChanged();
    }
    record ItemData
    {
        public int Id { get; set; }
        public string Name { get; set; }
        public int Age { get; set; }
        public string Address { get; set; }
    };

    IDictionary<string, (bool edit, ItemData data)> editCache = new Dictionary<string, (bool edit, ItemData data)>();
    List<ItemData> listOfData = new();
    int i = 0;
    string editId;

    //void startEdit(string id)
    //{
    //    var data = editCache[id];
    //    editCache[id] = (true, data.data with { }); // add a copy in cache
    //}

    //void cancelEdit(string id)
    //{
    //    var data = listOfData.FirstOrDefault(item => item.Id == id);
    //    editCache[id] = (false, data); // recovery
    //}

    //void saveEdit(string id)
    //{
    //    var index = listOfData.FindIndex(item => item.Id == id);
    //    listOfData[index] = editCache[id].data; // apply the copy to data source
    //    editCache[id] = (false, listOfData[index]); // don't affect rows in editing
    //}

    string title = "BasicModal";
    bool _visible = false;
    private async void HandleOk(MouseEventArgs e)
    {
        _visible = false;
    }

    private void HandleCancel(MouseEventArgs e)
    {
        Console.WriteLine(e);
        _visible = false;
    }
}

