
<div class="site-layout-background" style="padding: 24px;">
    <div class="mms-nav-title">
        <div class="mms-text-title px-4 py-3"> ค่าบริการทางการแพทย์ประเภทผู้ป่วยในด้วยโรคที่มีค่าใช้จ่ายสูงเกินปกติ (ORS)</div>
    </div>

    <div class="container py-4">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page">
                    <span class="breadcum-success py-2">รายการใบคำสั่งจ่าย</span>
                </li>
                <li class="breadcrumb-item" aria-current="page">
                    <span class="breadcum-process py-2">แก้ไข</span>
                </li>
            </ol>
        </nav>
        <hr />
        <div class="row container py-4">
            <div class="col-4">
                <div class="row">
                    <div class="col-4 d-flex align-content-center mms-media-end">
                        <div class="mms-media-end mms-txt-headdetail d-flex align-content-center">ปีที่ </div>
                    </div>
                    <div class="col-8 d-flex align-content-center">
                        <Input TValue="string" Value="@year" ReadOnly />
                     </div>
                 </div>
             </div>
             <div class="col-4">
                 <div class="row">
                     <div class="col-5 d-flex align-content-center mms-media-end">
                         <div class="mms-media-end mms-txt-headdetail d-flex align-content-center">วันที่ประมวลผล </div>
                     </div>
                     <div class="col-7 d-flex align-content-center">
                         <Input TValue="string" Value="@updatedate" ReadOnly />
                     </div>
                 </div>
             </div>
             <div class="col-4">
                 <div class="row">
                     <div class="col-5 d-flex align-content-center mms-media-end">
                         <div class="mms-media-end mms-txt-headdetail d-flex align-content-center">ประมวลผลโดย </div>
                     </div>
                     <div class="col-7 d-flex align-content-center">
                         <Input TValue="string" Value="@updateby" ReadOnly />
                     </div>
                 </div>
             </div>
         </div>
        <div class="py-4">
            <div class="row">
                <div class="d-flex  mms-media-center">
                    <div class="col-4 mms-media-start">
                        <div class="">
                             <Button Class="ant-btn-distable"><i class="fa-solid fa-arrow-right-from-bracket"></i>&nbsp; ดาวน์โหลด</Button>
                        </div>
                    </div>
                    <div class="col-4 mms-media-end">
                        <Button Type="@ButtonType.Primary" Class="mms-text-header" Disabled="@(selectedRows == null || selectedRows.Count() == 0 ? true: false)">
                             <i class="fa-solid fa-right-from-bracket"></i>
                             ส่งลงลายมือชื่อ
                        </Button>
                    </div>
                    <div class="col-4 ">
                        <Space Direction="@DirectionVHType.Vertical" Class="mms-btn-serch  col-12">
                            <SpaceItem>
                                 <Search Placeholder="ชื่อ-นามสกุล" EnterButton="true" />
                            </SpaceItem>
                        </Space>
                    </div>
                </div>
            </div>
            
        </div>
         <Collapse DefaultActiveKey="@(new[]{"1"})" Style="background-color: #ffcc41;">
             <Panel Header="45650 โรงพยาบาล1" Key="1" Style="font-size:22px">
                 <Table  DataSource="data" Bordered ScrollX="2200">
                         <ColumnDefinitions>
                    <PropertyColumn Property="c=>c.Id" Title="ลำดับ" Align="ColumnAlign.Center">
                        @String.Format("{0:d}", data.IndexOf(context) + 1)
                    </PropertyColumn>
                    <PropertyColumn Property="c=>c.Name"  Align="ColumnAlign.Center" />
                    <PropertyColumn Property="c=>c.Key" Align="ColumnAlign.Center" />
                    <PropertyColumn Property="c=>c.Disease"  Align="ColumnAlign.Center" />
                    <PropertyColumn Property="c=>c.DiseaseID" Align="ColumnAlign.Center" />
                    <PropertyColumn Property="c=>c.Receipt"  Align="ColumnAlign.Center" />
                    <PropertyColumn Property="c=>c.PriceReceiptCenter" Align="ColumnAlign.Center" />
                    <PropertyColumn Property="c=>c.ExcessMillion"  Align="ColumnAlign.Center" />
                    <PropertyColumn Property="c=>c.AdjRW" Align="ColumnAlign.Center" />
                    <PropertyColumn Property="c=>c.MedicineExpenses"  Align="ColumnAlign.Center" />
                    <PropertyColumn Property="c=>c.Equipment" Align="ColumnAlign.Center" />
                    <PropertyColumn Property="c=>c.ProstheticCost" Align="ColumnAlign.Center" />
                    <PropertyColumn Property="c=>c.TotalDeductionsSpecificItems"  Align="ColumnAlign.Center" />
                    <PropertyColumn Property="c=>c.AdjustedPrice" Align="ColumnAlign.Center" />
                    <PropertyColumn Property="c=>c.PortionExceedingOneMillion"  Align="ColumnAlign.Center" />
                    </ColumnDefinitions>
                     <HeaderTemplate>
                        <TableRow>
                            <TableHeader  @bind-Field="context.Id" RowSpan="2">ลำดับ</TableHeader >
                            <TableHeader  @bind-Field="context.Name" RowSpan="2">ชื่อ-นามสกุล</TableHeader >
                            <TableHeader  @bind-Field="context.Key" RowSpan="2">เลขประจำตัวประชาชน</TableHeader >
                            <TableHeader  @bind-Field="context.Disease" RowSpan="2">โรค</TableHeader >
                            <TableHeader  @bind-Field="context.DiseaseID" RowSpan="2">รหัสโรค</TableHeader >
                            <SimpleTableHeader  ColSpan="3"><span style="font-size:18px;">ค่าใช้จ่าย</span></SimpleTableHeader>
                            <SimpleTableHeader ColSpan="4"><span style="font-size:18px;">หักค่าใช้จ่าย 11 รายการ (หักเฉพาะรายการที่ได้รับเงินจากสำนักงาน)</span></SimpleTableHeader>
                            <TableHeader  RowSpan="2" @bind-Field="context.TotalDeductionsSpecificItems">รวมหักเฉพาะรายการที่มี </TableHeader >
                            <SimpleTableHeader ColSpan="1"><span style="font-size:18px;">หลังหักค่าใช้จ่าย 11 รายการ คงเหลือ</span></SimpleTableHeader>
                            <SimpleTableHeader ColSpan="1"><span style="font-size:18px;">จำนวนเงิน ที่รพ.ได้รับ</span></SimpleTableHeader>
                        </TableRow>
                        <TableRow>
                            <TableHeader  @bind-Field="context.Receipt">ตามใบเสร็จ</TableHeader >
                            <TableHeader  @bind-Field="context.PriceReceiptCenter">ราคาที่ปรับตาม กรมบัญชีกลาง </TableHeader >
                            <TableHeader  @bind-Field="context.ExcessMillion">ส่วนที่เกิน หนึ่งล้าน </TableHeader >
                            <TableHeader  @bind-Field="context.AdjRW">ค่า AdjRW </TableHeader >
                            <TableHeader  @bind-Field="context.MedicineExpenses">ค่ายาบัญชี จ(2) </TableHeader >
                            <TableHeader  @bind-Field="context.Equipment">ค่าอวัยวะเทียม และอุปกรณ์ </TableHeader >
                            <TableHeader  @bind-Field="context.ProstheticCost">ค่าอวัยวะเทียม และอุปกรณ์ </TableHeader >
                            <TableHeader  @bind-Field="context.AdjustedPrice">(ราคาที่ปรับ - 11รายการ) มีภาระ 250,000 ขึ้นไป </TableHeader >
                            <TableHeader  @bind-Field="context.PortionExceedingOneMillion">(ส่วนที่เกินหนึ่งล้าน x 80%) </TableHeader >
                        </TableRow>

                    </HeaderTemplate>
                   
                </Table>
            </Panel>
            <Panel Header="This is panel header 2" Key="2">
                <p>text</p>
            </Panel>
            <Panel Header="This is panel header 3" Key="3">
                <p>text</p>
            </Panel>
        </Collapse>
    </div>
</div>

@if (isloading == true)
{
    <style>
        body {
            overflow: hidden;
        }
    </style>

    <LoadingPage></LoadingPage>
}

@using System.ComponentModel.DataAnnotations;
@using System.Text.Json;
@using System.ComponentModel;
@code {
    ColumnAlign columnAlign = ColumnAlign.Left;
    [Parameter]
    public EventCallback<(int, string)> IndexPage { get; set; }
    [Parameter]
    public string year { get; set; }

    IEnumerable<Data> selectedRows = new List<Data>();

    int page;
    bool openConfirmModal { get; set; }
    bool openViewDataModal { get; set; }
    string Placeholder = "วว/ดด/ปปปป";
    bool _visible = false;
    bool isloading = false;
    string updatedate = "25/05/2566";
    string updateby = "นายสว่าง สดใส";
    List<Data> _data;

    public class Data
    {
        public bool HosStatus { get; set; }

        public string Id { get; set; }

        public string Key { get; set; }

        public string Name { get; set; }
        public string Disease { get; set; }
        public string DiseaseID { get; set; }
        public string Receipt { get; set; }
        public string PriceReceiptCenter { get; set; }
        public string ExcessMillion { get; set; }
        public string AdjRW { get; set; }
        public string MedicineExpenses { get; set; }
        public string Equipment { get; set; }
        public string ProstheticCost { get; set; }
        public string TotalDeductionsSpecificItems  { get; set; }
        public string AdjustedPrice  { get; set; }
        public string PortionExceedingOneMillion  { get; set; }
     

    }

    List<Data> data = new List<Data>();

    string _selectedValue;


    protected override async Task OnInitializedAsync()
    {
        isloading = true;
        data = new List<Data>
    {
        new Data {
            HosStatus  = true,
            Id = "1",
            Key = "1101201267891",
            Name = "นายเมธี ส่องแสง",
            Disease = "โรคเลือดออก",
            DiseaseID = "650112847",
            Receipt = "6,573,678.00",
            PriceReceiptCenter = "1,459,418.58",
            ExcessMillion = "459,418.58",
            AdjRW = "114,452.40",
            MedicineExpenses = "0.00",
            Equipment = "0.00",
            ProstheticCost = "0.00",
            TotalDeductionsSpecificItems = "114,452.40",
            AdjustedPrice = "1,344,966.18",
            PortionExceedingOneMillion = "367,534.86",
        },
        new Data {
            HosStatus  = true,
            Id = "2",
            Key = "1102345678925",
            Name = "นายนรง มีศักดิ์",
            Disease = "การอักเสบของเนื้อเยื่อในดวงตา",
            DiseaseID = "630182090",
            Receipt = "1,725,576.00",
            PriceReceiptCenter = "1,680,503.00",
            ExcessMillion = "680,503.00",
            AdjRW = "0.00",
            MedicineExpenses = "1,284,000.00",
            Equipment = "0.00",
            ProstheticCost = "0.00",
            TotalDeductionsSpecificItems = "1,284,000.00",
            AdjustedPrice = "396,503.00",
            PortionExceedingOneMillion = "544,402.40",
        },
         new Data {
            HosStatus  = true,
            Id = "3",
            Key = "1108954632579",
            Name = "นายยิ้มแย้ม แจ่มใส",
            Disease = "ปอดอักเสบ (โควิด)",
            DiseaseID = "650328833",
            Receipt = "1,492,242.00",
            PriceReceiptCenter = "1,399,102.00",
            ExcessMillion = "399,102.00",
            AdjRW = "0.00",
            MedicineExpenses = "0.00",
            Equipment = "0.00",
            ProstheticCost = "1,021,846.40",
            TotalDeductionsSpecificItems = "1,021,846.40",
            AdjustedPrice = "377,255.60",
            PortionExceedingOneMillion = "319,281.60",
          
        },
    };


        isloading = false;
        StateHasChanged();
    }
    public void OpenConfirmModal(bool value)
    {
        openConfirmModal = value;
    }
    public void OpenViewDataModal(bool value)
    {
        openViewDataModal = value;
    }
    public async Task Indexpage(int usepage, string year)
    {

        await IndexPage.InvokeAsync((usepage, year));

    }
}
