@using MatBlazor

<div class="site-layout-background" style="padding: 24px;">
    <div class="mms-nav-title">
        <div class="mms-text-title px-4 py-3">ค่าบริการทางการแพทย์ กรณีโรคติดเชื้อไวรัสโคโรน่า 2019 (โรคโควิด 19) </div>
    </div>
    <div class="p-2 p-md-5 ">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page">
                    <span class="breadcum-process py-2">สร้างคำสั่งจ่าย</span>
                </li>
                
            </ol>
        </nav>
        
        <div class="container py-4">
            <div class="row pb-4">
                <div class="col-md-12 col-lg-6 col-xl-4">
                    <div class="mms-media-start">
                        <div class="mms-txt-headdetail col-2">งวดที่ : &nbsp;</div>
                        <div class="col-8">
                            <Input Placeholder="6603" @bind-Value="@txtValue" />
                        </div>
                        <div class="col-2"></div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-6 col-xl-4">
                    <div class="mms-media-start">
                        <div class="mms-txt-headdetail col-4">วันที่ประมวลผล : &nbsp;</div>
                        <div class="col-8">
                            <Input Placeholder="6603" @bind-Value="@txtValue" />
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-6 col-xl-4">
                    <div class="mms-media-start">
                        <div class="mms-txt-headdetail col-4">ประมวลผลโดย :  &nbsp;</div>
                        <div class="col-8">
                            <Input Placeholder="6603" @bind-Value="@txtValue" />
                        </div>
                    </div>
                </div>
            </div>
            <hr style="width:100%" />
            <div class="row my-4">
               
                <div class="col-12">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="col-3">
                        </div>
                        <div class="col-4">
                            <div class="mms-media-end">
                                <Button @onclick=@(() => goEdit(2)) Type="@ButtonType.Primary" disabled="@(selectedRows?.Count() == 0 || selectedRows == null)"><i class="fa-solid fa-clock-rotate-left"></i>&nbsp; อนุมัติคำสังจ่าย</Button>
                            </div>
                        </div>&nbsp;
                        <div class="col-5 float-end">
                            <Space Direction="@DirectionVHType.Vertical" Class="mms-btn-serch w-100">
                                <SpaceItem>
                                    <Search Placeholder="ระบุชื่อโรงพยาบาล." EnterButton="true" />
                                </SpaceItem>
                            </Space>
                        </div>
                    </div>
                </div>
            </div>
            <Table DataSource="listOfData" TItem="ItemData" RowClassName="@(_=>"editable-row")" @bind-PageSize="pageSize" Bordered ScrollX="1000" @bind-SelectedRows="selectedRows">
                <ChildContent Context="data">
                    <Selection Width="5%" Key="@data.Id.ToString()" />
                    <Column TData="string" Title="ลำดับ" Width="10%" Style="text-align:center;">
                        @String.Format("{0:d}", listOfData.IndexOf(data) + 1)
                    </Column>
                   @* <Column TData="string" Title="งวด" Width="10%" Style="text-align:center;">
                        @data.installment
                    </Column>*@
                    <Column TData="string" Title="เลขที่ชุดคำสั่งจ่าย" Width="20%" Style="text-align:center;">
                        @data.paymentNumber
                    </Column>
                    <Column TData="string" Title="จำนวนสถานพยาบาล" Width="20%" Style="text-align:center;">
                        @data.withdrawCount
                    </Column>
                    <Column TData="string" Title="จำนวนรายการเบิก" Width="20%" Style="text-align:center;">
                        @data.withdrawCount
                    </Column>
                    <Column TData="string" Title="ยอดเงินรวม (บาท)" Width="15%" Style="text-align:center;">
                        @String.Format("{0:n}",data.amount)
                    </Column>
                    <Column TData="string" Title="สถานะ" Width="10%" Style="text-align:center;">
                        @if (data.status == "ลงลายมือชื่อแล้ว")
                        {
                            <div style="color:#009934;">@data.status</div>
                        }
                        else if (data.status == "รอลงลายมือชื่อ")
                        {
                            <div style="color:#F56C6C;">@data.status</div>
                        }
                        else
                        {

                            <div>@data.status</div>
                        }
                    </Column>
                    <Column TData="string" Width="10%" Style="text-align:center;">
                        <img class="mx-2" title="เรียกดู" src="helper_shared/PortalAdminImage/eye.png" style="width:24px;height:24px; cursor:pointer;" @onclick=@(() => goEdit(2)) />
                    </Column>
                </ChildContent>

                <PaginationTemplate>
                    <Pagination Class="pt-2"
                                Total="context.Total"
                                PageSize="context.PageSize"
                                Current="context.PageIndex"
                                                ShowSizeChanger
                                OnChange="context.HandlePageChange" />
                </PaginationTemplate>
            </Table>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public EventCallback<int> IndexPage { get; set; }

    private int Table;

    public void Addtable()
    {
        Table = 1;
    }

    string? txtValue { get; set; }

    public async Task goEdit(int item)
    {
        await IndexPage.InvokeAsync(item);
    }

    RenderFragment _audioIcon =@<Icon Type="audio" Theme="outline" Style="color: #1890ff" />;

    public class Todo
    {
        public int UserId { get; set; }
        public int Id { get; set; }
        public string? Title { get; set; }
        public bool Completed { get; set; }

        public Todo()
        {
        }
    }

    Todo[]? todos;

    public class ItemData
    {
        public int Id { get; set; }
        public string? installment { get; set; }
        public int? paymentNumber { get; set; }
        public int? HosNumber { get; set; }
        public int? withdrawCount { get; set; }
        public int amount { get; set; }
        public string? status { get; set; }


    };
    IEnumerable<ItemData>? selectedRows;
    List<ItemData> listOfData = new List<ItemData>();
    private int total => listOfData.Count();
    private int pageSize = 3;

    protected override void OnInitialized()
    {
        listOfData = new List<ItemData> {
            new ItemData {
                Id = 1,
                installment = $"6704",
                paymentNumber = 10001,
                HosNumber = 3,
                withdrawCount = 10,
                amount = 100000,
                status = "รอส่งลงลายมือชื่อ",
            },
            new ItemData {
                Id = 2,
                installment = $"6704",
                paymentNumber = 10002,
                HosNumber = 3,
                withdrawCount = 10,
                amount = 10000000,
                status = "รอลงลายมือชื่อ",
            },
            new ItemData {
                Id = 3,
                installment = $"6704",
                paymentNumber = 10003,
                HosNumber = 3,
                withdrawCount = 15,
                amount = 100000,
                status = "ลงลายมือชื่อแล้ว",
            }
        };
    }

}
