<div class="site-layout-background" style="padding: 24px;">
    <div class="mms-nav-title">
        <div class="mms-text-title px-4 py-3">กรณีฟอกเลือดด้วยเครื่องไตเทียม และกรณีการให้ยา Erythropoietin</div>
    </div>
    <div class="container py-4">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page">
                    <span class="breadcum-process py-2">ค้นหาข้อมูลผู้ประกันตน</span>
                </li>
            </ol>
        </nav>
        <hr />
        <div class="container py-4">
            <div class="row py-2 align-items-center">
                <div class="col-sm-12 col-md-4">
                    <div class="mms-txt-headdetail text-md-end pe-2">เลขประจำตัวประชาชน <span class="star-comment">*</span></div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <Input @bind-Value="@txtValue" Placeholder="ระบุเลขประจำตัวประชาชน" />
                </div>
            </div>
            <div class="row py-2 align-items-center">
                <div class="col-sm-12 col-md-4">
                    <div class="mms-txt-headdetail text-md-end pe-2">รหัส / ชื่อสถานพยาบาล</div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <Select TItem="DropdownData"
                            TItemValue="string"
                            DataSource="@dropdownlist"
                            @*@bind-Value="@reson" *@
                            ValueName="@nameof(DropdownData.name)"
                            LabelName="@nameof(DropdownData.name)"
                            Placeholder="-- ระบุสาสถานพยาบาล --"
                                            AllowClear>
                    </Select>
                </div>
            </div>
            <div class="row py-2 align-items-center">
                <div class="col-sm-12 col-md-4">
                    <div class="mms-txt-headdetail text-md-end pe-2">งวดที่</div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <Input @bind-Value="@txtValue" Placeholder="ระบุงวด" />
                </div>
            </div>
            <div class="row py-2 align-items-center">
                <div class="col-sm-12 col-md-4">
                    <div class="mms-txt-headdetail text-md-end pe-2">ช่วงเวลาใช้สิทธิ</div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="row align-items-center">
                        <div class="col-sm-12 col-md-5">
                            <DatePicker TValue="DateTime?" Picker="@DatePickerType.Date" />
                        </div>
                        <div class="col-sm-12 col-md-2">
                            <div class="mms-txt-headdetail">ถึง :</div>
                        </div>
                        <div class="col-sm-12 col-md-5">
                            <DatePicker TValue="DateTime?" Picker="@DatePickerType.Date" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="mms-media-center mt-5">
                <Button Type="@ButtonType.Primary" Style="width: 150px" @onclick="() => goDetail()"><i class="fa-solid fa-magnifying-glass"></i> &nbsp; ค้นหาข้อมูล</Button>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public EventCallback<int> IndexPage { get; set; }



    string? txtValue = "dsad";

    public async Task goEdit(int item)
    {
        await IndexPage.InvokeAsync(item);
    }


    RenderFragment _audioIcon =@<Icon Type="audio" Theme="outline" Style="color: #1890ff" />;


    public class ItemData
    {
        public int Id { get; set; }
        public string? date { get; set; }

    };
    public class DropdownData
    {
        public string name { get; set; }
        public string? date { get; set; }

    };

    List<DropdownData> dropdownlist = new List<DropdownData>();
    List<ItemData> listOfData = new List<ItemData>();
    private int total => listOfData.Count();
    private int pageSize = 3;

    public async Task goDetail()
    {
        await IndexPage.InvokeAsync(2);
    }


    protected override void OnInitialized()
    {
        listOfData = new List<ItemData>
        {
            new ItemData
            {
                Id = 1 ,
                date = $"660801",


            },
            new ItemData
            {
               Id = 2 ,
                date = $"COVID2566-G120123",

            },
            new ItemData
            {
                Id =3 ,
                date = $"20230601",

            }
        };

        dropdownlist = new List<DropdownData>
        {
            new DropdownData
            {
                name = "รพ 1"



            },
            new DropdownData
            {
                 name = "รพ 2"

            },
            new DropdownData
            {
                 name = "รพ 3"

            }
        };
    }

}
