@page "/mainmenu"
@using Blazored.LocalStorage;
@using sso.mms.helper.Components.Footer
@using sso.mms.portal.admin.Pages.Navbar
@using sso.mms.helper.Configs;
@using sso.mms.helper.PortalModel;
@using sso.mms.portal.admin.ViewModels;
@using sso.mms.login.Services;
@using sso.mms.login.ViewModels;
@using sso.mms.helper.Utility;
@using System.IdentityModel.Tokens.Jwt;
@using sso.mms.helper.ViewModels;
@inject SettingService SettingService
@inject ReadTokenService readTokenService
@inject NavigationManager navigaTion
@inject IJSRuntime JsRuntime
@inject UserRoleService userRoleService
@inject ILocalStorageService _localstorage;

<style>
    @@media only screen and (min-width: 1000px) {
        .pm-xl {
            position: fixed;
            width: 100%;
            z-index: 1000;
        }
    }

    @@media only screen and (max-width: 1000px) {
        .position-class {
            position: relative
        }
    }

</style>
@if (isLoading == true)
{
    <style>
        body {
            overflow: hidden;
        }</style>

    <LoadingPage></LoadingPage>
}

<NavbarLoginAdmin ShortToken=@shortToken PageCode="DSP0101"></NavbarLoginAdmin>

<MediaStyle></MediaStyle>
<br />
<br />

@*<div>short token @shortToken</div>
<div>access token @responseShortToken?.accessToken</div>
<div>refresh token @responseShortToken?.refreshToken</div>
<div>realm group @responseShortToken?.realmGroup</div>
<br>
<br>
<div>example token with ldap</div>
<div>
    short token :
    <p>27e0be8a-30e6-4dd2-b1cd-3bef5abbb6a2-616F17B1B837787910708A327441D047</p>
</div>
<div>
    access token :
    <p>eyJhbGciOiJSUzI1NiIsInR5cCIgOiAiSldUIiwia2lkIiA6ICJILUVZN1FIRlpRV09BZFY2U080TWNaRUpGMmFkRHZKOTk3SmlHREF1R2JzIn0.eyJleHAiOjE2ODYyMzI5ODcsImlhdCI6MTY4NjE5Njk5MiwiYXV0aF90aW1lIjoxNjg2MTk2OTg3LCJqdGkiOiJhMDk1MzY5Yi02MTYyLTQwZWItODc0Zi00N2M3OTM3NmM5YzUiLCJpc3MiOiJodHRwczovL2lkcGVzZWxmdWF0LnNzby5nby50aC9hdXRoL3JlYWxtcy9zc29vZmZpY2VyIiwiYXVkIjoiYWNjb3VudCIsInN1YiI6IjA3NzRkYzZlLTE5ZTAtNGNiMC05Y2NlLWMzZjhhZWZhZGE4ZiIsInR5cCI6IkJlYXJlciIsImF6cCI6InNzb2NsaWVudCIsIm5vbmNlIjoiNTZlOWZiZWQtYTczNC00NDdjLTgzZGItODg1OWFkNmM1YzBkIiwic2Vzc2lvbl9zdGF0ZSI6ImJlYzJkMDdlLWNmMWQtNDE5Yy05Y2NhLThhOTE0ZTg2MGMzNiIsImFjciI6IjEiLCJhbGxvd2VkLW9yaWdpbnMiOlsiKiJdLCJyZWFsbV9hY2Nlc3MiOnsicm9sZXMiOlsib2ZmbGluZV9hY2Nlc3MiLCJ1bWFfYXV0aG9yaXphdGlvbiIsImRlZmF1bHQtcm9sZXMtc3Nvb2ZmaWNjZXIiXX0sInJlc291cmNlX2FjY2VzcyI6eyJhY2NvdW50Ijp7InJvbGVzIjpbIm1hbmFnZS1hY2NvdW50IiwibWFuYWdlLWFjY291bnQtbGlua3MiLCJ2aWV3LXByb2ZpbGUiXX19LCJzY29wZSI6Im9wZW5pZCBwcm9maWxlIGVtYWlsIiwic2lkIjoiYmVjMmQwN2UtY2YxZC00MTljLTljY2EtOGE5MTRlODYwYzM2Iiwic3NvcGVyc29uZmllbGRwb3NpdGlvbiI6IuC4meC4seC4geC4p-C4tOC4iuC4suC4geC4suC4o-C5geC4o-C4h-C4h-C4suC4mSIsIndvcmtpbmdkZXB0ZGVzY3JpcHRpb24iOiLguKrguLPguJnguLHguIHguIfguLLguJnguJvguKPguLDguIHguLHguJnguKrguLHguIfguITguKHguIjguLHguIfguKvguKfguLHguJTguIjguLHguJnguJfguJrguLjguKPguLUiLCJhY2NvdW50QWN0aXZlIjp0cnVlLCJkaXNwbGF5TmFtZSI6IuC5geC4p-C4p-C4leC4siDguYHguIHguYnguKfguYDguIjguKPguLTguI0iLCJzc29zdXJuYW1lIjoi4LmB4LiB4LmJ4Lin4LmA4LiI4Lij4Li04LiNIiwicHJlZmVycmVkX3VzZXJuYW1lIjoia3dhZXd0YSIsInNzb3BlcnNvbmVtcGRhdGUiOiIxNi8xMS8yNTQ3IiwibW9kaWZ5VGltZXN0YW1wIjoiMjAyMTAzMTYxMDM1MTguMDY0ODUzWiIsInNzb3BlcnNvbmNsYXNzIjoi4Lib4Lij4Liw4LmA4Lig4LiX4Lin4Li04LiK4Liy4LiB4Liy4LijIOC4o-C4sOC4lOC4seC4muC4iuC4s-C4meC4suC4jeC4geC4suC4oyIsImNyZWF0ZVRpbWVzdGFtcCI6IjIwMjEwMzE2MTAzNTE4LjA2NDg1M1oiLCJ1cHBlcmRlcGFydG1lbnRkZXNjcmlwdGlvbiI6IuC4quC4s-C4meC4seC4geC4h-C4suC4meC4m-C4o-C4sOC4geC4seC4meC4quC4seC4h-C4hOC4oeC4iOC4seC4h-C4q-C4p-C4seC4lOC4iOC4seC4meC4l-C4muC4uOC4o-C4tSIsInNzb3BlcnNvbnBvc2l0aW9uIjoi4LiZ4Lix4LiB4Lin4Li04LiK4Liy4LiB4Liy4Lij4LmB4Lij4LiH4LiH4Liy4LiZIiwidXBwZXJ3b3JraW5nZGVwdGRlc2NyaXB0aW9uIjoi4Liq4Liz4LiZ4Lix4LiB4LiH4Liy4LiZ4Lib4Lij4Liw4LiB4Lix4LiZ4Liq4Lix4LiH4LiE4Lih4LiI4Lix4LiH4Lir4Lin4Lix4LiU4LiI4Lix4LiZ4LiX4Lia4Li44Lij4Li1IiwicXVvdGEiOiI1MTIwMDAwMDAiLCJzc29maXJzdG5hbWUiOiLguYHguKfguKfguJXguLIiLCJTU09icmFuY2hDb2RlIjoiMjIwMCIsInNzb3BlcnNvbmdlbmRlciI6IuC4q-C4jeC4tOC4hyIsImVtYWlsIjoid2Fld3RhLmtAc3NvLmdvLnRoIiwiZW1haWxfdmVyaWZpZWQiOmZhbHNlLCJpbml0aWFscyI6IuC4meC4suC4h-C4quC4suC4pyIsInVwcGVyZGVwYXJ0bWVudG51bWJlciI6IjItMTcwMDYwMDA0NSIsInNzb3BlcnNvbmJpcnRoZGF0ZSI6IjE2LzA3LzI1MTgiLCJ1cHBlcndvcmtpbmdkZXB0bm8iOiIyLTE3MDA2MDAwNDUiLCJnaXZlbl9uYW1lIjoiV0FFV1RBIEtBRVdDSEFST0VOIiwiZW1wbG95ZWVUeXBlIjoi4LiC4LmJ4Liy4Lij4Liy4LiK4LiB4Liy4LijIiwic3NvcGVyc29uY2l0aXplbmlkIjoiMzIyMDEwMDU1ODUwMiIsImRlcGFydG1lbnROdW1iZXIiOiIyLTE3MDA2MDAwNDUwMDYiLCJuYW1lIjoiV0FFV1RBIEtBRVdDSEFST0VOIEtBRVdDSEFST0VOIiwiYnVzaW5lc3NDYXRlZ29yeSI6IjItMTcwMDYwMDA0NTAwNiIsImRlcGFydG1lbnRkZXNjcmlwdGlvbiI6IuC4geC4peC4uOC5iOC4oeC4h-C4suC4meC4m-C4o-C4sOC4geC4seC4meC4quC4seC4h-C4hOC4oSIsImZhbWlseV9uYW1lIjoiS0FFV0NIQVJPRU4iLCJzc29wZXJzb25lbXBzdGFydGRhdGUiOiIxNi8xMS8yNTQ3In0.cCyYUw0vn-0bVHB7bRA9VnUrpVAjWahmQ6vnGgRZ91hEU9yjjgiWwriyqEUrvizOFUZyw_ia66p-HKe0VyFbwNZ913SncXqAc_ibG5yPVX6pYBJw7Us5gL-WRtHUpIZ2qO_HQxmzGQyO9ERdWWrHz7DgxqOfC0yu-KrcoCxx74O1oRe5vK01Z7M1ai-9Hr1akF120tsuzlLNRWXPE8SJKDr7iX9BgcBpMn1tGc3SnshHQ--gsXdIs8sc5Ts-c7I0ywhLeJ3Kex9W0vT6EHRNc2DVwf7Fn9X03rZsgRdwbPc_2Spl0CRNu6To9_JR8rpoxXecTVOwpaQAO2hVBO1F_g</p>
</div>
<div>
    refresh token :
    <p>eyJhbGciOiJIUzI1NiIsInR5cCIgOiAiSldUIiwia2lkIiA6ICI0YTM1ODg1Mi04NjM2LTRhNTUtYTgwNy1hNzcxOGRmNGY0YWMifQ.eyJleHAiOjE2ODYxOTg3OTIsImlhdCI6MTY4NjE5Njk5MiwianRpIjoiZjNjNjNlNjYtZDBlOC00MDc2LTk3YjEtNmViNTRhMGE4YzVlIiwiaXNzIjoiaHR0cHM6Ly9pZHBlc2VsZnVhdC5zc28uZ28udGgvYXV0aC9yZWFsbXMvc3Nvb2ZmaWNlciIsImF1ZCI6Imh0dHBzOi8vaWRwZXNlbGZ1YXQuc3NvLmdvLnRoL2F1dGgvcmVhbG1zL3Nzb29mZmljZXIiLCJzdWIiOiIwNzc0ZGM2ZS0xOWUwLTRjYjAtOWNjZS1jM2Y4YWVmYWRhOGYiLCJ0eXAiOiJSZWZyZXNoIiwiYXpwIjoic3NvY2xpZW50Iiwibm9uY2UiOiI1NmU5ZmJlZC1hNzM0LTQ0N2MtODNkYi04ODU5YWQ2YzVjMGQiLCJzZXNzaW9uX3N0YXRlIjoiYmVjMmQwN2UtY2YxZC00MTljLTljY2EtOGE5MTRlODYwYzM2Iiwic2NvcGUiOiJvcGVuaWQgcHJvZmlsZSBlbWFpbCIsInNpZCI6ImJlYzJkMDdlLWNmMWQtNDE5Yy05Y2NhLThhOTE0ZTg2MGMzNiJ9.XuAycdip5fR7oPQBsvY8goi32Yum2ysBVG4XJ_cCzMA</p>
</div>
<div>realm group : @responseShortToken?.realmGroup</div>
*@


<div class="container my-3 pb-5">
    <div class="card-main pt-5 pb-5">
        <div class="container">

            @foreach (var item in menulist)
            {
                <div class="accordion m-3" id="accordionPanelsStayOpenExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="@item.accordionID">
                            <button class=" accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#@item.collapseID" aria-expanded="true" aria-controls="@item.collapseID">
                                <div class="txt-accd-title"> @item.Name </div>
                            </button>
                        </h2>
                        <div id="@item.collapseID" class="accordion-collapse collapse show" aria-labelledby="@item.accordionID">
                            <div class="accordion-body b-c-s">
                                <div style="padding-left:5%;">
                                    @foreach (var subitem in subMenulist)
                                    {
                                        if (subitem.MenulistId == item.Id)
                                        {
                                            if (menuList.Contains(subitem.MenuCode))
                                            {
                                                if ((subitem.MenuCode == "PSMSW008" && checkStatusBook.isactive == false) || (subitem.MenuCode == "PSMBO002" && checkStatusChat.isactive == false))
                                                {
                                                    continue;
                                                }
                                                else
                                                {
                                                    <div class="btn-group m-s-y" role="group" aria-label="">
                                                        <button type="button" class="btn b-btn button-box card-w-h btn-outline-light" @onclick="@(()=>clickmenu(subitem.Path,subitem.Namedetail))">
                                                            @if (subitem.MenulistId == 1 || subitem.MenulistId == 2 || subitem.MenulistId == 3)
                                                            {
                                                                <i class="@subitem.ImagePath" style="font-size: 55px"></i>
                                                            }
                                                            else if (subitem.MenulistId == 4 || subitem.MenulistId == 5)
                                                            {
                                                                <img src="@subitem.ImagePath" style="width:60px;height:60px;" />
                                                            }


                                                            <div class="txt-l-b" style="padding-left: 5px;white-space: pre-line;">@subitem.Namedetail</div>
                                                        </button>
                                                    </div>
                                                }
                                            }
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<Footer></Footer>


@code {
    private bool isLoading = false;
    private List<string> menuList = new List<string>();
    private string showmenu = "none";
    private string id;
    public UserRole userRole;
    private sso.mms.login.ViewModels.ResponseShortToken responseShortToken { get; set; } = null!;

    //public string? env = ConfigureCore.ConfigENV;
    //public string? urlNews;
    //public string? urlNotification;

    [Parameter]
    [SupplyParameterFromQuery(Name = "token")]
    public string? shortToken { get; set; } = "";


    //private void clickmenu(int id)
    //{
    //    this.id = id;
    //    showmenu = showmenu == "" ? "none" : "";

    //}



    List<Models> menulist = new List<Models>()
    {
        new Models() {
                Id = 1,
                Name = "งานระบบ",
                accordionID = "a1",
                collapseID  = "c1"
            },
             new Models() {
                Id = 2,
                Name = "การตั้งค่าระบบ",
                accordionID = "a2",
                collapseID  = "c2"
            },
             new Models() {
                Id = 3,
                Name = "การสร้าง Broadcast & Online Chat",
                accordionID = "a3",
                collapseID  = "c3"
            },
             new Models() {
                Id = 4,
                Name = "ค่าบริการทางการแพทย์",
                accordionID = "a4",
                collapseID  = "c4"
            },
             new Models() {
                Id = 5,
                Name = "การจัดการ PDPA",
                accordionID = "a5",
                collapseID  = "c5"
            },
    };
    List<SubMenuModel> subMenulist = new List<SubMenuModel>()
    {
        new SubMenuModel() {
                Id = 1,
                MenulistId = 1,
                Namedetail = "จัดการข้อมูลสถานพยาบาล",
                ImagePath = "fa-solid fa-hospital",
                Height = "55px",
                Width = "55px",
                MenuCode = "PSMSW001",
                Path = $"{ConfigureCore.redirectOtherServiceAdmin}HOS/"
            },
            new SubMenuModel() {
                Id = 2,
                MenulistId = 1,
                Namedetail = "การบริหารจัดการยา",
                ImagePath = "fa-solid fa-pills",
                Height = "55px",
                Width = "55px",
                MenuCode = "PSMSW002",
                Path ="phase2admin"
            },
            new SubMenuModel() {
                Id = 3,
                MenulistId = 1,
                Namedetail = "ตรวจสอบเวชระเบียนอิเล็กทรอนิกส์",
                ImagePath = "fa-solid fa-address-book",
                Height = "55px",
                Width = "55px",
                MenuCode = "PSMSW003",
                Path ="phase2admin"
            },
            new SubMenuModel() {
                Id = 4,
                MenulistId = 1,
                Namedetail = "จัดการเรื่องร้องเรียน",
                ImagePath = "fa-solid fa-file-circle-exclamation",
                Height = "55px",
                Width = "55px",
                MenuCode = "PSMSW004",
                Path = $"{ConfigureCore.redirectOtherServiceAdmin}CPM/"
            },
            new SubMenuModel() {
                Id = 5,
                MenulistId = 1,
                Namedetail = "เชื่อมโยงข้อมูล",
                ImagePath = "fa-solid fa-link",
                Height = "55px",
                Width = "55px",
                MenuCode = "PSMSW005",
                Path ="phase2admin"
            },
               new SubMenuModel() {
                Id = 6,
                MenulistId = 1,
                Namedetail = "จัดการเอกสารอิเล็กทรอนิกส์",
                ImagePath = "fa-solid fa-file-invoice",
                Height = "55px",
                Width = "55px",
                MenuCode = "PSMSW006",
                Path = $"{ConfigureCore.redirectOtherServiceAdmin}edoc/edoc/create-doc"
            },
               new SubMenuModel() {
                Id = 7,
                MenulistId = 1,
                Namedetail = "จัดการลายมือชื่อดิจิตอล",
                ImagePath = "fa-solid fa-file-contract",
                Height = "55px",
                Width = "55px",
                MenuCode = "PSMSW007",
                Path = $"{ConfigureCore.redirectOtherServiceAdmin}edoc/sign/doc-inbox"
            },
               new SubMenuModel() {
                Id = 8,
                MenulistId = 1,
                Namedetail = "สมุดพกสุขภาพ",
                ImagePath = "fa-solid fa-book-bookmark",
                Height = "55px",
                Width = "55px",
                MenuCode = "PSMSW008",
                Path ="pocketBook/index"
            },
               new SubMenuModel() {
                Id = 9,
                MenulistId = 1,
                Namedetail = "Open Data / Open API",
                ImagePath = "fa-solid fa-coins",
                Height = "55px",
                Width = "55px",
                MenuCode = "PSMSW009",
                Path = $"{ConfigureCore.redirectCkanOpenD}open-login/"
            },
               new SubMenuModel() {
                Id = 10,
                MenulistId = 1,
                Namedetail = "ข้อมูลเชิงสถิติ",
                ImagePath = "fa-solid fa-chart-line",
                Height = "55px",
                Width = "55px",
                MenuCode = "PSMSW010",
                Path ="phase2admin"
            },
               new SubMenuModel() {
                Id = 11,
                MenulistId = 1,
                Namedetail = "จำนวนผู้ประกันตนที่ เลือกสถานพยาบาล",
                ImagePath = "fa-solid fa-clipboard-list",
                Height = "55px",
                Width = "55px",
                MenuCode = "PSMSW011",
                Path ="phase2admin"
            },
              new SubMenuModel() {
                Id = 44,
                MenulistId = 1,
                Namedetail = "รายงาน",
                ImagePath = "fa-regular fa-folder-open",
                Height = "55px",
                Width = "55px",
                MenuCode = "PSMSW012",
                Path = "reportmainpage"
            },
            new SubMenuModel() {
                Id = 45,
                MenulistId = 1,
                Namedetail = "รายงาน \n ข้อมูลเชิงสถิติ",
                ImagePath = "fa-solid fa-chart-simple",
                Height = "55px",
                Width = "55px",
                MenuCode = "PSMSW013",
                Path = "StatisticalDataReport"
            },
                new SubMenuModel() {
                Id = 12,
                MenulistId = 2,
                Namedetail = "สร้างบัญชีเจ้าหน้าที่แพทย์ Audit",
                ImagePath = "fa-solid fa-user-doctor",
                Height = "35px",
                Width = "55px",
                MenuCode = "PSMSS001",
                Path ="auditmainpage"
            },
                new SubMenuModel() {
                Id = 13,
                MenulistId = 2,
                Namedetail = "จัดการสิทธิ์\nการเข้าถึง",
                ImagePath = "fa-solid fa-list-check",
                Height = "55px",
                Width = "55px",
                MenuCode = "PSMSS002",
                Path = "mamainpage"
            },
                new SubMenuModel() {
                Id = 14,
                MenulistId = 2,
                Namedetail = "การจัดการ PDPA",
                ImagePath = "fa-solid fa-shield-halved",
                Height = "55px",
                Width = "55px",
                MenuCode = "PSMSS003",
                Path ="https://mmsuat.demotoday.net/pdpa/com-consent-ui/landing"

            },
                new SubMenuModel() {
                Id = 15,
                MenulistId = 2,
                Namedetail = "วันหยุดพิเศษ",
                ImagePath = "fa-solid fa-calendar-check",
                Height = "55px",
                Width = "55px",
                MenuCode = "PSMSS004",
                Path ="phase2admin"
            },
                new SubMenuModel() {
                Id = 16,
                MenulistId = 2,
                Namedetail = "กฎหมาย ระเบียบ ประกาศ",
                ImagePath = "fa-solid fa-scale-balanced",
                Height = "55px",
                Width = "55px",
                MenuCode = "PSMSS005",
                Path ="editnewsact"
            },
                new SubMenuModel() {
                Id = 17,
                MenulistId = 2,
                Namedetail = "ข่าวสารประชาสัมพันธ์",
                ImagePath = "fa-solid fa-newspaper",
                Height = "55px",
                Width = "55px",
                MenuCode = "PSMSS006",
                Path = "editnews"
            },
            new SubMenuModel() {
                Id = 43,
                MenulistId = 2,
                Namedetail = "ตั้งค่า Open Data",
                ImagePath = "fa-solid fa-database",
                Height = "55px",
                Width = "55px",
                MenuCode = "PSMSS007",
                Path = "opendata"
            },
             new SubMenuModel() {
                Id = 18,
                MenulistId = 3,
                Namedetail = "สร้างการแจ้งเตือน Broadcast",
                ImagePath = "fa-solid fa-podcast",
                Height = "55px",
                Width = "55px",
                MenuCode = "PSMBO001",
                Path = "broadcastmain"
            },
             new SubMenuModel() {
                Id = 19,
                MenulistId = 3,
                Namedetail = "Online Chat",
                ImagePath = "fa-solid fa-comments",
                Height = "55px",
                Width = "55px",
                MenuCode = "PSMBO002",
                Path = "chatadmin"
            },
            new SubMenuModel() {
                Id = 42,
                MenulistId = 3,
                Namedetail = "Notification",
                ImagePath = "fa-solid fa-bell",
                Height = "55px",
                Width = "55px",
                MenuCode = "PSMBO003",
                Path = "notification"
            },
             new SubMenuModel() {
                Id = 20,
                MenulistId = 3,
                Namedetail = "จัดการประกาศ",
                ImagePath = "fa-solid fa-bullhorn",
                Height = "55px",
                Width = "55px",
                MenuCode = "PSMBO004",
                Path = "nnnounce"
            },
             new SubMenuModel() {
                Id = 21,
                MenulistId = 3,
                Namedetail = "จัดการแบนเนอร์",
                ImagePath = "fa-solid fa-panorama",
                Height = "55px",
                Width = "55px",
                MenuCode = "PSMBO005",
                Path = "banner"
            },
            new SubMenuModel() {
                Id = 22,
                MenulistId = 4,
                Namedetail = "ตามภาระเสี่ยง",
                ImagePath = "helper_shared/imagemainmenu/1.png",
                MenuCode = "PSMSF001",
                Path ="riskExposure/index"
            },
            new SubMenuModel() {
                Id = 23,
                MenulistId = 4,
                Namedetail = "AdJRW >= 2",
                ImagePath = "helper_shared/imagemainmenu/2.png",
                MenuCode = "PSMSF002",
                Path ="phase2admin"
            },
            new SubMenuModel() {
                Id = 24,
                MenulistId = 4,
                Namedetail = "ODS",
                ImagePath = "helper_shared/imagemainmenu/3.png",
                MenuCode = "PSMSF003",
                Path ="phase2admin"
            },
            new SubMenuModel() {
                Id = 25,
                MenulistId = 4,
                Namedetail = "ORS",
                ImagePath = "helper_shared/imagemainmenu/4.png",
                MenuCode = "PSMSF004",
                Path ="phase2admin"
            },
            new SubMenuModel() {
                Id = 26,
                MenulistId = 4,
                Namedetail = "Package โรคหัวใจและหลอดเลือด",
                ImagePath = "helper_shared/imagemainmenu/5.png",
                MenuCode = "PSMSF005",
                Path ="phase2admin"
            },
            new SubMenuModel() {
                Id = 27,
                MenulistId = 4,
                Namedetail = "ปลูกถ่ายอวัยวะ",
                ImagePath = "helper_shared/imagemainmenu/6.png",
                MenuCode = "PSMSF006",
                Path ="phase2admin"
            },
            new SubMenuModel() {
                Id = 28,
                MenulistId = 4,
                Namedetail = "ฮีโมฟีเลีย",
                ImagePath = "helper_shared/imagemainmenu/7.png",
                MenuCode = "PSMSF007",
                Path ="phase2admin"
            },
            new SubMenuModel() {
                Id = 29,
                MenulistId = 4,
                Namedetail = "ส่งเสริมสุขภาพป้องกันโรค",
                ImagePath = "helper_shared/imagemainmenu/8.png",
                MenuCode = "PSMSF008",
                Path ="promoteHealth/index"
            },
            new SubMenuModel() {
                Id = 30,
                MenulistId = 4,
                Namedetail = "LAB HIV",
                ImagePath = "helper_shared/imagemainmenu/9.png",
                MenuCode = "PSMSF009",
                Path ="phase2admin"
            },
            new SubMenuModel() {
                Id = 31,
                MenulistId = 4,
                Namedetail = "วัคซีน",
                ImagePath = "helper_shared/imagemainmenu/10.png",
                MenuCode = "PSMSF010",
                Path ="phase2admin"
            },
            new SubMenuModel() {
                Id = 32,
                MenulistId = 4,
                Namedetail = "สารเมทาโดน",
                ImagePath = "helper_shared/imagemainmenu/11.png",
                MenuCode = "PSMSF011",
                Path ="phase2admin"
            },
            new SubMenuModel() {
                Id = 33,
                MenulistId = 4,
                Namedetail = "แพทย์ผู้เชี่ยวชาญฯ",
                ImagePath = "helper_shared/imagemainmenu/12.png",
                MenuCode = "PSMSF012",
                Path ="phase2admin"
            },
            new SubMenuModel() {
                Id = 34,
                MenulistId = 4,
                Namedetail = "ทุพพลภาพ",
                ImagePath = "helper_shared/imagemainmenu/13.png",
                MenuCode = "PSMSF013",
                Path ="phase2admin"
            },
            new SubMenuModel() {
                Id = 35,
                MenulistId = 4,
                Namedetail = "ฟอกเลือดด้วยเครื่องไตเทียม",
                ImagePath = "helper_shared/imagemainmenu/14.png",
                MenuCode = "PSMSF014",
                Path ="phase2admin"
            },
            new SubMenuModel() {
                Id = 36,
                MenulistId = 4,
                Namedetail = "เจ็บป่วยฉุกเฉิน \n วิกฤต UCEP",
                ImagePath = "helper_shared/icon_sso/Frame15190ucepicon.png",
                MenuCode = "PSMSF015",
                Path ="phase2admin"
            },
            new SubMenuModel() {
                Id = 37,
                MenulistId = 4,
                Namedetail = "เจ็บป่วยฉุกเฉิน \n 72 ชม.",
                ImagePath = "helper_shared/icon_sso/Frame15191alert.png",
                MenuCode = "PSMSF016",
                Path ="phase2admin"
            },
            new SubMenuModel() {
                Id = 38,
                MenulistId = 4,
                Namedetail = "บำรุงรักษาอวัยวะสภากาชาดไทย",
                ImagePath = "helper_shared/imagemainmenu/17.png",
                MenuCode = "PSMSF017",
                Path ="phase2admin"
            },
            new SubMenuModel() {
                Id = 39,
                MenulistId = 4,
                Namedetail = "COVID-19",
                ImagePath = "helper_shared/imagemainmenu/18.png",
                MenuCode = "PSMSF018",
                Path ="phase2admin"
            },
            new SubMenuModel() {
                Id = 40,
                MenulistId = 4,
                Namedetail = "ทันตกรรม",
                ImagePath = "helper_shared/imagemainmenu/19.png",
                MenuCode = "PSMSF019",
                Path ="phase2admin"
            },
            new SubMenuModel() {
                Id = 41,
                MenulistId = 4,
                Namedetail = "การฟื้นฟูด้านอาชีพ ด้านการแพทย์",
                ImagePath = "helper_shared/imagemainmenu/20.png",
                MenuCode = "PSMSF020",
                Path ="phase2admin"
            },

            //PDPA MENU
            new SubMenuModel() {
                Id = 40,
                MenulistId = 5,
                Namedetail = "ทะเบียนข้อมูล และ ประมวลผลความยินยอม",
                ImagePath = "helper_shared/PortalAdminImage/PDPA-1.png",
                MenuCode = "PSMPDA001",
                Path ="com-consent-ui/login"
            },
            new SubMenuModel() {
                Id = 41,
                MenulistId = 5,
                Namedetail = "การขอใช้สิทธิ์ของเจ้าของข้อมูลส่วนบุคคล",
                ImagePath = "helper_shared/PortalAdminImage/PDPA-2.png",
                MenuCode = "PSMPDA002",
                Path ="dsrm-ui/login"
            },
            new SubMenuModel() {
                Id = 42,
                MenulistId = 5,
                Namedetail = "ตรวจสอบเหตุการณ์ละเมิดข้อมูลส่วนบุคคล",
                ImagePath = "helper_shared/PortalAdminImage/PDPA-3.png",
                MenuCode = "PSMPDA003",
                Path ="db-scan-ui/login"
            },

            //  new SubMenuModel() {
            //    Id = 43,
            //    MenulistId = 5,
            //    Namedetail = "Local Test PDPA",
            //    ImagePath = "helper_shared/PortalAdminImage/PDPA-3.png",
            //    MenuCode = "PSMSF020",
            //    Path ="http://localhost:4200/landing"
            //}

    };

    public async void clickmenu(string path, string name)
    {
        switch (path)
        {
            case "phase2admin":
                navigaTion.NavigateTo(path + $"?name={name}");
                break;
            case "notification":
                navigaTion.NavigateTo(path + $"?token={shortToken}");
                break;
            case "mamainpage":
                navigaTion.NavigateTo(path + $"?token={shortToken}");
                break;
            case "editnews":
                navigaTion.NavigateTo(path + $"?newsmid=2&token={shortToken}");
                break;
            case "editnewsact":
                navigaTion.NavigateTo("editnews" + $"?newsmid=1&token={shortToken}");
                break;
            case "chatadmin":
                navigaTion.NavigateTo(path + $"?token={shortToken}");
                break;
            case "broadcastmain":
                navigaTion.NavigateTo(path + $"?token={shortToken}");
                break;
            case "banner":
                navigaTion.NavigateTo(path + $"?token={shortToken}");
                break;
            case "nnnounce":
                navigaTion.NavigateTo(path + $"?token={shortToken}");
                break;
            case "auditmainpage":
                navigaTion.NavigateTo(path + $"?token={shortToken}");
                break;
            case "opendata":
                navigaTion.NavigateTo(path + $"?token={shortToken}");
                break;
            case "reportmainpage":
                navigaTion.NavigateTo(path + $"?token={shortToken}");
                break;
            case "StatisticalDataReport":
                navigaTion.NavigateTo(path + $"?token={shortToken}");
                break;
            case "riskExposure/index":
                navigaTion.NavigateTo(ConfigureCore.redirectFeesAdmin + path + $"?token={shortToken}");
                break;
            case "promoteHealth/index":
                navigaTion.NavigateTo(ConfigureCore.redirectFeesAdmin + path + $"?token={shortToken}");
                break;
            case "pocketBook/index":
                navigaTion.NavigateTo(ConfigureCore.redirectFeesAdmin + path + $"?token={shortToken}");
                break;
            case "https://mmsuat.sso.go.th/opend/open-login/":
                await JsRuntime.InvokeVoidAsync("open", path + $"token/{shortToken}", "_blank");
                break;
            case "https://mmsauat.sso.go.th/HOS/":
                await JsRuntime.InvokeVoidAsync("open", path + $"?token={shortToken}", "_blank");
                break;
            case "http://192.2.200.146/HOS/":
                await JsRuntime.InvokeVoidAsync("open", path + $"?token={shortToken}", "_blank");
                break;
            case "https://mmsauat.sso.go.th/CPM/":
                await JsRuntime.InvokeVoidAsync("open", path + $"?token={shortToken}", "_blank");
                break;
            case "http://192.2.200.146/CPM/":
                await JsRuntime.InvokeVoidAsync("open", path + $"?token={shortToken}", "_blank");
                break;
            case "https://mmsauat.sso.go.th/edoc/edoc/create-doc":
                await JsRuntime.InvokeVoidAsync("open", path + $"?token={shortToken}", "_blank");
                break;
            case "https://mmsauat.sso.go.th/edoc/sign/doc-inbox":
                await JsRuntime.InvokeVoidAsync("open", path + $"?token={shortToken}", "_blank");
                break;

            case "com-consent-ui/login":
                await JsRuntime.InvokeVoidAsync("open", $"{ConfigureCore.redirectOtherServiceAdmin}{path}?token={shortToken}", "_blank");
                break;

            case "dsrm-ui/login":
                await JsRuntime.InvokeVoidAsync("open", $"{ConfigureCore.redirectOtherServiceAdmin}{path}?token={shortToken}", "_blank");
                break;
            case "db-scan-ui/login":
                await JsRuntime.InvokeVoidAsync("open", $"{ConfigureCore.redirectOtherServiceAdmin}{path}?token={shortToken}", "_blank");
                break;

            case "http://localhost:4200/landing":
                await JsRuntime.InvokeVoidAsync("open", $"{path}?token={shortToken}", "_blank");
                break;
            case "https://mmsuat.demotoday.net/pdpa/db-scan-ui/login":
                await JsRuntime.InvokeVoidAsync("open", $"{path}?token={shortToken}", "_blank");
                break;
            default:
                navigaTion.NavigateTo(path + $"?token={shortToken}");
                break;
        }

    }

    public string? env = ConfigureCore.ConfigENV;
    public string? urlNews;
    public string? urlNotification;
    CheckSettingModel checkStatusChat = new CheckSettingModel();
    CheckSettingModel checkStatusBook = new CheckSettingModel();
    //checkStatusMultiFactor = await SettingService.GetStatusMSetting("multi-factor");
    protected override async Task OnInitializedAsync()
    {
        isLoading = true;

        urlNews = ConfigureCore.redirectsNews;
        urlNotification = ConfigureCore.redirectNotification;
        checkStatusChat = await SettingService.GetStatusMSetting("chat");
        checkStatusBook = await SettingService.GetStatusMSetting("book");

        StateHasChanged();

        responseShortToken = await readTokenService.ReadToken(shortToken!);

        Console.WriteLine("responseShortToken", responseShortToken);

        if (responseShortToken != null)
        {
            JwtSecurityTokenHandler tokenHandler = new JwtSecurityTokenHandler();
            JwtSecurityToken jwt = tokenHandler.ReadJwtToken(responseShortToken.accessToken);
            var t = jwt.Payload.ToList();
            KeyValuePair<string, object> result = t.FirstOrDefault(pair => pair.Key == "preferred_username");
            var username = result.Value.ToString();

            userRole = await userRoleService.GetRoleByUserName(username);
            //Console.WriteLine("userRole", userRole);
            await _localstorage.SetItemAsync("userRole", userRole);

        }

        //Console.WriteLine("userRole", userRole);
        //Console.WriteLine("userRole.role", userRole.role);

        if (userRole != null && userRole.role != null)
        {
            try
            {
                menuList = userRole.role.Select(i => i.menu.Where(m => m.isRoleRead == true && m.appCode == "PORTAL-SSO").Select(t => t.menuCode).ToList()).ToList().SelectMany(list => list).ToList();
            }
            catch (Exception ex)
            {
                Console.WriteLine("ex role");
                Console.WriteLine(ex);
            }

            Console.WriteLine("userRole", userRole);
            Console.WriteLine("userRole.role", userRole.role);
            isLoading = false;
            StateHasChanged();
        }
        isLoading = false;


        StateHasChanged();
        //Console.WriteLine(menuList);


    }
}

