@using System.ComponentModel.DataAnnotations;

@{
    RenderFragment okbutton =@<div style="color:#fff;">
            <Icon Type="save" Theme="outline" />
            บันทึก
    </div>;
    RenderFragment canclebutton =@<div>
            <Icon Type="close-circle" Theme="outline" />
            ยกเลิก
    </div>;
}
<style>
    .tablestyle .ant-table-thead > tr > th {
        position: relative;
        color: #FFFFFF !important;
        font-weight: 600 !important;
        text-align: center !important;
        background: #3B6C43 !important;
        border-bottom: 1px solid #ffffff !important;
        transition: background 0.3s ease;
    }
    .text-end{
        text-align :end;
    }
</style>
<Modal Title="@title"
       Visible="@_visible"
       OnOk="@HandleOk"
       OnCancel="@HandleCancel"
       OkText="@okbutton"
       CancelText="@canclebutton"
      Width="1100">
    <Card Bordered="true" Title=@("รายละเอียดผู้ประกันตน") Style="width: 100%;border-radius: 6px 6px 6px 6px;" Size="small" Class="mms-txt-default">
        <Body>
            <div class="row">
                <div class="col-lg-3 mms-txt-headdetail text-end">
                    เลขที่รับแจ้ง :
                </div>
                <div class="col-lg-3 col-mb-12 ">
                    670165900000018
                </div>
                <div class="col-lg-3 mms-txt-headdetail text-end">
      
                            สถานะการรับแจ้ง :

                </div>
                <div class="col-lg-3 col-mb-12">
                    <div class="col">
                        O : รับแจ้งใหม่
                    </div>
                    
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 col-md-12 ">

                    <div class="row">
                        <div class="col" style="color:#6A6A6A;">
                            เลขบัตรประจำตัวประชาชน :
                        </div>
                        <div class="col">
                            123456789xxxx
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" style="color:#6A6A6A;">
                            สิทธิประโยชน์ :
                        </div>
                        <div class="col">
                           11 : ค่าอุดฟัน ถอนฟัน ขูดหินปูน
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" style="color:#6A6A6A;">
                            สปส.รับผิดชอบ :
                        </div>
                        <div class="col">
                            6701 : จังหวัดเพชรบูรณ์ สาขาหล่มสัก
                        </div>
                    </div>

                </div>
                <div class="col-lg-6 col-md-12">

                    <div class="row">
                        <div class="col">
                           ชื่อ - สกุล :
                        </div>
                        <div class="col">
                            นายณัฐวุฒิ สำรวม
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                           วันที่ใช้สิทธ์
                        </div>
                        <div class="col">
                            19/07/2565
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">

                <div class="col-lg-6 col-mb-12">
                    <div class="row">
                        <div class="col-lg-6 col-mb-12" style="color:#6A6A6A;">
                            ผู้บันทึกรับแจ้ง :
                        </div>
                        <div class="col-lg-6 col-mb-12">
                            นางสาว กชกร มั่นใจ
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-mb-12">
                    <div class="row">
                        <div class="col-lg-6 col-mb-12" style="color:#6A6A6A;">
                            วันที่บันทึก :
                        </div>
                        <div class="col-lg-6 col-mb-12">
                            20/07/2565 18.19 น.
                        </div>
                    </div>
                </div>
            </div>
        </Body>
    </Card>
    <br />
    <Card Bordered="true" Title=@("ข้อมูลสิทธิประโยชน์") Style="width: 100%;border-radius: 6px 6px 6px 6px;" Size="small" Class="mms-txt-default">
        <Body>

            <div class="row">
                <div class="col-lg-3" style="color:#6A6A6A;">
                    สิทธิประโยชน์ :
                </div>
                <div class="col-lg-3 col-mb-12">
                    ค่าอุดฟัน ถอนฟัน ขูดหินปูน
                </div>
                <div class="col-lg-3 col-mb-12">
                </div>
                <div class="col-lg-3 col-mb-12">
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-lg-3" style="color:#6A6A6A;">
                    ดูวงเงินจาก :
                </div>
                <div class="col-lg-3 col-mb-12">
                    สิทธิประโยชน์
                </div>
                <div class="col-lg-3 col-mb-12" style="color:#6A6A6A;">
                    จำนวนเงินที่เบิกได้
                </div>
                <div class="col-lg-3 col-mb-12">
                    900.0
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-lg-6 col-md-12 ">

                    <div class="row">
                        <div class="col" style="color:#6A6A6A;">
                            ภายใน :
                        </div>
                        <div class="col">
                            1 ปี
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" style="color:#6A6A6A;">
                            เบิกแล้ว :
                        </div>
                        <div class="col">
                            0.00
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" style="color:#6A6A6A;">
                            วงเงินสิทธิประโยชน์คงเหลือ :
                        </div>
                        <div class="col">
                            900.00
                        </div>
                    </div>

                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="row">
                        <div class="col" style="color:#6A6A6A;">

                            จำนวนเงินที่เบิกได้ :

                        </div>
                        <div class="col">
                            900.00
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" style="color:#6A6A6A;">
                            เบิกครั้งนี้ :
                        </div>
                        <div class="col">
                            900.00
                        </div>
                    </div>

                </div>
            </div>

        </Body>
    </Card>
    <br />
    <Card Bordered="true" Title=@("รายการรักษาที่เบิก") Style="width: 100%;border-radius: 6px 6px 6px 6px;" Size="small" Class="mms-txt-default tablestyle">
        <Body>
            <Table DataSource="listOfData" Bordered HidePagination Class="mms-txt-default ">
                        <PropertyColumn Width="20%" Title="ชื่อรายการ" Property="c => c.Name" Align=ColumnAlign.Left></PropertyColumn>
                        <PropertyColumn Width="10%" Title="จำนวนเงิน/หน่วย" Property="c => c.price" Align=ColumnAlign.Left></PropertyColumn>
                        <PropertyColumn Width="10%" Title="เลขฟัน" Property="c => c.number" Align="@columnAlign"></PropertyColumn>
                        <PropertyColumn Width="10%" Title="จำนวน" Property="c => c.count" Align=ColumnAlign.Center> </PropertyColumn>

                        <PropertyColumn Width="15%" Title="จำนวนที่เบิกได้" Property="c => c.withdraw " Align=ColumnAlign.Center></PropertyColumn>
                        <PropertyColumn Width="15%" Title="รวม" Property="c => c.sum1 " Align=ColumnAlign.Center></PropertyColumn>
                        <PropertyColumn Width="15%" Title="เบิกได้" Property="c => c.sum2 " Align=ColumnAlign.Center></PropertyColumn>
                    @{
                    var totalBorrow1 = listOfData.Sum(x => x.sum1);
                    var totalBorrow2 = listOfData.Sum(x => x.sum2);
                }
                <SummaryRow>
                    <SummaryCell Align=ColumnAlign.Right ColSpan="5">รวมทั้งหมด</SummaryCell>

                    <SummaryCell Align=ColumnAlign.Center>
                        <Text>@totalBorrow1</Text>
                    </SummaryCell> <SummaryCell Align=ColumnAlign.Center>
                        <Text>@totalBorrow2</Text>
                    </SummaryCell>
                </SummaryRow>
            </Table>
        </Body>
    </Card>
    <br />
    @*<div class="row">
        <div class="col-lg-6 col-mb-12 ">
            <Card Bordered="true" Class="rounded-3 mms-txt-default" Style="background-color:#ECECEC;">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-2"></div>
                            <div class="col-4">สถานะการอนุมัติ :</div>
                            <div class="col-6 " style="color:#67C23A;"> อนุมัติ  </div>
                        </div>
                        <div class="row">
                            <div class="col-2"></div>
                            <div class="col-4" style="color:#6A6A6A;"> ผู้อนุมัติ :</div>
                            <div class="col-6">นางเเพรวา ตาสวย </div>
                        </div>
                        <div class="row">
                            <div class="col-2"></div>
                            <div class="col-4" style="color:#6A6A6A;">วันที่อนุมัติ :</div>
                            <div class="col-6"> 1 เมษายน 2566  </div>
                        </div>

                    </div>
                    <div class="col-lg-6 ">
                    </div>
                </div>
            </Card>
        </div>
        <div class="col-lg-6 col-mb-12 ">
            <Card Bordered="true" Class="rounded-3 mms-txt-default" Style=" background-color:#ECECEC;">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-2"></div>
                            <div class="col-4">สถานะการจ่าย :  </div>
                            <div class="col-6 " style="color:#67C23A;">จ่ายเเล้ว  </div>
                        </div>
                        <div class="row">
                            <div class="col-2"></div>
                            <div class="col-4" style="color:#6A6A6A;">วันที่จ่าย :</div>
                            <div class="col-6">15 เมษายน 2566</div>
                        </div>
                        <div class="row">
                            <div class="col-2"></div>
                            <div class="col-4" style="color:#6A6A6A;">เลขใบคำสั่งจ่าย :</div>
                            <div class="col-6"> 10000125465</div>
                        </div>

                    </div>
                    <div class="col-lg-6 ">
                    </div>
                </div>
            </Card>
        </div>
    </div>*@
</Modal>
<style>
    .tablestyle .ant-table-thead > tr > th {
        position: relative;
        color: #FFFFFF !important;
        font-weight: 600 !important;
        text-align: center !important;
        background: #3B6C43 !important;
        border-bottom: 1px solid #ffffff !important;
        transition: background 0.3s ease;
    }
</style>
@code {
    string title = "รายละเอียดข้อมูล";
    private Model model = new Model();
    bool loading = false;
    List<ItemData> listOfData = new List<ItemData>();
    ColumnAlign columnAlign = ColumnAlign.Left;
    [Parameter]
    public bool _visible { get; set; }
    [Parameter]
    public EventCallback<bool> OnClose { get; set; }

    public class ItemData
    {

        public string Name { get; set; }
        public double price { get; set; }
        public int number { get; set; }
        public int count { get; set; }
        public double withdraw { get; set; }
        public double sum1 { get; set; }
        public double sum2 { get; set; }

    };
    protected override void OnInitialized()
    {
        listOfData = new List<ItemData>
        {
            new ItemData
            {
                Name = "111000000 : อุดฟัน",
                price = 900.00,
                number = 18,
                count = 1,
                withdraw = 300,
                sum1 = 300,
                sum2 = 300

            }
        };
    }

    private void HandleCancel(MouseEventArgs e)
    {
        Console.WriteLine(e);
        OnClose.InvokeAsync(false);
    }
    private void HandleOk(MouseEventArgs e)
    {
        OnClose.InvokeAsync(false);
    }



    public class Model
    {
        [Required]
        public string Username { get; set; }
        [Required]
        public string Password { get; set; }
        public bool RememberMe { get; set; } = true;
    }
}
