@inject ModalService _modalService
@using Blazored.LocalStorage;
@inject ILocalStorageService _localstorage;
@using sso.mms.fees.ext.Providers.PromoteHealth.RecordChecklist;
@inject RecordChecklistServices recordChecklistServices;


<style>
    html, body {
        overflow-x: visible;
    }
    .layout {
        display: flex;
        align-items: center;
    }

    .box {
        width: 10px;
        height: 25px;
        display: inline-block;
        margin-right: 4%;
    }
</style>
<div class="site-layout-background" style="padding: 24px;">
    <div class="mms-nav-title">
        <div class="mms-text-title px-4 py-3">ค่าบริการทางการแพทย์ส่งเสริมสุขภาพและป้องกันโรค</div>
    </div>
    <div class="container py-4">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page">
                    <span class="breadcum-process py-2">บันทึกรายการตรวจ/รายสถานประกอบการ</span>
                </li>
            </ol>
        </nav>
        <hr style="width:100%" />
  
        <div class="mms-media-start w-50">

            @*            <div>
            <Button Type="primary" OnClick="@(()=>{ _visible = true; })">
            <i class="fa-solid fa-magnifying-glass"></i> &nbsp; ค้นหา
            </Button>
            </div>*@
        </div>
        <div class="mms-media-end">
            <Space Direction="@DirectionVHType.Vertical" Class="mms-btn-serch">
                <SpaceItem>
                    <Search Placeholder="ข้อมูลที่ต้องการค้นหา.." EnterButton="true" />
                </SpaceItem>
            </Space>
        </div>


        <Table DataSource='Recordchecklist.Where(x => x.DocStatus == "1" || x.DocStatus == "2" || x.DocStatus == "3").OrderByDescending(y => y.ReserveId)' TItem="GetReServeHView" RowClassName="@(_=>"editable-row")" Bordered ScrollX="1000">
            <ChildContent Context="data">
                <Column TData="string" Title="ลำดับ" Width="7%" Style="text-align:center;">
                    @String.Format("{0:d}", Recordchecklist.Where(x => x.DocStatus == "1" || x.DocStatus == "2" || x.DocStatus == "3").OrderByDescending(y => y.ReserveId).ToList().IndexOf(data) + 1)
                </Column>
                <Column TData="string" Title="เลขที่บัญชีนายจ้าง" Width="15%" Style="text-align:center;">
                    @data.CompanyAccNo
                </Column>
                <Column TData="string" Title="สถานประกอบการ" Width="15%" Style="text-align:center;">    
                    @data.CompanyName
                </Column>
                <Column TData="double" Title="วันที่ตรวจ" Width="10%" Style="text-align:center;">
                    @data.ReserveStartDate.AddYears(543).ToString("dd/MM/yyyy") - @data.ReserveEndDate.AddYears(543).ToString("dd/MM/yyyy")
                </Column>
                <Column TData="string" Title="จำนวนคนที่มีสิทธิ์ตรวจ" Width="12%" Style="text-align:center;">
                    @data.PersonCountPrivileges?.ToString("N0")
                </Column>
                <Column TData="string" Title="จำนวนคนที่เข้าตรวจ" Width="12%" Style="text-align:center;">
                    
                    @if(@data.PersonCount == 0){
                        <div>-</div>
                    }
                    else
                    {
                        @data.PersonCount?.ToString("N0")
                    }
                </Column>
                <Column TData="string" Title="ยอดเงิน" Width="10%" Style="text-align:center;">
                    @data.PriceCountPrivileges?.ToString("N0")
                </Column>
                @if (data.DocStatus == "1")
                {
                    <Column TData="string" Title="สถานะ" Width="16%" Style="text-align:center; color: black;">
                        <div class="layout"><div class="box-color-e3b448"></div>จองล่วงหน้า</div>
                    </Column>
                }
                else if (data.DocStatus == "2")
                {
                    <Column TData="string" Title="สถานะ" Width="16%" Style="text-align:center; color: black; ">
                        <div class="layout"><div class="box-color-cbd28f"></div>อยู่ระหว่างการตรวจ</div>
                    </Column>
                }
                else if (data.DocStatus == "3")
                {
                    <Column TData="string" Title="สถานะ" Width="16%" Style="text-align:center; color: black;">
                        <div class="layout"><div class="box-color-3a6b34"></div>ตรวจเสร็จแล้ว</div>
                    </Column>
                }
                else
                {
                    <Column TData="string" Title="สถานะ" Width="16%" Style="text-align:center; color: black;">
                        ยกเลิกการจอง
                    </Column>
                }
               
                <Column TData="string" Width="7%" Style="text-align:center;">
                    @if (@data.DocStatus == "13")
                    {
                        <img class="mx-2" title="เรียกดู" src="helper_shared/PortalAdminImage/eye.png" style="width:24px;height:24px; cursor:pointer;" @onclick=@(() => goEdit(3,data.ReserveId)) />

                    }
                    else
                    {
                        <img class="mx-2" title="แก้ไข" src="helper_shared/PortalAdminImage/edit.png" style="width:24px;height:24px; cursor:pointer;" @onclick=@(() => goEdit(2,data.ReserveId)) />
                    }

                </Column>
            </ChildContent>
        </Table>
    </div>
</div>
@if (isloading == true)
{
    <style>
        body {
            overflow: hidden;
        }</style>

    <LoadingPage></LoadingPage>
}
<Modal Title="@title"
       Visible="@_visible"
       OnOk="@HandleOk"
       OnCancel="@HandleCancel">
    <p>Some contents...</p>
    <p>Some contents...</p>
    <p>Some contents...</p>
</Modal>

@code {
    [Parameter]
    public EventCallback<(int, string, decimal)> IndexPage { get; set; }
    
    List<ItemData> listOfData = new List<ItemData>();
    List<GetReServeHView> Recordchecklist = new List<GetReServeHView>();
    public async Task goEdit(int item, decimal reserveid)
    {
        await IndexPage.InvokeAsync((item, "Establishment", reserveid));
    }

    RenderFragment _audioIcon =@<Icon Type="audio" Theme="outline" Style="color: #1890ff" />;
    public string hosmCode { get; set; } = "";
    public bool isloading = false;

    protected async override void OnInitialized()
    {
        isloading = true;
        StateHasChanged();
        hosmCode = await _localstorage.GetItemAsync<String>("hospitalMCode");
        Recordchecklist = await recordChecklistServices.GetAllRecordChecklist(hosmCode);

        isloading = false;
        StateHasChanged();


    }


    private void OnBlur()
    {
        Console.WriteLine("blur");
    }

    private void OnFocus()
    {
        Console.WriteLine("focus");
    }

    private void OnSearch(string value)
    {
        Console.WriteLine($"search: {value}");
    }


    public class ItemData
    {
        public int Id { get; set; }
        public string Identification { get; set; }
        public string name { get; set; }
        public string date { get; set; }
        public int count { get; set; }
        public int amount { get; set; }
        public int total { get; set; }
        public string status { get; set; }
    };



    string title = "BasicModal";
    bool _visible = false;

    private void HandleOk(MouseEventArgs e)
    {
        Console.WriteLine(e);
        _visible = false;
    }

    private void HandleCancel(MouseEventArgs e)
    {
        Console.WriteLine(e);
        _visible = false;
    }

}
