@inject ModalService _modalService


<div class="site-layout-background" style="padding: 24px;">
    <div class="mms-nav-title">
        <div class="mms-text-title px-4 py-3">ส่งเสริมสุขภาพและป้องกันโรคกรณีวัคซีน</div>
    </div>
    <div class="container py-4">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page">
                    <span class="breadcum-sucress py-2">ตรวจสอบสิทธิ์</span>
                </li>
                <li class="breadcrumb-item" aria-current="page">
                    <span class="breadcum-sucress py-2">รายการที่บันทึก</span>
                </li>
                <li class="breadcrumb-item" aria-current="page">
                    <span class="breadcum-sucress py-2">บันทึกข้อมูลใช้บริการ</span>
                </li>
                <li class="breadcrumb-item" aria-current="page">
                    <span class="breadcum-process py-2">บันทึกรับเเจ้ง</span>
                </li>
            </ol>
        </nav>
        <div class="py-4 my-5">
            <div class="container" align="center">
                <div class="position-relative w-75">
                    <div class="progress" style="height: 6px;">
                        <div class="progress-bar w-100"></div>
                    </div>
                </div>
                <div class="container position-relative w-75">
                    <img class="step-img position-absolute top-0 start-0 translate-middle rounded-pill" src="helper_shared/FeesExtImage/Steps/userActive.png" />
                    <img class="step-img position-absolute top-0 start-50 translate-middle rounded-pill" src="helper_shared/FeesExtImage/Steps/fileActive.png" />
                    <img class="step-img position-absolute top-0 start-100 translate-middle rounded-pill" src="helper_shared/FeesExtImage/Steps/file2Active.png" />
                </div>
                <div class="container position-relative w-75">
                    <div class="row">
                        <p class="step-tag active position-absolute top-0 start-0 translate-middle rounded-pill">ตรวจสอบสิทธิ์</p>
                        <p class="step-tag active position-absolute top-0 start-50 translate-middle rounded-pill">บันทึกข้อมูลใช้บริการ</p>
                        <p class="step-tag active position-absolute top-0 start-100 translate-middle rounded-pill">บันทึกรับเเจ้ง</p>
                        @*noneactive*@
                    </div>
                </div>
            </div>
        </div>

        <div class="container pt-5">
            <div class="mms-txt-header mms-media-start">
                ข้อมูลผู้ใช้สิทธิ
            </div>
            <div class="row" style="font-size:18px;">
                <div class="col-sm-12 col-md-6">
                    <div class="row">
                        <div class="col-6 col-md-6">
                            <div class="mms-media-end flex-column align-items-end pLayers-2">
                                <div>เลขประจำตัวประชาชน :</div>
                                <div>เพศ :</div>
                                <div>สัญชาติ :</div>
                                <div>เบอร์โทรศัพท์ :</div>
                                <div>โรงพยาบาลตามสิทธิ์ :</div>
                            </div>
                        </div>
                        <div class="col-6 col-md-6 pLayers-2" style="color: #B3B3B3;font-weight: 500;">
                            <div>1234567890xxx</div>
                            <div>ชาย</div>
                            <div>ไทย</div>
                            <div>099-200-654</div>
                            <div>โรงพยาบาลลานนา 1</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="row">
                        <div class="col-6 col-md-6">
                            <div class="mms-media-end flex-column align-items-end pLayers-2">
                                <div>ชื่อ - นามสกุล :</div>
                                <div>วันเกิด :</div>
                                <div>อายุ :</div>
                                <div>สถานะผู้ประกันตน :</div>
                            </div>
                        </div>
                        <div class="col-6 col-md-6 pLayers-2" style="color: #B3B3B3;font-weight: 500;">
                            <div>นายสามารถ กาจวิชา</div>
                            <div>12  พฤษภาคม 2510</div>
                            <div>56 ปี</div>
                            <div>มีสิทธิ์รับวัคซีน</div>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div class="mms-txt-header mms-media-start">
                รายละเอียดการใช้สิทธิ
            </div>
            <div class="row" style="font-size:18px;">
                <div class="col-sm-12 col-md-6">
                    <div class="row">
                        <div class="col-6 col-md-6">
                            <div class="mms-media-end flex-column align-items-end pLayers-2">
                                <div>วันที่รับวัคซีน :</div>
                                <div>ชนิดวัคซีน :</div>
                                <div>ชื่อทางการค้าวัคซีน :</div>
                                <div>เลข Lot วัคซีน :</div>
                            </div>
                        </div>
                        <div class="col-6 col-md-6 pLayers-2" style="color: #B3B3B3;font-weight: 500;">
                            <div>10 มีนาคม 2566</div>
                            <div>3  สายพันธุิ์</div>
                            <div>ABC-TEST01</div>
                            <div>LOT00001</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="p-2">
                        <div class="mms-txt-headdetail">ความดันโลหิต</div>
                    </div>
                    <div class="p-2">
                        <div class="mms-media-start">
                            <span class="mms-txt-headdetail">ค่าบน</span> &nbsp;&nbsp;
                            <Input Placeholder="-" @bind-Value="@txtValue" Style="width:30%" />
                        </div>
                    </div>
                    <div class="p-2">
                        <div class="mms-media-start">
                            <span class="mms-txt-headdetail">ค่าล่าง</span> &nbsp;
                            <Input Placeholder="-" @bind-Value="@txtValue" Style="width:30%" />
                        </div>
                    </div>
                    <div class="p-2">
                        <div class="mms-media-start mms-txt-headdetail">
                            จำนวนเงิน : <span style="color: #000;font-size:20px;">250 บาท</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container p-4 mms-media-end">
            <Button Type="@ButtonType.Default" OnClick="@GoBack"><i class="fa-solid fa-circle-xmark"></i>&nbsp; ยกเลิก</Button> &nbsp;
            <Button Type="@ButtonType.Primary" OnClick="@GoNext" Style="width:200px;"><i class="fa-solid fa-floppy-disk"></i>&nbsp; บันทึก</Button>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public EventCallback<int> IndexPage { get; set; }

    bool isChecked = false;
    string selectValue = null;

    void handleChange(string value)
    {
        Console.WriteLine(value);
        selectValue = value;
    }

    public async Task goEdit(int item)
    {
        await IndexPage.InvokeAsync(item);
    }

    string txtValue { get; set; } = "";
    string Value { get; set; } = "DevTest";

    private async void GoNext()
    {
        await IndexPage.InvokeAsync(5);
    }
    private async void GoBack()
    {
        await IndexPage.InvokeAsync(3);
    }

}
