@inject ModalService _modalService


<div class="site-layout-background" style="padding: 24px;">
    <div class="mms-nav-title">
        <div class="mms-text-title px-4 py-3">ส่งเสริมสุขภาพและป้องกันโรคกรณีวัคซีน</div>
    </div>
    <div class="container py-4">
        <div class="row row-col-sm-1 row-cols-md-2">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item" aria-current="page">
                        <span class="breadcum-sucress py-2">ตรวจสอบสิทธิ์</span>
                    </li>
                    <li class="breadcrumb-item" aria-current="page">
                        <span class="breadcum-process py-2">บันทึกด้วยการอ่านบัตร</span>
                    </li>
                </ol>
            </nav>
            <div class="mms-media-end">
                <Button Type="@ButtonType.Primary" Style="width:250px"><i class="fa-solid fa-cloud-arrow-down"></i>&nbsp; ดาวน์โหลดโปรแกรมอ่านบัตร</Button>
            </div>
        </div>
        @* <img src="helper_shared/FreesExtImage/user.png" />*@
        <div class="py-4 my-5">
            <div class="container" align="center">
                <div class="position-relative w-75">
                    <div class="progress" style="height: 6px;">
                        <div class="progress-bar w-0"></div>
                    </div>
                </div>
                <div class="container position-relative w-75">
                    <img class="step-img position-absolute top-0 start-0 translate-middle rounded-pill" src="helper_shared/FeesExtImage/Steps/userActive.png" />
                    <img class="step-img position-absolute top-0 start-50 translate-middle rounded-pill" src="helper_shared/FeesExtImage/Steps/file.png" />
                    <img class="step-img position-absolute top-0 start-100 translate-middle rounded-pill" src="helper_shared/FeesExtImage/Steps/file2.png" />
                </div>
                <div class="container position-relative w-75">
                    <div class="row">
                        <p class="step-tag active position-absolute top-0 start-0 translate-middle rounded-pill">ตรวจสอบสิทธิ์</p>
                        <p class="step-tag noneactive position-absolute top-0 start-50 translate-middle rounded-pill">บันทึกข้อมูลใช้บริการ</p>
                        <p class="step-tag noneactive position-absolute top-0 start-100 translate-middle rounded-pill">บันทึกรับเเจ้ง</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container pt-5">
            <div class="row py-2">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <span class="mms-txt-headdetail">เลขประจำตัวประชาชน / เลขบัตรประกันสังคม <span class="star-comment">*</span></span>
                    <Input Placeholder="xxx-xxxxxxxx-xx" @bind-Value="@txtValue" />
                </div>
                <div class="col-md-4 d-flex align-items-end">
                    <Button Type="@ButtonType.Dashed" Class="mms-btn-sucress" Style="width:200px">
                        <i class="fa-solid fa-address-card"></i>&nbsp; อ่านบัตร
                    </Button>
                </div>
            </div>
            <div class="row py-2">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <div class="">
                        <Checkbox @bind-Checked="isChecked"></Checkbox>&nbsp;<psan>ต้องการกรอกเลข 13 หลักด้วยตนเอง</psan>
                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>
            @if (isChecked == true)
            {
                <div class="row py-2">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <span class="mms-txt-headdetail">หมายเหตุ<span class="star-comment">*</span></span>
                        <SimpleSelect Placeholder="ระบุสาเหตุที่จะกรอกด้วยตนเอง" OnSelectedItemChanged="handleChange">
                            <SelectOptions>
                                <SimpleSelectOption Value="jack" Label="Jack"></SimpleSelectOption>
                                <SimpleSelectOption Value="lucy" Label="Lucy"></SimpleSelectOption>
                                <SimpleSelectOption Value="disabled" Label="Disabled"></SimpleSelectOption>
                                <SimpleSelectOption Value="Yiminghe" Label="yiminghe"></SimpleSelectOption>
                            </SelectOptions>
                        </SimpleSelect>
                    </div>
                    <div class="col-md-4"></div>
                </div>
                <div class="row py-2">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <span class="mms-txt-headdetail">รหัส Admin สถานพยาบาล<span class="star-comment">*</span></span>
                        <Input Placeholder="รหัส Admin" @bind-Value="@txtValue" />
                    </div>
                    <div class="col-md-4"></div>
                </div>
            }
            <div class="row py-2">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <span class="mms-txt-headdetail">เบอร์โทรศัพท์<span class="star-comment">*</span></span>
                    <Input Placeholder="xxx-xxx-xxx-x" @bind-Value="@txtValue" />
                </div>
                <div class="col-md-4"></div>
            </div>

        </div>
        <div class="container p-4 mms-media-center">
            <Button Type="@ButtonType.Dashed" Class="mms-btn-sucress" @onclick=@(() => OpenModalView(true))><i class="fa-solid fa-magnifying-glass"></i>&nbsp; ตรวจสอบการใช้สิทธิ์</Button>
        </div>
    </div>
    <div class="container p-4 mms-media-end h-100">
        <Button Type="@ButtonType.Default"><i class="fa-solid fa-circle-xmark"></i>&nbsp; ยกเลิก</Button>
    </div>
</div>

<style>
    .modalStyle .ant-modal-header {
        background: #F56C6C !important;
    }
</style>
@inject ModalService _modalService
@using sso.mms.fees.ext.Shared.HealthPromoVaccinationExt.RecordChecklist.Modals;
<Modal_SUC _visible=@ModalView OnClose="@OpenModalView" PageIndex="@GoDetail"></Modal_SUC>

@code {
    bool ModalView = false;
    bool ModalEdit = false;

    [Parameter]
    public EventCallback<int> IndexPage { get; set; }

    bool isChecked = false;

    void handleChange(string value)
    {
        Console.WriteLine(value);
    }

    public async Task goEdit(int item)
    {
        await IndexPage.InvokeAsync(item);
    }
    public async Task GoDetail(int item)
    {
        await IndexPage.InvokeAsync(item);
    }

    RenderFragment _audioIcon =@<Icon Type="audio" Theme="outline" Style="color: #1890ff" />;

    string txtValue { get; set; } = "";
    string Value { get; set; } = "DevTest";

    public void OpenModalView(bool value)
    {
        ModalView = value;
    }
    public void OpenModalEdit(bool value)
    {
        ModalEdit = value;
    }
}
