
<div class="site-layout-background" style="padding: 24px;">
    <div class="mms-nav-title">
        <div class="mms-text-title px-4 py-3"> ค่าบริการทางการแพทย์ทุพลลภาพ / งานสั่งจ่าย </div>
    </div>
    <div class="container py-4">
        <div class="row mb-3">
            <div class="col-sm-1 text-end">
                <lable class="mms-txt-headdetail">งวดที่</lable>
            </div>
            <div class="col-sm-1 ">
                <Input Disabled @bind-Value="@textValue1" />
             </div>
             <div class="col-sm-2 text-end">
                 <lable class="mms-txt-headdetail justify-content-end">วันที่ประมวลผล</lable>
             </div>
             <div class="col-sm-3">
                 <Input Disabled @bind-Value="@textValue2" />
             </div>
             <div class="col-sm-2 text-end">
                 <lable class="mms-txt-headdetail justify-content-end">ประมวลผลโดย</lable>
             </div>
             <div class="col-sm-3">
                 <Input Disabled @bind-Value="@textValue3" />
             </div>
         </div>


         <div class="row" style="padding: 24px;">
             <div class="d-flex justify-content-between">
                 <Button Type="@ButtonType.Dashed" Class="ant-btn-distable" OnClick="(()=> {})"><i class="fa-solid fa-circle-chevron-left"></i>&nbsp; ย้อนกลับ</Button>

                 <Button Class="me-2" Type="@ButtonType.Primary" Style="font-size:16px;" @onclick=@(()=>OpenConfirmDiagnoseModal(true))>
                     <i class="fa-regular fa-square-caret-right"></i>
                     ส่งลงรายมือชือ
                 </Button>
                 <Space Direction="@DirectionVHType.Horizontal">
                     <SpaceItem>
                         <Search Placeholder="ชื่อ-นามสกุล" EnterButton="true" AllowClear />
                     </SpaceItem>
                 </Space>
             </div>
         </div>
         <hr />
         <Table DefaultExpandAllRows DataSource="data" TreeChildren="item=>item.Children" Bordered>

            <PropertyColumn Property="c=>c.Id" Title="ลำดับ" ColSpan="@GetColSpan(context.HosStatus,"name")" Width="5%" Style="@GetColColor(context.HosStatus,"name")" />
            <PropertyColumn Property="c=>c.IdDiagnose" Title="เลขวินิจฉัย" ColSpan="@GetColSpan(context.HosStatus,context.Key)" Width="5%" Style="@GetColColor(context.HosStatus )" />
            <PropertyColumn Property="c=>c.Installment" Title="งวด" ColSpan="@GetColSpan(context.HosStatus ,context.Key)" Width="10%" Style="@GetColColor(context.HosStatus)" />
            <PropertyColumn Property="c=>c.CitizenId" Title="เลขประจำตัวประชาชน" ColSpan="@GetColSpan(context.HosStatus ,context.Key)" Width="10%" Style="@GetColColor(context.HosStatus)" />
            <PropertyColumn Property="c=>c.Name" Title="ชื่อ-นามสกุล" ColSpan="@GetColSpan(context.HosStatus,context.Key)" Width="10%" Style="@GetColColor(context.HosStatus)" />
            <PropertyColumn Property="c=>c!.AdmitDate" Title="วันที่เข้ารักษา" ColSpan="@GetColSpan(context.HosStatus,context.Key)" Style="@GetColColor(context.HosStatus )" />
            <PropertyColumn Property="c=>c!.TerminateDate" Title="วันที่สิ้นสุดการรักษา" ColSpan="@GetColSpan(context.HosStatus,context.Key)" Style="@GetColColor(context.HosStatus )" />
            <PropertyColumn Property="c=>c!.RWValue" Title="ค่า RW" ColSpan="@GetColSpan(context.HosStatus,context.Key)" Width="10%" Style="@GetColColor(context.HosStatus)" />
            <PropertyColumn Property="c=>c!.TreatmentFee" Title="เงินค่ารักษา" ColSpan="@GetColSpan(context.HosStatus ,context.Key)" Width="10%" Style="@GetColColor(context.HosStatus)" />
            <PropertyColumn Property="c=>c!.CalculateFee" Title="เงินค่ารักษา" ColSpan="@GetColSpan(context.HosStatus ,context.Key)" Width="10%" Style="@GetColColor(context.HosStatus)" />
            <PropertyColumn Property="c=>c!.PaidAmount" Title="จำนวนเงินที่จ่าย" ColSpan="@GetColSpan(context.HosStatus ,context.Key)" Width="10%" Style="@GetColColor(context.HosStatus)" />
            <PropertyColumn Title="สถานะ" Property="c=>c!.Status" Width="15%" ColSpan="@GetColSpan(context.HosStatus ,context.Key)" Style="@GetColColor(context.HosStatus)" Align="ColumnAlign.Center">

                @if (@context.Status != "มีสิทธิ์")
                {
                    <div class="text-status" style="color:#F56C6C">@context.Status</div>
                }
                else
                {
                    <div class="text-status" style="color:#009934">@context.Status</div>
                }
            </PropertyColumn>
            <PropertyColumn Property="c=>c.Id" Title="" Align="ColumnAlign.Center" ColSpan="@GetColSpan(context.HosStatus, context.Key)" Width="100px" Style="@GetColColor(context.HosStatus)">
                <img class="mx-2" title="ดู" src="helper_shared/PortalAdminImage/eye.png"
                     style="width:24px;height:24px; cursor:pointer;" @onclick=@(()=>OpenViewDataModal(true)) />
                <img class="mx-2" title="แก้ไข" src="helper_shared/PortalAdminImage/edit.png"
                     style="width:24px;height:24px; cursor:pointer;" @onclick=@(()=>OpenEditDiagnoseModal(true)) />
            </PropertyColumn>
        </Table>

        <Pagination Class="py-3"
                     ShowSizeChanger
                     OnShowSizeChange="OnShowSizeChange"
                     DefaultCurrent="3"
                     Total="500" />
    </div>
</div>
<ConfirmDiagnoseModal _visible=@openConfirmDiagnoseModal OnClose="@OpenConfirmDiagnoseModal"></ConfirmDiagnoseModal>
<EditDiagnoseModal _visible=@openEditDiagnoseModal OnClose="@OpenEditDiagnoseModal"></EditDiagnoseModal>
@* <ViewDataModal _visible=@openViewDataModal OnClose="@OpenViewDataModal"></ViewDataModal> *@

@using sso.mms.fees.admin.Shared.Disability.WorkOrders.Modals
@using System.ComponentModel.DataAnnotations;
@using System.Text.Json;
@using System.ComponentModel;
@code {
    [Parameter]
    public EventCallback<int> IndexPage { get; set; }

    int page;
    bool openConfirmDiagnoseModal { get; set; }
    bool openViewDataModal { get; set; }
    bool openEditDiagnoseModal { get; set; }
    string Placeholder = "วว/ดด/ปปปป";
    bool _visible = false;

    string? textValue1;
    string? textValue2;
    string? textValue3;


    List<Data> _data;



    public class Data
    {
        public bool HosStatus { get; set; }

        public string Status { get; set; }

        public string Id { get; set; }

        public int Age { get; set; }

        public string CitizenId { get; set; }

        public string IdDiagnose { get; set; }

        public int PaidAmount { get; set; }

        public string Key { get; set; }

        public string Name { get; set; }

        public string Address { get; set; }

        public string Installment { get; set; }

        public string AdmitDate { get; set; }

        public string TerminateDate { get; set; }

        public string RWValue { get; set; }

        public string TreatmentFee { get; set; }

        public string CalculateFee { get; set; }

        public List<Data> Children { get; set; }
    }

    List<Data> data = new List<Data>
    {
        new Data {
            HosStatus  = true,
            Id = "โรงพยาบาล 1",
            Key = "1",
            Children = new List<Data> {
                new Data {
                    Id = "1",
                    Key = "sum",
                    IdDiagnose = "10000001",
                    Installment = "6704",
                    CitizenId = "2345678xxx",
                    Name = "นางวัญเพ็ญ เด่นใจ",
                    AdmitDate = "23 มิ.ย.67",
                    TerminateDate = "24 มิ.ย.67",
                    RWValue = "10,000",
                    TreatmentFee = "13,000",
                    CalculateFee = "12,000",
                    PaidAmount = 12000,
                    Status = "มีสิทธิ์",
                },
                new Data {
                    Id = "2",
                    Key = "sum",
                    IdDiagnose = "10000001",
                    Installment = "6704",
                    CitizenId = "2345678xxx",
                    Name = "นางวัญเพ็ญ เด่นใจ",
                    AdmitDate = "23 มิ.ย.67",
                    TerminateDate = "24 มิ.ย.67",
                    RWValue = "10,000",
                    TreatmentFee = "13,000",
                    CalculateFee = "12,000",
                    PaidAmount = 12000,
                    Status = "มีสิทธิ์",

                },
                new Data {
                    Id = "3",
                    Key = "sum",
                    IdDiagnose = "10000001",
                    Installment = "6704",
                    CitizenId = "2345678xxx",
                    Name = "นางวัญเพ็ญ เด่นใจ",
                    AdmitDate = "23 มิ.ย.67",
                    TerminateDate = "24 มิ.ย.67",
                    RWValue = "10,000",
                    TreatmentFee = "13,000",
                    CalculateFee = "12,000",
                    PaidAmount = 12000,
                    Status = "มีสิทธิ์",

                },
                new Data {
                    Id = "4",
                    Key = "sum",
                    IdDiagnose = "10000001",
                    Installment = "6704",
                    CitizenId = "2345678xxx",
                    Name = "นางวัญเพ็ญ เด่นใจ",
                    AdmitDate = "23 มิ.ย.67",
                    TerminateDate = "24 มิ.ย.67",
                    RWValue = "10,000",
                    TreatmentFee = "13,000",
                    CalculateFee = "12,000",
                    PaidAmount = 12000,
                    Status = "มีสิทธิ์",

                },

            }
        },
        new Data {
           HosStatus  = true,
            Id = "โรงพยาบาล 2",
            Key = "1",
             Children = new List<Data>  {
                new Data {
                    Id = "1",
                    Key = "sum",
                    IdDiagnose = "10000001",
                    Installment = "6704",
                    CitizenId = "2345678xxx",
                    Name = "นางวัญเพ็ญ เด่นใจ",
                    AdmitDate = "23 มิ.ย.67",
                    TerminateDate = "24 มิ.ย.67",
                    RWValue = "10,000",
                    TreatmentFee = "13,000",
                    CalculateFee = "12,000",
                    PaidAmount = 12000,
                    Status = "มีสิทธิ์",
                },
                new Data {
                    Id = "2",
                    Key = "sum",
                    IdDiagnose = "10000001",
                    Installment = "6704",
                    CitizenId = "2345678xxx",
                    Name = "นางวัญเพ็ญ เด่นใจ",
                    AdmitDate = "23 มิ.ย.67",
                    TerminateDate = "24 มิ.ย.67",
                    RWValue = "10,000",
                    TreatmentFee = "13,000",
                    CalculateFee = "12,000",
                    PaidAmount = 12000,
                    Status = "มีสิทธิ์",

                },
                new Data {
                    Id = "3",
                    Key = "sum",
                    IdDiagnose = "10000001",
                    Installment = "6704",
                    CitizenId = "2345678xxx",
                    Name = "นางวัญเพ็ญ เด่นใจ",
                    AdmitDate = "23 มิ.ย.67",
                    TerminateDate = "24 มิ.ย.67",
                    RWValue = "10,000",
                    TreatmentFee = "13,000",
                    CalculateFee = "12,000",
                    PaidAmount = 12000,
                    Status = "มีสิทธิ์",

                },

            }
        },
    };

    private int CalculateTotalChildrenPaidAmount(List<Data> children)
    {
        int totalPaidAmount = 0;
        foreach (var child in children)
        {
            totalPaidAmount += child.PaidAmount;
        }
        return totalPaidAmount;
    }


    string _selectedValue;

    private void OnShowSizeChange(PaginationEventArgs args)
    {
        var (current, pageSize) = args;
        Console.WriteLine($"{current}, {pageSize}");
    }

    private int GetColSpan(bool HosStatus, string columnTitle = "")
    {

        if (HosStatus == true)
        {
            if (columnTitle == "name")
            {
                return 13;
            }
            else
            {
                return 0;
            }
        }
        else
        {
            return 1;
        }
    }

    private string GetColColor(bool HosStauts, string columnTitle = "")
    {
        if (HosStauts == true)
            if (columnTitle == "name")
                return "background-color:#D8D6D6;";
            else
                return "";
        else
            return "";
    }
    private string GetRowColor(int index)
    {
        if (index == 1)
            if (index == 1)
                return "background-color:#D8D6D6;";
            else
                return "";
        else
            return "";
    }

    protected override async Task OnInitializedAsync()
    {
        foreach (var item in data)
        {

            int totalPaidAmount = CalculateTotalChildrenPaidAmount(item.Children.ToList());

            Data total = new Data()
                {
                    Id = "",
                    Name = "รวม Total",
                    PaidAmount = totalPaidAmount,
                };
            item.Children.Add(total);
        }
        //_data = data;
        StateHasChanged();
    }

    //protected override async void OnInitialized()
    //{


    //listOfData = Enumerable.Range(0, 3).Select(i => new ItemData { Id = i, Name = $"Edrward {i}", Age = 102, count = i, Address = $"London Park no. {i}" }).ToList();

    //}


    public void OpenConfirmDiagnoseModal(bool value)
    {
        openConfirmDiagnoseModal = value;
    }
    public void OpenEditDiagnoseModal(bool value)
    {
        openEditDiagnoseModal = value;
    }

    public void OpenViewDataModal(bool value)
    {
        openViewDataModal = value;
    }
    public async Task Indexpage(int usepage)
    {
        this.page = usepage;
        if (this.page == 2)
        {
            IndexPage.InvokeAsync(2);
        }
    }
}