<div class="site-layout-background" style="padding: 24px;">
    <div class="mms-nav-title">
        <div class="mms-text-title px-4 py-3">กรณีทันตกรรม  </div>
    </div>
    <div class="container py-4">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page">
                    <span class="breadcum-process py-2">ประวัติการเบิกจ่าย</span>
                </li>

            </ol>
        </nav>
        <hr style="width:100%" />
        <div style="padding-top:15px;">
        </div>
        <div class="mms-txt-headdetail">ช่วงเวลา</div>
        <div class="row">
            <div class="d-flex  mms-media-center">
                <div class="col-8">
                    <div class="row">
                        <div class="col-4 mms-media-center">
                            <DatePicker TValue="DateTime?" Picker="@DatePickerType.Date" Format="dd/MM/yyyy" Placeholder="Placeholder" />

                        </div>
                        <p class="mms-txt-headdetail mms-media-center col-1" style="width:60px; text-align:center;">ถึง : </p>
                        <div class="col-4 mms-media-center">

                            <DatePicker TValue="DateTime?" Picker="@DatePickerType.Date" Format="dd/MM/yyyy" Placeholder="Placeholder" />
                        </div>
                    </div>
                </div>
                <div class="col-4 ">
                    <Space Direction="@DirectionVHType.Vertical" Class="mms-btn-serch col-12">
                        <SpaceItem>
                            <Search Placeholder="เลขบัตรประชาชน / หมายเลข Passport" EnterButton="true" />
                        </SpaceItem>
                    </Space>
                </div>
            </div>
        </div>
        <hr />
        <Table DataSource="listOfData" TItem="ItemData" RowClassName="@(_=>"table-row-color-custom")" Bordered ScrollX="1000">
            <ChildContent Context="data">
                <Column TData="string" Title="ลำดับ" Width="10%" Align="ColumnAlign.Center">
                    @data.Id
                </Column>
                <Column TData="string" Title="เลขที่รับเเจ้ง" Width="10%" Align="ColumnAlign.Center">
                   @data.order
                </Column>
                <Column TData="string" Title="เลขใบคำสั่งจ่าย" Width="10%" Align="ColumnAlign.Center">
                    @data.order2
                </Column>
                <Column TData="string" Title="ชื่อ-นามสกุล" Width="20%" Align="ColumnAlign.Center">
                    @data.Name
                </Column>
                <Column TData="string" Title="เลขประจำตัวประชาชน /หมายเลข Passport" Width="20%" Align="ColumnAlign.Center">
                    @data.Iden
                </Column>
                <Column TData="string" Title="วันที่ส่งเบิก " Width="10%" Align="ColumnAlign.Center">
                    @data.date
                </Column>
                <Column TData="string" Title="จำนวนเงิน" Width="10%" Align="ColumnAlign.Center">
                    @data.price

                </Column>
                <Column TData="string" Title="สถานะ" Width="10%" Align="ColumnAlign.Center">
                    @if (data.status == "จ่ายเเล้ว")
                    {
                        <div style="color : #84C550">
                            @data.status

                        </div>

                    }
                    else
                    {
                        <div style="color : red">
                            @data.status

                        </div>
                    }
                </Column>
                <ActionColumn Title="" Width="10%" Align="ColumnAlign.Center">


                    <img class="mx-2" src="helper_shared/PortalAdminImage/eye.png" style="width:24px;height:24px;" @onclick=@(() => OpenModalView(true)) />
                    

                </ActionColumn>
            </ChildContent>
        </Table>

        
    </div>
</div>
<Modal_View _visible=@ModalView OnClose="@OpenModalView"></Modal_View>

@if (isloading == true)
{
    <style>
        body {
            overflow: hidden;
        }</style>

    <LoadingPage></LoadingPage>
}

@using MatBlazor
@using System.ComponentModel.DataAnnotations;
@using System.Text.Json;
@using System.ComponentModel;
@using sso.mms.fees.ext.Shared.Dental.WithdrawalsHistory.Modals
@using sso.mms.fees.api.Entities.Dental
@using sso.mms.fees.api.ViewModels.Responses
@using sso.mms.fees.ext.Providers.Dental.HistoryWithdrawals
@inject HistoryWithdrawalsServices historyWithdrawalsServices;
@inject NavigationManager Navigation
@inject ModalService _modalService
@code {
    ResponseList<AaiDentalCheckH> ListData = new ResponseList<AaiDentalCheckH>();
    List<ItemData> listOfData = new List<ItemData>();
    string Placeholder = "วว/ดด/ปปปป";
    RenderFragment okbutton =@<div style="color:#fff;">
        <Icon Type="save" Theme="outline" />
        บันทึก
    </div>;
    RenderFragment canclebutton =@<div>
        <Icon Type="close-circle" Theme="outline" />
        ยกเลิก
        </div>
    ;
    bool ModalView = false;
    public void OpenModalView(bool value)
    {
        ModalView = value;
    }

    bool isloading = false; 
    protected async override void OnInitialized()
    {
        isloading = true;
        ListData = await historyWithdrawalsServices.GetHistorys();
        listOfData = new List<ItemData>()
        {
        new ItemData() {
                Id = 1,
                order = 2025,
                order2 = 2025,
                Name = "Mr. SEAPO  RORONA",
                Iden = "GMS006589",
                date = "4 มี.ค. 2566",
                price = 900,
                status = "จ่ายเเล้ว"
            }, new ItemData() {
                Id = 1,
                order = 2025,
                order2 = 2025,
                Name = "Mr. SEAPO  RORONA",
                Iden = "GMS006589",
                date = "4 มี.ค. 2566",
                price = 900,
                status = "ไม่อนุมัติจ่าย"
            },
                
        };
        isloading = false;
        StateHasChanged();
    }
    public class ItemData
    {
        public int Id { get; set; }
        public int order { get; set; }
        public int order2 { get; set; }
        public string Name { get; set; }
        public string Iden { get; set; }
        public string date { get; set; }
        public double price{ get; set; }
        public string status { get; set; }
    };

    

    //void startEdit(string id)
    //{
    //    var data = editCache[id];
    //    editCache[id] = (true, data.data with { }); // add a copy in cache
    //}

    //void cancelEdit(string id)
    //{
    //    var data = listOfData.FirstOrDefault(item => item.Id == id);
    //    editCache[id] = (false, data); // recovery
    //}

    //void saveEdit(string id)
    //{
    //    var index = listOfData.FindIndex(item => item.Id == id);
    //    listOfData[index] = editCache[id].data; // apply the copy to data source
    //    editCache[id] = (false, listOfData[index]); // don't affect rows in editing
    //}

    string title = "รายละเอียดข้อมูล";
    bool _visible = false;
    private async void HandleOk(MouseEventArgs e)
    {
        _visible = false;
    }

    private void HandleCancel(MouseEventArgs e)
    {
        Console.WriteLine(e);
        _visible = false;
    }
    
   
}

